[2020-04-28 01:50] BethanyG opened #1361 "[Python] Implement new Concept Exercise: list-comprehensions"
This issue describes how to implement the `list-comprehensions` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2020-04-28 15:38] SaschaMann commented on #513
The [`julia/exercises/complex-numbers`](https://github.com/exercism/v3/tree/julia/exercises/complex-numbers) branch contains a first draft of an exercise using the story idea above. I feel like it doesn't use complex numbers enough to be a concept exercise of this concept, so perhaps we need a different story for this.

It's hard to make it interesting because complex numbers in Julia "just work"

[2020-04-28 21:54] neenjaw opened #1365 "[Elixir] Implement new Concept Exercise: multiple-clause-functions"
This issue describes how to implement the `functions` concept exercise for the elixir track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-04-28 21:55] neenjaw commented on #1365
@fireproofsocks as we discussed, maybe we could get this going at somepoint before pattern matching to make it a bit better the pattern-matching exercise

[2020-04-28 22:03] fireproofsocks commented on #1365
Yes @neenjaw  -- I think this one will dovetail with the tail-recursion stuff because tail-recursive functions will always be calling variants of themselves.

[2020-04-29 11:22] ErikSchierboom opened #1369 "[CI] Check for invalid Windows characters in file names"
[PR 1350](https://github.com/exercism/v3/pull/1350) introduced files whose names were not valid on Windows. This made working with the repo not possible anymore on Windows. We should add checks for invalid Windows characters in file names. [Here is a list of possibly invalid characters](https://github.com/exercism/v3/pull/1350#issuecomment-621134467).

[2020-04-29 12:54] peterchu999 opened #1370 "[JavaScript] Implement new Concept Exercise: concept/arrays-analysis"
This issue describes how to implement the arrays-analysis concept exercise for the JavaScript track and is a continuation of #1300

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, plea

[2020-04-29 13:16] SleeplessByte commented on #1370
Very very nice. I'm excited about this. Please post if you have an idea for the exercise itself?

[2020-04-29 14:29] peterchu999 commented on #1370
i think i can make it by modify the story a little bit. i'll fork and make the pull req when it's done

[2020-04-29 18:16] BethanyG opened #1376 "[Python] Implement new Concept Exercise: other-comprehensions"
This issue describes how to implement the `other-comprehensions` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2020-04-29 19:35] #1345 closed

[2020-04-29 22:15] aldraco commented on #1025
(very late response) huh, thanks for the clarification @yawpitch! Didn't know that.

I see that you edited some things for naming purposes - for future context, what were those changes? I'd like to know before writing another Issue and potentially naming things incorrectly. Thanks!

[2020-04-29 22:37] aldraco opened #1377 "[Python] Implement new Concept Exercise: comments"
This issue describes how to implement the `comments` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-04-30 02:55] BethanyG opened #1378 "[Python] Implement new Concept Exercise: generators"
This issue describes how to implement the `generators` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2020-04-30 05:19] mirkoperillo commented on #445
Fixed by PR #628

[2020-04-30 05:19] #445 closed

[2020-04-30 10:39] yawpitch commented on #1025
@aldraco yeah that little dropdown by the "edited" a the top of the comment box can be a lifesaver.

For the record, we renamed all the `[type]-basic` exercises to just `[type]s`, so as not to imply a hierarchy.

[2020-04-30 11:08] SleeplessByte commented on #1025
As we're not teaching _types_, perhaps you want to do `integers` and `fractionals`/`floating-points`?

[2020-04-30 14:22] yawpitch commented on #1025
Effectively Python has a 1-to-1 equivalency between all three of those concepts and the one type that exists to address them, so it's mainly a question of preferring long-form names to short ones.

[2020-04-30 15:30] BethanyG opened #1384 "[Python] Implement new Concept Exercise: generator-expressions"
This issue describes how to implement the `generator-expressions` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the followin

[2020-04-30 17:56] SaschaMann opened #1385 "v3 changelog"
It would be nice to have a brief update/changelog for doc changes etc. Sometimes there are changes to the docs, or directory structures and it's hard to notice when you've been involved in v3 for some time. The commit log has all the info but it's not curated at all. Julia has a [NEWS.md](https://github.com/JuliaLang/julia/blob/master/NEWS.md) file that tries to achieve something similar, but imo

[2020-04-30 18:10] aldraco opened #1386 "[Python] Implement new Concept Exercise: docstrings"
This issue describes how to implement the `docstrings` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2020-04-30 18:22] SaschaMann commented on #1385
Maybe a simple way to maintain this could be a slash command that adds the PR title to a markdown file.

[2020-05-01 15:13] SleeplessByte commented on #1025
Cool! Thanks for explaining :). In that case, I would go for the long form, as we're already using `floating-point-numbers` and not `floats`. The short-form is less accessible and _feels_ like a type. But but but don't mind me -- just a suggestion 😄

[2020-05-01 15:14] SleeplessByte commented on #1352
@rishiosaur and @Tbhesswebber how is it going? Excited to see this exercise 🗡️

[2020-05-01 15:15] rishiosaur commented on #1352
@SleeplessByte PR coming for `classes-intro` soon! Just finishing up the tests.

[2020-05-01 15:50] SleeplessByte commented on #1352
It might be helpful to have a DRAFT PR up there already, before you put all the work in the tests. But I'm, okay with either approach.

[2020-05-01 16:12] Tbhesswebber commented on #1352
`Intermediate` one is currently at a standstill.  Some work stuff came up and I am now the only person working on what needs to be delivered in a week.

[2020-05-01 20:13] SleeplessByte commented on #1352
Good luck! We'll see you after 🍡

[2020-05-02 09:04] SaschaMann commented on #1369
Maybe a simple way to avoid these issues would be a CI run that just tries to clone and pull the repo on all available OSes.

[2020-05-02 11:11] J08K commented on #877
Hey @yawpitch
Sorry that I couldn't reply sooner, I had some things at home that I needed to deal with. I think that we are ready to actually go work on it.

Just so I am sure I understand: You want to have 3 functions called `add_items`, `remove_items`, and `list_inventory`, where the first two don't return a value, but the last one just returns a list of items in tuples, right?

For the rest, ye

[2020-05-02 11:26] ErikSchierboom commented on #1369
That could work.

[2020-05-02 14:09] #1298 closed

[2020-05-03 03:53] SleeplessByte commented on #1369
That is a simple way to solve it, indeed.

[2020-05-03 14:32] DavidGerva opened #1393 "[Python] Implement new Concept Exercise: slicing"
This issue describes how to implement the `slicing` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-05-03 15:20] DavidGerva opened #1394 "[Python] Implement new Concept Exercise: for loops"
This issue describes how to implement the `for loops` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-05-04 11:16] yawpitch commented on #877
@J08K no worries, we've all got lots of home things these days, to say the least. As for the functions, the specifics on return values are up to you; typically functions that intentionally mutate in place an incoming argument _do not_ return a value, which saves confusion for cases like this:

[code]

From looking at that it's not clear if `assert old_inventory is new_inventory` should fail or suc

[2020-05-05 09:15] mayurdw commented on #915
Hello @wolf99 ,

Are we looking into how changing how the exercise currently exists? I have had a lot of feedback from students asking me what is the point of this exercise and I do agree with them a little. I can elaborate if needed.

[2020-05-05 09:16] mayurdw commented on #918
Is anyone working on this? Shall I take this on for my first pr?

[2020-05-05 12:28] batibot323 commented on #1004
I'm sorry guys. I'll unassign myself from this first. I can't find the time to do this. I hope to come back soon! :)

[2020-05-06 00:55] #1126 closed

[2020-05-06 06:59] ErikSchierboom commented on #1004
No worries. I can pick this up. Thanks for letting us know.

[2020-05-07 13:55] TheLostLambda opened #1418 "[ALL] A proposed extension to the test-runner spec"
### The Problem

When using the new, in-browser coding in v3, it's important that the student is given detailed and easy to understand error messages when a given test fails. This means abstracting away as much of the testing framework as possible. While some test runners may be able to return the testing code run via the `results.json` output of the test-runner, this faces a couple of limitations

[2020-05-07 14:29] ErikSchierboom commented on #968
I'm working on this.

[2020-05-07 15:43] SleeplessByte commented on #1418
FWIW, this is _exactly_ what JavaScript *had*, but @iHiD had reasons why that wasn't "enough"; I don't recall those reasons, but it was probably important. Jeremy, do you still recall those convo's we had?

[2020-05-07 16:08] iHiD commented on #1418
Thanks for the writeup, @TheLostLambda! :)

I'm fine with moving the output into the `results.json`. I like it and think it's a good idea. However, I do think it makes the test runners **much** more complicated. I would therefore want to keep the current option in play somehow, albeit through maybe passing the config.json into the test-runner so it can just extract keys etc.

---

Yes :)

No (see

[2020-05-07 16:15] SleeplessByte commented on #1418
Oh yeah, I definitely want a _standard_ (and not track-specific decisions) but you didn't want the `output.json` to have this; are we coming back from that?

As for JS/TS, we can generate all the required fields from a _custom_ test runner/helper.

[2020-05-07 17:26] TheLostLambda commented on #1418
@iHiD I think that adding `cmd` and `expected` to the `results.json` works for me!

Also, I can develop a script that takes the `.meta/config.json` and merges it with `results.json` file rather easily. That means that, if a test runner doesn't want to fuss with this kind of message forming, they can just call: `./merge_tests.sh` or something in the last line of their `bin/run.sh` and be done with

[2020-05-07 18:18] iHiD commented on #1418
I didn't want the output to be in the test-runner. In this proposal it's still in the tests, just extracted (e.g. if it's in the comments, or via AST). The crucial thing is that we can change the output without redeploying the test-runner.

This would make me happy, yes. Let's get a couple of POCs (@ErikSchierboom maybe does C# and F# which are quite different internally, and you do CL) and let's

[2020-05-07 21:21] TheLostLambda commented on #1418
Sounds good! I'll give it a go sometime this week I hope!

[2020-05-08 00:39] aimorris commented on #634
https://github.com/exercism/v3/blob/master/languages/javascript/reference/exercise-concepts/resistor-color-duo.md

[2020-05-08 00:39] #634 closed

[2020-05-08 00:40] aimorris commented on #635
https://github.com/exercism/v3/blob/master/languages/javascript/reference/exercise-concepts/protein-translation.md

[2020-05-08 00:40] #635 closed

[2020-05-08 06:44] #1004 closed

[2020-05-09 15:03] #1234 closed

[2020-05-09 15:03] #1290 closed

[2020-05-09 21:58] wolf99 commented on #1418
Sidebar question that may have been covered in other discussions.
Re

Is it not a benefit that a student would learn what output from a testing framework idiomatic to that language would look like , and learn to parse it? If is is non-trivial, should track's explain it (maybe as part of the first concept)?

[2020-05-09 22:05] wolf99 commented on #915
Hi @mayurdw ,

Not exactly. This is part of the version 3 remake of Exercism. In broad terms, the exercises based curriculum is being changed to a concept based one. The concept extraction issues are intended to help us learn what concepts are present in existing exercises to help us formulate the concepts that should be represented in the new curriculum.

🙂

[2020-05-09 22:38] wolf99 commented on #918
Hi @mayurdw, thanks for offering. I think Once we get the existing PRs on concept extraction in shape to be merged we should be good to move on to creating exercises though. Check the comment here: https://github.com/exercism/v3/pull/1204#pullrequestreview-404130985

If you want to look through the existing concept extraction PRs and give any thoughts on them that would be valuable (#1211 , #1210

[2020-05-10 06:28] aimorris opened #1426 "[F#] Unused link in hints.md of pattern-matching exercise"
https://github.com/exercism/v3/blame/master/languages/fsharp/exercises/concept/pattern-matching/.docs/hints.md#L23

This link is defined but not used anywhere within the file.

[2020-05-10 06:34] aimorris commented on #1426
Same with the [exhaustive matching link](https://github.com/exercism/v3/blame/master/languages/fsharp/exercises/concept/pattern-matching/.docs/hints.md#L26).

[2020-05-10 06:40] aimorris opened #1427 "[F#] Spelling error in pattern-matching introduction.md"
https://github.com/exercism/v3/blame/master/languages/fsharp/exercises/concept/pattern-matching/.docs/introduction.md#L20

"...This is knows as a..."

[2020-05-10 06:41] aimorris opened #1428 "[F#] switch statement should be in a code block in pattern-matching introduction.md"
https://github.com/exercism/v3/blame/master/languages/fsharp/exercises/concept/pattern-matching/.docs/introduction.md#L12

"While this may look like switch statements in other..."

should be

"While this may look like `switch` statements in other..."

[2020-05-10 09:12] mayurdw commented on #915
Alright thanks! Will checkout your prs.

[2020-05-10 12:40] DavidGerva opened #1430 "[Python] Implement new Concept Exercise: loops"
This issue describes how to implement the `loops` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-05-10 12:52] DavidGerva opened #1431 "[Python] Implement new Concept Exercise: in"
This issue describes how to implement the `membership testing 'in'` operator concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on t

[2020-05-10 13:09] DavidGerva opened #1432 "[Python] Implement new Concept Exercise: exiting loops"
This issue describes how to implement the exiting loops with `break` and `continue` statements concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, p

[2020-05-10 15:18] iHiD commented on #1418
I'd say a track should maybe explain this, yes. But only once the person is comfortable in a language. The test-suite is going to contain loads of extra ideas/concepts that a student won't be familiar with at the start, so we don't want to have to expose them to that until they're comfortable. I've personally found having to decipher test-suites a real blocker to learning certain languages via Exe

[2020-05-10 16:06] SleeplessByte commented on #1418
Let's not forget that `Testing` is a concept on its own.

[2020-05-11 17:59] tehsphinx commented on #1195
Seems to be done

[2020-05-11 17:59] #1195 closed

[2020-05-11 17:59] tehsphinx commented on #1194
Seems to be done

[2020-05-11 17:59] #1194 closed

[2020-05-12 07:21] ErikSchierboom commented on #1418
Definitely ☝️ . I can even remember a Ruby exercise in which I couldn't even properly _read_ the tests, even though I did have some experience in Ruby.

[2020-05-12 10:19] ErikSchierboom commented on #1418
TL;DR I've written a [PoC for the C# test runner](https://github.com/exercism/csharp-test-runner/pull/9/files) that outputs the command, expected value and human-friendly test name automatically.

## Introduction

I've worked on a [PoC](https://github.com/exercism/csharp-test-runner/pull/9/files) last week to see if I could modify the C# test runner to output all required information directly in t

[2020-05-13 09:23] ErikSchierboom commented on #1014
Closed by #1374

[2020-05-13 09:23] #1014 closed

[2020-05-13 09:24] ErikSchierboom commented on #1226
Closed by #1389

[2020-05-13 09:24] #1226 closed

[2020-05-13 09:32] ErikSchierboom commented on #1046
I'm working on this.

[2020-05-13 23:04] aimorris commented on #1432
This and #1430 should be merged to one concept exercise `loops`, where you can also explain the usage of `for` loops.

[2020-05-13 23:05] aimorris commented on #1430
This and #1432 should be merged to one concept exercise `loops`, where you can also explain the usage of `for` loops.

[2020-05-13 23:05] aimorris commented on #1431
This should be in the `collections` concept exercise where you can explain everything about collections, including the `in` keyword.

[2020-05-13 23:06] aimorris commented on #1394
Should be merged with #1432 and #1430

[2020-05-15 01:24] #1370 closed

[2020-05-15 13:16] ErikSchierboom commented on #997
I'm working on this

[2020-05-15 13:22] #968 closed

[2020-05-15 18:16] #421 closed

[2020-05-15 18:16] ErikSchierboom opened #1455 "[DISCUSSION] In progress status ideas (watch this week's video for info)"
We've discussed some things on figuring out how to make contributing easier and with less friction. Ideas that came up were:

- Draft PR's (wizard)
- Having an incomplete/to-be-improved status field/flag
- Limiting the number of initial files required for a PR to be merged (example + introduction/example + design)

We'd love to hear your thoughts!

[2020-05-15 18:18] iHiD commented on #1455
We'll take any ideas here and right them up into a proposal on Tuesday. I'll get the video call up over the weekend so people who weren't on it can watch too :)

[2020-05-15 18:23] neenjaw commented on #1455
Creating a staging process/nomenclature/flag/enum through the config.json so that we can comfortably merge PRs into certain stages to visibly see momentum/progress and better identify concrete tasks for maintainer participation.

Would also help with rapid feedback to be able to see the graph of concept exercises developing to better identify areas for new exercise development

[2020-05-15 18:41] neenjaw opened #1456 "[Elixir] New concept exercise: multiple-clause-functions - actionable items"
I would like to try to experiment with creating more granular / actionable involvement for exercises so that there is less burden on any one person to get to know the v3 ecosystem.

I am looking for a few things to get #1365 Multiple-clause-functions written up into an exercise.

I need some help with:
- [ ] coming up with a trivial story to go along with the exercise
  - it could be something wit

[2020-05-15 19:28] neenjaw opened #1457 "[Elixir] new Concept Exercise: basic-strings"
This issue describes how to implement the `basic-strings` concept exercise for the Elixir track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-05-15 19:32] rishiosaur opened #1458 "[Javascript] Implement new Concept Exercise: callbacks"
This issue describes how to implement the `callbacks` concept exercise for the Javascript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-05-15 20:10] efx opened #1459 "[Rust] further enhancements to Entry API exercise"
@seanchen1991 landed the Entry API work in #1436! 🎉

There are a few more improvements / feedback @coriolinus suggested. ✍️ 💯
This issue tracks 2 things:
1. changes per the remaining feedback.
2. add the Entry API to the config.json so it is picked up by the V3 status dashboard.

Various tracks will be experimenting with this kind of phased approach to implementing concept exercises. It is meant t

[2020-05-15 21:05] SleeplessByte commented on #1458
So the concept is called `callbacks`, not `callback` or `callbacks-basic`, and it should probably _not_ depend on `promises`.

I don't know yet how we would do `functions`, but I think `closures`/`higher-order-functions`/`first-class-functions` (that would be the Concept) can be modelled after [`elixir/anonymous-functions`](https://github.com/exercism/v3/blob/master/languages/elixir/exercises/conc

[2020-05-16 18:40] angelikatyborska commented on #1457
I have a silly idea. Remember how in school kids would manifest their love by drawing or scratching into a desk their initials and hearts?

We could ask the students to take two names and return a big ASCII heart with the initials:

[code]

Getting the initials of a single name could be a separate function, later to be reused.

It's a bit unclear to me how to force students to learn concatenation

[2020-05-16 19:23] #1039 closed

[2020-05-16 19:37] neenjaw commented on #1457
I really like this idea, and think it might work really well if we can break it up into a few functions that culminate in the final product.

It highlights some great things about strings without getting into singy songy exercises.

As far as the tuples/pattern matching as prereqs, they can change if we can solve this without them, for sure. I have deferred working with strings until having a bit

[2020-05-16 20:32] wolf99 commented on #1418
Very cool Erik! 🚀

I feel like this part is critical though, for the tracks that may have the difficulties that Erik has mentioned:

[2020-05-16 21:15] wolf99 opened #1463 "[CI] Better Prettier output?"
Can we get some better output for Prettier in the CI?

I think I recall that it isn't intended that we should need to run Prettier locally, but the existing output basically just says "No" 😅  e..g. I have no idea why this is failing: https://github.com/exercism/v3/pull/1209/checks?check_run_id=681542207

I'm not familiar with prettier so I don't know if this is possible, but what I would like to s

[2020-05-16 21:19] wolf99 commented on #1463
Oh. This is actually the verify job rather than the actual format job itself. Shouldn't the format job run also? Maybe I've misunderstood the expected flow here?

[2020-05-17 04:27] neenjaw commented on #1457
Thinking about this, there could be a few steps which get us to this whihc then could guide the student through a few string exercises:

- splitting a name into the first a last name
- getting the first letter of each name
- capitalising and creating the initials
- combing the name's initials to make `J. S.  +  J. A.`
- using string interpolation on a multiline string to make the ascii art

[code]

[2020-05-17 04:54] neenjaw commented on #1457
@angelikatyborska - The next steps (if you want to keep going with this) are:

1. make a branch on this repo like `elixir-concept-basic-strings` to make use of CI tooling.  To do that:
    - We need to connect with @ErikSchierboom to get you added as a code owner in elixir, and that's done by adding you to the [maintainers.json](https://github.com/exercism/elixir/blob/master/config/maintainers.jso

[2020-05-17 06:53] angelikatyborska commented on #1457
@neenjaw Yes, please, I would like to keep going :). I'll start working locally on this exercise until I have permissions to push to this repo. Let's sync on Slack about making that happen.

[2020-05-17 16:34] iHiD opened #1464 "Exercise versioning"
As Concept Exercises change, the feedback given on representations may need to change. Similarly as a language adds new features, the feedback given in an exercise might need to change.

To solve this, I am considering adding a `version` key to an exercises `config.json`:
- It will use semvar.
- A change to the "major" number will invalidate the feedback on existing representations (although the f

[2020-05-17 16:38] iHiD opened #1465 "Add filename restrictions to CI."
All filenames should only include `[a-zA-Z0-9]` and `-_.`.

We need a CI enforcement for this. I think we can enforce this globally on this repo as the easiest way of achieving it.

(cc @ErikSchierboom @SaschaMann as candidates for GHA magic :))

[2020-05-17 16:38] iHiD commented on #1455
@exercism/track-maintainers Video is here: https://youtu.be/VjKltnkW2qE

[2020-05-17 18:44] SaschaMann commented on #1464
What do you think about setting them to `1.0.0-DEV` instead so that one can mark exercises as "done" by setting them to `1.0.0` and to better represent their state in general?

[2020-05-17 18:49] SaschaMann commented on #1465
Could be combined with #1369

---

I know you mentioned it before, but I don't know where: what's the reason for this restriction again?

[2020-05-17 20:15] cmcaine commented on #1464
Do the minor and patch changes have any meaning yet?

[2020-05-17 21:43] #922 closed

[2020-05-17 22:50] iHiD commented on #1464
I imagine every exercise will have *some* updates before launch, even if that exercise feels good now. So I'd rather use a set of specific flags on an exercise or a status column to represent a checklist of things that need to be done (the resolution of #1455 basically). My aim in locking to 1.0.0 for now is to remove the overhead of anyone having to think about this for the next ~3 months. That s

[2020-05-17 22:52] iHiD commented on #1465
Mitigating things like [directory traversal attacks](https://en.wikipedia.org/wiki/Directory_traversal_attack). As the files are written to the OS with the names they are submitted with, we need to limit characters to protect us from a range of attacks. Ideally we'd not allow user-input to be written to the OS, but we don't really have a choice as files' contents can be (and are in many languages)

[2020-05-17 23:07] coriolinus commented on #1464
Adapting the [test data versioning schema](https://github.com/exercism/problem-specifications/blob/master/README.md#test-data-versioning) from the problem specifications makes sense to me.

[2020-05-18 15:11] iHiD opened #1467 "[DISCUSSION] When does a mentor get "paid"?"
We're thinking through **when** mentors acquire their credits and reputation.

- Student puts a bounty on a solution.
- Bounty goes into escrow.
- Mentor picks up the solution and provides some feedback.

We then have the following scenarios:
1. Both parties are satisfied
2. Student times out (no response after X days)
3. Mentor times out (no response after X days)
4. Mentor is helpful but student

[2020-05-18 15:20] bobrundle commented on #1467
Well.  Not sure this will work.  Assumes good behavior of both parties.  Enables scenario where mentor and student are same person logged through separate accounts.  Student continuously creates bounties which mentor collects.  This can't happen on Stack Overflow because the person putting a bounty on a problem has to give up that much reputation to do it.  Here are you simply creating "money" out

[2020-05-18 15:24] iHiD commented on #1467
You can only spend credits you have, so I don't think this is a problem.

It does, as does most of Exercism, and open source :) So the question, is how we incentivise that good behaviour, and/or deincentivise bad behaviour.

[2020-05-18 16:26] neenjaw commented on #1467
Agreed for situations 1-3.

### Situation 5

Situation 5 seems more straight forward than 4 -- Maybe there needs to be some sort of resolution process that requires the student to fill in some information as to _why_ they believe the mentor was unhelpful, maybe pre-populated options and a text box? But then that creates some onus for another system to then step in to resolve those problems.

Then

[2020-05-18 16:29] coriolinus commented on #1467
The most straightforward system for dealing with cases 4 and 5 is to have another human judge. At the conclusion of mentoring, the student's options are "award bounty" or "go to arbitration". The arbiters are just other mentors, which raises collusion possibilities which I don't think are worth worrying too much about until they appear. Arbiters then get to choose from three options: award bounty

[2020-05-18 16:43] iHiD commented on #1467
@coriolinus Nice. Yeah.

And 50% of the bounty goes to the arbiter (regardless of the decision) to discourage this and encourage the arbiter...

[2020-05-18 16:57] coriolinus commented on #1467
I thought about awarding part of the payment to the arbiter regardless, but
then there's the problem that a malicious student can take a good mentor to
arbitration just to reduce their commission. It might be better to pay
arbiters in a distinct currency.

On Mon, May 18, 2020, 18:43 Jeremy Walker <notifications@github.com> wrote:

[2020-05-18 19:54] angelikatyborska commented on #1457
@neenjaw I opened a draft PR and left a bunch of comments so that we could talk about specific points: https://github.com/exercism/v3/pull/1468/files

[2020-05-18 22:33] taiyab commented on #1467
I think you severely reduce malpractice by making the currency not translate to any **major** material rewards IRL.

[2020-05-18 23:25] iHiD commented on #1467
The "distinct currency" would probably be reputation here.

[2020-05-19 04:19] senal commented on #1225
Hi @ErikSchierboom,
I've assinged this task fort me but noticed the implementation of his exercise has been commited to master. :(
Should we require to close this task?
Cheers

[2020-05-19 07:39] ErikSchierboom commented on #1463
@wolf99 We don't automatically run the formatter if the verification fails. This is to not have files change automatically without people knowing it.

I don't think there is a way to get the output you want, but feel free to try out some options with the Prettier CLI to see if you can improve it: https://prettier.io/docs/en/cli

[2020-05-19 07:43] #1463 closed

[2020-05-19 08:52] #1046 closed

[2020-05-19 09:00] ErikSchierboom commented on #1225
@senal It's great that you're working on this! I've removed the `status/help-wanted` label and added the `status/in-progress` label. Custom has it that the person that wants to work on a issue also posts a comment in this issue.

Regarding the PR. We're currently working on a strategy to make PR's simpler, to make the PR process more streamlined and fun for both reviewer and reviewee. The main ide

[2020-05-19 09:15] ErikSchierboom commented on #1464
☝️ I agree with adopting the test data versioning schema from the problem specifications, as they provide relatively clear rules on how to interpret changes to exercises.

I like having a version be associated with an exercise! While the `config.json` is a very natural place, I have one concern: the information in the `config.json` is currently not available to tooling like analyzers or test runne

[2020-05-19 09:29] ErikSchierboom commented on #1457
That is totally okay! Great to have you working on the v3 track @angelikatyborska!

[2020-05-19 09:34] coriolinus commented on #1464
At the same time, global `config.json` is more convenient to work with than exercise-specific `.meta/config.json`.

Proposal: tooling always injects an exercise's entry from the global `config.json` into `.meta/config.json` before delivery to the analyzer/test runner/representer/etc.

[2020-05-19 10:14] tehsphinx opened #1471 "[Go] Implement new Concept Exercise: basics"
TODO: only tests left to implement. See comment below.

This issue describes how to implement the `basics` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implement

[2020-05-19 10:16] tehsphinx commented on #1471
All that is left to do is implement the tests.

[2020-05-19 10:20] senal commented on #1225
@ErikSchierboom ,
I'm ready with my draft PR, which remote branch do I need to refere in my PR? Master or any other branch.
please advise.

[2020-05-19 10:29] ErikSchierboom commented on #1464
Yep, that is absolutely true. Let's see if we can figure out something that is convenient for everyone :)

[2020-05-19 10:30] ErikSchierboom commented on #1225
@senal PR's should be merge into the `master` branch.

[2020-05-19 11:27] iHiD commented on #1464
What keys from the global `config.json` would be needed by test runners etc?

[2020-05-19 11:44] coriolinus opened #1473 "[rust] Implement new Concept Exercise: turbofish"
This issue describes how to implement the [`turbofish`](https://turbo.fish/) concept exercise for the rust track.

## Goal

Rust offers the `::<_>` operator, popularly known as the turbofish. AFAIK no other language has this operator, which is used for offering hints to the type inferencer where it would otherwise fail.

In v2, we have shoehorned some instruction about this operator into the `reve

[2020-05-19 12:11] ErikSchierboom commented on #1464
Hmmm, another way to look at the `config.json` vs `.meta/config.json` files is that maybe the `config.json` should contain the bare minimum of information needed to link a track's exercises. Anything exercise-specific (like the version) could then go into the `.meta/config.json`.

[2020-05-19 21:26] neenjaw commented on #1457
closing secondary to #1468 merged

[2020-05-19 21:26] #1457 closed

[2020-05-19 21:27] neenjaw commented on #1456
close #1365

[2020-05-19 21:45] SaschaMann opened #1477 "[Julia] Write a brief benchmarking guide"
A lot of students are interested in finding out how fast their solution runs, how they can optimize it etc. Often they use `@time` instead of `@btime` and then run into compliation times, or end up with meaningless results because the compiler treats everything as a constant.

The planned performance exercise (#353) will go into more detail but it would be good to have a very brief guide on how to

[2020-05-19 23:06] oanaOM commented on #1471
@tehsphinx I can help with the tests. I've open a PR #1478 hopefully they are ok.

[2020-05-20 07:23] neenjaw opened #1479 "[Elixir] Implement new Concept Exercise: access-behavior"
This issue describes how to implement the `access-behavior` concept exercise for the Elixir track.

[🔗 **How to help**](#actionable-items)

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementati

[2020-05-20 07:46] #428 closed

[2020-05-20 13:34] ErikSchierboom opened #1482 "Our proposal for making contributing easier"
Over the last couple of months, we've had tons of great contributions to v3. While reviewing and merging this PR's, we found that one issue that kept popping up was that it could take a long time for PR's to be merged. This was both frustrating for the reviewer and the contributor. There are several reasons for PR's being open a long time:

- Exercises are comprised of many files: documentation fi

[2020-05-20 13:52] chocopowwwa commented on #1482
I was thinking about this too, while listening to the last meeting while I was working out this afternoon,

I think tracking each files is a correct way, but if you track the status in `.meta/config.json` that would've been hard if you want to check the overall status of the project, I'd suggest we track the status in a Google sheet, where each page represents a track, and reach row represent the

[2020-05-20 14:03] chocopowwwa commented on #1482
Oh, and also I think for the initial file, from none to need improvement, I think we need to have some kind of prerequisite, for instance It wouldn't make sense to have an example without having the instructions first

Here's my suggestion:
- after.md
- instructions.md
- introduction.md
- instructions.md -> hints.md
- instructions.md -> tests
- instructions.md -> example
- instructions.md -> examp

[2020-05-20 14:28] tehsphinx commented on #1482
Should be quite easy if it gets implemented in https://tracks.exercism.io/. And I'd rather have it in the repository than in another place like a Google Sheet that will be out of sync in no time.

[2020-05-20 14:47] angelikatyborska commented on #1479
Some questions from me:
1) How do the functions `get_in` and `update_in` relate to this exercise? Should be covered by it or not? And `Access.key`?

2) Lists need to be avoided in this exercise because they do not support the access behavior. If we compromised and said "use Enum.at", we would be giving a bad example as lists are not meant for random access. Correct?

3) I have no idea about basket

[2020-05-20 15:23] neenjaw commented on #1479
Good questions:

1. I'm not sure `get_in` or `update_in` do directly unless we want to add that as a subsequent task.  Which might be a good thing since they are useful and common. `Access.key` is the `static access operator` reference in the out-of-scope, I think that might work better once structs are introduced.

2. We could avoid it if that is what works best.  This problem is taken from the J

[2020-05-20 18:45] neenjaw opened #1487 "[Elixir] Implement concept exercise: nil-values"
This issue describes how to implement the `nil-values` concept exercise for the Elixir track.

[🔗 **How to help**](#actionable-items)

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, p

[2020-05-20 19:11] neenjaw opened #1488 "[Elixir] Implement concept exercise: numbers"
This issue describes how to implement the `numbers` concept exercise for the Elixir track.

[🔗 **How to help**](#actionable-items)

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, plea

[2020-05-20 19:18] neenjaw commented on #1456
I'm going to work on this one, see other

[2020-05-20 19:18] #1456 closed

[2020-05-20 22:17] SleeplessByte commented on #1482
This could definitely be implemented on the dashboard (cc @tehsphinx).

Already happened. #1390

[2020-05-20 22:33] #159 closed

[2020-05-20 22:33] #695 closed

[2020-05-20 22:33] #1418 closed

[2020-05-20 22:33] #1455 closed

[2020-05-20 22:33] #1467 closed

[2020-05-20 22:33] #1482 closed

[2020-05-20 22:51] neenjaw opened #1490 "[Elixir] Suggest new exercise: recursion"
This issue describes how to implement the `numbers` concept exercise for the Elixir track.

[🔗 **How to help**](#actionable-items)

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, plea

[2020-05-21 07:00] angelikatyborska commented on #1488
I am going to work on this one. At first glance, everything's clear to me here.

[2020-05-21 10:53] angelikatyborska commented on #1488
Ok, I have some doubts about the discount.

If I follow the example and accept a discount as a string like the story suggests, e.g. `"0.0%", I have to do this:
[code]

That means that the prerequisites for this exercise would be also `string-literals`, `tuples`, and `pattern-matching`. However, the `tuples` exercise has `floating-point-numbers` as a prerequisite and we would have a deadlock.

If I

[2020-05-21 14:03] neenjaw commented on #1488
I think your option of just having it input from as a float rather than a string is probably the most straight forward. We can always write another exercise for splitting strings and extracting numbers.

[2020-05-22 06:36] mikedamay opened #1496 "[C#] Invalid Error Message on "Run Concept Checks" Action"
Saw the following inappropriate error message when pushing to my own forked repo:

`ERROR: LoadError: ArgumentError: "./languages/c/reference/concepts.csv" is not a valid file`

I think I had made changes only to the C# branch so there seems to be no reason to be concerned about a C file.

I eliminated the error message by adding my recently added concept "dictionaries" to the `languages/csharp/ex

[2020-05-22 09:15] ErikSchierboom commented on #977
I'm working on this.

[2020-05-22 09:26] ErikSchierboom commented on #1496
@mikedamay I don't think the error message was eliminated by the addition to the README. I think this is a bug that @SaschaMann knows about.

[2020-05-22 09:28] ErikSchierboom commented on #996
I'm working on this.

[2020-05-22 14:11] ErikSchierboom opened #1502 "[Rust] Add entries to config.json"
Rust's [config.json file](https://github.com/exercism/v3/blob/master/languages/rust/config.json) does not contain any exercises, even though there are three exercises in the [languages/rust/exercises/concept directory](https://github.com/exercism/v3/tree/master/languages/rust/exercises/concept). Is this intentional? If not, please add entries for the exercises to the config.json file. Here is the

[2020-05-22 14:13] efx commented on #1502
See also https://github.com/exercism/v3/pull/1462 for how to add one.

[2020-05-22 14:20] #1459 closed

[2020-05-22 14:45] #1464 closed

[2020-05-22 18:40] BethanyG commented on #877
@J08K - If you haven't already, I would suggest writing up what you have in a `draft PR`.  That way, we could merge when this gets close.  😄   _So happy you are working on this!_

[2020-05-23 03:44] neenjaw commented on #1490
This exercise could also introduce `charlists` as an extension to lists, as a premise for a recursive coding problem

[2020-05-23 03:51] neenjaw opened #1505 "[Elixir] Suggest new exercise: bitstrings"
This issue describes how to implement the `bitstrings` concept exercise for the Elixir track.

[🔗 **How to help**](#actionable-items)

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, p

[2020-05-23 03:52] neenjaw commented on #1505
Admittedly, this one is a bit more open-ended, I am putting it up here so that it isn't missed since I am working on a follow-up exercise which requires this concept.

[2020-05-23 05:56] micuffaro commented on #846
I would like to take a stab at this, if it is not assigned to anyone else.

[2020-05-23 08:23] mikedamay opened #1507 "[Docs] Improve Website View of Documentation"
The key document (https://exercism.github.io/v3/#/docs/concept-exercises)[https://exercism.github.io/v3/#/docs/concept-exercises] does not show up in the contents/index sidebar in the web view of exercism.github.io/v3.

[2020-05-23 08:24] mikedamay commented on #1496
Sounds good

[2020-05-23 08:24] #1496 closed

[2020-05-23 14:33] #1365 closed

[2020-05-24 00:46] porkostomus opened #1508 "[Clojure] Implement new Concept Exercise: basics"
This issue describes how to implement the `basics` concept exercise for the Clojure track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-05-24 00:59] porkostomus commented on #730
This material is to be covered by the basics exercise (#1508). All the effort put into this by everyone is greatly appreciated :)

[2020-05-24 00:59] #730 closed

[2020-05-24 07:45] mikedamay commented on #960
Can you say more about `for` loops.  Am I blanking on some special relationship between `for` and `char`?  Why are for loops not a pre-requisite?

[2020-05-24 07:46] mikedamay commented on #960
Is boxing out of scope?  I would think that after.md would be a good place for it.

[2020-05-24 08:13] mikedamay opened #1510 "[DOCS] Repo Wide List of Implemented Exercises"
Is there a list of implemented exercises for the whole repo showing exercise/concept name and implemented language?  If not, can we have one?  It would be useful when looking for an exercise to fork.

[2020-05-24 12:45] angelikatyborska commented on #1490
@neenjaw Did you have any specific idea for how to add `charlists` into the Garden Bird Count story? Or would you rather that we come up with a different story?

[2020-05-24 12:51] neenjaw commented on #1490
I think i meant to type, charlists could  be a subsequent exercise because of the concept recursion being taught here.  Im not sure how charlists would work for this exercise.  My bad

[2020-05-24 12:54] angelikatyborska commented on #1490
Oh, ok. In that case, I will start working on this concept exercise using the Garden Bird Count story.

[2020-05-24 15:39] wneumann opened #1514 "[Swift] Please bootstrap Swift track"
After some time reading docs, listening to the calls, etc. I believe I'm ready to start building up the Swift v3 track. Assuming you're still looking to add languages to v3, please bootstrap the Swift v3 track.

I've been putting in some work on concepts and a test runner, and am ready to jump in.

[2020-05-24 19:13] DavidGerva commented on #1430
I looked in the track/csharp, which I use as a guide, but I couldn't find the loop/while/for issues. They are two rather different loops that I would use in different logics, but just like in other languages, that's why I looked in the csharp. If you think they should merge, I will!
(the same applies for the other loop issues)

@cmccandless what do you think?

[2020-05-24 19:52] DavidGerva opened #1516 "[Python] Implement new Concept Exercise: import"
This issue describes how to implement the concept exercise, for the Python track, which should explain how and why it is useful to import modules in python.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving int

[2020-05-25 00:20] cmccandless commented on #1430
I think merging them makes sense; loops are a common concept among different languages, and since we're not targeting complete beginners here, it shouldn't be necessary to break that down further. In Python (as with most languages), any loop can be written with either `while` or `for`; the unique thing about Python is the `else` clause for loops. We will definitely want to highlight that in our ex

[2020-05-25 12:03] angelikatyborska commented on #1359
To keep https://github.com/exercism/v3/issues/1490 simple, I am not mentioning accumulators in that exercise, assuming they will be taught in this one.

[2020-05-25 18:29] #1502 closed

[2020-05-26 07:06] ErikSchierboom commented on #960
I struggled a bit to come up with an exercise that was about chars but that was also in any way interesting. I then came up with the idea that we could have students iterate over the chars in a string using a `for` loop. Does that make sense or not? We could omit the `for` loop, but then the exercise might be very dull, so maybe then we should replace it with a different concept.

Thinking about i

[2020-05-26 07:26] ErikSchierboom opened #1524 "[F#] Add digit separators to after.md of numbers exercise"
The [Elixir numbers exercise](https://github.com/exercism/v3/blob/c17fbc493c38b42c4bea832067b00a3d535beda0/languages/elixir/exercises/concept/numbers/.docs/after.md#integers) added a note about using underscores in large numbers. I thought this was an excellent idea and would like to add a similar note to the `after.md` document of the `numbers` exercise.

[2020-05-26 07:26] ErikSchierboom opened #1525 "[C#] Add digit separators to after.md of numbers exercise"
The [Elixir numbers exercise](https://github.com/exercism/v3/blob/c17fbc493c38b42c4bea832067b00a3d535beda0/languages/elixir/exercises/concept/numbers/.docs/after.md#integers) added a note about using underscores in large numbers. I thought this was an excellent idea and would like to add a similar note to the `after.md` document of the `numbers` exercise.

[2020-05-26 09:02] mikedamay commented on #960
for-loops:

I had not considered the possibility of an exercise introducing disparate (albeit connected) concepts like chars and for loops.  One disadvantage of this approach is when using the exercises as a reference resource (either as a student of a maintainer) it will make it much less obvious where to look for relevant material.

I had not thought beyond the idea that there would be a `for` e

[2020-05-26 09:02] #1488 closed

[2020-05-26 09:36] ErikSchierboom commented on #960
In general we try to avoid introducing multiple (disparate) concepts in one exercise, but in some cases it does make sense:

- When the concepts are closely related. For example foreach loops and arrays (being the first collection type) go well with each other. Extension methods and static classes could also be a good combination, and there are probably more. I do expect that for more advanced con

[2020-05-26 09:36] ErikSchierboom commented on #960
Shall I create an issue for it?

[2020-05-26 10:30] #959 closed

[2020-05-26 10:46] #1524 closed

[2020-05-26 10:46] #1525 closed

[2020-05-26 11:17] ErikSchierboom commented on #1514
@wneumann This is brilliant! I've created https://github.com/exercism/v3/pull/1532 to bootstrap the track. Could you do the following:

- [Add yourself as a maintainer to the track](https://github.com/exercism/swift/blob/master/config/maintainers.json). This will ensure that you have the right permissions in this repo. Please add yourself with the `show_on_website` key set to `false`.
- Once https

[2020-05-26 11:21] ErikSchierboom commented on #1507
I can't seem to reproduce:

![image](https://user-images.githubusercontent.com/135246/82894936-b2421a80-9f53-11ea-89cc-1c2abe791a9c.png)

If I go to https://exercism.github.io/v3/#/, I can see it in the sidebar. Am I looking in the wrong place?

[2020-05-26 11:22] ErikSchierboom commented on #1510
We don't have a list per implemented language, but we do have something like that: https://github.com/exercism/v3/blob/master/reference/stories/README.md

[2020-05-26 11:30] mikedamay commented on #1507
Difficult to argue with that except that I saw the first heading in the "Concept Exercises >" doc "What do we mean by concepts?", thought "I know all about that" and moved on to "Docs for Maintainers" where I came across the key documents as links in the FAQ.  I expect it's just me.

[2020-05-26 11:30] #1507 closed

[2020-05-26 11:36] mikedamay commented on #1510
That's useful.  Thanks.  I think something dynamically generated just to save on looking down the tree into each language would be good.  Let's see if anybody else raises the issue.

[2020-05-26 11:36] #1510 closed

[2020-05-26 11:42] ErikSchierboom commented on #1507
Let's keep an eye out if anyone else has the same issue.

[2020-05-26 12:49] #1490 closed

[2020-05-26 13:01] tehsphinx commented on #846
@micuffaro: That'd be awesome!

As there is no existing exercise in another language you could build on, I'd recommend to first implement the `.meta/sample.go` file with the complete solution and create a `draft PR`. That way we can discuss it and make changes easily before too much work has gone into it.

[2020-05-26 13:58] mikedamay opened #1533 "[C#] Exercises in Priority Order"
*********** Out of date (as of 8:47, 28-May-2020) *********

The following is a list of exercises based on [the concept list](https://github.com/exercism/v3/blob/master/languages/csharp/reference/README.md).

Exercises are shown in draft order of "importance".  The aim is to produce a track initially with the 50 most important exercises.  40 of the exercises should be general C# and 10 should be t

[2020-05-26 15:54] DavidGerva commented on #1430
Updates as per previous comments. These issues have been merged in this one: #1432 and #1394

[2020-05-26 15:54] DavidGerva commented on #1432
Merged into #1430

[2020-05-26 15:54] #1432 closed

[2020-05-26 15:55] DavidGerva commented on #1394
Merged into #1430

[2020-05-26 15:56] #1394 closed

[2020-05-26 16:24] wneumann commented on #1514
@ErikSchierboom I took care of the first step, though one of the CircleCi checks is failing with the following error while trying to install a gem:

[code]

[2020-05-26 16:53] angelikatyborska commented on #1487
I'll work on this.

[2020-05-26 21:12] neenjaw commented on #1479
I think I will try to tackle this one, then going to spend some time making up some more issues.

[2020-05-27 01:04] neenjaw commented on #1479
It's interesting, part 1 of that basket ball problem is very easy (traversing the list map keys)

[code]

But part two is kind of a nastier one for students I think because lets suppose:

[code]

getting `coach[0]` is easy as an extension to part 1.  How can you separate `coach` from `[0]` and then how to get `0` from `[0]`.

You could:
1. use a regex and two captures
2. convert the string to a li

[2020-05-27 06:40] ErikSchierboom commented on #1514
@wneumann I'm not a Swift maintainer, so I don't know if and how to fix that. What I would suggest you do, is to use this invitation to join our Slack channel: https://join.slack.com/t/exercism-team/shared_invite/enQtNDEyMDM0OTgzNzY1LTU2ZDE2MGIzZmJmMDY3MDc1M2MxMzA0YjkwNjYyY2E1ZWJmNDRjNjVhMzc4OGQzOTU3Y2JkMTQ3ZTA5MWI3OGU

There you will find a lot of channels but there are two that are of specific i

[2020-05-27 08:13] #1514 closed

[2020-05-27 08:13] ErikSchierboom commented on #1514
@wneumann With the permissions not yet sorted, I've gone and merged https://github.com/exercism/v3/pull/1532 so that you can start building the v3 Swift track! Let me know if you need any help/pointers.

[2020-05-27 08:54] ErikSchierboom commented on #1479
I'd say: don't assume that the student knows anything about regular expressions actually, as I know many people actually don't know much about regular expressions.

Perhaps this would suggest changing this part of the exercise a bit to make it better suited for Elixir?

This is hard to do in Elixir?

I can help with this. Ping me whenever you want some basketball information or suggestions.

[2020-05-27 09:40] ErikSchierboom commented on #960
@mikedamay I've created [a PR to introduce for-loops in the arrays exercise](https://github.com/exercism/v3/pull/1539). Let me know what you think.

[2020-05-27 11:17] mikedamay commented on #960
I will give "char" a go.  To pick up on your idea - making identiers comply with naming conventions would seem to work.

[2020-05-27 11:31] ErikSchierboom commented on #960
Great! Will be good to have a `chars` exercise. Could you start with a basic draft PR that has just the following three files:

- Example.cs
- `.docs/instructions.md`
- `.meta/design.md` or `.docs/introduction.md` (I prefer the former, but feel free to choose which of the two you prefer)

The PR would then look something like this: https://github.com/exercism/v3/pull/1486/files (albeit in C#).

[2020-05-27 12:54] ErikSchierboom commented on #1533
@mikedamay In #1540, I've added the following Concepts to the list:

- [Pattern matching constants](https://github.com/exercism/v3/pull/1540/files#diff-9d1a43aae708a25693621337939d0d80R55)
- [Pattern matching types](https://github.com/exercism/v3/pull/1540/files#diff-9d1a43aae708a25693621337939d0d80R56)
- [Pattern matching tuples](https://github.com/exercism/v3/pull/1540/files#diff-9d1a43aae708a25

[2020-05-27 13:05] #1369 closed

[2020-05-27 13:05] #1465 closed

[2020-05-27 13:06] ErikSchierboom commented on #1533
Some clarifications on the list categorization:

- #105 Encapsulation: this is covered in the `classes` exercise
- #106 Mutation: this is covered in the `basics` exercise
- #107 Encapsulation: this is covered in the `classes` exercise
- #108 State: this is covered in the `classes` exercise
- #114 Type inference: this is covered in the `basics` exercise
- #122 Default values: this is covered in the

[2020-05-27 13:14] ErikSchierboom commented on #1533
The following concepts are already covered by existing exercises:

- #46 Nullable values: covered by the `nullability` exercise
- #48 Boolean logic: covered by the `booleans` exercise
- #62 Abstract classes and members: covered by the `inheritance` exercise

[2020-05-27 13:39] ErikSchierboom commented on #1533
I really like the priority ordering you've created. My only minor remarks are that I feel that the `Nested types` and `Delegates` concepts are placed too high. I'd move them back quite a bit.

[2020-05-27 16:10] neenjaw commented on #1479
:+1: Ok, so I guess I'll plan for a regex exercise (or two) to precede this one.

Agreed, I am thinking it will come to that

I wouldn't say hard, but (at least I) don't know a direct translation of this idea from C-family languages without going to an erlang function (`:binary.match`).  There is often more of a focus to look at solving the intended problem a different way, or just by using a rege

[2020-05-27 17:50] angelikatyborska commented on #1479
What if we completely avoid lists in this exercise? It's supposed to teach about access behavior, but lists don't support it. Lists could be replaced with maps like this:

[code]

And then also reformat keys `"coaches[0].name"` -> `"coaches.0.name"` to simplify parsing.

The philosophy of concept exercises is that everything in the exercise that is not related to the new concepts should be as simp

[2020-05-27 17:55] neenjaw commented on #1479
Yes, I think that is a good point, dynamically creating atoms is an anti-pattern to avoid.

I think the best thing to do is change the narrative to avoid this.

[2020-05-27 18:11] neenjaw commented on #1479
I withdraw the 🦇 -signal! Thanks for the help!

[2020-05-28 06:03] mikedamay commented on #1533
I've moved _nested types_ outside the "top 40".

I've left delegates for the time being as I see them as an on-ramp to lambdas and LINQ.  We can move them later when the full structure emerges.

[2020-05-28 07:27] ErikSchierboom commented on #1533
Sure. Sounds good.

[2020-05-28 08:00] mikedamay commented on #1533
The following is a list of exercises based on [the concept list](https://github.com/exercism/v3/blob/master/languages/csharp/reference/README.md).

Exercises are shown in draft order of "importance".  The aim is to produce a track initially with the 50 most important exercises.  40 of the exercises should be general C# and 10 should be to introduce LINQ.  Please comment on the order so we can agre

[2020-05-28 18:12] oanaOM commented on #1471
@tehsphinx I think this everything is setup here, right?

[2020-05-29 18:31] #1130 closed

[2020-05-30 07:51] micuffaro commented on #846
Hey @tehsphinx , I have a couple questions about the learning objectives of this exercise, that I may or may not be overthinking:

Meaning something like the following?
[code]
Or should we simplify? Can you provide examples?

Are we specifically talking about the return order or something else that I am missing?
[code]

[2020-05-30 08:34] mikedamay commented on #960
@ErikSchierboom

Please let me know the reason for this request.  If it is a question of spliting tasks into more manageable pieces and allowing for a measure of specialisation as discussed in last week's video call then I would suggest that some flexibility is in order.  This approach does not fit my workflow (happy to provide detais).

If it's a question of getting some communal participation ea

[2020-05-30 08:49] mikedamay opened #1557 "[C#] Follow up unresolved review points on PR 1497 dictionaries"
Follow up on [PR 1497](https://github.com/exercism/v3/pull/1497) including eliminating multiple asserts in test.

[2020-05-30 08:56] mikedamay opened #1558 "[C#] Follow up outstanding points on arrays PR"
Multi-dimensional arrays and `System.Array.CreateInstance` are mentioned in [after.md](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/arrays/.docs/after.md) of the arrays exercise.  We need an New Concept issue.

[2020-05-30 11:37] ErikSchierboom commented on #960
The reason for this request is just to check if the PR is going in the right direction. We've had PR's where a fully-fleshed exercise was PR'ed that turned out to require quite some modification. It would have been easier if the PR started with just the basics, and getting that right first. I don't necessarily mind the bigger PR's, but there will likely be more churn and it makes reviewing a bit h

[2020-05-30 15:10] tehsphinx commented on #1471
@oanaOM correct. I will close it. Thx!

[2020-05-30 15:10] #1471 closed

[2020-05-30 15:28] tehsphinx commented on #846
For example if an error happened while connecting to a tcp target you could wrap the error to give more context:

[code]

Meanwhile there are many error packages that do this for you with a `Wrap` method -- usually also doing more fancy stuff like adding stack traces, etc. But the concatenation of the resulting error string is essentially still the same.

Yes, correct. Talking about `return argume

[2020-05-31 08:36] LucaPaterlini opened #1561 "[Roadmap] [SUBJECT]"
This is feedback on the v3 roadmap (#690).

---

Hello,
I didn't know where to write this.
Would be possible to have all the python exercises including a pytest-bench or similar in order to have the same functionality as golang track have in v2?

[2020-06-01 01:36] ynfle opened #1562 "[Nim] Please bootstrap Nim track"
We have mostly completed the test-runner.
Looking forward to contributing to v3!!!!

[2020-06-01 06:35] micuffaro commented on #846
Thank you!

I put together a draft PR.
Can you take a look and let me know if it is going in the right direction?

[2020-06-01 11:49] #1428 closed

[2020-06-01 11:50] #1427 closed

[2020-06-01 16:54] wolf99 commented on #1561
Hi @LucaPaterlini
If this is feedback on #690, perhaps the place to write it would be as a reply on #690 .
It may be a good also to describe what functionality you are referring to for the "golang track in v2". The structure of v3 is quite different in a lot of regards, and a lot of the people working on it may not be familiar with the specifics of a given track from v2 :)

[2020-06-01 18:22] BethanyG commented on #859
@itamargal will be taking this on.  🌟 😄

[2020-06-01 22:15] iHiD commented on #1561
@wolf99 This is the correct way to comment on #690 - no comments are allowed directly on that issue. Each new issue is effectively a thread (so @LucaPaterlini for clarity - you've done the right thing :))

Yes. This. Expanding would be great :)

[2020-06-02 07:43] ErikSchierboom commented on #960
@mikedamay I don't know if it is any use for you, but Elixir is creating a [charlist exercise](https://github.com/exercism/v3/pull/1560#pullrequestreview-422407165). It is definitely not the same as working with regular chars, but you might find inspiration in the story.

[2020-06-02 07:50] mikedamay commented on #960
@ErikSchierboom If you get a chance could you make a comment on [PR 1556[((https://github.com/exercism/v3/pull/1556).  I can then continue with that.

[2020-06-02 07:52] ErikSchierboom commented on #1562
@ynfle It's great that you'll be working on the Nim track! I've created a [PR to bootstrap the Nim track](#1566). We'll get it merged this afternoon. Once it is merged, you can submit a PR to add yourself to the `languages/nim/maintainers.md` document (you're a contributing maintainer). In parallel, you should submit a PR to the add yourself
to the [Nim track's maintainers.json file](https://githu

[2020-06-02 07:52] ErikSchierboom commented on #960
@mikedamay Sure, I hadn't fully worked through my list of notifications :)

[2020-06-02 07:58] mikedamay commented on #960
@ErikSchierboom Classic concurrency issue!

The elixir exercise would have done nicely.  It's more realistic than mine but programmers and identifiers go together reasonably well so I'm inclined to leave it.

[2020-06-02 08:50] ErikSchierboom commented on #960
Haha, yes! I think the identifiers theme does make sense and will resonate with students.

[2020-06-02 09:25] #1137 closed

[2020-06-02 13:06] tehsphinx opened #1568 "[ALL] Exercise Assistant Feedback"
This is feedback on the exercise assistant @iHiD / @ErikSchierboom introduced last video call (a result of the efforts in #1482).

---

I’d probably split it in lots of steps. Steps without order, so we’d need an overview with links like:
- add/edit example
- add/edit config
- add/edit introduction
- etc…

That page could be designed as a status page on that exercise and maybe possibly also show c

[2020-06-02 13:25] ynfle commented on #1562
Thanks! Looking forward

[2020-06-02 13:51] #1562 closed

[2020-06-02 16:54] #1487 closed

[2020-06-02 17:29] angelikatyborska commented on #839
Added strings, numbers, recursion, nil, charlists, binary-matching, access-behavior. Updates the state of the rest.

[2020-06-03 02:18] neenjaw commented on #1479
[code]

I think I'll adapt the story to work with map string keys, and also touch on `get_in` and `put_in`

[2020-06-03 16:36] ynfle opened #1573 "[Docs] Clarify when to check off "updated `config.json` in README.md"
It's a little confusing as to when to check off

in the the README.md for each track.
It seems that all tracks except for [F#](../../blob/master/languages/fsharp/README.md), [Rust](../../blob/master/languages/rust/README.md) and [Elixir](../../blob/master/languages/elixir/README.md) have left it unchecked.

[2020-06-03 17:07] ynfle opened #1574 "[Nim] Add nim to v3 dashboard"
The Nim track was recently bootstrapped, can it be added to the [v3 dashboard](https://v3.exercism.io)?

[2020-06-04 07:03] mikedamay opened #1577 "[C#] Analyzer changes for properties exercise"
See: https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/properties/.meta/design.md for the definitive change requirements (of which an indication is provided below).

1.    If WeighingMachine.Units is not auto-implemented then the following comment should be made: "The appropriate form for a property such as WeighingMachine.Units which has no validation or other processi

[2020-06-04 07:09] mikedamay commented on #1558
[PR 1576](https://github.com/exercism/v3/pull/1576#pullrequestreview-424153029) addresses this by adding to [list of concepts](https://github.com/exercism/v3/blob/master/languages/csharp/reference/README.md)

[2020-06-04 07:09] #1558 closed

[2020-06-04 07:45] ErikSchierboom commented on #1573
If you go to the link for the `Update config.json` entry, you are redirected to [this page](https://github.com/exercism/v3/blob/master/docs/maintainers/migrating-your-config-json-files.md#migrating-your-configjson-files). That page has a set of things to do, and if those things are done, the item can be checked.

[2020-06-04 08:39] ee7 commented on #1573
That means the "Updated `config.json`" entry is just for the initial migration of `config.json`, and so the intended `README.md` state after that migration is:

[code]

However, this looks strange because the final two checkboxes are children of "Updated `config.json`", and usually, I would not tick a top-level checkbox until all its child checkboxes are completed. And indeed, most tracks don't ch

[2020-06-04 10:29] ErikSchierboom commented on #1573
Thanks for the feedback! @iHiD what do you think?

[2020-06-04 11:16] iHiD commented on #1573
I've remove the `config.json` checkbox all together, and just have it as a bullet point with the sub-checkboxes nested below it.

Then remove `- [ ] `config.json`: Added Concepts for all Practice Exercises` as we haven't given people a spec for that yet.

And probably remove `- [ ] `config.json`: Added Concept Exercises` too as that's a per-exercise thing.

[2020-06-04 11:31] ErikSchierboom commented on #1573
@iHiD Let me batch-script that as an update

[2020-06-04 11:32] ee7 commented on #1573
@iHiD could you write the end result?

Is it also a bit overkill to have an individual checkboxes for each of the "migration steps"? We could reduce to it something like:

[code]

which agrees with your

But then the todo list seems a bit short. Perhaps it could then be made more granular, adding sub-items to e.g. "implement concept exercise" instead.

We could also change it to use the present te

[2020-06-04 11:48] iHiD commented on #1573
It will get long over time. This is the key thing about this list - that we want to be able to add things to it over time and that be obvious to maintainers.

[code]

I'm 50/50 on this. Agree with imperative being good for commits, but that's for the purpose of replaying, which doesn't fit here. But I can see the argument for why it's still good. I think it's probably not worth the hassle of chang

[2020-06-04 13:24] ee7 commented on #1573
@iHiD Did you mean this?
[code]

Otherwise we're left with the entire to-do list as just the steps for migrating `config.json`.

What did you think about:
- swapping the order of the top-level items?
- removing all child checkboxes?

Note that both your version and the current version is missing steps 3 and 4 from [the migration document](https://github.com/exercism/v3/blob/master/docs/maintainers

[2020-06-05 01:17] SleeplessByte commented on #1574
You can PR it [to this file](https://github.com/exercism/v3-dashboard/blob/master/src/data/tracks.json) !

[2020-06-05 01:48] ynfle commented on #1574
Thanks @SleeplessByte, I assumed because it looked the same as https://tracks.exercism.io, that you were the maintainer. I guess @ErikSchierboom liked your design so much.

[2020-06-05 06:25] mikedamay commented on #963
An exercise in tuples is rather challenging.  They are very much "syntactic sugar".

Common uses:

1. Assignment (looks good for boilerplate assignment in a constructor)
2. Swapping/cycling values between variables
3. Return value
4. Method argument
5. Used instead of a struct in a collection
6. Pattern matching in a switch statement (out of scope here)
7. Use in LINQ (out of scope here)

The only

[2020-06-05 07:27] ErikSchierboom commented on #963
casually related values. 4 and 5 usually turn out to create a lot of noise. 1, 2 and 5
should be used very judiciously.

I agree with this. The only real valid use case is return values. As such, it is linked to `out` parameters, so maybe those two concepts can be combined?

holders in the template code? For example:

I'm thinking that we should either:

- Omit the method completely, requiring the

[2020-06-05 15:33] silvanocerza opened #1580 "[C++] Implement new Concept Exercise: basics"
This issue describes how to implement the `basics` concept exercise for the C++ track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-06-05 18:20] #846 closed

[2020-06-05 21:37] #1479 closed

[2020-06-06 04:03] neenjaw commented on #1505
I am going to probably use an accumulator in this problem so it may resolve #1359 at the same time.

[2020-06-06 04:34] neenjaw commented on #1359
This may end up being closed by #1505

[2020-06-06 06:54] micuffaro commented on #370
Would love to work on this one! Unless of course you want to keep it for others who haven't done their first issue yet.

[2020-06-07 14:49] #921 closed

[2020-06-07 14:50] #915 closed

[2020-06-07 15:17] #916 closed

[2020-06-07 15:20] #969 closed

[2020-06-08 02:06] #1574 closed

[2020-06-08 06:03] #1087 closed

[2020-06-08 07:24] mikedamay commented on #963
`out` is currently in the parameters exercise.  I think it would be difficult to explain `ref` in that exercise without explaining `out` at the same time.  And I don't think `ref` would fit here.

A parameters+tuples exercise does not appeal to me.

I agree that a fully fleshed out method or methods featuring tuple arguments and return types in the signature(s) would work.

I propose a static clas

[2020-06-08 07:54] mikedamay commented on #1141
The difficulty with pushing the student to use exceptions is that they can almost always be avoided with some sort of up front guard, e.g. `TryParse`, testing for `null`, index out of range, etc.  Obviously IO is a fruitful area but I'm not sure how we are handling that in the exercises.  I thought of overflow but we would have to give a hint up front about using `checked`.  I suppose that would w

[2020-06-08 08:04] mikedamay commented on #1016
I think _dictionaries_ should be a prerequisite.  It is difficult explain `GetHashCode()` without them and `IEquatable<T>` needs to reference collections

[2020-06-08 08:26] pvcarrera commented on #1133
Hi @ErikSchierboom, I think the `config.json` on the Ruby track already follows the conventions, maybe we can close this issue.

[2020-06-08 08:36] mikedamay commented on #1016
I know we are not dealing with simple types in this exercise, but given the name of the exercise and the second trickiest thing about equality, we should mention in _after.md_ the difficulties with floating point numbers and equality.

[2020-06-08 08:38] mikedamay opened #1592 "[C#] Discuss floating point number equality in an exercise."
We should add floating point number equality to the floating point exercise (or maybe a different exercise).

[2020-06-08 08:58] mikedamay commented on #1017
We should mention `struct`s' support for interfaces either in _after.md_ here or somewhere else in the concept exercises

[2020-06-08 11:14] mikedamay commented on #1016
I think equality of structs works better in `structs` than here.  Overriding `Equals` and `GetHashCode()` is enough to take on board for one exercise.  In addition, equality is very important to an understanding of `struct`s' nature.

[2020-06-08 11:39] mikedamay commented on #1017
I think this exercise should cover equality as it relates to `struct`s.  See https://github.com/exercism/v3/issues/1016#issuecomment-640538913

[2020-06-08 11:40] mikedamay commented on #1017
I'm not sure what that means.

[2020-06-08 12:06] mikedamay commented on #1017
This breaks down into:
1. Demonstrate passing by value
2. Demonstrate assignment of one struct to another
3. Demonstrate that it is not possible for a struct to be a field of another type and to have guaranteed valid arbitrary values
4. Equality tests

Equality (4) and Assignment (2) are straightforward.

Passing by value (1) is a hard thing to show given our usual template format/puzzle type - i.

[2020-06-08 13:16] mikedamay commented on #1018
Should we consider closing this issue and combining the concept with `struct`s?  Exposure to the subtleties of heap vs. stack, large object heap, garbage collection might fit more easily in `struct`s' _after.md_.

[2020-06-08 13:52] mikedamay commented on #1176
I can't help feeling that if we don't allow attributes to be read not only will custom attributes seem rather pointless but the compiler and framework provided ones as well.  We might have to pretty much give the code to access them but at least students would see the point of them.

[2020-06-09 06:40] mikedamay commented on #690
### Role of Concept Exercises

I wonder if it would be possible to say something in the docs about the role of concept exercises in the student’s wider learning experience.  Do we think that following the track of a language could lead to fluency on its own (i.e. with provided links but without additional tutorials)?  Or is it more a companion resource as it is for v2.  In specific cases this can

[2020-06-09 07:06] ErikSchierboom commented on #1133
@pvcarrera Well, almost :)

If you check the [concept for the `strings` exercise](https://github.com/exercism/v3/blob/master/languages/ruby/config.json#L16), it uses `strings-basic`. This implies a hierarchy and goes against the rules. The fix is simple: use `strings` instead of `strings-basic`.

[2020-06-09 08:31] ErikSchierboom commented on #1016
An alternative would be to have `sets` as a prerequisite. I personally find sets easier to reason about in combination with `GetHashCode()`. What do you think?

Agreed. Good call.

Yep, let's do that!

[2020-06-09 08:34] ErikSchierboom commented on #1017
Oh, I just mean that we should explain that structs can also have methods etc., just like classes.

[2020-06-09 08:35] ErikSchierboom commented on #1017
We have an interfaces exercise already, we could either add it there or here. Do we want this to depend on `interfaces`, or do we want `interfaces` to depend on `structs`? My preference would be with the former, but I can be convinced either way.

[2020-06-09 08:42] mikedamay commented on #1017
Agreed structs should have interfaces as a prerequisite.  Do we want to have an interface puzzzle as part of this exercise or just mention it in `after.md`?

[2020-06-09 08:45] mikedamay commented on #1016
definitely.  With perhaps +1 for dictionary keys in _after.md_

[2020-06-09 08:47] ErikSchierboom commented on #1017
I think that this is actually something that I decided against doing later. It might make far more sense to explain this when explaining `ref` parameters.

The absence of a default constructor? But structs always have a default constructor? This might be something that we just mention and not make part of the exercise.

[2020-06-09 08:47] ErikSchierboom commented on #1017
I'd say: just mention it in the `after.md` file.

[2020-06-09 08:49] ErikSchierboom commented on #1018
This is a tough call I feel. The reason why I had it as a separate exercise is because I think there is quite a bit of information here. It might be that the `after.md` of the `structs` exercise could be a bit dense. Maybe we could leave it open for now but still explore if we could add this information in the `structs` exercise's `after.md` file.

[2020-06-09 08:54] mikedamay commented on #1018
Sounds good.  Part of my reasoning was the difficulties of setting puzzles.   It's also related to a point I was trying to make under Exercism's Ambition [here](https://github.com/exercism/v3/issues/690#issuecomment-641066362).

[2020-06-09 08:54] ErikSchierboom commented on #1176
Maybe we should have `reflection` as a prerequisite of this exercise? That way, we _can_ use reflection here. I'd be hesitant to also introduce reflection here, or do you think that could work well?

[2020-06-09 09:07] mikedamay commented on #1176
The trade-off is complexity (of bringing in reflection either as part of exercise or a prerequisite) vs. leaving a bit of a mystery about what the point of attributes is.  I too favour for having a separate reflection exercise.  Our audience is seasoned programmers who should be able to handle plus it will give us an opportunity to tell those dynamic coder types that it exists to use it sparingly.

[2020-06-09 09:11] ErikSchierboom commented on #1016
Yep! That could work well.

[2020-06-09 09:12] ErikSchierboom commented on #1018
Yes, I read that! It is an excellent point.

[2020-06-09 09:13] ErikSchierboom commented on #1176
Excellent!

[2020-06-09 09:22] ErikSchierboom commented on #780
This issue should not have been closed as it has not yet been implemented :)

[2020-06-09 09:23] ErikSchierboom commented on #1141
This is true, and I do think that we should mention this in an `after.md` file. However, we can still teach students that they can define user-defined exceptions, only that they should only do so if other methods cannot be used. Something like that?

IO has always been slightly problematic in exercise, so we tend to avoid it. The `checked` overflow bits are part of the `overflows` exercise (see [t

[2020-06-09 09:25] ErikSchierboom commented on #963
I like this.

As a side note, maybe we could come up with a different domain than maths. We're trying to stay away from maths as much as possible. Ignore this if the above was just an illustration of the path to be taken.

[2020-06-09 09:52] mikedamay commented on #963
Sure I will do something with telephone numbers as strings.  Parsing a well formed phone number and returning whether it is Manhattan, Fake and the local digits. e.g. "212-555-1234" => (true, true, "1234")

I would however argue, as a non-mathematician, that our audience can handle squares and cubes.  The beauty of maths you don't need to spend any time looking up library methods as students typic

[2020-06-09 09:55] ErikSchierboom commented on #963
I like this! It has some overlap with the [`phone-number` v2 exercise](https://github.com/exercism/csharp/tree/master/exercises/phone-number), but I think it works well here.

[2020-06-09 10:05] nikimanoledaki commented on #843
Hi, I would love to take this one on! It would be my very first v3 and open-source issue 🎉 It seems to me like a good level to start at.

[2020-06-09 10:11] #1359 closed

[2020-06-09 10:11] #1505 closed

[2020-06-09 12:53] iHiD commented on #690
@mikedamay Thanks for all this. Mind moving this into a new issue where we can discuss please?

[2020-06-09 14:56] #1133 closed

[2020-06-10 05:16] mikedamay opened #1604 "[Roadmap] Does Exercism Teach Everything I Need to Know"
This is feedback on the v3 roadmap (#690) and the first few sections of the [Concept Exercises](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md) document.

### Role of Concept Exercises

I wonder if it would be possible to say something in the roadmap-type docs about the role of concept exercises in the student’s wider learning experience.  Do we think that following the track

[2020-06-10 06:08] mikedamay commented on #1016
In _after.md_ consider making a reference to the discussion of the difficulties of floating point number equality discussed [here](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/floating-point-numbers/.docs/after.md).

[2020-06-10 06:09] mikedamay commented on #1592
Updated (#1016) with a reminder on this point.  It's already covered in floating-point-numbers exercise.

[2020-06-10 06:09] #1592 closed

[2020-06-10 06:50] mikedamay opened #1606 "[DOCS] Repo Wide List of Implemented Exercises - again"
In (#1510) I asked:

Is there a list of implemented exercises for the whole repo showing exercise/concept name and implemented language? If not, can we have one? It would be useful when looking for an exercise to fork.

@ErikSchierboom replied:

We don't have a list per implemented language, but we do have something like that: https://github.com/exercism/v3/blob/master/reference/stories/README.md

[2020-06-10 06:55] mikedamay commented on #964
Consider forking some of [tuples](https://github.com/exercism/v3/tree/master/languages/elixir/exercises/concept/tuples) from the elixir track.

[2020-06-10 17:49] neenjaw opened #1609 "[CI] Format workflow file error"
In the last day I have received a few emails regarding a failed workflow on the master branch:

https://github.com/exercism/v3/actions/runs/131261191

Which is saying that there is an error in the workflow file:

See `.github/workflows/format-code.yml`:

https://github.com/exercism/v3/blob/b2fa50a2df34d3aacfe2339ce523fa1b793f599a/.github/workflows/format-code.yml#L20

Tagging @SaschaMann and @Erik

[2020-06-11 05:17] mikedamay commented on #960
@ErikSchierboom

Example.cs
    .docs/instructions.md
    .meta/design.md or .docs/introduction.md (I prefer the former, but feel free to choose which of the two you prefer)

If you are formalsing this, maybe the following sort of idea/wording might be considered.  I appreciate that in many cases the wizard will supersede this approach so it may not be worth it.

"To start with, please submit a dr

[2020-06-11 06:53] mikedamay commented on #1141
I agree that there has to be a balance between realism and practicality.  I wasn't sure what side of the debate about using the overflow/`checked` mechanism to produce the initial exception you came down on.

My proposal is to include a pre-built method in the code template which causes an overflow exception.  The student is asked to make sure that the method is called as part of some sort of math

[2020-06-11 07:23] ErikSchierboom commented on #960
@mikedamay That sounds like a nice way of wording it.

P.S. I'll be looking at this PR shortly, I had a day off yesterday (speaking at NDC Oslo on the C# analyzer/representer/test runner).

[2020-06-11 07:32] ErikSchierboom commented on #1141
Ooh, I like this! The catch-and-wrap addition is a great idea.

Just a random thought on a theme: what if we would make it about doing calculations in software that runs on a space-bound rocket? Might give us some pretext to catch all possible exceptions, but do some special filtering for the specific overflow exception or something like that.

@mikedamay Would you envision this exercise introduci

[2020-06-11 07:36] ErikSchierboom commented on #1606
@iHiD Yep, I definitely could. @mikedamay could you create an issue for this at https://github.com/exercism/v3-dashboard?

[2020-06-11 07:48] ErikSchierboom commented on #1017
For some inspiration, maybe also take a look at [F#'s records exercise](https://github.com/exercism/v3/tree/master/languages/fsharp/exercises/concept/records).

[2020-06-11 08:01] mikedamay commented on #960
Closed by #1556

[2020-06-11 08:01] #960 closed

[2020-06-11 08:07] mikedamay opened #1610 "[C#] Modify instructions.md: chars"
The exercise currently quietly allows for an empty string to be output as an identifier.  Change story to show that an empty string should be treated as an error condition.  Ensure that empty input strings are also mentioned.

I'm trying to avoid adding complexity to the code.

[2020-06-11 08:13] ErikSchierboom commented on #1573
What if we did:

[code]

This has the top-level elements as headers instead of being checkable. I do like the individual migration steps being listed as individual bullet points, as it a) helps people get a sense of progress, and b) allows for us to add to the list later on more easily.

[2020-06-11 08:22] ErikSchierboom commented on #1141
For inspiration: see [Elixir's `errors` exercise](https://github.com/exercism/v3/pull/1607/files).

[2020-06-11 11:14] mikedamay commented on #1606
Issue 45 created in https://github.com/exercism/v3-dashboard

[2020-06-11 11:14] #1606 closed

[2020-06-11 12:33] iHiD commented on #1573
That's what I mean, yeah. I don't have the brainspace to reason about this massively right now, so sorry for not replying @ee7. Erik's suggestion is inline with what I'm thinking if that works for you?

Should we leave the "added concepts for all practice exercises" out until we've actually got to the point where we've got a formal spec for them. I think that addresses some of the discrepancies th

[2020-06-11 12:36] ErikSchierboom commented on #1573
Yeah that would work!

[2020-06-11 16:01] ynfle commented on #1573
Also, it may be redundant to have 2 checks under concept exercises; adding them to the config.json should be part of implementing the concepts exercises. Maybe we could add listing/ making issues for the concept exercises.

[2020-06-12 08:56] mikedamay commented on #1018
- Contrast C# developers' attitude to out-of-memory conditions with those of lower level languages like C.

[2020-06-12 10:41] ErikSchierboom commented on #1573
Something like this then?

[code]

[2020-06-12 13:36] ee7 commented on #1573
No problem.

Replying to @ErikSchierboom's latest comment:

I'm fine with this, or your earlier version with headings instead (with or without the `- [ ] Added Concepts for all Practice Exercises` checkbox, which @iHiD questioned).

But I still have a question from earlier: is there a reason why we don't add child checkboxes for steps 3 and 4 from the [migration documentation](https://github.com/e

[2020-06-12 16:39] neenjaw opened #1621 "[Elixir] Implement new Concept Exercise: exceptions"
Pursuant to #1607 a need for a followup exercise is discovered.

## Learning objectives

- Know what the Exception behaviour is
- Know how to define your own exceptions
  - with just :message
  - with :message and exception/1
- Know of `try..rescue`'s additional options:
  - `after`
  - `else`

## Out of scope

- `throw` and `catch`

## Concepts

- `exceptions`
- `try-rescue-after-else`

## Prereq

[2020-06-12 17:20] TheLostLambda opened #1622 "[Common Lisp] Implement new Concept Exercise: basic-lists"
This issue describes how to implement the `basic-lists` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-06-13 06:19] mikedamay commented on #1016
@ErikSchierboom

I am thinking about an identity matching story perhaps including a facial recognition class (as a member of the main identity class).  The main identity class would also include an email address.  I think this resonates with our demographic and the fact that it's unrealistic (I'm sure fuzzy logic is a big part of identity matching) does not detract too much.

We could have a `Hash

[2020-06-13 06:22] mikedamay commented on #1016
How should we treat equality+inheritance as described in this [SO](https://stackoverflow.com/questions/22154799/equals-method-inheritance-confusion) thread.
- Include in Learning Objectives for this exercise?
- Make a separate exercise?
- Include in _after.md_ for this exercise?

My vote is for _after.md_.  Let me know what you think.

[2020-06-13 09:00] dvik1950 opened #1624 "[Ruby] Forking booleans from C#"
https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/booleans

[2020-06-13 17:32] tehsphinx commented on #843
@nikimanoledaki: That'd be awesome!

[2020-06-13 17:36] tehsphinx commented on #370
@micuffaro: That'd be awesome! Thx!

[2020-06-13 22:42] oanaOM opened #1626 "[Go] Implement new Concept Exercise: booleans"
This issue describes how to implement the booleans concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [Th

[2020-06-13 22:47] oanaOM commented on #1626
I would love to work on this. This is a my first open-source issue so I think it's a good practice for start.

[2020-06-14 07:06] mikedamay commented on #1533
The following is a list of exercises based on [the concept doc](https://github.com/exercism/v3/blob/master/languages/csharp/reference/README.md).

The list is split into 4 sections
1.  Introduction to C#
2. Introduction to C# (Duplicates & Non-Exercises)
3. Essential C# Topics (not covered by C# Introduction)
4. Advanced C# Topics

If we wanted to do a beta then section 1 provides a coherent set o

[2020-06-14 10:43] SaschaMann commented on #1111
Documenter might be able to accomplish it if we skip the doc deployment.

[2020-06-15 04:13] mikedamay commented on #1016
Learning objectives should include

* Understand the behaviour of `==` and `!=`

[2020-06-15 04:55] mikedamay opened #1631 "[C#] Implement new Concept Exercise: do-while-loops"
This issue describes how to implement the `do-while-loops` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2020-06-15 06:54] mikedamay opened #1633 "[C#] Implement new Concept Exercise: switch-statement"
This issue describes how to implement the `conditionals-switch` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-06-15 07:11] mikedamay opened #1634 "[C# Implement new Concept Exercise: conditionals-if"
This issue describes how to implement the `conditionals-if` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2020-06-15 07:32] mikedamay opened #1635 "[C#] Implement new Concept Exercise: conditionals-ternary"
This issue describes how to implement the `conditionals-ternary` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-06-15 08:02] mikedamay opened #1637 "[C#] Implement new Concept Exercise: object-intializers"
This issue describes how to implement the `object-initializers` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-06-15 08:35] mikedamay opened #1638 "[C#] Implement new Concept Exercise: regular-expressions"
This issue describes how to implement the `regular-expressions` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-06-15 10:21] mikedamay opened #1639 "[C#] Implement new Concept Exercise: resource cleanup"
This issue describes how to implement the `resource-cleanup` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-06-15 10:36] mikedamay opened #1640 "[C#] Implement new Concept Exercise: resource lifetime"
This issue describes how to implement the `resource-lifetime` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-06-15 10:38] mikedamay opened #1641 "[C#] Implement new Concept Exercise: resource-lifetime"
This issue describes how to implement the `resource-lifetime` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-06-15 10:57] mikedamay opened #1642 "[C#] Implement new Concept Exercise: randomness"
This issue describes how to implement the `regular-expressions` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-06-15 11:17] mikedamay opened #1643 "[C#] Implement new Concept Exercise: nested-types"
This issue describes how to implement the `nested-types` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-06-15 11:33] mikedamay opened #1644 "[C#] Implement new Concept Exercise: time"
This issue describes how to implement the `time` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The

[2020-06-15 11:50] mikedamay opened #1645 "[C#] Exercises in Priority Order"
Supersedes #1533

[2020-06-15 11:52] mikedamay commented on #1533
Superseded by #1645

[2020-06-15 11:52] #1533 closed

[2020-06-15 12:03] mikedamay commented on #1645
The following is a list of exercises based on [the concept doc](https://github.com/exercism/v3/blob/master/languages/csharp/reference/README.md).

The list is split into 4 sections
1.  Introduction to C#
2. Introduction to C# (Duplicates & Non-Exercises)
3. Essential C# Topics (not covered by C# Introduction)
4. Advanced C# Topics

If we wanted to do a beta then section 1 provides a coherent set o

[2020-06-15 14:10] mikedamay commented on #1634
Already implemented in [numbers](https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/numbers)

[2020-06-15 14:10] #1634 closed

[2020-06-15 19:26] DavidGerva opened #1647 "[Python] Implement new Concept Exercise: string formatting"
This issue describes how to implement the `string formatting` concept exercise for the python track, explaining all the various methods.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation

[2020-06-15 20:01] DavidGerva opened #1648 "[Python] Implement new Concept Exercise: string splitting"
This issue describes how to implement the concept exercise, for the Python track, which should explain how to split strings in python.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation,

[2020-06-16 02:32] mikedamay commented on #1637
Some class with a number of built in instances available as static members

[2020-06-16 03:44] mikedamay opened #1650 "[C#] Implement new Concept Exercise: explicit casts"
This issue describes how to implement the `explicit-cast` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-06-16 03:52] mikedamay commented on #780
@EarthlingRich please consider introducing primitive explicit casts here.  I think they fit better here than in `explicit-casts`.  Let me know what you think.

[2020-06-16 03:57] mikedamay commented on #1142
Consider declaring casts of primitive types out-of-scope and handling them as a concept in `signed-integers`.

[2020-06-16 03:58] mikedamay commented on #1650
Duplicate of #1142.

[2020-06-16 03:58] #1650 closed

[2020-06-16 05:40] mikedamay commented on #1642
I'm thinking of specifying the throw of a die in the context of the wizards and warriors theme.

[2020-06-16 09:43] ErikSchierboom commented on #1016
Seconded. This is perfect for the `after.md` document I feel.

[2020-06-16 13:31] mikedamay opened #1656 "[C#] Improve Concept Exercise: flag-enums"
Consider adding a task that includes `enum.ToString()` thereby demonstrate the effect of `[flags]` and we could drop the `[flags]` requirement from the analyzer.

Consider including attributes as a concept here.  It's very lightweight and we could delay custom attributes to a later exercise.

[2020-06-16 16:32] ErikSchierboom commented on #1641
@mikedamay This looks to be a duplicate of #1640. Is that correct?

[2020-06-17 02:34] mikedamay commented on #1641
Weird.  Closed as duplicate of #1640

[2020-06-17 02:34] #1641 closed

[2020-06-17 12:28] mikedamay opened #1664 "[C#] Improve Concept Exercise: user-defined-exceptions"
The [user-defined-exception](https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/user-defined-exceptions) exercise has a story in which we are using a test harness to test a calculator by calling its `Multiply()` method.  See this [example](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/user-defined-exceptions/.meta/Example.cs).

We are atte

[2020-06-17 12:32] mikedamay commented on #1128
I am thinking of enhancing the remote controlled cars exercise.

- `out` parameters for fuel usage and tire wear
- `varargs` for sponsor names
- `in` parameter to move to `structs` where it makes more sense.
- `ref` parameter awaits inspiration.

[2020-06-17 12:43] mikedamay commented on #1141
closed by #1617

[2020-06-17 12:43] #1141 closed

[2020-06-17 12:46] ErikSchierboom commented on #1642
@mikedamay I think that would work really well as the context. Did you know that we have an existing exercise on randomness named [`dnd-character`](https://github.com/exercism/csharp/tree/master/exercises/dnd-character)? That might be useful for inspiration. If you feel that there is too much overlap, we could always consider retracting the D&D character exercise.

[2020-06-17 12:55] ErikSchierboom commented on #1128
I am thinking of enhancing the remote controlled cars exercise.

How do you envision this. Having a `GetStatus` method or something like that?

I like this!

Good use case. So this would be doing something with a struct but not modifying it.

Maybe have a method that gets passed a struct but _does_ modify it? To contrast it with the previous `in` parameter case?

[2020-06-17 12:55] mikedamay commented on #1642
A number of students including me have had trouble understanding D&D character.   D&D passed me by somehow - more of a Risk or Diplomacy man.

I sent you the wrong link - [this](https://github.com/exercism/v3/pull/1659) would have been more useful.  It's a very stripped down puzzle and left to my devices I wasn't thinking of adding anything .

[2020-06-17 13:01] mikedamay commented on #1128
Yep.

I did not really want to take s`truct`s as a dependency.  `ref` makes sense with scalars.  `in` pretty much needs `structs` to make sense and we can't enforce it with tests.

[2020-06-17 13:23] ErikSchierboom commented on #1642
I would consider it just a little _too_ basic to be honest. What if we could randomly generate names by choosing (and combining) from an array of first names and a list of last names (or nick names or whatever works). Or generate a random adversary with some random data?

[2020-06-17 13:25] ErikSchierboom commented on #1128
I wouldn't mind only having the `in` modifier in the `after.md` file only. From my experience, I've not seen it being used often. You?

[2020-06-17 13:35] ErikSchierboom commented on #1016
I'm not a huge fan of the story, as facial recognition seems to be a more touchy subject lately. But we could easily tweak this, e.g. by changing it to fingerprint recognition.

I wouldn't mind also including the Set concept here, mainly because they go together well. I do wonder if this wouldn't make the exercise too "big," as equality is already quite a complex concept in itself. What if we woul

[2020-06-17 23:20] wneumann opened #1665 "[Swift] Implement new Concept Exercise: tuples"
This issue describes how to implement the tuples concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The fea

[2020-06-18 00:09] wneumann opened #1666 "[Swift] Implement new Concept Exercise: bit-manipulation"
This issue describes how to implement the bit manipulation concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

[2020-06-18 00:12] wneumann opened #1667 "[Swift] Implement new Concept Exercise: loops"
This issue describes how to implement the loops concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The feat

[2020-06-18 00:16] wneumann opened #1668 "[Swift] Implement new Concept Exercise: dictionaries"
This issue describes how to implement the dictionaries concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [T

[2020-06-18 00:18] wneumann opened #1669 "[Swift] Implement new Concept Exercise: sets"
This issue describes how to implement the sets concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The featu

[2020-06-18 00:33] wneumann opened #1670 "[Swift] Implement new Concept Exercise: functions"
This issue describes how to implement the functions concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The

[2020-06-18 00:35] wneumann opened #1671 "[Swift] Implement new Concept Exercise: closures"
This issue describes how to implement the Closure concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The fe

[2020-06-18 00:39] wneumann opened #1672 "[Swift] Implement new Concept Exercise: higher-order-functions"
This issue describes how to implement the higher order functions concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following docume

[2020-06-18 00:43] wneumann opened #1673 "[Swift] Implement new Concept Exercise: structs-and-classes"
This issue describes how to implement the structs and classes concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents

[2020-06-18 00:46] wneumann opened #1674 "[Swift] Implement new Concept Exercise: enumerations"
This issue describes how to implement the enumerations concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [T

[2020-06-18 00:49] wneumann opened #1675 "[Swift] Implement new Concept Exercise: properties"
This issue describes how to implement the properties concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The

[2020-06-18 00:51] wneumann opened #1676 "[Swift] Implement new Concept Exercise: methods"
This issue describes how to implement the methods concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The fe

[2020-06-18 00:54] wneumann opened #1677 "[Swift] Implement new Concept Exercise: initialization"
This issue describes how to implement the initialization concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

-

[2020-06-18 00:56] wneumann opened #1678 "[Swift] Implement new Concept Exercise: deinitialization"
This issue describes how to implement the deinitialization concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

[2020-06-18 00:59] wneumann opened #1679 "[Swift] Implement new Concept Exercise: inheritance"
This issue describes how to implement the inheritance concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [Th

[2020-06-18 02:12] wneumann opened #1680 "[Swift] Implement new Concept Exercise: map"
This issue describes how to implement the map concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The featur

[2020-06-18 02:13] wneumann opened #1681 "[Swift] Implement new Concept Exercise: filter"
This issue describes how to implement the filter concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The fea

[2020-06-18 02:14] wneumann opened #1682 "[Swift] Implement new Concept Exercise: reduce"
This issue describes how to implement the reduce concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The fea

[2020-06-18 02:15] wneumann opened #1683 "[Swift] Implement new Concept Exercise: flat-map"
This issue describes how to implement the flatMap concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The fe

[2020-06-18 02:18] wneumann opened #1684 "[Swift] Implement new Concept Exercise: extensions"
This issue describes how to implement the extensions concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The

[2020-06-18 02:20] wneumann opened #1685 "[Swift] Implement new Concept Exercise: generics"
This issue describes how to implement the generics concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The f

[2020-06-18 02:21] wneumann opened #1686 "[Swift] Implement new Concept Exercise: protocols"
This issue describes how to implement the protocols concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

- [The

[2020-06-18 02:23] wneumann opened #1687 "[Swift] Implement new Concept Exercise: error-handling"
This issue describes how to implement the error-handling concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read the following documents:

-

[2020-06-18 04:39] mikedamay commented on #1016
Do you not want the story at all or do you just want to avoid discussing facial recognition?

Fingerprint recognition does not work as well (I can concoct something about eye colour and philtrum width) but I have no feel for fingerprints (as it were).  What I'm after is a member that is a reference type.  A multi-part name would work as well.  Agreed?

Maybe but...  The key teaching requirement wi

[2020-06-18 04:50] mikedamay commented on #1128
Never.  As you say _after.md_ is a good place for `in`.  Maybe mentioned here and then elaborated in the _after.md_ for `structs`.

So, unless you have any further thoughts, I will go ahead with `out`, `varargs` and `ref` which will probably clunk a bit.  I may as well include default values (although they are introduced in the `methods` exercise and I suppose `named parameters`.

[2020-06-18 05:30] mikedamay commented on #1642
I would claim that the puzzle, as it stands, illustrates the important features of C#'s `System.Random`.
- it generates random numbers within a range
- it does not require a seed
- The upper bound of the overloaded methods that take 2 parameters is exclusive.

_after.md_ can provide the following:
- reinforce no requirement for a seed (and perhaps pre-empt confusion regarding similar implementatio

[2020-06-18 07:00] ErikSchierboom commented on #1642
What if we can somehow incorporate this into the exercise? Maybe we could provide an additional method to generate a sequence of numbers? That way we could "detect" if the student just kept on creating new `Random` instances, which would lead to invalid results (likely). Speaking of which, this might be nice to do with `yield` too, generating an infinite sequence of random numbers.

[2020-06-18 07:09] ErikSchierboom commented on #1128
Named parameters are actually introduced in the `basics` exercise: https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/basics/.docs/introduction.md But I'd say including them here too definitely makes sense.

[2020-06-18 07:13] ErikSchierboom commented on #1016
The latter. But then again, maybe this is not an issue. As long as we keep the story a positive thing (nothing with surveillance), it could work well. Let's just try to use facial recognition and see how that turns out.

Sure, but having thought on it some more (see above), facial recognition could work.

Let's be pragmatic and just do this.

[2020-06-18 07:34] mikedamay commented on #1642
This certainly overcomes the problem with testing correct usage.  I felt that the advantage we have here over exercises like _robot-name_ is that we can detect correct usage using the analyser or (as my proposed code is so simple that it's likely to have only a couple of representations) we  could even just rely on the representer mechanism.

The problem as I'm sure you appreciate is that we are s

[2020-06-18 07:53] ErikSchierboom commented on #1642
I was not sure, just wanted to put it out as an option,

That could work well. We can probably find a D&D related real number use case as well. Shall we then try to add that one extra method? I like the addition of returning a random double besides returning a random int.

[2020-06-18 11:34] SaschaMann commented on #1609
Should be fixed by https://github.com/exercism/v3/commit/2b62cd89d1fdb9e549ac5e6e43600338bc609a76

[2020-06-18 11:34] #1609 closed

[2020-06-18 12:32] wneumann commented on #1681
Considering splitting out `compactMap` from map and merging it into this and making `map` a prerequisite, as `compactMap` is essentially a lazy map composed with a filter for non-nil values.

[2020-06-18 12:41] wneumann commented on #1682
Considering merging this and flat-map into `map`, especially if `compactMap` gets moved to filter. The concepts are all related, so I am trying to come up with the best arrangement that doesn't overload the student but also that doesn't make the exercise too thin.

[2020-06-18 12:42] wneumann commented on #1683
Considering merging this and reduce into map (and renaming map, natch), especially if compactMap gets moved to filter. The concepts are all related, so I am trying to come up with the best arrangement that doesn't overload the student but also that doesn't make the exercise too thin.

[2020-06-18 14:38] #1621 closed

[2020-06-18 18:24] efx opened #1693 "[Rust] Improve Concept Exercise: options"
This issue describes how to improve the `options` concept exercise for the Rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features

[2020-06-18 22:17] iHiD commented on #1016
I've not read the discussion properly at all here so feel free to ignore this comment, but "facial recognition" to unlock phones might work as a thing?

[2020-06-19 03:14] mikedamay commented on #1016
I will tweak the story to make that clear

[2020-06-19 11:35] mikedamay commented on #1637
I think we should include collections in the code (I was the person that made them discussion only).  We can make `dictionaries` and `lists` pre-requisites.

I'm thinking either some prebuilt wizard warriors or remote control cars.

[2020-06-19 11:39] mikedamay commented on #1638
I'm thinking: analyse the logs produced in the `strings` or some variant of them.

Comments welcome.

[2020-06-19 12:42] mikedamay commented on #1633
We should consider using this exercise to show `switch` statements and introduce `switch` expressions with `pattern-matching-tuples`.

[2020-06-19 12:52] ErikSchierboom opened #1701 "[Clojure] Missing exercise entries in config.json"
The track's `config.json` file is missing an entry for the following exercise:

- `lists`

[2020-06-19 12:54] ErikSchierboom opened #1702 "[Elixir] Missing exercise entries in config.json"
The track's `config.json` file is missing an entry for the following exercise:

- `access`

[2020-06-19 12:55] ErikSchierboom opened #1703 "[Go] Missing exercise entries in config.json"
The track's `config.json` file is missing an entry for the following exercise:

- ` basics`
- `conditionals`
- `errors`
- `maps`

[2020-06-19 12:56] ErikSchierboom opened #1704 "[Swift] Missing exercise entries in config.json"
The track's `config.json` file is missing an entry for the following exercise:

- `arrays`
- `basics`
- `conditionals`
- `numbers`
- `optionals`
- `strings`

[2020-06-19 12:56] ErikSchierboom commented on #1704
FYI @exercism/swift

[2020-06-19 12:57] ErikSchierboom commented on #1701
FYI @exercism/clojure

[2020-06-19 12:58] ErikSchierboom commented on #1702
FYI @exercism/elixir

[2020-06-19 12:58] ErikSchierboom commented on #1703
FYI @exercism/go

[2020-06-19 12:59] neenjaw commented on #1702
Interesting.

[2020-06-19 13:00] ErikSchierboom commented on #1702
@neenjaw This is probably because the directory name is `access` and the slug is `access-behaviour` from a quick inspection.

[2020-06-19 13:02] neenjaw commented on #1702
Ah, yes, that's why.  We changed it from access to access-behaviour and didn't rename the directory. I can fix that.

[2020-06-19 13:37] SaschaMann opened #1706 "Autogenerate sidebar files"

[2020-06-19 14:43] #1702 closed

[2020-06-19 15:41] TheLostLambda opened #1710 "[Common Lisp] Implement new Concept Exercise: higher-order-functions"
This issue describes how to implement the `higher-order-functions` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the fo

[2020-06-19 16:14] TheLostLambda opened #1711 "[Common Lisp] Implement new Concept Exercise: anonymous-functions"
This issue describes how to implement the `<SLUG>` concept exercise for the <LANG> track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-06-19 16:37] mikedamay opened #1712 "[C#] Implement new Concept Exercise: operator-overloading"
This issue describes how to implement the `operator-overloading` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-06-19 16:52] efx commented on #1706
This would be to generate `_sidebar.md` files for common directories. Automating the changes as this PR did manually: https://github.com/exercism/v3/pull/1696/files

[2020-06-19 18:08] TheLostLambda opened #1714 "[Common Lisp] Implement new Concept Exercise: recursion"
This issue describes how to implement the `recursion` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docum

[2020-06-19 19:14] dector opened #1716 "[Kotlin] Implement new Concept Exercise: basics"
Description TBD

[2020-06-20 12:40] TheLostLambda opened #1717 "[Common Lisp] Implement new Concept Exercise: nested-functions"
This issue describes how to implement the `nested-functions` concept exercise for the <LANG> track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-06-20 22:16] oanaOM commented on #1703
I would be glad to add them.

[2020-06-21 01:30] bemself commented on #1701
@ErikSchierboom Thanks for reminding, raised pr [[Clojure] config.json: add lists, and minor update in doc by bemself · Pull Request #1721 · exercism/v3](https://github.com/exercism/v3/pull/1721)

by the way, we have more concepts than lists, but those PRs not yet merged, possible to merge a few of them now?

[2020-06-21 12:59] tehsphinx commented on #1703
@oanaOM: go ahead! 💟

[2020-06-21 20:59] oanaOM commented on #1703
Great, I've just open a PR.

[2020-06-21 21:36] oanaOM commented on #1626
@tehsphinx is it ok if I start to work on this concept exercise?

[2020-06-21 23:10] porkostomus commented on #1701
I reworked the `basic-functions` into just `basics` and it is currently in draft. I csuppose we could merge it for now but I keep telling myself I just just finish it...

[2020-06-22 17:17] wneumann commented on #1704
I'll take care of this today.

[2020-06-22 17:57] wneumann commented on #1704
Created a PR to address this (https://github.com/exercism/v3/pull/1724).

It just needs a review from exercism/swift.

[2020-06-23 08:17] ErikSchierboom commented on #1701
I'm fine with merging it and then improving it later if you like that.

[2020-06-23 13:06] wneumann commented on #1665
I will work on this exercise.

[2020-06-24 03:50] mikedamay commented on #1637
I think it is better if this is a prerequisite for `dictionaries` and `lists`.  It already is for dictionaries.

[2020-06-24 04:04] mikedamay commented on #1631
I am thinking of arrays of numbers received from some other system which need to be grouped and totaled.  Each group of numbers is terminated by a zero.  This is a stone cold fit for `do...while` but extremely artificial.   Using the more natural `char` runs the risk that the student will convert the array to a string and use `Split()`.  A `TextReader` or `Stream` would make things more natural bu

[2020-06-24 04:14] mikedamay commented on #1639
I'm thinking about some sort of image/video display class with a method to display (acquire memory) and a method to close (requiring immediate disposal).

Any  thoughts?

[2020-06-24 06:44] ErikSchierboom commented on #1637
Agreed! This definitely makes the most sense to me.

I like it!

[2020-06-24 06:56] ErikSchierboom commented on #1639
`resource lifetime - using` is out of scope here. I can sort of understand why, but on the other hand `IDisposable` and `using` statement go hand in hand. Will this be just about the `IDisposable` interface?

The hints mention finalizers. Will they be included in this exercise?

Would the memory acquisition be something like a `MemoryStream`? What would the student be expected to do with the memor

[2020-06-24 07:11] ErikSchierboom commented on #1631
I agree with everything said here. If we would use `char` we could use an analyzer to verify that the student used a `do...while` loop. That said, an array of numbers could work, if we maybe come up with a nice-ish story around it. Maybe we could have the array of numbers be some sort of communication or encryption protocol?

[2020-06-24 08:12] mikedamay commented on #1639
My thinking is that immediately you are aware of `using` you forget about `IDisposable` etc.  By having one exercise that addresses `IDisposable` that gets the point over and then a separate one that covers the two forms of `using` can build on this.  This separation will help the student understand the mechanisms underlying `using` which is probably a good thing.

I was thinking the only place fi

[2020-06-24 08:58] ErikSchierboom commented on #1639
Excellent explanation. Makes total sense.

I like the `after.md` document, as I also have rarely (if ever) seen a good use-case for them.

If we check [the docs](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose), it states that:

This is slightly problematic for us, as unmanaged resources is not something the student will know about. The only resource that I

[2020-06-24 09:17] mikedamay commented on #1639
The first thing to know, if you ever use it, is to pronounce it oweshus (like ocean but ...shus).  The point I was attempting to make was that memory-based streams and readers do not use external resources so including the dispose pattern for them has no immediate purpose.

A database transaction simulation sounds promising.  I will sketch it out.

[2020-06-24 09:40] ErikSchierboom commented on #1573
@ynfle PR #1731 aims to fix most of the issues.

[2020-06-24 09:43] ErikSchierboom commented on #1639
Wow, I would never have guessed. Reminds me of how I completely fumbled the pronunciation of `quay` :)

[2020-06-24 10:22] #1573 closed

[2020-06-24 11:39] iHiD commented on #1573
Thanks everyone here - especially @ee7 for all your thoughts!

[2020-06-24 14:03] mikedamay commented on #963
closed by https://github.com/exercism/v3/pull/1601

[2020-06-24 14:03] #963 closed

[2020-06-24 15:41] mikedamay opened #1737 "[C#] Improve Concept Exercise: floating-point-numbers"
This exercise includes the `while` concept.  We should add a note to _after.md_ alongside the discussion of `while` to describe how and why `do...while` is used.

Include `do-while` as a concept in _design.md_ and _csharp/config.json_.

[2020-06-24 16:10] mikedamay commented on #1631
Closed by #1737 which adds the `do-while` concept to `floating-point-numbers` where `while-loops` are a concept as a discussion point only.

[2020-06-24 16:10] #1631 closed

[2020-06-25 01:29] mikedamay opened #1742 "[Elixir] Improve Concept Exercise: binary-matching"
there is a missing link [bytes][wiki-bytes] in _introduction.md_.

[2020-06-25 02:19] mikedamay opened #1743 "[Elixir] Improve Concept Exercise: multi function clauses"
Copy / paste error: the text "Modify the compare function to respond to guesses that are close to the secret number." is repeated in the last task in https://github.com/exercism/v3/blob/master/languages/elixir/exercises/concept/multiple-clause-functions/.docs/instructions.md.

[2020-06-25 06:13] mikedamay commented on #1639
@ErikSchierboom

The student could be tasked to write an ORM comprising `OpenTransaction()` to get a transaction from the database, `WriteObject()` to write in the context of a transaction and `CommitTransaction()` to commit what has been written.

The exercise provides a database object with methods to `CreateTransaction()` to create a transaction,`Write()` in the context of the transaction and `

[2020-06-25 06:24] mikedamay commented on #1637
@ErikSchierboom

Sadly I don't think that w&w/d&d is a fruitful area for me.  And I certainly can't hold my end up in a conversation about cars (remote, racing or otherwise).  User authentication is more my thing.

I was thinking of some hardcoded identities, developers for example.  After tasks covering building the initialization of a non-collection object,  tasks progressively add in a referenc

[2020-06-25 07:41] ErikSchierboom commented on #1639
I like it. I was wondering if we need the `ORM` class and instead could just have the `Transaction` and `Database` classes? This makes it a little less realistic, but does simplify things a bit. The `IDisposable` implementation could then be on the `Transaction` class, which is also how Entity Framework does it I believe (see [these docs](https://docs.microsoft.com/en-us/ef/core/saving/transaction

[2020-06-25 07:55] mikedamay commented on #1639
I'm all for making it simpler (even if more artificial) but I'm struggling with your vision.

Is the student responsible for implementing the `Database` class as well as the `Transaction` class?  If so how do we cause a failure?

If not, where would the experience of handling an exception and disposing of `Transaction` in a `finally` clause or whatever come from?

[2020-06-25 08:06] mikedamay commented on #1637
I've looked through the Elixir stories in detail and got some inspiration for a couple of other concepts.

In general, I don't find the stories particularly helpful unless they are addressing the same sort of concept as our exercise..

It's the concept-to-language map that would be more help but I appreciate there are other priorities and hitting Elixir has probably covered 80% of the available re

[2020-06-25 08:24] ErikSchierboom commented on #1637
I now have the information needed to do this. I will implement something like this later.

Great.

[2020-06-25 08:54] ErikSchierboom opened #1746 "[C#] strings - add concatenation to introduction"
## Goal

The [`introduction.md` document of the `strings` exercise](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/strings/.docs/introduction.md) does not introduce the syntax needed to concatenate strings, which the student _does_ need to do. An short explanation and syntax example should be added to the `introduction.md` document on how to use the `+` operator or s

[2020-06-25 08:55] ErikSchierboom opened #1747 "[F#] Improve Concept Exercise: strings"
## Goal

The [`introduction.md` document of the `strings` exercise](https://github.com/exercism/v3/blob/master/languages/fsharp/exercises/concept/strings/.docs/introduction.md) does not introduce the syntax needed to concatenate strings, which the student _does_ need to do. An short explanation and syntax example should be added to the `introduction.md` document on how to use the `+` operator or `

[2020-06-25 10:36] mikedamay opened #1749 "[C#] Improve Concept Exercise: randomness"
Review `randomness` exercise to see if the details of the _wizards and warriors_ story can be improved.

[2020-06-25 10:40] mikedamay commented on #1642
closed by PR #1659

[2020-06-25 12:11] mikedamay commented on #1637
@ErikSchierboom  An example of this is in these [instructions](https://github.com/mikedamay/v3/blob/object-initialization/languages/csharp/exercises/concept/object-initialization/.docs/instructions.md) and this [example](https://github.com/mikedamay/v3/blob/object-initialization/languages/csharp/exercises/concept/object-initialization/.meta/Example.cs)

We can add intermediate tasks perhaps:

- Ta

[2020-06-25 12:27] ErikSchierboom commented on #1637
I like that. An alternative could be to have a Task 0 that only initializes the FacialFeatures.

[2020-06-25 12:27] ErikSchierboom commented on #1637
Oh and the story works!

[2020-06-25 16:24] SaschaMann opened #1756 "[CI] Summary of summary suggestions"
Some suggestions regarding the summaries in no particular order. Some of them have been brought up in review comments before but I'm repeating them here to make it easier to find them.

- Automatically request a review from the person who merged the PR that triggered the push event. Otherwise nobody will be notified.
- Create a label `type/auto-generated` for easy filtering
  - Additionally, use a

[2020-06-25 16:26] iHiD commented on #1756
Suggest auto-review from @ErikSchierboom as well.

What does this do?

For this we'd need two bots - one to approve and another to merge.

[2020-06-25 16:36] SaschaMann commented on #1756
Hides them from repo stats and diffs: https://help.github.com/en/github/administering-a-repository/customizing-how-changed-files-appear-on-github

[2020-06-25 17:43] mikedamay commented on #1639
I hope these [instructions](https://github.com/mikedamay/v3/blob/csharp/resource-cleanup/languages/csharp/exercises/concept/resource-cleanup/.docs/instructions.md) and this [code](https://github.com/mikedamay/v3/blob/csharp/resource-cleanup/languages/csharp/exercises/concept/resource-cleanup/.meta/Example.cs) can form the basis of discussion.  There are a number of competing challenges.

[2020-06-26 03:17] #1642 closed

[2020-06-26 06:52] mikedamay commented on #1633
I will give this a go.

[2020-06-26 07:11] ErikSchierboom commented on #1756
These are all nice suggestions. I'll implement them

[2020-06-26 07:45] ErikSchierboom commented on #1639
I really like the instructions. They are very clear on what to do and the flow works nicely. The code for the `Orm` class is excellent. If we have students write that they will definitely have a nice grasp of how to work with `IDisposable`. The `Database` class is quite involved though and, if presented to the student, will give away part of the solution on how to implement `IDisposable`. Did you

[2020-06-26 08:14] ErikSchierboom commented on #1756
See #1759

[2020-06-26 08:16] mikedamay commented on #1016
closed by PR #1691

[2020-06-26 08:16] #1016 closed

[2020-06-26 08:31] mikedamay commented on #1639
The idea was that we would provide the database implementation.  I agree that a disadvantage of this is that it gives away a lot.

We are trying to teach the student 2 things:
1. How to **use** a class that implements `IDisposable` i.e. ensure you have catches and finallys to handle problems.  This will lead into the `resource-lifetime` exercise with the `using` keyword.
2. How to **implement** a

[2020-06-26 08:52] mikedamay commented on #1633
@ErikSchierboom Please give this your consideration when you get a chance.

Instructions are [here](https://github.com/mikedamay/v3/blob/csharp/switch-statements/languages/csharp/exercises/concept/switch-statements/.docs/instructions.md) and some example code is [here](https://github.com/mikedamay/v3/blob/csharp/switch-statements/languages/csharp/exercises/concept/switch-statements/.meta/Example.c

[2020-06-26 09:00] ErikSchierboom commented on #1639
I'm fine with that. We do have to remember that CLI-based students will get to see that class, so anything we can do to make that class as simple as possible sounds like a good idea.

[2020-06-26 09:14] ErikSchierboom commented on #1633
@mikedamay Love the theme and it works nicely!

[2020-06-26 12:42] #1756 closed

[2020-06-26 15:39] TheLostLambda opened #1765 "[Common Lisp] Implement new Concept Exercise: assignment"
This issue describes how to implement the `assignment` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-06-26 16:11] TheLostLambda opened #1766 "[Common Lisp] Implement new Concept Exercise: sets"
This issue describes how to implement the `sets` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-06-26 16:34] #1743 closed

[2020-06-26 17:50] tehsphinx commented on #1626
Yes! You're most welcome to do so!

[2020-06-26 18:33] angelikatyborska opened #1770 "List of "Unimplemented Concepts" includes concepts with implemented exercises"
I noticed a few concepts on the list of "Unimplemented Concepts" in `reference/README.md` that definitely are implemented in at least one language. For example

- `actor_model`, as mentioned in https://github.com/exercism/v3/blob/master/reference/concepts/actor_model.md, is implemented in Elixir (but the Elixir-specific concept is called `processes`)
- `anonymous_functions`, as mentioned in https:

[2020-06-26 19:12] tehsphinx commented on #1703
@oanaOM: Perfect! I merged it.

If you're up for an extension of this task:

From the `config.json` this tree is now being generated: https://v3.exercism.io/go/maintaining/tree.

Since the tools are able to check which exercises in `config.json` are actually implemented and which ones are not, it would be nice if we could already put the entire tree into the `config.json` (even though the exercise

[2020-06-26 19:20] tehsphinx commented on #1703
More notes:
- former "types" is now "basics" exercise... or basics precedes "types"... I'm not sure yet. For now we have removed "types" exercise and replaced it with "basics". We will see if that works.
- "basics" is the first exercise and does not have any prerequisites. Maybe even "comments" should have "basics" as a prerequisite... as we explain very basic things like packages in "basics".

[2020-06-26 19:42] tehsphinx commented on #836
This exercise is put on hold for now.

[2020-06-27 21:58] TheLostLambda opened #1776 "[Common Lisp] Implement new Concept Exercise: characters"
This issue describes how to implement the `characters` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-06-28 08:36] mikedamay commented on #1639
@ErikSchierboom

I have had a scout around the BCL source and have gained some insight (or misunderstood) and I'm not sure whether or not this is news to you as well.  When the docs talk about unmanaged resources in the context of the `IDisposable` pattern they have in mind that the class that implements `IDisposable` and follows the pattern is the class that directly acquires the unmanaged resour

[2020-06-29 05:53] mirkoperillo opened #1779 "[Java] Implement new concept exercise: booleans"
This issue describes how to implement the `booleans` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-06-29 08:19] mikedamay commented on #1138
Please have a look at proposed draft [instructions](https://github.com/mikedamay/v3/blob/csharp/overflow/languages/csharp/exercises/concept/overflow/.docs/instructions.md) and [code](https://github.com/mikedamay/v3/blob/csharp/overflow/languages/csharp/exercises/concept/overflow/.meta/Example.cs).

I'm proposing to move the `checked` concept to the user-defined exceptions exercise.  It is difficul

[2020-06-29 12:10] samuelteixeiras commented on #1779
Except for the video link, the links below are going to a 404 page:

- The features of v3.

- Rationale for v3.

- What are concept exercise and how they are structured?

[2020-06-29 13:20] mirkoperillo commented on #1779
Hi @samuelteixeiras thank you to signal it. Fixed.

Feel free to ask to every question or doubt

[2020-06-30 02:13] mikedamay commented on #1644
Please have a look at my ideas in the [instructions](https://github.com/mikedamay/v3/blob/csharp/time/languages/csharp/exercises/concept/time/.docs/instructions.md) and [code](https://github.com/mikedamay/v3/blob/csharp/time/languages/csharp/exercises/concept/time/.meta/Example.cs).

Timezones give us a cross-site problem.  I have chosen to provide the ids in the instructions as this is a simple a

[2020-06-30 03:36] mikedamay commented on #1017
Please consider the [instructions](https://github.com/mikedamay/v3/blob/csharp/structs/languages/csharp/exercises/concept/structs/.docs/instructions.md) and [code](https://github.com/mikedamay/v3/blob/csharp/structs/languages/csharp/exercises/concept/structs/.meta/Example.cs) for this exercise.

The story depends on speculators claiming plots of land based on their position, shape and dimensions.

[2020-06-30 05:36] mirkoperillo opened #1783 "[Java] Implement new Concept Exercise: arrays"
This issue describes how to implement the `arrays` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-06-30 05:48] mirkoperillo opened #1785 "[Java] Implement new Concept Exercise: classes"
This issue describes how to implement the `classes` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-06-30 05:56] mirkoperillo opened #1786 "[Java] Implement new Concept Exercise: numbers"
This issue describes how to implement the `numbers` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-06-30 07:20] ErikSchierboom commented on #1639
Excellent. Thanks for explaining this!

[2020-06-30 10:41] ErikSchierboom commented on #1644
@mikedamay I really like it!

[2020-06-30 10:42] ErikSchierboom commented on #1017
Excellent work! Really nice exercise.

[2020-06-30 10:46] ErikSchierboom commented on #1138
I'm not sure about this to be honest. To me, the most interesting aspects of overflows are the checked/unchecked semantics. I do agree that the calculator theme might be hard, so maybe we should try to come up with another theme?

[2020-06-30 13:36] mikedamay commented on #1138
I agree.  But, in general, it's very difficult to illustrate both floating point and integers naturally in the same story.  If you're using real numbers then everything significant tends to be real numbers, ditto decimals.  The exception is for truncation.  My TI 58 programmable calculator had a function actually called "int" to do truncation so we could implement that.  Other than that, I'm lost

[2020-06-30 13:44] mikedamay commented on #1128
Closed by PR #1699

[2020-06-30 13:44] #1128 closed

[2020-06-30 13:54] ErikSchierboom commented on #1138
Maybe we could ask for inspiration on the #v3 channel?

[2020-06-30 14:28] mikedamay opened #1794 "[C#] Improve Concept Exercise: time"
Run tests on Linux and ensure they pass

Run showlocaltime test when daylight saving time is not active.

[2020-06-30 14:57] mikedamay commented on #1138
Will do.  I didn't want to too readily abuse the v3 channel's goodwill after our great success with `structs`.

[2020-06-30 15:07] ErikSchierboom commented on #1138
Hah. I could also post it there is you'd like?

[2020-06-30 21:04] TheLostLambda opened #1799 "[Common Lisp] Implement new Concept Exercise: `structures`"
This issue describes how to implement the `structures` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-07-01 04:51] mikedamay opened #1804 "[C#] Improve Concept Exercise: datetimes"
DateTmesTests.cs rely on a supposed `UseCultureAttribute` provided by _Xunit_ to ensure that the US culture is used in tests.  This doesn't appear to be a thing in the latest xunit.  Broken links and general sadness.  [This](https://github.com/xunit/xunit/issues/1605) delves into the state of affairs.

We will have done something to address this in the `time` exercise.

In fact the following did t

[2020-07-01 05:13] mikedamay commented on #1138
That's a  good idea.  Thanks.  I suspect my negativity would have come across.

[2020-07-01 07:06] ErikSchierboom commented on #1138
Done!

[2020-07-01 12:12] mikedamay commented on #1637
closed by PR #1775

[2020-07-01 12:12] #1637 closed

[2020-07-01 13:49] ErikSchierboom commented on #1804
We implement that attribute ourselves at the bottom of the file: https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/datetimes/DateTimesTests.cs#L162 BUt I agree that your solution is simpler and thus preferrable.

[2020-07-02 04:35] mikedamay commented on #1804
@ErikSchierboom

Do we want to close this issue or modify DateTimesTests.cs?

I don't think it can be classed as a "good first issue" any more.

[2020-07-02 06:01] mikedamay commented on #962
Please have a look at the [instructions](https://github.com/mikedamay/v3/blob/csharp/string-formatting/languages/csharp/exercises/concept/string-formatting/.docs/instructions.md).

This is based on _Elixir's_ `strings` exercise.

Tasks 1 and 3 push towards string interpolation.

Task 2 pushes towards `string.Format()` and verbatim strings.

[2020-07-02 07:13] ErikSchierboom commented on #1138
@mikedamay Some ideas have been posted in [this thread on Slack](https://exercism-team.slack.com/archives/CR91YFNG3/p1593587160122600). Personally, I think the hyperinflation story might be nice.

[2020-07-02 07:23] mikedamay commented on #1138
Agreed we can have notes in integer amounts and GDP in floats.  In reality of course as hyperinflation hits you get very poor, very quickly and probably stop measuring GDP anyway but I think we can get away with it :-).

[2020-07-02 07:24] ErikSchierboom commented on #1804
I would prefer modifying the `DataTimesTests.cs` file to use your solution.

It isn't? I think adding the constructor code and removing the existing `UseCultureAttribute` is something that is easy to do for someone, or do you disagree?

[2020-07-02 07:25] ErikSchierboom commented on #962
Yes, I like it! 👍

[2020-07-02 10:56] mikedamay opened #1810 "[C#] Outstanding exercises for introductory track"
There are some outstanding areas in putting together a basic set of 40 or so introductory exercises.  Assuming others are on board with the idea of having an viable introductory set of exercises we should start thinking about them now.

Firstly, basic exercises whose issues have been assigned and have not been active for a while:

- Interfaces - PR #1472
- Signed Integers- Issue #780
- Exceptions

[2020-07-02 11:08] mikedamay opened #1811 "[C#] datetimes - replace custom culture attribute in tests with constructor"
_DateTmesTests.cs_ currently uses `UseCultureAttribute` to ensure that the US culture is used in tests.  This attribute is  implemented in _DateTimesTests.cs_.  On reflection, it is simpler to handle this in the constructor.

Please remove the attribute usage and implementation from _DateTiimeTests.cs_ and add a constructor, as below.

[code]

[2020-07-02 11:12] mikedamay commented on #1804
I have replaced this with #1811.

My thinking was that if I was new on the project and picked up an issue where the OP was under a misapprehension about the problem and the original developer had not been explicit about the proposed resolution I would give it a wide birth.

[2020-07-02 11:12] #1804 closed

[2020-07-02 11:36] ErikSchierboom commented on #1804
The new issue is better 👍

[2020-07-02 20:33] verdammelt commented on #1322
On and off I've been thinking about this exercise and I am having a
problem coming up with how we can write an exercise for this.

It seems like we'd need to have the student write functions which use
`eq` etc.. But those functions seem like they would be little more
than a call to one of the equality functions.

Perhaps the problem I am having is thinking of a 'story' as to why the
student must d

[2020-07-03 07:30] mikedamay commented on #1644
closed by #1805

[2020-07-03 07:30] #1644 closed

[2020-07-03 07:33] mikedamay commented on #1639
closed by #1778

[2020-07-03 07:33] #1639 closed

[2020-07-03 08:57] ErikSchierboom commented on #1810
The `exceptions` PR has seen activity over the last days, so that will be added relatively soon. The `lists` one can be forked from F# I think.

I'll get in contact with Jeremy on this.

The main problem with namespaces is coming up with something interesting I feel. We can have students create classes in multiple namespaces, but I feel that we probably need to combine this with another concept to

[2020-07-03 09:15] mikedamay commented on #1810
Students are doing that quite a lot - with collections etc.

I thought about combining namespaces with nested types.  But, I think it just doubles the problem.

I thought about having classes with the same name that do something... but what and why?

The only thing I have used them for when mentoring is to suggest that mentees stick their extra tests in a namespace on the main submitted file.

I'm

[2020-07-03 09:39] ErikSchierboom commented on #1810
But don't we already include those namespaces in the stub to have it compile? If so, the student won't have added them by themselves.

Yeah, I'm not a fan of this combination. It will probably be quite confusing to the student.

Ehm, tough one. I could imagine having a legacy and non-legacy version of a class, but I can't imagine an exercise for that.

Me neither. I don't think we can get away wit

[2020-07-03 09:48] mikedamay commented on #1810
Not when the collection is an Implementation detail such as in the equality exercise.  I hope we can avoid making custom namespaces a prerequisite for that and any others that don't expose the collection.  I sort of thought/hoped `using` might have been covered in basics.

[2020-07-03 09:50] ErikSchierboom commented on #1810
It wasn't, as that `introduction.md` is already quite a bit one.

[2020-07-03 11:04] SaschaMann opened #1817 "references/README is missing concepts in exercise list"
https://github.com/exercism/v3/tree/master/reference#implemented-concepts is missing concepts that do not have a doc file. It may still be a good idea to list the exercises anyway.

For example, unicode-identifiers has an exercise but is missing from the list.

[2020-07-03 11:06] TheLostLambda commented on #1322
I know what you mean, this is a tricky one. I think that the 'koans' style might work well, so perhaps the stub file could be a function like:
[code]
Then the student just fills in the proper function to make each statement valid, like:
[code]

If the filled-in operator is wrong, the test-runner can catch that panic.

The biggest issue with this is (though I think this always applied to this exerc

[2020-07-03 11:24] mikedamay commented on #1633
closed by #1777

[2020-07-03 11:24] #1633 closed

[2020-07-03 11:52] ErikSchierboom commented on #1817
Ah right. Good catch!

[2020-07-03 12:24] verdammelt commented on #1322
Yeah, that is a very good point. I had only been thinking about the
issue of `eq` and how we can't test for how it handles numbers and
characters... but in fact the student could just use `equalp` for any
test we give them and it would work, unless we are careful to provide
tests which would fail when given too permissive a predicate.

Last time I looked I don't think any other track had an
equali

[2020-07-03 13:54] ErikSchierboom commented on #1810
I've had a chat with Jeremy, and we both agree that concept exercises can be refactoring exercises. There are two things we need to be careful about with refactoring exercises:

1. Complexity. We shouldn't have these major files that require refactoring, which is one of the issues with the existing v2 refactoring exercises.
1. Make the exercises interesting enough. Usually refactorings are relativ

[2020-07-03 15:49] TheLostLambda commented on #1322
Hmm, I've done some thinking on this and I think it would be good to keep this concept as I believe "sameness" in Common Lisp is probably more complex than any other language I've come across.

With that in mind, I've devised a way to shift the checking back to the test-suite (for the most part) and add a story. The brief sketch of the story could be:

You've designed a maze-solving robot, but it'

[2020-07-03 16:47] verdammelt commented on #1322
Oh this is BRILLIANT! I love it.

The only thing I worry about is that the macros and backquoting may be too confusing to show to the student especially if we keep this as an earlier concept exercise. But maybe we can use just plain functions?

Now that you've unlocked (pun at least partially intended) this idea would you mind letting me give a go at putting together this exercise? Or do you want

[2020-07-03 16:54] TheLostLambda commented on #1322
Glad you like it!

And feel free to give it a swing! I've had a bit of a busy week and have been moving a bit slow, but we should have 20 GitHub issues soon! I'll focus on getting there so we have loads to do for the Markathon!

As for the macros and back-quoting, I was just planning on "hiding" them in the test file and using the simplified comments in the stub-file to present the maze, but funct

[2020-07-03 18:32] TheLostLambda opened #1819 "[Common Lisp] Implement new Concept Exercise: hash-tables"
This issue describes how to implement the `hash-tables` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-07-03 19:37] wneumann commented on #1665
PR added, pending review.

[2020-07-03 19:37] wneumann commented on #1667
PR added, pending review.

[2020-07-04 15:28] wneumann commented on #1670
Note that this will need to come before many others in the progression where the stories make more sense using inout functions. It should probably lie between basics and most other exercises.

[2020-07-04 15:48] #1810 closed

[2020-07-04 17:05] TheLostLambda opened #1827 "[Common Lisp] Implement new Concept Exercise: multiple-values"
This issue describes how to implement the `multiple-values` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2020-07-04 19:20] TheLostLambda opened #1828 "[Common Lisp] Implement new Concept Exercise: code-as-data"
This issue describes how to implement the `code-as-data` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following do

[2020-07-05 11:31] oanaOM commented on #1626
Great! I've open a new PR #1832 for this.

[2020-07-06 14:12] TheLostLambda opened #1834 "[Common Lisp] Implement new Concept Exercise: destructuring-assignment"
This issue describes how to implement the `destructuring-assignment` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the

[2020-07-06 21:00] SaschaMann opened #1837 "[CI] /format should delete the /format comment if the comment contains no text other than "/format""

[2020-07-06 21:26] samuelteixeiras commented on #1783
Hi, I will start the implementation of this Concept.

[2020-07-07 01:57] jamessouth commented on #835
Hello! I'm not a pro yet, I am still looking for my first web dev job, but I have [built a project](https://github.com/jamessouth/clean-tablet) with Go and I have completed [67 problems on the Go track](https://exercism.io/profiles/jamessouth). I know these concepts. Are `nil` and these others still available?

Thank you :)

[2020-07-07 04:58] mirkoperillo commented on #1783
Hi @samuelteixeiras good
Thank you for your help

I suggest to start from the C# version and take it as a blueprint
https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/arrays

Feel free to ask for every doubt.

[2020-07-07 06:53] mikedamay commented on #34
Can we include `readonly` structs and members in this exercise.

[2020-07-07 07:16] ErikSchierboom commented on #34
@mikedamay This is not an exercise but a reference document. Something like https://github.com/exercism/v3/blob/master/languages/csharp/docs/code_style.md or https://github.com/exercism/v3/blob/master/languages/csharp/docs/memory_allocation.md, which are contents we can use in exercises. Originally, we considered linking to these documents, but just including their contents in the exercise might b

[2020-07-07 07:52] mikedamay opened #1846 "[C#] structs - ensure exercise compiles when first downloaded."
Currently we ask the student to implement the `Plot` struct in this exercise.  Because of this the code provided by the CLI (Structs.cs, Structs.csproj, StructsTests.cs) will not compile.

Please replace calls to `new Plot(...)` with a `CreatePlot()` method and use reflection to call the constructor if an appropriate one is present otherwise throw an `InvalidOperationException`.

This should enabl

[2020-07-07 08:04] mikedamay opened #1847 "[C#] structs - add credits"
Add contributor credits for John Ruble and efx slack users to .meta/config.json

[2020-07-07 08:05] mikedamay opened #1848 "[<LANG>] Improve Concept Exercise: <SLUG>"
Add contributor credits for John Ruble and efx slack users to .meta/config.json

[2020-07-07 08:06] mikedamay commented on #1848
duplicate

[2020-07-07 08:06] #1848 closed

[2020-07-07 08:51] ErikSchierboom opened #1849 "[Python] Improve Concept Exercise: strings (specify function to implement)"
The tasks in the `strings` exercise's [instructions](https://github.com/exercism/v3/blob/master/languages/python/exercises/concept/strings/.docs/instructions.md#1-extract-a-message-from-a-log-line) all mention something like:

These should be made more specific, like:

[2020-07-07 08:56] ErikSchierboom opened #1850 "[Python] Improve Concept Exercise: strings (order of functions in the stub)"
The order of the functions in the `strings` exercise's [stub file](https://github.com/exercism/v3/blob/master/languages/python/exercises/concept/strings/strings.py) does not match the order of the tasks in the [instructions](https://github.com/exercism/v3/blob/master/languages/python/exercises/concept/strings/.docs/instructions.md). Please order the functions in the stub to match the ordering of t

[2020-07-07 12:58] iHiD opened #1852 "Fix lasasgna"
_**Note: This is a good first issue for someone wanting to get into the codebase. Everyone else leave it alone pls :)**_

`lasasgna` is misspelt in a few places and could do with fixing.

[2020-07-07 13:07] tehsphinx commented on #835
This one is still available, yes. I'd be awesome if you would take a shot at it.

I'll assign you, @jamessouth.

[2020-07-07 22:38] #1852 closed

[2020-07-08 14:31] mikedamay commented on #1142
closed by PR #1860

[2020-07-08 14:31] #1142 closed

[2020-07-08 14:39] mikedamay opened #1863 "[C#] numbers - add a concept to cover the casting that is included."
Add a concept of `casting-numbers` to the `numbers` exercise _design.md_, _introduction.md_ and _after.md_.  No code or instructions change is required.

Alternatively, add concept of `casting` to numbers and change the name of the `casting` concept/exercise to `type-conversion`.

[2020-07-08 15:46] mirkoperillo opened #1864 "[Java] Implement new Concept Exercise: constructors"
This issue describes how to implement the `constructors` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2020-07-09 03:41] mikedamay commented on #1017
Closed by PR #1857

[2020-07-09 03:41] #1017 closed

[2020-07-09 05:23] mirkoperillo opened #1868 "[Java] Implement new Concept Exercise: conditionals-if"
This issue describes how to implement the `conditionals-if` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-07-09 05:26] mirkoperillo opened #1869 "[Java] Implement new Concept Exercise: conditionals-ternary"
This issue describes how to implement the `conditionals-ternary` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following d

[2020-07-09 05:34] mirkoperillo opened #1870 "[Java] Implement new Concept Exercise: interfaces"
This issue describes how to implement the `interfaces` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-07-09 07:53] ErikSchierboom opened #1872 "[Go] Improve Concept Exercise: errors"
The `errors` exercise currently has as one of its concepts the `basics` concept: https://github.com/exercism/v3/blob/master/languages/go/config.json#L28

[code]

This concept should actually be a prerequisite.

CC @exercism/go

[2020-07-09 08:43] mikedamay commented on #1145
@ErikSchierboom This a first go at a refactoring exercise.  You will recognize it.

Please have a look at [ExpressionBodiedMembers.cs](https://github.com/mikedamay/v3/blob/csharp/expression-bodied-members/languages/csharp/exercises/concept/expression-bodied-members/ExpressionBodiedMembers.cs) - the starting point, [`Example.cs`](https://github.com/mikedamay/v3/blob/csharp/expression-bodied-members

[2020-07-09 08:50] mikedamay commented on #34
copied my comment to the const exercise.

[2020-07-09 08:51] mikedamay commented on #1044
Can we include readonly structs and members in this exercise.

[2020-07-09 11:09] #1817 closed

[2020-07-09 12:20] mikedamay commented on #1712
Idea for operator-overloading (no refactoring required).  Please have a look at [_instructions.md_]https://github.com/mikedamay/v3/blob/operator-overloading/languages/csharp/exercises/concept/operator-overloading/.docs/instructions.md() and [_Example.cs_](https://github.com/mikedamay/v3/blob/operator-overloading/languages/csharp/exercises/concept/operator-overloading/.meta/Example.cs).

[2020-07-09 12:26] mikedamay commented on #1127
Perhaps we could start with a nested type situation and then refactor that to use a namespace instead.

[2020-07-09 13:01] ErikSchierboom commented on #1145
I do recognize it: `space-age`. What comments are you looking for? On this actual exercise or on the idea of the refactoring exercise?

[2020-07-09 13:27] mikedamay commented on #1145
Do you think this will work as an exercise?

[2020-07-09 13:31] ErikSchierboom commented on #1145
I'm not sure. There are some things I'm not sure about. My biggest concern is that this is an extremely trivial exercise, especially if one uses an IDE that does refactoring. Maybe paring it with another concept could help with that (not sure which concept that is). Maybe something expression related, like the ternary operator or `switch` expressions.

Regarding the actual expression-bodied member

[2020-07-09 13:35] #1850 closed

[2020-07-09 13:35] mikedamay commented on #1145
I'll take that as a no.

I think ternary would go well.  I will add a property to something else and a failing use case.

Not so keen on constructors.  Side-effects don's seem to be in the spirit of expression-bodied-anything.  But, that could be just  me.

[2020-07-09 13:35] mikedamay commented on #1145
Thanks for the input

[2020-07-09 13:44] ErikSchierboom commented on #1145
I understand this reasoning. I personally like using expression-bodies whenever I can, including `void` methods. But maybe that's also just me :) As long as we're mentioning that you _can_ use them in a constructor, I'm fine with not having them in the example.

P.S. Were you intending to use the `space-age` exercise? The idea for the Concept Exercises is for them to be newly designed, so that wou

[2020-07-09 16:17] mikedamay commented on #1635
Will combine with #1145 Expression Bodied Members

[2020-07-09 16:37] #1742 closed

[2020-07-10 07:55] #1872 closed

[2020-07-10 11:09] biancapower opened #1882 "[Ruby] Implement new Concept Exercise: case-statement"
This issue describes how to implement the `case-statement` concept exercise for the Ruby track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-07-10 12:54] SleeplessByte opened #1883 "[JavaScript] Improve Concept Exercise: nullability"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md).
- [Rationa

[2020-07-10 13:29] SleeplessByte opened #1884 "[JavaScript] Improve Concept Exercise: recursion"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md).
- [Rationa

[2020-07-10 13:33] SleeplessByte commented on #1458
@rishiosaur any more questions after my last message?

[2020-07-10 14:08] SleeplessByte opened #1890 "[JavaScript] Implement new Concept Exercise: closures"
This issue describes how to implement the `closures` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docum

[2020-07-10 14:10] SleeplessByte commented on #1300
Thank you @peterchu999 for taking care of this.

[2020-07-10 14:10] #1300 closed

[2020-07-10 14:10] SleeplessByte commented on #1299
Thank you @rishiosaur for taking care of it (and thank you @peterchu999 for the additional changes).

[2020-07-10 14:10] #1299 closed

[2020-07-10 14:12] SleeplessByte commented on #1325
@rishiosaur how's this going :) ? Need help?

[2020-07-10 14:46] SleeplessByte opened #1891 "[JavaScript] Implement new Concept Exercise: type-checking"
This issue describes how to implement the `type-checking` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2020-07-10 15:13] SleeplessByte opened #1892 "[JavaScript] Implement new Concept Exercise: type-conversion"
This issue describes how to implement the `type-conversion` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the followin

[2020-07-10 15:23] SleeplessByte opened #1893 "[JavaScript] Implement new Concept Exercise: array-destructuring"
This issue describes how to implement the `array-destructuring` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the foll

[2020-07-10 15:31] SleeplessByte opened #1894 "[JavaScript] Implement new Concept Exercise: object-destructuring"
This issue describes how to implement the `object-destructuring` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the fol

[2020-07-10 15:36] SleeplessByte opened #1895 "[JavaScript] Implement new Concept Exercise: array-loops"
This issue describes how to implement the `array-loops` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following do

[2020-07-10 15:40] SleeplessByte opened #1896 "[JavaScript] Implement new Concept Exercise: array-transformations"
This issue describes how to implement the `array-transformations` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the fo

[2020-07-10 15:47] SleeplessByte opened #1897 "[JavaScript] Implement new Concept Exercise: errors"
This issue describes how to implement the `errors` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-07-10 17:44] rishiosaur commented on #1893
I'd like to work on this.

[2020-07-10 17:44] rishiosaur commented on #1894
I'd like to work on this.

[2020-07-10 17:47] rishiosaur commented on #1894
TODO:

- [ ] Using destructuring to get a property

- [ ] Using destructuring to get a nested property

- [ ] Using destructurng to get multiple properties (object pattern shorthand)

- [ ] Using destructuring to rename properties

- [ ] Using destructuring + rest properties to extract a property, and put the rest of the properties in a new name (after.md: React has the pattern ...otherProps to pa

[2020-07-10 17:48] rishiosaur commented on #1893
TODO:

- [ ] Using destructuring to get the first item of an array
- [ ] Using destructuring to get the second item of an array (skip hole)
- [ ] Using destructuring + rest elements to get the last item of an array
- [ ] Using destructuring to get the first two items of an array
- [ ] Using destructuring + rest elements to get the head and tail of an array
- [ ] Using spread to turn an array into

[2020-07-10 18:27] rishiosaur opened #1899 "[JavaScript] Add scaffolder"
For the upcoming Markathon, I think it'd be worth it to create a node program that makes a concept exercise from a slug. I'll get on this soon. PR soon!

[2020-07-10 19:24] rishiosaur commented on #1895
I'd like to work on this

[2020-07-10 23:09] BethanyG commented on #1030
@DavidGerva  - looking at this again for the markathon, I am not sure we want to cover all the comparison operators at the same time we're introducing `bool`.  Suggest we also make separate concept exercise issues for  comparison,   logic, and membership operators...or think through how we group them.....oof.

[2020-07-10 23:17] #1899 closed

[2020-07-11 03:12] biancapower opened #1902 "[Ruby] Implement new Concept Exercise: inheritance"
This issue describes how to implement the `inheritance` concept exercise for the Ruby track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-07-11 03:26] biancapower opened #1903 "[Ruby] Implement new Concept Exercise: conditionals-ternary"
This issue describes how to implement the `conditionals-ternary` concept exercise for the Ruby track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following d

[2020-07-11 04:15] biancapower opened #1904 "[Ruby] Implement new Concept Exercise: booleans"
This issue describes how to implement the `booleans` concept exercise for the Ruby track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-07-11 06:19] #1097 closed

[2020-07-11 10:02] ghost opened #1909 "[v3] Wanted to join but see some problems"
Hello,

I m be asked by the Pharo language team to investigate if and how Pharo can be a part of the new version. The biggest problem is that Pharo langauge is a image based language where the ide is a part of the language. So I think we need to discuss if and how to make this work with browser coding and if there is a way this can work

@iHiD

[2020-07-11 10:10] biancapower commented on #1904
Assigned myself to implement this.

[2020-07-11 11:38] iHiD commented on #1909
In-browser coding isn't a compulsory requirement, and for Phara, from what I understand, it's an unachievable goal. So we'll have to do without.

So the main priority would starting to be building out Concept Exercises.

[2020-07-11 11:49] biancapower opened #1911 "[Ruby] Implement new Concept Exercise: constants"
This issue describes how to implement the `constants` concept exercise for the Ruby track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-07-11 12:14] biancapower opened #1914 "[Ruby] Implement new Concept Exercise: regular-expressions"
This issue describes how to implement the `regular-expressions` concept exercise for the Ruby track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following do

[2020-07-11 12:53] biancapower opened #1918 "[Ruby] Implement new Concept Exercise: nil"
This issue describes how to implement the `nil` concept exercise for the Ruby track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The

[2020-07-11 12:57] oanaOM opened #1919 "[Go] Implement new Concept Exercise: constants"
This issue describes how to implement the `constants` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-07-11 13:39] mikedamay commented on #1638
closed by PR #1858

[2020-07-11 13:39] #1638 closed

[2020-07-11 13:52] rishiosaur commented on #1895
I don't think `while` should be put in this exercise—it doesn't seem right for this kind of thing.

[2020-07-11 14:04] ErikSchierboom commented on #1127
Yep, that could work!

[2020-07-11 14:20] wolf99 opened #1924 "[C] Implement new Concept Exercise: basics"
This issue describes how to implement the `<SLUG>` concept exercise for the <LANG> track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-07-11 14:28] oanaOM commented on #843
Everything seems to be done here.

[2020-07-11 14:28] #843 closed

[2020-07-11 15:03] oanaOM opened #1925 "[Go] Implement new Concept Exercise: time"
This issue describes how to implement the time concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The fe

[2020-07-11 15:29] SleeplessByte commented on #1895
Yeah that's fine. While loops can be a loop exercise.

[2020-07-11 15:59] jamessouth commented on #1919
would this one include `iota`?

[2020-07-11 16:05] ErikSchierboom commented on #1894
@SleeplessByte I'd have the exercise be named after the _primary_ concept (which looks to be `object-destructuring`) and have it unlock two concepts: `object-destructuring` and `rest-properties`.

[2020-07-11 16:07] ErikSchierboom commented on #1893
@SleeplessByte I'd have the exercise be named after the primary concept (which looks to be `array-destructuring`) and have it unlock three concepts: `array-destructuring`, `spread-elements` and `rest-elements`

[2020-07-11 16:08] jamessouth commented on #1925
I can take this one

[2020-07-11 16:33] oanaOM commented on #1925
awesome! All yours @jamessouth

[2020-07-11 17:15] SleeplessByte commented on #1894
Perfect.

[2020-07-11 17:27] RoelofWobben commented on #1909
maybe I can work

As far as I understand it , submit, fetch an exercise and fetch the md file are "just"  api calls.  I or the other maintainer could make code to make that call. And I know that a image can be booted from prompt in linux. So maybe it can work if the code and the test are done with the Pharo IDE but the rest could be done with api calls

[2020-07-11 17:27] RoelofWobben commented on #1909
@ErikSchierboom

[2020-07-11 17:55] ErikSchierboom commented on #1909
I don't know. This is really a hard problem.

I would also like to emphasize that building Concept Exercises is probably more important than getting the in-browser coding working, especially with Pharo's unique IDE.

[2020-07-11 18:17] RoelofWobben commented on #1909
Oke, then can I work in the same repo as v2 or maybe clone the v3  repo to my own and work from that
@ErikSchierboom

[2020-07-11 19:12] ErikSchierboom commented on #1909
Yeah that could definitely work. Whichever you prefer.

[2020-07-11 19:20] #848 closed

[2020-07-11 19:25] yyyc514 commented on #1896
I'd like to try working on this.

[2020-07-11 19:55] RoelofWobben commented on #1909
oke, then I think I will make a seperate solution so I can test things alone.
Is there then a repo where a sort of mock up is for a exercise or a v3 repo which I can use

[2020-07-11 20:28] neenjaw commented on #1030
OOC, where does this exercise appear in the track such that boolean may not have been touched upon but can have a learning objective that it is the result of an `in` membership expression with a collection?

For perspective, I'd be interested in porting the Elixir boolean exercise (pac-man game state rules) to this.

[2020-07-11 20:31] oanaOM commented on #1919
I would say yes. @tehsphinx what do you think?

[2020-07-11 20:50] neenjaw commented on #1918
@biancapower do you think I could help with this exercise?

I would like to port over [elixir's `nil` exercise](https://github.com/exercism/v3/tree/master/languages/elixir/exercises/concept/nil)

[2020-07-11 21:40] jamessouth commented on #1925
I want to note that this is apparently the first Go topic so far that is not a basic built-in concept like conditionals. It is not the first to use methods imported from outside packages (for instance, the `strings` Concept imports from the `strings` package), so I think for now I will assume the student, having reached the `time` (or other precursor) Concept, can:
- read the docs to find what the

[2020-07-11 22:31] biancapower commented on #1918
@neenjaw please do!

[2020-07-12 12:27] tehsphinx commented on #1919
Yes, I agree. That is a good idea!

[2020-07-12 12:32] tehsphinx commented on #1919
Note that this is also about the restrictions of constants. e.g a `map` cannot be a `const` as it is a mutable type and Go does not really have a concept of immutability.

@jamessouth: do you want to take a shot at this?

[2020-07-12 20:47] yyyc514 commented on #1893
Is there a recommended story for this one?

[2020-07-13 01:56] wneumann commented on #1668
[PR Added](https://github.com/exercism/v3/pull/1961)

[2020-07-13 01:57] wneumann commented on #1670
[PR added](https://github.com/exercism/v3/pull/1941). Awaiting review.

[2020-07-13 03:07] InfiniteVerma commented on #1849
I'd like to work on this.

[2020-07-13 05:48] mirkoperillo opened #1963 "[Java] Implement new Concept Exercise: switch-statement"
This issue describes how to implement the `case-statement` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-07-13 05:57] mirkoperillo opened #1964 "[Java] Implement new Concept Exercise: chars"
This issue describes how to implement the `chars` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-07-13 06:18] jamessouth commented on #1925
I'm adapting this from the csharp datetime CE, which I think will cover the objectives listed above, but not the Go `time.Duration` type. Should it? Or leave for a later `time` CE, which might also cover timers/tickers, stop, etc., and time zones/location, which is o/o scope for this one?

[2020-07-13 09:09] mikedamay opened #1967 "[C#] nested-types - enable compilation "out of the box""
Currently, the tests can't compile because the Telemetry inner class does not exist.  Change tests to use reflection so that the project will  build.

[2020-07-13 14:22] mikedamay opened #1968 "[C#] many and various exercises - add cross references"
The C# exercise documentation has many cross-references (identified by (TODO cross-ref-tba)).  These will need to be turned into actual references or links once we see what the site looks like.

In addition, there are many cross-references in older exercises that are not so easily identifiable which will need revisiting in a similar way.

[2020-07-13 14:39] efx opened #1971 "create remaining concept exercise issues"
### goal
We need to create concept exercise issues for the remaining concepts listed in the reference [README](https://github.com/exercism/v3/tree/67ba9d2d870dc87eb76a28c83b62914cac8b6838/languages/rust/reference).

This issue is a meta-issue. It will defer the specifics to each concept exercise issue. We can close this once we create concept exercise issues for all declared concepts in the README

[2020-07-13 14:46] efx opened #1972 "improve reference documentation"
### goal
We have started linking to official Rust and Exercism Concept documentatation in the Rust track's [README](https://github.com/exercism/v3/tree/67ba9d2d870dc87eb76a28c83b62914cac8b6838/languages/rust/reference). We need to gradually curate that document with the appropriate links.

- Find references in The Rust Book to as many of the concepts above as possible; link them, replacing Exercis

[2020-07-13 14:47] efx commented on #1972
@ErikSchierboom or @iHiD could you confirm other tracks are doing this too / this is something we should eventually do? We had these embedded in our README and I have migrated them here to a standalone issue.

[2020-07-13 16:52] iHiD commented on #1972
The aim is not to link to any of those reference documents (as they will disappear in the future). The hope is that those reference documents provide useful commentary for the `after.md` files, or contain links that tracks can link to in the `after.md` documents.

We will be hosting reference documentation, but we haven't got a formal space for that yet. If you create a folder in the rust v3 track

[2020-07-14 07:48] ErikSchierboom commented on #1972
I'd also add that reference document is probably the more exceptional case, when no existing document can be found that suffices.

[2020-07-14 07:54] ErikSchierboom opened #1976 "[CI] Don't check max-file-size for auto-generated JSON files"
The CI bot creates three auto-generated JSON files:

- `languages/languages.json`
- `references/references.json`
- `references/stories/stories.json`

The first of these files currently exceeds the max-file-size limit we imposed: https://github.com/exercism/v3/pull/1975/checks?check_run_id=868333040 We should exclude these three files from the check.

[2020-07-14 07:57] ErikSchierboom opened #1977 "[CI] Fix invalid links in languages/README.md file"
The `languages/README.md` file is auto-generated based on the contents of the `config.json` files of the various tracks. The Go track has defined a set of concept exercises in its `config.json` file for which no actual exercises exist. This leads to invalid markdown links and the build failing: https://github.com/exercism/v3/runs/868333086?check_suite_focus=true We should fix this.

[2020-07-14 08:00] ErikSchierboom commented on #1909
You mean a version of the v3 website?

[2020-07-14 08:01] ErikSchierboom commented on #1849
@InfiniteVerma I've assigned you to the issue!

[2020-07-14 08:26] ErikSchierboom commented on #1893
No idea. @SleeplessByte?

[2020-07-14 08:28] RoelofWobben commented on #1909
no, I mean a repo where the new structure of a exercise is shown so I can use it.

[2020-07-14 08:54] ErikSchierboom commented on #1909
Right. You can find a general description of what the structure looks like here: https://github.com/exercism/v3/blob/master/docs/maintainers/generic-how-to-implement-a-concept-exercise.md

Individual tracks will add language-specific files (stub, example, tests, possibly more) to their exercises too, but that is dependent on the language. For an example of a fully-implemented exercise, see https:/

[2020-07-14 09:00] RoelofWobben commented on #1909
Thanks, it will take more time then I thought. As far as I see it now we have to rewrite a lot of code to make it the output the v3 wants.

[2020-07-14 09:57] SleeplessByte commented on #1893
All array exercises should probably be the same magician thing :paintbrush:

[2020-07-14 10:08] ErikSchierboom commented on #1909
Good luck with it!

[2020-07-14 10:25] mikedamay opened #1979 "[C#] basics add description of @ prefix"
Extend the discussion of identifiers in _after.md_ with a brief description of and reference to the @ prefix.  This is a good reference:https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/identifier-names.

[2020-07-14 10:29] SaschaMann commented on #1976
Since they're only used for storage, it may also be a good idea to push them via lfs or to a separate repo (where they're automerged and nobody has access) in case they're expected to grow too large eventually. (cc @iHiD)