[2020-02-18 10:52] nathanchere opened #733 "[Elixir] Extract Concepts from v2 exercise: beer-song"
Extract the list of concepts required to solve the v2 Elixir exercise: `beer-song`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/elixir/exercises/beer-song/solutions`). The goal of this task is to help determine the total list of concepts that make

[2020-02-18 10:54] nathanchere opened #734 "[Elixir] Extract Concepts from v2 exercise: zipper"
Extract the list of concepts required to solve the v2 Elixir exercise: `zipper`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/elixir/exercises/zipper/solutions`). The goal of this task is to help determine the total list of concepts that make up `zi

[2020-02-18 10:54] nathanchere opened #735 "[Elixir] Extract Concepts from v2 exercise: forth"
Extract the list of concepts required to solve the v2 Elixir exercise: `forth`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/elixir/exercises/forth/solutions`). The goal of this task is to help determine the total list of concepts that make up `fort

[2020-02-18 10:57] nathanchere opened #736 "[Elixir] Extract Concepts from v2 exercise: markdown"
Extract the list of concepts required to solve the v2 Elixir exercise: `markdown`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/elixir/exercises/markdown/solutions`). The goal of this task is to help determine the total list of concepts that make up

[2020-02-18 10:57] nathanchere opened #737 "[Elixir] Extract Concepts from v2 exercise: bowling"
Extract the list of concepts required to solve the v2 Elixir exercise: `bowling`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/elixir/exercises/bowling/solutions`). The goal of this task is to help determine the total list of concepts that make up `

[2020-02-18 11:17] porkostomus commented on #730
It sure does look like a lot! For a comparison I just went through the [Clojurescript Koans section on functions](http://clojurescriptkoans.com/#functions/1), which covers a good chunk of that, and it took around 10 minutes.

But you're right, we can definitely give a better treatment by refining this further.
Variadic and multi-arity functions ought to have their own exercise. So should partial.

[2020-02-18 11:31] ErikSchierboom commented on #730
Yep, totally agree with everything you said! 👍

[2020-02-18 11:55] iHiD commented on #695
@tehsphinx So you might end up with a single starting node, but then a dozen layer-2 nodes, each with spawn their own trees, many (most?) of which will overlap later, but some (e.g. more advanced number exercises) which may never be a prerequiste of another exercise outside of that subtree.

That said, I'm not sure what the problem we're trying to solve here is. I don't think it matters whether we

[2020-02-18 13:41] MarkusReynolds1989 commented on #546
Hey I was letting this rest for a little while, if we are more settled I'll go ahead and clear the pull I already made, and add in a draft pull of a new solution to this. I think at this point we can pretty much kill the last one I did as it doesn't really fit into what we discussed here.
I can start working on the new version as early as today.

[2020-02-18 13:45] MarkusReynolds1989 commented on #33
Are we ready for me to write a new version of this based on what we discussed?

[2020-02-18 13:57] ErikSchierboom commented on #33
I think so. Are the above comments clear?

[2020-02-18 13:57] ErikSchierboom commented on #546
That would be great! And I think it would indeed be best to start over.

[2020-02-18 20:26] #603 closed

[2020-02-18 21:35] #606 closed

[2020-02-19 08:23] ceddlyburge opened #742 "[Elm] Extract Concepts from v2 exercise: raindrops"
Extract the list of concepts required to solve the v2 Elm exercise: `raindrops`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/Elm/exercises/raindrops/solutions`). The goal of this task is to help determine the total list of concepts that make up `ra

[2020-02-19 11:30] tehsphinx commented on #695
@iHiD sounds good to me. From https://github.com/exercism/v3/issues/695#issuecomment-586624700 I had the impression that I am creating too many dependencies. But if that is not the case, I'm all good 😄

I think the main point of this issue was to discuss a potential alter entry point for advanced users. From my point of view most were not in favour. I think this is something we could discuss again

[2020-02-19 11:35] tehsphinx commented on #706
Yes. n! grows to fast and with the 50+ languages we have it would be an enormous task to consider all possible language combinations. E.g. what is different from C# to Python, what is different from C# to Javascript, what is different from Python to JS, etc. (50! is a number with 64 digits!)

[2020-02-19 14:18] iHiD commented on #690
@senal Please don't unpin this.

[2020-02-19 15:09] kotp commented on #690
For @iHiD

<details><summary>Nothing to see here, don't bother clicking.</summary>
Below you will find a general update on some of the changes we're making as part of Exercism's evolution in v3. It has been written to provide a starting point for feedback and discussion amongst our product team, maintainers, and power-users who have used Exercism for a while. Once we have received and worked throu

[2020-02-19 17:36] #667 closed

[2020-02-19 17:37] #541 closed

[2020-02-19 19:25] lewisclement opened #750 "[Rust] Implement new Concept Exercise: numbers"
This issue describes how to implement the `numbers` concept exercise for the <LANG> track.

## Goal

The goal of this exercise is to teach how numbers are implemented in Rust. Because Rust doesn't have implicit casting, this automatically includes teaching about primitive bit sizes.

## Things to teach

- Know how number literals are represented in Rust
- Know the different types of integer and fl

[2020-02-20 00:12] porkostomus opened #753 "[Racket] Extract Concepts from v2 exercise: `Reverse String`"
Extract the list of concepts required to solve the v2 Racket exercise: `Reverse String`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/racket/exercises/reverse-string/solutions`). The goal of this task is to help determine the total list of concepts

[2020-02-20 00:59] porkostomus opened #754 "[emacs-lisp] Extract Concepts from v2 exercise: `Two Fer`"
Extract the list of concepts required to solve the v2 emacs-lisp exercise: `Two Fer`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/emacs-lisp/exercises/two-fer/solutions`). The goal of this task is to help determine the total list of concepts that m

[2020-02-20 01:13] efx opened #755 "[CI] action to close an issue does not remove status/in-progress label"
First off, the automation with actions is excellent! Thank you for building it :smile:

I created concept extraction issues like (#667) and added the `status/in-progress`
Upon merging the PR (#679), the issue was closed but retained the in progress label.

As a maintainer, I expect that label to be removed for the issue.

- should this be addressed?
- does this happen for any kind of issue?

[2020-02-20 05:31] cstby commented on #730
Might be worth separating anonymous functions into a different exercise? I feel there's enough to teach about them to warrant it.

[2020-02-20 07:50] ErikSchierboom commented on #755
Excellent suggestion. We're aiming to work on the CI stuff in the next couple of weeks, so this is also something we could look at.

[2020-02-20 10:03] ErikSchierboom commented on #730
I'd say: go for separate exercises whenever you feel that makes sense.

[2020-02-20 15:13] ErikSchierboom opened #757 "[F#] Add new reference document: string-concatenation"
This issue describes how to add a new F# reference document: string-concatenation.

## Description

The two most basic string formatting options in F# are:

- String concatentation using the `+` operator.
- String formatting using `sprintf`.

There are more options (e.g. `String.concat`), but we should focus on just these two. This document should describe the aforementioned two basic string forma

[2020-02-20 15:14] ErikSchierboom opened #758 "[F#] Implement new Concept Exercise: string"
This issue describes how to implement the `strings` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Strings in [F#][docs.microsoft.com-string].

## Things to teach

- The existence of the `string` type.
- How to create a string.
- The existence of `string` methods and `String` module function
- Basic string methods (like f

[2020-02-20 19:28] sshine commented on #678
@FCO: At this point you just need to add yourself as a contributing maintainer in two places.

[2020-02-20 22:56] porkostomus commented on #730
Sounds reasonable to me. If I'm picturing it right, that would narrow this one down to just describing the `defn` form and its parts (`docstring`, `args`, `body`). Short and sweet.

[2020-02-21 00:48] #496 closed

[2020-02-21 00:49] #495 closed

[2020-02-21 00:53] TheLostLambda commented on #497
Yeah, upon looking into things a bit more, I think that `FiveAM` looks like the standard for serious CL projects. I think it would be safe to use that for now!

[2020-02-21 01:47] cstby commented on #730
Sounds right to me!

As a learner, I wouldn't mind having many small exercises. As long as we're introducing a new concept for each one, I think we should push toward the lower limit of exercise scope. We'll know it when we hit it.

[2020-02-21 02:06] porkostomus commented on #730
Edited this issue to reflect all that. It's also clearer which ones to do next :)

[2020-02-21 15:58] #597 closed

[2020-02-21 21:05] #602 closed

[2020-02-21 21:44] #604 closed

[2020-02-21 22:13] NextNebula opened #780 "[C#] Implement new Concept Exercise: integral-numbers"
This issue describes how to implement the `integral-numbers` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-02-22 01:13] efx opened #784 "[Rust] Extract Concepts from v2 exercise: armstrong-numbers"
Extract the list of concepts required to solve the v2 rust exercise: `armstrong-numbers`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/rust/exercises/armstrong-numbers/solutions`). The goal of this task is to help determine the total list of concept

[2020-02-22 03:06] bemself commented on #457
@porkostomus thank you for this new concept issue, very nice!

I have a few things to discuss with you, regarding things to teach, I feel like this is a bit too much in one concept, how about we limit to a few very commonly used ones, like integer, double etc, and leave others in the After?

    big_integer
    decimal number
    double
    floating_point_number
    integer
    long

And for those

[2020-02-22 03:19] bemself commented on #479
@porkostomus I have a question about the sequence of concepts, do we provide the concepts to students in a sequence?

if so, from my learning path of clojure(I'm quite new to clojure honestly), REPL is my first touch before going to other concepts. I just type some sample codes from REPL and then go into details of what I have typed. The reason is, before I learn any concepts, I need to find a pla

[2020-02-22 03:33] bemself commented on #507
@paparomeo thanks! I feel like this is a group of concepts:-), each might serve as a new concept,

    - char
    - string
    - regular_expression

and each one has its specific operations like compare, convert?

my basic idea of the concepts design, correct me if I didn't make it right please, describe the concept, offer the difference/common from other language e.g. Java, Lisp, provide the basi

[2020-02-22 03:43] bemself commented on #724
@porkostomus very nicely explained, I learned a lot also! I have a quick question, apart from vectors is a function in Clojure, I feel like it's quite similar to Java List or Array, am I right?

The vector concepts unlocks quite some concepts below, I'm kind of lost how we handle this in the implementation of this concept vector, do we explain them individually or simply link to some references?

[2020-02-22 03:52] bemself commented on #730
Looks great!

I'd say I learned defn before I know vars, symbols...:-) prerequisites could be shorter I think, e.g. the body could be simple as `(+ 1 2)` without knowing complex types.

but I understand it depends, when we implement this concept, we might want to put some basic types into use.

[2020-02-22 03:57] bemself commented on #506
@porkostomus sorry to ask, what do we further need to do? I see in v3 you've already prepared a list of concept...

[2020-02-22 04:23] porkostomus commented on #457
I agree, I have wildly rethought my approach to Concepts since writing this. This was to be expected, and will be addressed by breaking this up into 2 (or more) exercises.

[2020-02-22 05:00] porkostomus commented on #479
The path(s) through the exercises is actually a graph of many possible sequences, yes. Each exercise will be labeled which other exercises it depends on, and which ones it unlocks.

[2020-02-22 05:17] porkostomus commented on #507
Ha, we're noticing a bit of a pattern here, aren't we? Perhaps it might help if I describe my methodology:

I've been extracting these based on the Clojure Reference, going in order and breaking them up into loose "topics" wherever they happen to split cleanly. As we can see this still leaves much room for these to be refined as we see fit.

Your comments are much appreciated, because that's exact

[2020-02-22 05:26] porkostomus commented on #724
I think the main difference with arrays is the way they are implemented. I think arrays are usually contiguous blocks in memory, but Clojure's vectors are actually the same "hash-array map tries" as in Clojure maps.

[2020-02-22 05:42] porkostomus commented on #506
Good question. I actually just filed this because I saw that's what everyone else was doing! But since I've taken a more comprehensive approach towards defining concepts (based on the official docs, Clojure Atlas, etc.) rather than extracting them from v2 exercises, which tbh do not really represent an ideal learning path.

This issue should simply serve as an example, should anyone at any time fe

[2020-02-22 05:46] cstby commented on #479
I really like the idea that multiple paths are available. It might be worth continuing to discuss the concept dependencies so that we're aligned.

@bemself makes a very good point that leaners will encounter the REPL right away. To complete the initial exercises, it also seems that learners would need a basic understanding of functions and tests.

[2020-02-22 14:06] #493 closed

[2020-02-23 00:25] porkostomus commented on #479
Great point! Other learning platforms like Clojure Koans and 4clojure do a great job at this, by gently introducing you to a workflow oriented around a testing framework. Exercism v2 takes this a step further by giving you actual Leiningen projects with clojure.test to work from. But we may have lost some of the "gentle introduction" part along the way.

[2020-02-23 16:13] #758 closed

[2020-02-23 17:34] cstby commented on #730
I agree about the prerequisites. @porkostomus when in the progression do you see this one? Like @bemself, I was under the impression that functions would be one of the first concepts.

[2020-02-23 23:21] porkostomus commented on #730
This was right after our discussion in #710 where a few things seemed necessary to explain first, like the vector for the arglist. To me it seems beneficial at this point to already be aware of the difference between lists and vectors, but maybe it's not necessary.

The usual path that I've seen is for the book or course to first cover the data types and basic operators, then teach how to name and

[2020-02-24 14:58] MarkusReynolds1989 commented on #546
I'm going to have to focus on work for the next couple weeks and then I"m leaving the country for a week on the 6th. I'll do what I can to get these put together for a draft before then but I can't promise it will be ready. Just wanted to give everyone a heads up.

[2020-02-25 07:53] ErikSchierboom commented on #546
No worries, take your time! I'd rather it was done well than hastily :)

[2020-02-25 16:14] #592 closed

[2020-02-26 02:21] senal commented on #719
@ErikSchierboom ,
Can we close this issue? I reckon we have merged the solition into master.
Do you think we need to revisit this issue?
Please advice

[2020-02-26 07:56] ErikSchierboom commented on #719
@senal You are correct! Closing this.

[2020-02-26 07:56] #719 closed

[2020-02-26 08:34] #530 closed

[2020-02-26 13:16] ErikSchierboom commented on #163
I really like the format @SleeplessByte used in https://github.com/exercism/v3/pull/179/files#diff-d1e6e01454ea0ecb4ae4245174990dc2. Is everyone happy with that style?

[2020-02-26 14:31] kotp commented on #163
To show the content here:

[code]

The only thing that I think may be missing for a Wikipedia reference like that is the phrase "as accessed (whatever date it was accessed)".

[2020-02-26 15:37] #757 closed

[2020-02-26 15:44] #590 closed

[2020-02-26 15:48] giorgiozoppi opened #801 "[Roadmap] [SUBJECT]"
This is feedback on the v3 roadmap (#690).

The idea and what is really missing is a design track, a system design track. It is very important as well
with doing in code trial, this will enable trial code. With webassebly should be not so difficult support many languages directly in browser. See https://www.youtube.com/watch?v=5N4b-rU-OAA
I would volunteer such project if needed or we could ask to

[2020-02-26 18:56] #742 closed

[2020-02-26 18:56] #727 closed

[2020-02-27 01:20] kytrinyx commented on #801
Hi, thanks so much for the suggestion!

I'm not sure I understand the suggestion. Are you saying that we should have a track to help people learn or improve their ability to design software systems?

Yes, we've been looking at the possibility of using web assembly to support an in-browser experience for the existing language tracks. I am not sure how this is connected to the "system design track",

[2020-02-27 02:04] JimLynchCodes commented on #730
Hey all, not sure if this is any good but I started building out the exercise for this and opened up a PR for it here: https://github.com/exercism/v3/pull/804

Open to feedback from anyone on it! Thanks! 🙏

[2020-02-27 07:59] ErikSchierboom commented on #163
@kotp Isn't that the "12 Jan. 2020" part?

[2020-02-27 10:42] giorgiozoppi commented on #801
Yes, like interviewbit. A design track.
The webassembly is a different suggestion, not related to the design track.

[2020-02-27 13:03] yawpitch commented on #656
Closed by #700

[2020-02-27 13:03] #656 closed

[2020-02-27 13:03] yawpitch commented on #460
Closed by #700

[2020-02-27 13:03] #460 closed

[2020-02-27 13:03] yawpitch commented on #459
Closed by #700

[2020-02-27 13:03] #459 closed

[2020-02-27 13:03] yawpitch commented on #419
Closed by #700

[2020-02-27 13:03] #419 closed

[2020-02-27 13:03] yawpitch commented on #417
Closed by #700

[2020-02-27 13:03] #417 closed

[2020-02-27 13:03] yawpitch commented on #394
Closed by #700

[2020-02-27 13:03] #394 closed

[2020-02-27 13:03] yawpitch commented on #392
Closed by #700

[2020-02-27 13:03] #392 closed

[2020-02-27 13:03] yawpitch commented on #390
Closed by #700

[2020-02-27 13:03] #390 closed

[2020-02-27 13:03] yawpitch commented on #389
Closed by #700

[2020-02-27 13:03] #389 closed

[2020-02-27 13:03] yawpitch commented on #388
Closed by #700

[2020-02-27 13:03] #388 closed

[2020-02-27 13:03] yawpitch commented on #387
Closed by #700

[2020-02-27 13:03] #387 closed

[2020-02-27 13:04] yawpitch commented on #386
Closed by #700

[2020-02-27 13:04] #386 closed

[2020-02-27 14:24] kotp commented on #163
I thought that was the published date, not the accessed date.

[2020-02-27 14:50] ErikSchierboom commented on #163
Right!

[2020-02-27 14:55] ErikSchierboom opened #807 "[F#] Implement new Concept Exercise: numbers"
This issue describes how to implement the `strings` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student how the Concept of Numbers is implemented in F#. It will introduce this concept through the two most common numeric types in F#: `int` (whole number) and `double` (floating-point number).

## Learning objectives

- Know of the existence of the two most

[2020-02-27 14:56] SleeplessByte commented on #163
It's the *accessed date*. The published date doesn't make sense for living documents such as that. It _links_ to the actual version at moment of "access", and not the living document.' If you keep "published" date, then you also have to keep revisions.

When citing a book, you'll cite the revision, not the original publication.

[2020-02-28 08:42] marvelou-s commented on #574
i'll take this one ;)

[2020-02-28 09:39] ErikSchierboom opened #815 "[F#] Implement new Concept Exercise: dates"
This issue describes how to implement the `dates` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Dates in F#.

## Learning objectives

- Know of the existence of the `DateTime` type.
- Know how to get the current date.
- Know of the individual, date-related properties.
- Know how to access the current date.
- Know how to

[2020-02-28 12:06] #574 closed

[2020-02-28 17:31] #310 closed

[2020-02-29 07:18] baskeboler commented on #730
How about including a simple definition of a predicate? Just to highlight the convention of ending the function name with a `?`.

[2020-02-29 07:40] bemself commented on #730
@baskeboler I agree! This is also one of the features Clojure differs from other languages.

[2020-02-29 10:32] tehsphinx opened #826 "[Go] Implement new Concept Exercise: string-iteration"
[Use this issue template to describe how to implement a new concept exercises. Please fill in the issue template, and remove any sections wrapped in square brackets (such as this section!).]

This issue describes how to implement the `<SLUG>` concept exercise for the <LANG> track.

## Goal

[A clear description of which concepts this exercise aims to teach.

For example:

The goal of this exercise

[2020-02-29 10:38] #826 closed

[2020-02-29 13:03] yawpitch opened #827 "[ALL] Ask a question: *.md files naming"
Can we standardize on _one_ character set for the various "*.md" files in references, docs, etc?

The reference/concepts/prototype_based-programming.md file uses both underscores and a hyphen (and the hyphen doesn't even make sense). But we've also got reference/tooling/dotnet-assemblies.md and all the languages/[LANG]/reference/implementing-a-concept-exercise.md files, but most everything else is

[2020-02-29 13:22] tehsphinx commented on #212
A lot of new exercises have been added in the description. They have a status now and all with the 🔴 need issues with specs.

[2020-02-29 14:29] efx commented on #827
Great idea!
I've used [fd](https://github.com/sharkdp/fd) to quickly analyze the different counts:
| kind   |      count      |
|----------|:-------------:|
|dashes | 89 (`fd '.*-.*.md'`) |
| underscores |    95 (`fd '.*_.*.md'`)   |

[2020-02-29 14:32] marvelou-s commented on #556
I'll take that.

[2020-02-29 14:33] marvelou-s commented on #584
I'll take that.

[2020-02-29 14:43] efx opened #830 "[Rust] Implement new Concept Exercise: enums-basic"
WIP of me porting: https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/enums

The concept id is `enums-basic` but the slug is `enums`. See #527.

This issue describes how to implement the `enums` concept exercise for the Rust track.

## Goal

[A clear description of which concepts this exercise aims to teach.

For example:

The goal of this exercise is to teach the studen

[2020-02-29 15:33] SaschaMann opened #831 "[Julia] Implement new Concept Exercise: primitive-types"
This issue describes how to implement the `primitive-types` concept exercise for the Julia track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docum

[2020-02-29 17:53] yawpitch commented on #827
Yeah ... I noticed by a different route (finding just the unique filenames, to avoid _lots_ of duplicates of the same template file) that there's currently 56 unique filenames with a dash and 61 with an underscore ... thankfully there's just 1 with _both_.

I don't care which we go with, but mixing them is going to be a long-term (or long_term) PITA.

[2020-02-29 18:39] tehsphinx opened #835 "[Go] Implement new Concept Exercise: nil"
This issue describes how to implement the `nil` concept exercise for the Go track.

## Goal

The goal of this exercise is to teach the student about `nil`. It will also introduce the concept of `zero values`.

## Learning objectives

- nil is the empty value for pointers, channels, maps, etc. (complete list of types)
- zero values for string, numbers, bool

## Out of scope

- error checking
- nil

[2020-02-29 19:02] md-weber commented on #15
I tried to collect all the concepts of dart to a first draft.

# Concepts in Dart

* Everything is an object, every object had its instances of classes. All objects inherit from the object class
* Dart can infer types
* Dart supports generic types, like List<int> or List<dynamic>
* Dart supports top level functions as well as class based and functions within functions.
* Same for Variables
* There

[2020-02-29 19:19] tehsphinx opened #836 "[Go] Implement new Concept Exercise: types"
This issue describes how to implement the `types` concept exercise for the Go track.

## Goal

The goal of this exercise is to give the student a rough overview of Go's types.

## Learning objectives

- overview of basic types (string, bool, numbers)
- overview of composite types: see [type-system-overview](https://go101.org/article/type-system-overview.html)
- declare custom type
- declare a vari

[2020-02-29 20:00] tehsphinx opened #837 "[Go] add links to existing exercises to reference"
Example Link to C# implementation: https://github.com/exercism/v3/blob/master/reference/types/number.md

Add links to the correct documents in the `/reference` folder (and subfolders) to the 3 existing Go exercise implementations:
- numbers
- basic-strings
- basic-slices

[2020-02-29 20:08] neenjaw commented on #163
Is it resolved? Is this the settled way?

[2020-02-29 20:32] neenjaw commented on #14
I believe this issue has been surpassed by the bootstrapping event by @ErikSchierboom.

Closing.

[2020-02-29 20:32] #14 closed

[2020-02-29 20:34] neenjaw commented on #299
@filalex77 is there a PR for this yet?

[2020-02-29 20:34] neenjaw commented on #300
@filalex77 is there a PR for this yet?

[2020-02-29 20:34] neenjaw commented on #302
@Cohen-Carlisle is there a PR for this yet?

[2020-02-29 20:34] neenjaw commented on #303
@Cohen-Carlisle is there a PR for this yet?

[2020-02-29 20:35] neenjaw commented on #421
@fireproofsocks, since the PR is merged, should this get closed?

[2020-02-29 20:35] neenjaw commented on #423
@fireproofsocks, since the PR is merged, should this get closed?

[2020-02-29 20:36] neenjaw commented on #616
@chriseyre2000 is there a PR for this yet?

[2020-02-29 20:36] neenjaw commented on #732
@nathanchere is there a PR for this yet?

[2020-02-29 20:36] neenjaw commented on #733
@nathanchere is there a PR for this yet?

[2020-02-29 20:37] neenjaw commented on #734
@nathanchere is there a PR for this yet?

[2020-02-29 20:37] neenjaw commented on #735
@nathanchere is there a PR for this yet?

[2020-02-29 20:37] neenjaw commented on #736
@nathanchere is there a PR for this yet?

[2020-02-29 20:37] neenjaw commented on #737
@nathanchere is there a PR for this yet?

[2020-02-29 20:46] neenjaw opened #839 "[Elixir] Concept Exercises"
# Elixir Concept Exercises

## Exercise Flow

## Exercise Status

**Icon Legend**
- ✅ exercise implemented
- 🛠 is being implemented
- 📙 exercise specification issue created
- 🔴 not started
- ❓ to be filled
- 👤 not assigned

## Concepts:

### basics

focus: very basic introduction programming in elixir - named functions, integers, implicit return, math operators
prerequisite concepts: none
unlocks:

[2020-02-29 20:46] neenjaw commented on #839
@exercism/elixir is all welcome to participate as well, just couldn't add as assignees

[2020-02-29 20:50] chriseyre2000 commented on #616
Not yet.Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Tim Austin <notifications@github.com> Date: 29/02/2020  20:36  (GMT+00:00) To: exercism/v3 <v3@noreply.github.com> Cc: Christopher Eyre <chriseyre2000@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [exercism/v3] [Elixir] Extract Concepts from v2 exercise: roman-numerals (#616) @chriseyre2000 is t

[2020-02-29 20:59] neenjaw commented on #839
Please feel free to edit the top level comment if you have concepts to add.

If you would like to tackle one of the exercises, please leave a comment

[2020-02-29 21:25] neenjaw commented on #616
Ok, I don't know if you have reviewed: https://github.com/exercism/v3/blob/master/languages/elixir/reference/README.md

If you don't think there might be extra concepts to add, it may not be necessary to do this concept mapping exercise if they are already likely covered.

[2020-02-29 21:29] neenjaw commented on #616
One milestone which was communicated in the v3 update is that we have approx 3 weeks to map out 20ish concept exercises (sans implementation) so that when @ihid does the research all-call that we can piggyback off of that momentum

[2020-03-01 03:49] neenjaw commented on #736
Also, I left a more detailed comment on #737 -- <https://github.com/exercism/v3/issues/737#issuecomment-592992006> which if you haven't had time to do this yet, upon review on #839 and #842 it might be better to move to the next phase of the v3 bootstrapping guide.

[2020-03-01 03:49] neenjaw commented on #735
Also, I left a more detailed comment on #737 -- <https://github.com/exercism/v3/issues/737#issuecomment-592992006> which if you haven't had time to do this yet, upon review on #839 and #842 it might be better to move to the next phase of the v3 bootstrapping guide.

[2020-03-01 03:49] neenjaw commented on #734
Also, I left a more detailed comment on #737 -- <https://github.com/exercism/v3/issues/737#issuecomment-592992006> which if you haven't had time to do this yet, upon review on #839 and #842 it might be better to move to the next phase of the v3 bootstrapping guide.

[2020-03-01 03:49] neenjaw commented on #733
Also, I left a more detailed comment on #737 -- <https://github.com/exercism/v3/issues/737#issuecomment-592992006> which if you haven't had time to do this yet, upon review on #839 and #842 it might be better to move to the next phase of the v3 bootstrapping guide.

[2020-03-01 10:49] tehsphinx opened #843 "[Go] Implement new Concept Exercise: comments"
This issue describes how to implement the `comments` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-03-01 11:27] tehsphinx opened #844 "[Go] Implement new Concept Exercise: anonymous-functions"
This issue describes how to implement the `anonymous-functions` concept exercise for the Go track.

## Goal

The goal of this exercise is to teach the student how to work with `anonymous functions` in Go.

## Learning objectives

- create anonymous function
- create and run anonymous function without assigning to a variable
- scope
- passing in variables vs using variables from the outer scope
- f

[2020-03-01 13:20] tehsphinx opened #845 "[Go] Implement new Concept Exercise: pointers"
This issue describes how to implement the `pointers` concept exercise for the Go track.

## Goal

The goal of this exercise is to teach the student how to use `pointers` in Go.

## Learning objectives

- declare a pointer type
- take a pointer
- dereference a pointer
- panic on nil pointer dereference
- `new` function
- changing the underlying value of a pointer

## Out of scope

- pointer methods

[2020-03-01 13:25] tehsphinx commented on #212
I'm going to work on `errors`,  `custom-errors`, `error-handling` and `panic-and-recover` next

[2020-03-01 14:54] tehsphinx opened #846 "[Go] Implement new Concept Exercise: errors"
[Use this issue template to describe how to implement a new concept exercises. Please fill in the issue template, and remove any sections wrapped in square brackets (such as this section!).]

This issue describes how to implement the `errors` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will b

[2020-03-01 15:05] tehsphinx opened #847 "[Go] Implement new Concept Exercise: advanced-errors"
This issue describes how to implement the `advanced-errors` concept exercise for the Go track.

## Goal

The goal of this exercise is to teach the student about `custom error types` and `error wrapping` in Go.

## Learning objectives

- Implement custom error types (any type with an `Error() string` function can be used as an error)
- Wrapping/Unwrapping of errors
- Check for specific errors (`err

[2020-03-01 15:10] SaschaMann opened #848 "[Docs] Add new reference document: primitive-types"
This issue describes how to add a new reference document: primitive-types.

## Description

See https://en.wikipedia.org/wiki/Primitive_data_type

### Contributing

- Create the document in the appropriate location in the `reference` folder.
- Check to see if there are other documents that can refer to the new document.

## Help

If you have any questions while adding the reference document, pleas

[2020-03-01 15:22] tehsphinx opened #849 "[Go] Implement new Concept Exercise: error-handling"
This issue describes how to implement the `error-handling` concept exercise for the Go track.

## Goal

The goal of this exercise is to teach the student how `handle errors` in Go.

## Learning objectives

For example:

handling errors:
- `if err != nil` check
- early `return`/`continue` (extract function if early not possible)
- happy path aligned to the left: https://medium.com/@matryer/line-of-

[2020-03-01 15:53] tehsphinx opened #850 "[Go] Implement new Concept Exercise: panic-and-recover"
This issue describes how to implement the `panic-and-recover` concept exercise for the Go track.

## Goal

The goal of this exercise is to teach the student how to work with `panic` and `recover` in Go.

## Learning objectives

- `panic` with error or other value
- `recover` a panic
- check the value type of the recover value
- `don't panic`: if, then only in `main` package to crash the program (e

[2020-03-01 23:12] Cohen-Carlisle commented on #302
There is now :slightly_smiling_face:
See https://github.com/exercism/v3/pull/851

[2020-03-01 23:12] Cohen-Carlisle commented on #303
Not yet, it's next on my list.

[2020-03-02 01:40] verdammelt opened #852 "[Common-Lisp] Implement new Concept Exercise: sexpr"
This issue describes how to implement the `sexpr` concept exercise for the Common Lisp track.

## Goal

The goal for this exercise is to get the student familiar with the basics of s-expressions. That is to say - that all s-expressions (sexpr from here on) are either atoms or cons pairs). We will teach this via the use of `atom` and `consp` along with `car` and `cdr` (with additional tests showing

[2020-03-02 08:32] #584 closed

[2020-03-02 08:34] chriseyre2000 commented on #616
I have been busy with a few other things the last few weeks.

I may be able to add to the concepts list today.

On Sat, 29 Feb 2020 at 21:29, Tim Austin <notifications@github.com> wrote:

[2020-03-02 10:49] efx commented on #699
@batibot323 howdy! Is this specific to the C# track? If so, can you add that track label?

[2020-03-02 11:25] efx opened #854 "[csharp] Ask a question: enums-basic"
The first task in [instructions](https://github.com/exercism/v3/blob/c25b0e612202c1751f9be7c60da1282bf727ab93/languages/csharp/exercises/concept/enums/.docs/instructions.md) states there are 3 log levels and to create an `enum` to model this.
But the 2 task says to add a new element `Unknown`.
I see the value to extending your original definition, but shouldn't we caveat that text because we will

[2020-03-02 12:55] chriseyre2000 commented on #616
I have added a few suggestions and sent a PR

On Mon, 2 Mar 2020 at 08:34, Chris Eyre <chriseyre2000@gmail.com> wrote:

[2020-03-02 15:50] TheLostLambda commented on #852
Looking like a really good start! Was the implementing section trimmed out here?

I think Erik has left it in, but I'm not sure if it's vital: https://github.com/exercism/v3/issues/815

[2020-03-02 20:09] efx opened #858 "[ALL] Ask a question: can we delete unused labels?"
[repository-structure](https://github.com/exercism/v3/blob/master/docs/maintainers/repository-structure.md) helpfully describes the labels to use.

As a maintainer, I find relevant labels quite helpful to categorize work. I noticed we still have some of GitHub's default labels: https://github.com/exercism/v3/issues/labels. `documentation` is one example.

Can we delete the unused labels to prevent

[2020-03-03 01:31] verdammelt commented on #852
I see what was done on that other issue - that seems redudant to the https://github.com/exercism/v3/blob/master/languages/common-lisp/reference/implementing-a-concept-exercise.md doc though.

I was thinking that 'implementing' might have some notes/details about how to implement the exercise, not the *instructions* of how to add an exercise to the repo.

But created this without doing a survey of

[2020-03-03 03:34] aldraco opened #859 "[Python] Implement new Concept Exercise: lists"
This issue describes how to implement the `lists` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-03-03 08:15] TheLostLambda commented on #852
That's a valid point actually. I do think that the implementation stuff has been slightly updated since we wrote that file, but it's no use repeating it here.

With that being said I've heard from some others on the slack that we can use the implementation section to give details on the sort of excercise we have in mind. We don't need to outline every detail, but we can somewhat describe the task.

[2020-03-03 09:49] #55 closed

[2020-03-03 10:17] nathanchere commented on #737
Hey, I have gone through and pulled out what I think are the relevant concepts in a doc but when I went to look at another PR to see how to submit the information I saw they also included example solutions so I was holding off until I could go through and do the same for each one. If we're past that point and there's really no value in doing that too I can just add them as-is, otherwise I can have

[2020-03-03 11:05] batibot323 commented on #699
Hi @efx ! This was supposed to go to the `reference` folder that encompasses all languages. [Link](https://github.com/exercism/v3/tree/master/reference/concepts) to folder.

[2020-03-03 11:57] #784 closed

[2020-03-03 15:27] neenjaw commented on #737
Any insights you have into the problem and what concepts are flushed out with it are always useful!

My thought was that if you hadn't had a chance to work on it because life then you could short circuit to the next step since I think we need to start deciding on our concept progression, and to write out exercise specs (either applying exercises from other track's to ours, or developing the narrat

[2020-03-03 15:56] iHiD commented on #163
@SleeplessByte In the example above, why does it say "Wikipedia" twice? Could you write out the format with placeholders as an example pls?

[2020-03-03 16:22] #299 closed

[2020-03-03 16:37] #302 closed

[2020-03-03 20:12] efx opened #863 "[ALL] Ask a question: can we add a minimal editorconfig to encourage whitespace uniformity?"
This pertains to how we manage contributions to the v3 repository.

Can we add a minimal [editorconfig](https://editorconfig.org/) file?

As a contributor I would like whitespace standards encouraged while editing markdown and other files. #857 demonstrates one case that editorconfig seeks to prevent. (extraneous whitespace changes). I see this as reducing churn.

Given the variety of languages in

[2020-03-04 10:37] porkostomus opened #865 "[Clojure] Implement new Concept Exercise: `multi-arity functions`"
This issue describes how to implement the `multi-arity functions` concept exercise for the Clojure track.

## Goal

The goal of this exercise is to teach the student how multi-arity functions are implemented in Clojure.

## Learning objectives

After completing this exercise the student will:

- Know how to define functions taking different numbers of parameters (arities)
- How to invoke them
- Cr

[2020-03-05 03:12] kotp commented on #163
#783 recently made use of "Science of Computer Programming" style as [described here](https://paperpile.com/s/science-of-computer-programming-citation-style/#examples-website-citations).  It is the form that I most often use given the subject matter.

[2020-03-05 12:39] iHiD commented on #163
OK. We're going to standardise on that. Thank you all for the discussion. I'll put a PR in.

[2020-03-05 13:27] iHiD commented on #695
@coriolinus and others. Is there anything else to discuss here? Or do you feel like the question(s) have been answered?

[2020-03-05 14:57] SaschaMann opened #870 "[Julia] Add credits file to track and each exercise"
We should add CITATION.bib files to each exercise and the track repo so that people who may want to use exercise for their own workshops, classes etc. have an easy way of giving credit in the same way that one can easily cite used Julia packages with a CITATION.bib file.

The files should be (semi-)automatically generated from the contributor information in `.meta/config.json`, ideally as part of

[2020-03-06 02:48] verdammelt opened #876 "[Common Lisp] - update track docs for new design of exersses"
From discussion in #853 we realize we should change the design of our exercises.

Currently we are designing exercises to contain two ASDF systems in an ASDF file , two packages in a package file, a test file and a student submission file.

While we feel that using ASDF and this setup would show 'good practice' we feel it would actually be cumbersome to use in practice (especially due to ASDF's la

[2020-03-06 08:13] #600 closed

[2020-03-06 12:13] #591 closed

[2020-03-06 22:06] Stargator commented on #15
Thanks @md-weber. I did some minor edits (in **bold**) and fixed some typos, that's a good list.

I think the stuff in the first section (before Variables) are too high level to test. We can definitely mention these things, but most junior programmers shouldn't need concept exercises specifically for them.

Similarly for the Variables section, that may be too high level, but we sure do what to wri

[2020-03-07 00:28] BethanyG opened #877 "[Python] Implement new Concept Exercise: dicts"
This issue describes how to implement the `dicts` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-03-07 10:46] TheLostLambda commented on #876
Out of curiosity, you mentioned that the auto-running of the tests caused some issues when building, what sort of complications came from that?

[2020-03-07 14:15] verdammelt commented on #876
The test runner I was thinking of was the one run during the builds of the track. The test runner we will build to run the student's submissions may be fine with the test file auto-running.

It complicates the build because then when trying to run the tests in the build (to check that the example code is good) we need to circumvent or somehow work around the auto running. In v2 we had reader macro

[2020-03-07 15:53] TheLostLambda commented on #876
Yeah, if it takes reader macros just to work around that problem, I'd rather just remove the auto-running. It shouldn't be too much extra work for the students to run the tests (it can still be one-lined from the command-line and shouldn't be any extra effort from the REPL).

As an implementation detail, do you think that we could have the `(<slug>-test:run)` function reload the `<slug>.lisp` file

[2020-03-08 22:00] pgaspar commented on #373
I'm going to remove myself from this task since I've not been able to make progress on it. Sorry for holding this for so long!

[2020-03-09 00:20] SleeplessByte commented on #870
Nice. I want this too 🙃🥺😁❤️

[2020-03-09 07:58] batibot323 commented on #854
Where do you plan to add this caveat? I think it's clear enough that `LogLevel` enum will increase by 1 when you reach the second question.

[2020-03-09 08:31] #556 closed

[2020-03-09 08:38] mikedamay opened #880 "[C#] Implement new Concept Exercise: properties"
# [C#] Add new Concept Exercise - properties

This issue describes a new `properties` exercise that should be added to the [v3 C# track][csharp-docs].

## Goal

The goal of this exercise is to introduce the student to C# properties and to teach the student how the concept of properties is implemented in [C#][docs.microsoft.com-properties]. We'll teach the student about properties by having the stu

[2020-03-09 09:42] silvanocerza opened #881 "[C++] Concepts List"
This is inspired by #167.

# C++ reference

## Concepts

The C++ concept exercises are based on concepts. The list below contains the concepts that have been identified for the C++ language.

### Object-oriented

The core OO features a C++ developer should know about are:

- Initialization
- [Encapsulation](../../../reference/concepts/encapsulation.md)
- [Classes](../../../reference/concepts/class

[2020-03-09 09:45] silvanocerza commented on #881
I think a central discussion where we, the maintainers, talk about the C++ Concepts is necessary, I've been inspired by the one created by @tehsphinx obviously, great idea. :smile:

I hope this will promote contribution from everyone.

[2020-03-09 09:51] efx commented on #854
@batibot323 I may be overthinking this. I would've added it to the Rust enums documentation but I'll hold off for now.

[2020-03-09 09:51] #854 closed

[2020-03-09 11:58] porkostomus opened #884 "[Clojure] Concept Exercises"
# Clojure Concept Exercises

## Exercise Flow

![Clojure Concepts Graph](https://user-images.githubusercontent.com/45781328/75111234-938d6880-5672-11ea-8f85-a044cd1eda76.jpg)

Note: To request a change in the flow, comment on this issue.

## Exercise Status

**Icon Legend**
- ✅ exercise implemented
- 🛠 is being implemented
- 📙 exercise specification issue created
- 🔴 not started
- ❓ to be filled

[2020-03-09 12:15] porkostomus commented on #884
The graph and resulting concept list were based on the [Clojure Atlas](http://clojureatlas.cemerick.com/), but as I was putting this together I realized that it is rather outdated, and our actual path has already diverged somewhat as the result of feedback and iteration.

[2020-03-09 13:53] #876 closed

[2020-03-09 15:36] marvelou-s commented on #881
Thanks a lot! Good idea.

Should types be grouped by built-in data types and abstract data types? Cause, for example, signed integers has nothing in common with queue.

[2020-03-10 07:11] #815 closed

[2020-03-10 07:25] #807 closed

[2020-03-10 07:54] AlexLeSang commented on #881
Great idea to discuss this.
Please let me know what do you think about the following:
- `type_traints` is not a reflection
- Expand `Templates` to `Function Templates` and `Class Templates`
- Add for Product types: `struct` and `std::tuple`
- Add for Sum types: `union` and `std::variant`
- Add String literals

[2020-03-10 07:54] #577 closed

[2020-03-10 08:57] ErikSchierboom commented on #15
This list looks nice! Some tiny nits:

- Some of the operators can probably be grouped under a single concept. For example, "bitwise AND", "bitwise XOR" and "bitwise OR" could be replaced with or grouped under the "bitwise operators" Concept.
- Some Concepts are more like descriptions. E.g. "Dart can infer types" is the "Type inference" Concept. It might help to look at the Concepts identified for

[2020-03-10 10:21] porkostomus opened #886 "[Clojure] Implement new Concept Exercise: variadic-functions"
This issue describes how to implement the `variadic-functions` concept exercise for the Clojure track.

## Goal

The goal of this exercise is to teach the student how to use variadic functions in Clojure.

## Learning objectives

The student will learn:

- That functions may also define a variable number of parameters
- Usage of `&`
- Examples in  `clojure.core` such as `str` and `format`

## Out

[2020-03-10 11:07] AeroStun commented on #881
- String literals: yes
- Templates also cover template aliases and template variables
- `struct` does not define a product type since you cannot sum two structs
- `type_traits` contains all the current utilities for obtaining compile-time reflective information about things. It is pretty much the only use for it.
- Sum types: yes, but we better classify `union` as an advanced topic, unlike `std::v

[2020-03-10 11:16] AlexLeSang commented on #881
To summarize:
1. Add String literals to 'General'
2. Add `std::tuple` to 'Types'
3. Put 'Sum types `std::variant`' in 'Types',
4. Add section of 'Advanced' topics and put `union` in it

[2020-03-10 11:26] ErikSchierboom commented on #212
@tehsphinx Would it perhaps make sense to link to issues from this list? E.g. any 📙 issue will have an accompanying issue, right? If so, it might make sense to link to it directly from this list.

[2020-03-10 11:32] silvanocerza commented on #881
`type_traits` is not exactly reflection has in other languages but it's the only  way for C++ to obtain something similar, so I'd leave as it is.

We could leave `Templates` as a unique Concept and have multiple exercises for it, one for `Function Templates`, one for `Class Templates` etc.
Nothing stops us from doing that.

[2020-03-10 13:00] AlexLeSang commented on #881
For now that would suffice. I am not 100% on board with the name 'reflection' though. It clashes directly with what I would expect to find coming from Java or C#.

I am all for that, `Templates` are extremely important concept and quite unique. I feel that there is a lot of misconceptions about template meta-programming so I believe that should be thoroughly explained in examples.

[2020-03-10 14:02] #531 closed

[2020-03-10 15:02] #163 closed

[2020-03-11 00:07] iHiD commented on #690
@senal Please can you stop unpinning this issue. Thanks.

[2020-03-11 00:55] #852 closed

[2020-03-11 07:37] porkostomus opened #889 "[Clojure] Implement new Concept Exercise: anonymous-functions"
This issue describes how to implement the `anonymous-functions` concept exercise for the Clojure track.

## Goal

The goal of this exercise is to teach the student how to use anonymous functions in Clojure.

## Learning objectives

The student will learn:

- Creating anonymous functions with `fn`
- Shorthand reader syntax (`#`, `%`, `%&`, etc.)

## Out of scope

- Higher-order functions

## Concep

[2020-03-11 09:16] silvanocerza commented on #881
I've updated the issue with the updated Concepts from #887

[2020-03-11 15:25] ErikSchierboom opened #891 "[F#] Implement new Concept Exercise: lists"
This issue describes how to implement the `lists` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Lists in [F#][lists].

## Learning objectives

- Know of the existence of the `list` type.
- Know that lists are immutable.
- Know what head and tail refer to.
- Know how to define an empty and non-empty list.
- Know how to ad

[2020-03-12 13:23] ErikSchierboom opened #895 "[F#] Implement new Concept Exercise: Booleans"
This issue describes how to implement the `booleans` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Booleans in F#.

## Learning objectives

- Know of the existence of the `bool` type and its two values.
- Know about boolean operators and how to build logical expressions with them.
- Know of the boolean operator precedenc

[2020-03-13 11:28] ErikSchierboom opened #900 "[F#] Implement new Concept Exercise: basics"
This issue describes how to implement the `basics` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of programming in F#.

## Learning objectives

- Know what a value is.
- Know how to define a binding.
- Know how to define a variable.
- Know what immutability is.
- Know that bindings are immutable and variables are mutable.
- Know what type

[2020-03-14 19:46] workingjubilee commented on #750
To implement a Clojure concept exercise, huh. :^)

I think I can take a crack at this.

[2020-03-14 20:03] workingjubilee commented on #750
This should have the track/rust label so it's more findable, especially in case I fall on my sword and don't finish.

[2020-03-14 20:38] workingjubilee commented on #750
Oh, silly me, this should be closed, since #825 resolves it.

[2020-03-14 20:47] lewisclement commented on #750
Yes, it should! Sorry for the bother! There should be new issues up soon!

[2020-03-14 20:47] #750 closed

[2020-03-15 00:38] #303 closed

[2020-03-15 02:44] workingjubilee commented on #695
What you are thinking of is in fact a directed acyclic graph. The DAG you looked at was just one DAG, it was not an actually exhaustive depiction of one. Let me explain: since trees in computing are generally directed (technically not a requirement of trees, merely true in practice), the trees we work with are generally DAGs, but the definition of a DAG is less restrictive, as it only implies
1) d

[2020-03-15 10:36] tehsphinx commented on #212
Added issue links in the description.

[2020-03-15 12:39] #895 closed

[2020-03-15 15:20] #891 closed

[2020-03-15 20:14] #375 closed

[2020-03-16 13:51] iHiD commented on #695
They don't meet. Some concepts might have a single dependency (which might be on "layer one") and then have no other dependencies. Some concepts might have 30 dependencies. So they are a multitree?

So the following might be true. @workingjubilee Maybe you could draw it for me using the software you've drawn above, and we can then have a clear scenario that we can put whatever name/description to

[2020-03-16 16:19] amscotti opened #913 "[Groovy] Bootstrap Groovy track"
Hi, can I get the Groovy track bootstrapped?

Thanks!

[2020-03-16 16:26] workingjubilee commented on #695
Oh, I pulled that off Wikipedia honestly, but I'll be happy to slap together a quick sketch in Figma later ~today.

I think this is mostly a quest for conceptual clarity that will help actually implementing the goal, borne out of, presumably, a desire to not accidentally reimplement the issues of v2, namely "all the language self-study courses are the same even though they are trying to teach very

[2020-03-16 16:30] workingjubilee commented on #863
Concern: I have used at least one code snippet inside a .md file, I would expect it to use the PL's formatting preferably. Would the `editorconfig` be smart enough to detect that?

[2020-03-16 16:56] efx commented on #863
Great point. This is a key risk. My understanding is that your editor's implementation of editorconfig. So we would want to create a few test markdown files and then see how it behaves.

[2020-03-16 18:42] iHiD commented on #695
Thank you - that would be very helpful :)

Thanks for clarifying :)

The problem with V2 was there was no design though - we just reused V1 exercises, which we by nature ~identical across tracks. So I don't think problem will reoccur. I also don't believe trying to map out a large concept-tree will be a good method for achieving this, and the tracks that are making the most forward progress so far

[2020-03-16 21:17] wolf99 opened #914 "[C] Extract Concepts from v2 exercise: armstrong-numbers"
Extract the list of concepts required to solve the v2 C exercise: [`armstrong-numbers`](https://github.com/exercism/c/tree/master/exercises/armstrong-numbers). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/armstrong-numbers/solutions)). The goal

[2020-03-16 21:17] wolf99 opened #915 "[C] Extract Concepts from v2 exercise: resistor-color"
Extract the list of concepts required to solve the v2 C exercise: [`resistor-color`](https://github.com/exercism/c/tree/master/exercises/resistor-color). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/resistor-color/solutions)). The goal of this t

[2020-03-16 21:17] wolf99 opened #916 "[C] Extract Concepts from v2 exercise: isogram"
Extract the list of concepts required to solve the v2 C exercise: [`isogram`](https://github.com/exercism/c/tree/master/exercises/isogram). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/isogram/solutions)). The goal of this task is to help determ

[2020-03-16 21:17] wolf99 opened #917 "[C] Extract Concepts from v2 exercise: word-count"
Extract the list of concepts required to solve the v2 C exercise: [`word-count`](https://github.com/exercism/c/tree/master/exercises/word-count). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/word-count/solutions)). The goal of this task is to he

[2020-03-16 21:17] wolf99 opened #918 "[C] Extract Concepts from v2 exercise: hamming"
Extract the list of concepts required to solve the v2 C exercise: [`hamming`](https://github.com/exercism/c/tree/master/exercises/hamming). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/hamming/solutions)). The goal of this task is to help determ

[2020-03-16 21:17] wolf99 opened #919 "[C] Extract Concepts from v2 exercise: grains"
Extract the list of concepts required to solve the v2 C exercise: [`grains`](https://github.com/exercism/c/tree/master/exercises/grains). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/grains/solutions)). The goal of this task is to help determine

[2020-03-16 21:17] wolf99 opened #920 "[C] Extract Concepts from v2 exercise: beer-song"
Extract the list of concepts required to solve the v2 C exercise: [`beer-song`](https://github.com/exercism/c/tree/master/exercises/beer-song). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/beer-song/solutions)). The goal of this task is to help

[2020-03-16 21:17] wolf99 opened #921 "[C] Extract Concepts from v2 exercise: difference-of-squares"
Extract the list of concepts required to solve the v2 C exercise: [`difference-of-squares`](https://github.com/exercism/c/tree/master/exercises/difference-of-squares). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/difference-of-squares/solutions)

[2020-03-16 21:17] wolf99 opened #922 "[C] Extract Concepts from v2 exercise: square-root"
Extract the list of concepts required to solve the v2 C exercise: [`square-root`](https://github.com/exercism/c/tree/master/exercises/square-root). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/square-root/solutions)). The goal of this task is to

[2020-03-16 21:17] wolf99 opened #923 "[C] Extract Concepts from v2 exercise: binary-search"
Extract the list of concepts required to solve the v2 C exercise: [`binary-search`](https://github.com/exercism/c/tree/master/exercises/binary-search). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/binary-search/solutions)). The goal of this task

[2020-03-16 21:17] wolf99 opened #924 "[C] Extract Concepts from v2 exercise: rational-numbers"
Extract the list of concepts required to solve the v2 C exercise: [`rational-numbers`](https://github.com/exercism/c/tree/master/exercises/rational-numbers). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/rational-numbers/solutions)). The goal of

[2020-03-16 21:17] wolf99 opened #925 "[C] Extract Concepts from v2 exercise: roman-numerals"
Extract the list of concepts required to solve the v2 C exercise: [`roman-numerals`](https://github.com/exercism/c/tree/master/exercises/roman-numerals). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/roman-numerals/solutions)). The goal of this t

[2020-03-16 21:17] wolf99 opened #926 "[C] Extract Concepts from v2 exercise: circular-buffer"
Extract the list of concepts required to solve the v2 C exercise: [`circular-buffer`](https://github.com/exercism/c/tree/master/exercises/circular-buffer). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/circular-buffer/solutions)). The goal of thi

[2020-03-16 21:17] wolf99 opened #927 "[C] Extract Concepts from v2 exercise: list-ops"
Extract the list of concepts required to solve the v2 C exercise: [`list-ops`](https://github.com/exercism/c/tree/master/exercises/list-ops). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/list-ops/solutions)). The goal of this task is to help det

[2020-03-16 21:17] wolf99 opened #928 "[C] Extract Concepts from v2 exercise: pythagorean-triplet"
Extract the list of concepts required to solve the v2 C exercise: [`pythagorean-triplet`](https://github.com/exercism/c/tree/master/exercises/pythagorean-triplet). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/pythagorean-triplet/solutions)). The

[2020-03-16 21:17] wolf99 opened #929 "[C] Extract Concepts from v2 exercise: saddle-points"
Extract the list of concepts required to solve the v2 C exercise: [`saddle-points`](https://github.com/exercism/c/tree/master/exercises/saddle-points). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/saddle-points/solutions)). The goal of this task

[2020-03-16 21:17] wolf99 opened #930 "[C] Extract Concepts from v2 exercise: allergies"
Extract the list of concepts required to solve the v2 C exercise: [`allergies`](https://github.com/exercism/c/tree/master/exercises/allergies). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/allergies/solutions)). The goal of this task is to help

[2020-03-16 21:17] wolf99 opened #931 "[C] Extract Concepts from v2 exercise: atbash-cipher"
Extract the list of concepts required to solve the v2 C exercise: [`atbash-cipher`](https://github.com/exercism/c/tree/master/exercises/atbash-cipher). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/atbash-cipher/solutions)). The goal of this task

[2020-03-16 21:17] wolf99 opened #932 "[C] Extract Concepts from v2 exercise: phone-number"
Extract the list of concepts required to solve the v2 C exercise: [`phone-number`](https://github.com/exercism/c/tree/master/exercises/phone-number). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/phone-number/solutions)). The goal of this task is

[2020-03-16 21:17] wolf99 opened #933 "[C] Extract Concepts from v2 exercise: clock"
Extract the list of concepts required to solve the v2 C exercise: [`clock`](https://github.com/exercism/c/tree/master/exercises/clock). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/clock/solutions)). The goal of this task is to help determine th

[2020-03-16 21:17] wolf99 opened #934 "[C] Extract Concepts from v2 exercise: sieve"
Extract the list of concepts required to solve the v2 C exercise: [`sieve`](https://github.com/exercism/c/tree/master/exercises/sieve). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/sieve/solutions)). The goal of this task is to help determine th

[2020-03-16 21:17] wolf99 opened #935 "[C] Extract Concepts from v2 exercise: robot-simulator"
Extract the list of concepts required to solve the v2 C exercise: [`robot-simulator`](https://github.com/exercism/c/tree/master/exercises/robot-simulator). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/robot-simulator/solutions)). The goal of thi

[2020-03-16 21:17] wolf99 opened #936 "[C] Extract Concepts from v2 exercise: pascals-triangle"
Extract the list of concepts required to solve the v2 C exercise: [`pascals-triangle`](https://github.com/exercism/c/tree/master/exercises/pascals-triangle). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/pascals-triangle/solutions)). The goal of

[2020-03-16 21:17] wolf99 opened #937 "[C] Extract Concepts from v2 exercise: binary"
Extract the list of concepts required to solve the v2 C exercise: [`binary`](https://github.com/exercism/c/tree/master/exercises/binary). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/binary/solutions)). The goal of this task is to help determine

[2020-03-16 21:17] wolf99 opened #938 "[C] Extract Concepts from v2 exercise: palindrome-products"
Extract the list of concepts required to solve the v2 C exercise: [`palindrome-products`](https://github.com/exercism/c/tree/master/exercises/palindrome-products). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/palindrome-products/solutions)). The

[2020-03-16 21:17] wolf99 opened #939 "[C] Extract Concepts from v2 exercise: scrabble-score"
Extract the list of concepts required to solve the v2 C exercise: [`scrabble-score`](https://github.com/exercism/c/tree/master/exercises/scrabble-score). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/scrabble-score/solutions)). The goal of this t

[2020-03-16 21:17] wolf99 opened #940 "[C] Extract Concepts from v2 exercise: queen-attack"
Extract the list of concepts required to solve the v2 C exercise: [`queen-attack`](https://github.com/exercism/c/tree/master/exercises/queen-attack). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/queen-attack/solutions)). The goal of this task is

[2020-03-16 21:17] wolf99 opened #941 "[C] Extract Concepts from v2 exercise: linked-list"
Extract the list of concepts required to solve the v2 C exercise: [`linked-list`](https://github.com/exercism/c/tree/master/exercises/linked-list). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/linked-list/solutions)). The goal of this task is to

[2020-03-16 21:27] wolf99 commented on #919
closing as duplicate issue: https://github.com/exercism/v3/issues/378

[2020-03-16 21:27] #919 closed

[2020-03-16 21:32] wolf99 commented on #914
closing as duplicate of: https://github.com/exercism/v3/issues/377

[2020-03-16 21:32] #914 closed

[2020-03-17 12:05] ErikSchierboom commented on #212
Great!

[2020-03-17 15:10] wolf99 commented on #201
Those mentioned by Erik here could be added also: https://github.com/exercism/v3/pull/344#pullrequestreview-375800228

Is there a document for these to be recorded into?

[2020-03-17 23:22] ovidiu141 opened #944 "[Javascript] Implement new Concept Exercise: Basic Arrays"
This issue describes how to implement the `basic_arrays` concept exercise for the Javascript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-03-18 08:51] ErikSchierboom opened #948 "[F#] Implement new Concept Exercise: numbers-floating-point"
This issue describes how to implement the `numbers-floating-point` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student how the Concept of Floating-point numbers is implemented in [F#][floating-point-numbers]. It will show the available floating-point types and discuss their differences.

## Learning objectives

- Know of the existence of the three floatin

[2020-03-18 15:37] ErikSchierboom opened #951 "[F#] Add new reference document: discriminated-unions"
This issue describes how to implement the `discriminated-unions` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Discriminated Unions in [F#][discriminated-unions].

## Learning objectives

- Know what discriminated unions are.
- Know how discriminated unions are different from enums.
- Know how to define a discriminated u

[2020-03-18 22:45] workingjubilee commented on #695
Ehhh, I think there's a lot of noise in track progress based on community engagement to rate much based on track approaches. I don't think the relative quietude of the x86-64 Assembly track is based on an insufficiently freewheeling approach. ^_^

I appreciate that you are trying to say that there was no conscious choice in the design of v2 by saying "there was no design" but that effectively mean

[2020-03-19 02:22] TheLostLambda opened #953 "[Common Lisp] Implement new Concept Exercise: function-definition"
This issue describes how to implement the `functions` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docum

[2020-03-19 14:18] ErikSchierboom opened #954 "[F#] Implement new Concept Exercise: recursion"
This issue describes how to implement the `recursion` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Recursion in [F#][strings].

## Learning objectives

- Know what recursion is.
- Know how to define a recursive function.
- Know how to define a recursive type.
- Know how to write a tail-recursive function.
- Know how to

[2020-03-19 14:23] iHiD commented on #695
@workingjubilee Great, thanks. So yes. That's what I imagine topics will look like on V3. So is that a DAG and is there a "correct" way of describing it that makes sense to people with more mathematical language/knowledge than me? :)

[2020-03-19 14:39] coriolinus commented on #695
Yes!

I'd go with "DAG", but clearly that wasn't sufficient.

---

The question I wanted to ask, at the topic head, was this. Let's use the DAG above for illustrative purposes. If `a`, `f`, and `g` represent concepts like "conditionals", "functions", "integers"--stuff that broadly are similar across languages--and `p` represents a genuinely language-specific concept. Is there a reason not to give

[2020-03-19 15:07] iHiD commented on #695
Yes, because although I understand functions and conditionals, I have no idea to use functionals or conditionals in Rust, so would need to go from `a`. But if I did know those in Rust but wanted to jump forward, the exercises should be designed only take 5mins each and be useful as a refresher, so it won't be annoying to do them.

The only way that works is if every exercise is optional and users

[2020-03-19 15:09] iHiD commented on #695
To refer back to what I said earlier in this thread as an example. I know strings. I've been using strings for 25yrs.

How Rust docs define strings and how to work with them does not feel familiar or comfortable to me:

So I need to do an exercise on Strings for Rust. Even though I have used strings in numerous over languages over nearly 3 decades.

[2020-03-19 15:38] ErikSchierboom opened #956 "[F#] Implement new Concept Exercise: recursion-advanced"
This issue describes how to implement the `recursion-advanced` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student some advanced parts of the Concept of Recursion in [F#][recursion]. It will show how to work with non-trivial recursive types that have many cases and where cases' data refers to multiple values of the recursive type themselves. This will mak

[2020-03-19 18:56] workingjubilee commented on #695
Yep, just to reaffirm and conclude the graph theory bit: that is in fact a directed acyclic graph or "DAG". It is directed because the arrows have a specific direction associated with them. It is acyclic because no node points back to its parent or any parent, as you don't learn a lesson, then learn the second lesson, then go back to the parent lesson to relearn it. It is a graph because it is in

[2020-03-19 20:03] zuzia-kru commented on #544
Hi there, I'd like to help with this issue.
I'm not sure about one thing though - should those docs include all the information that existing resources include? I can't see things like installing or learning in the C# example, it only explains how to run included test suite. Can you help me understand better the scope?

Thanks

[2020-03-19 20:13] maurelio1234 commented on #721
Should we close this ticket?

[2020-03-19 20:29] fpetru commented on #721
yes, I'm marking the ticket as closed.

[2020-03-19 20:29] #721 closed

[2020-03-20 09:21] ErikSchierboom opened #958 "[C#] Implement new Concept Exercise: lists"
This issue describes how to implement the `lists` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The

[2020-03-20 09:44] ErikSchierboom opened #959 "[C#] Implement new Concept Exercise: dictionaries"
This issue describes how to implement the `dictionaries` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-03-20 10:06] ErikSchierboom opened #960 "[C#] Implement new Concept Exercise: chars"
This issue describes how to implement the `chars` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The

[2020-03-20 10:48] ErikSchierboom opened #961 "[C#] Implement new Concept Exercise: nullability"
This issue describes how to implement the `nullability` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-03-20 11:22] iHiD commented on #695
@workingjubilee Thanks for the extra info :)

Yep! That's exactly the aim of the [reference bit of this repo](https://github.com/exercism/v3/tree/master/reference). Additions of good resources would be **super** welcome :)

[2020-03-20 12:13] ErikSchierboom opened #962 "[C#] Implement new Concept Exercise: string-formatting"
This issue describes how to implement the `string-formatting` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-03-20 12:42] mikedamay commented on #880
I am working on this

[2020-03-20 13:08] ErikSchierboom opened #963 "[C#] Implement new Concept Exercise: tuples"
This issue describes how to implement the `tuples` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [Th

[2020-03-20 13:24] ErikSchierboom opened #964 "[C#] Implement new Concept Exercise: tuples-advanced"
This issue describes how to implement the `tuples-advanced` concept exercise for the C# track.

## Goal

The goal of this exercise is to teach the student some of the advanced features of the Concept of Tuples in C#.

## Learning objectives

- Know how to use discards for tuple deconstruction.
- Know how to pattern matching on tuples.
- Know how to add tuple pattern matching to your own and built-

[2020-03-20 14:15] ErikSchierboom opened #966 "[C#] Implement new Concept Exercise: exceptions"
This issue describes how to implement the `exceptions` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-03-20 15:10] maurelio1234 commented on #961
Hi, I want to work on this exercise

[2020-03-20 15:13] ErikSchierboom opened #968 "[C#] Implement new Concept Exercise: inheritance"
This issue describes how to implement the `inheritance` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-03-20 15:38] ErikSchierboom commented on #961
Awesome! Feel free to post questions here or in the Slack channel if you have any.

[2020-03-20 21:42] wolf99 commented on #917
Now non-core due to https://github.com/exercism/c/pull/437

[2020-03-20 21:42] #917 closed

[2020-03-20 21:42] wolf99 commented on #920
Now non-core due to https://github.com/exercism/c/pull/437

[2020-03-20 21:42] #920 closed

[2020-03-20 21:43] wolf99 commented on #925
Now non-core due to https://github.com/exercism/c/pull/437

[2020-03-20 21:43] #925 closed

[2020-03-20 21:43] wolf99 commented on #931
Now non-core due to https://github.com/exercism/c/pull/437

[2020-03-20 21:43] #931 closed

[2020-03-20 21:43] wolf99 commented on #938
Now non-core due to https://github.com/exercism/c/pull/437

[2020-03-20 21:43] #938 closed

[2020-03-20 21:43] wolf99 commented on #923
Now non-core due to https://github.com/exercism/c/pull/437

[2020-03-20 21:43] wolf99 commented on #939
Now non-core due to https://github.com/exercism/c/pull/437

[2020-03-20 21:43] #939 closed

[2020-03-20 21:59] wolf99 opened #969 "[C] Extract Concepts from v2 exercise: hamming"
Extract the list of concepts required to solve the v2 C exercise: [`hamming`](https://github.com/exercism/c/tree/master/exercises/hamming). For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches ([published community solutions](https://exercism.io/tracks/c/exercises/hamming/solutions)). The goal of this task is to help determ

[2020-03-20 22:03] #343 closed

[2020-03-21 13:24] jonmcalder opened #971 "[R] Bootstrap R track"

[2020-03-22 17:30] neiesc commented on #958
Hi, I want to implement this issue

[2020-03-22 23:12] oanaOM commented on #837
I can help with this.

[2020-03-23 11:33] mikedamay opened #972 "[C#] Add skip annotation to existing V3 test modules"
In order to provide an experience where students can employ TDD by incrementally enabling tests for their solutions (in line with the V2 experience) the following change should be made to the tests file of each of the following exercises at https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept:

- dates
- enums-advanced
- enums
- numbers-floating-point
- numbers
- strings

[2020-03-23 18:26] archrisV commented on #966
Hi, I would like to try and tackle this issue.

[2020-03-23 19:40] ErikSchierboom commented on #966
@archrisV Great!

[2020-03-24 09:17] tehsphinx commented on #837
@oanaOM: just ask here or on Slack if you have any questions!

[2020-03-24 10:31] archrisV commented on #959
Sorry, I've accidentally assigned myself to the wrong exercise yesterday.

[2020-03-24 10:41] ErikSchierboom opened #977 "[F#] Implement new Concept Exercise: options"
This issue describes how to implement the `options` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Options in [F#][options].

## Learning objectives

- Know of the existing of the `Option<T>` type and when to use it.
- Know how to define an option value.
- Know how to use pattern matching with options.
- Know of some basi

[2020-03-24 11:46] ErikSchierboom opened #980 "[F#] Implement new Concept Exercise: results"
This issue describes how to implement the `results` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Results in F#.

## Learning objectives

- Know of the existing of the `Result<'T, 'TError>` type and when to use it.
- Know how to define a result value.
- Know of some basic functions in the `Result` module (like `Result.bi

[2020-03-24 11:47] ErikSchierboom opened #981 "[F#] Implement new Concept Exercise: exceptions"
This issue describes how to implement the `exceptions` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of [Exceptions in F#][exception-handling].

## Learning objectives

- Know what exceptions are.
- Know when an exception should be raised.
- Know how to raise (and reraise) an exception.
- Know how to catch an exception.
- K

[2020-03-24 11:54] ErikSchierboom commented on #959
No worries.

[2020-03-24 12:36] sshine commented on #544
Hi @zuzia-kru, and sorry for the delayed response.

That is a good question that I don't know the answer to.

@ErikSchierboom, could you advise us?

[2020-03-24 13:13] ErikSchierboom commented on #544
Nope, those are not to be included at the moment. The purpose of the `debug.md` and `cli.md` documents are to be merged into a final `README.md` when the exercise is downloaded. This does not include the generic learning documents.

[2020-03-24 13:55] ErikSchierboom opened #985 "[F#] Implement new Concept Exercise: tuples"
This issue describes how to implement the `tuples` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Tuples in F#.

## Learning objectives

- Know what a tuple is.
- Know when tuples should be used.
- Know how to define tuples of different sizes.
- Know that tuples have structural equality.
- Know how to deconstruct tuples (

[2020-03-24 15:04] zuzia-kru commented on #544
Thanks Erik and Simon! I'll work on a PR regarding this issue then :)

[2020-03-24 16:07] workingjubilee opened #991 "[ALL? || Rust] Would an example folder be more appropriate than a file?"
Currently, the concept exercise directory structure for the Rust track specifies an `example.rs`.

However, as mentioned in https://github.com/exercism/rust/issues/658, Rust programs often favor being in multiple files for the sake of readability and abstraction. I expect concept exercises to be easier to handle and more concise, but I do not expect this concern will magically disappear. In additi

[2020-03-24 16:38] workingjubilee commented on #695
Hmm... I will have to think about that.

For now, I will note I have really enjoyed [Vaidehi Joshi's writing](https://medium.com/basecs/) on a lot of CS concepts, as she makes them very approachable, and hey, she even has an article on [DAGs](https://medium.com/basecs/spinning-around-in-cycles-with-directed-acyclic-graphs-a233496d4688). Though apparently she would disagree that learning is non-cyc

[2020-03-25 08:43] ErikSchierboom commented on #991
I understand, but it might be good to consider what the goal of the `example.rs` file is. Its sole purpose is to verify that there is _a_ solution to the exercise. The `example.rs` file thus does not have to adhere to any advanced code standards or code quality rules. It can of course, but it definitely is not required and won't in many cases. Does that help?

[2020-03-25 08:43] ErikSchierboom commented on #972
I'll fix this.

[2020-03-25 10:33] ErikSchierboom opened #996 "[F#] Implement new Concept Exercise: functions"
This issue describes how to implement the `functions` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student more advanced aspects of the Concept of Functions in F#.

## Learning objectives

- Know how to return functions.
- Know how to pass functions as arguments.
- Know how to define lambda functions.
- Know how to compose functions.
- Know what partial ap

[2020-03-25 11:04] ErikSchierboom opened #997 "[F#] Implement new Concept Exercise: records"
This issue describes how to implement the `records` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Records in F#.

## Learning objectives

- Know what a record is.
- Know when records should be used.
- Know how to define records.
- Know that records have structural equality.
- Know how to deconstruct records (including as

[2020-03-25 11:26] ErikSchierboom opened #998 "[F#] Implement new Concept Exercise: maps"
This issue describes how to implement the `maps` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Maps in F#.

## Learning objectives

- Know of the existence of the `Map` type.
- Know how to define a map.
- Know that maps have structural equality.
- Know that maps are immutable.
- Know how to add and update elements in a m

[2020-03-25 11:47] ErikSchierboom opened #999 "[F#] Implement new Concept Exercise: inheritance"
This issue describes how to implement the `inheritance` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Inheritance in F#.

## Learning objectives

- Know what inheritance is.
- Know when to use inheritance.
- Know how to inherit from a class.
- Know what abstract classes are.
- Know what abstract and default methods are.

[2020-03-25 13:07] #245 closed

[2020-03-25 13:07] #246 closed

[2020-03-25 13:19] ErikSchierboom opened #1000 "[F#] Implement new Concept Exercise: chars"
This issue describes how to implement the `chars` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Chars in F#. We'll also use this exercise to introduce `for..in` loops and a mutable binding.

## Learning objectives

- Know of the existence of the `char` type.
- Know what a char represents (a Unicode character).
- Know how

[2020-03-25 13:47] ErikSchierboom opened #1004 "[C#] Implement new Concept Exercise: booleans"
This issue describes how to implement the `booleans` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-03-25 17:11] silvanocerza opened #1010 "[C++] Implement new Concept Exercise: strings"
This issue describes how to implement the `strings` concept exercise for the C++ track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Strings in [C++][docs.string].

## Learning objectives

- Know of the existence of the `std::string` type.
- Know how to create a string.
- Know of some basic string methods (like finding the index of a character at a posit

[2020-03-25 19:57] workingjubilee commented on #991
Yes, I do understand this. But nonetheless those standards exist for the ease of maintenance and the tests do change for a given exercise, requiring updating them, bringing us face to face with the problems that arise from a lack of code standards or quality. Or potentially, at least! Obviously not all exercises, not all languages, et cetera.

[2020-03-26 00:00] TheLostLambda opened #1012 "[Common Lisp] Implement new Concept Exercise: conditionals"
This document describes how to implement the `conditionals` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2020-03-26 07:48] ErikSchierboom commented on #991
I see your point, but even then I really think this is not very much an issue. Being a maintainer myself, I never found this to be an issue. If we assume that the exercise has the correct structure in place for a student to work on (it should), updating an example file should be just a case of either replacing the stub file's contents or copying it in the right place. Besides, tests are not update

[2020-03-26 10:46] ErikSchierboom opened #1014 "[C#] Implement new Concept Exercise: classes"
This issue describes how to implement the `classes` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-03-26 11:08] ErikSchierboom opened #1015 "[F#] Implement new Concept Exercise: classes"
This issue describes how to implement the `classes` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Classes in F#.

## Learning objectives

- Know what classes are.
- Know what the difference is between classes and records and when to use which.
- Know what encapsulation is.
- Know what composition is.
- Know what fields a

[2020-03-26 13:36] ErikSchierboom opened #1016 "[C#] Implement new Concept Exercise: equality"
This issue describes how to implement the `equality` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-03-26 14:02] ErikSchierboom opened #1017 "[C#] Implement new Concept Exercise: structs"
This issue describes how to implement the `structs` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-03-26 14:33] ErikSchierboom opened #1018 "[C#] Implement new Concept Exercise: performance"
This issue describes how to implement the `performance` concept exercise for the C# track.

## Goal

The goal of this exercise is to teach the student the Concept of Performance in C#.

## Learning objectives

- Know what the garbage collector is and how it influences performance.
- Know about the memory differences between the stack and heap.
- Know how reference and value types relate to the mem

[2020-03-26 22:25] bergjohan opened #1020 "[x86-64-assembly] Extract Concepts from v2 exercise: two-fer"
Extract the list of concepts required to solve the v2 x86-64-assembly exercise: `two-fer`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/x86-64-assembly/exercises/two-fer/solutions`). The goal of this task is to help determine the total list of conce

[2020-03-27 01:01] workingjubilee opened #1022 "[Rust] Implement three new Concept Exercises: basic-{fn, types, option}"
This issue breaks with the convention of a single issue per exercise because of the interrelatedness of these three exercises and the problem they intend to solve. They still need three patches, but it will likely benefit from a single issue for discussion as they rapidly build on each other and have a shared higher-level goal: overcoming some of the bigger newbie (and mentoring) Rust pain points,

[2020-03-27 17:30] workingjubilee commented on #1022
Some remarks after initial thought:

- I do not actually like the name "basic" for these, it has the same scent as using "simple" or "just" inappropriately or unnecessarily. "basic" can also mean "foundational" (intended), but I noticed my thoughts sorting everything into "basic" vs. "advanced" for no good reason. I switched to "intro" for the slugs because the temporal context (i.e. you are learn

[2020-03-27 17:55] seanchen1991 commented on #1022
Why `HashMap` or `HashSet` instead of `Vec` methods like `pop`, `first`, `last`, etc. ? I figure vectors should probably be introduced before `HashMap`s and `HashSet`s, and people will generally be more comfortable/familiar with the broad strokes of what vectors do.

[2020-03-27 20:05] workingjubilee commented on #1022
1) `Vec` is more common but would introduce reasoning about slices, and `array` vs `Vec`, et cetera. I would slightly prefer `array` and `Vec` are introduced simultaneously in an exercise so they could be discussed and differentiated. `HashMap` abstracts more completely over its backing store, thus letting us pretend it does not exist for the purpose of this exercise.
2) Because it permits simulta

[2020-03-27 20:29] seanchen1991 commented on #1022
Agreed on your points about `Vec`, using `HashMap` instead would open up a less hairy can of worms.

[2020-03-27 20:57] workingjubilee commented on #991
Hmm, alright. It still seems like something that would be worth doing in case the practice exercises ever get truly interesting, as making this change now seems easier than making it later, but I must acknowledge that the 350 line behemoth that is the example solution there is fairly uncommon currently and will likely be for some time.

[2020-03-27 20:57] #991 closed

[2020-03-28 07:40] #971 closed

[2020-03-28 14:13] efx commented on #442
@filalex77 howdy :wave: ! are you still working on this or shall we open it up for other contributors?

[2020-03-28 14:15] efx commented on #1022
Wonderful summary! This helps me frame our goals well as we draft the early exercises.

Curious, what are terminators?

[2020-03-28 14:20] efx opened #1023 "[Rust]: remove TODO's from reference documentation"
As we get closer to launch we'll want to itemize work in GitHub issues for visibility.
So let's remove the TODO section in the reference readme:
https://github.com/exercism/v3/blob/f3bb9cd2a8603ae6c26f93d1b6b4e81db749b98c/languages/rust/reference/README.md#todo

It seems many of the tasks there are part of the `.docs` requirements while implementing a concept exercise. Where that is not the case,

[2020-03-28 17:42] filalex77 commented on #442
@efx Thanks for reminding me! I'll try to do this tomorrow (seems like very little work), if not - I'll let you know. :)

[2020-03-28 17:45] efx commented on #442
sure thing @filalex77. Thank you!

[2020-03-28 21:50] aldraco opened #1025 "[Python] Implement new concept exercise: int-basic"
This issue describes how to implement the `int-basic` concept exercise for the Python track.

## Goal

The goal of this exercise is to teach the student how `int` is implemented and used in Python. We will teach the `int` type by showing the student how to use it.

## Learning objectives

 - create an `int` object, via `int` literal declaration
 - cast a string to an `int` using the builtin `int`

[2020-03-28 22:10] aldraco opened #1026 "[Python] Implement new Concept Exercise: floats-basic"
This issue describes how to implement the `floats-basic` concept exercise for the Python track.

## Goal

The goal of this exercise is to teach the basics of the `float` data type in Python. The student will have already completed the `int-basic` exercise, so this one can build on that.

## Learning objectives

 - create a float literal
 - create a float by casting an `int`
 - perform integer divi

[2020-03-28 22:25] workingjubilee commented on #1022
So, I first heard this explanation by someone who is not a Rust programmer, and it's not quite the same terminology the [Rust reference] uses. But to explain, I used "terminator" in the sense of a programming language's syntax: in C a semicolon terminates (ends) a simple `expression statement`. Consider this function in C:

[code]

Now consider this function in Rust:

[code]

Both of these are val

[2020-03-29 08:15] TheLostLambda opened #1029 "[Common Lisp] Implement new Concept Exercise: basics"
This document describes how to implement the `basics` concept exercise for the
Common Lisp track.

## Goal

The goal for this exercise is to get the student familiar with the basics of
comments, s-expressions, cons, and symbols in Common Lisp.

That is to say:

- That all s-expressions are either atoms or cons pairs
- Comments begin with a variable number of `;` (or between `#|` and `|#`)
- Symbol

[2020-03-29 10:07] imanc commented on #243
Hi,  I would like to start helping you and I found this issue: what do you think, is it OK for you? On slack channel I am iManc if you need to contact me.

[2020-03-29 10:14] DavidGerva opened #1030 "[Python] Implement new Concept Exercise: bools"
This issue describes how to implement the `bools` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-03-29 11:03] yawpitch commented on #1025
@aldraco I agree that max bound is out of scope of `int-basic`, however it may be good to clarify the point about system architecture: **sys.maxint** limits the number of items that can appear in a collection, it does _not_ represent the largest possible **int** in Python 3: `s = (sys.maxsize ** 10000)` will happily let you work with an `int` that is 6,300,000 bits long on both a 32 bit or a 64 bi

[2020-03-29 12:27] DavidGerva opened #1031 "[Python] Implement new Concept Exercise: none"
This issue describes how to implement the `none` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-03-29 18:43] TheLostLambda opened #1034 "[Common Lisp] Implement new Concept Exercise: basic-numbers"
This issue describes how to implement the `basic-numbers` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following d

[2020-03-29 21:36] workingjubilee commented on #863
It's at least worth experimenting with then, yeah.

[2020-03-30 12:21] tehsphinx commented on #243
Note: maybe simple formatting with `fmt.Sprintf` can also be handled here. If so, keep it simple as advanced formatting comes later.

[2020-03-30 13:14] #830 closed

[2020-03-30 16:35] oanaOM commented on #837
Hey @tehsphinx ,couldn't find a reference to slices under https://github.com/exercism/v3/tree/master/reference/types. Is it ok if I just add it to the list?

[2020-03-30 21:59] seanchen1991 opened #1039 "[Rust] Implement new Concept Exercise: entry-api"
This issue describes how to implement the `entry-api` concept exercise for the Rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-03-31 06:34] #972 closed

[2020-03-31 07:17] #954 closed

[2020-03-31 08:00] ErikSchierboom commented on #780
I just realized that it would be great if this exercise can also introduce the various forms of [integer literals](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/integral-numeric-types#integer-literals): normal, hexadecimal and binary. As well as introducing the digit separator (`_`) character.

[2020-03-31 08:31] #951 closed

[2020-03-31 08:51] #1010 closed

[2020-03-31 09:34] ErikSchierboom opened #1041 "[C#] Add parentheses in method references in instructions"
In the `instructions.md` documents, we should be adding parentheses after the method name. So instead of

do

[2020-03-31 14:06] ErikSchierboom opened #1044 "[C#] Implement new Concept Exercise: constants"
This issue describes how to implement the `constants` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-03-31 14:36] marvelou-s opened #1045 "[C++] Implement new Concept Exercise: numbers"
This issue describes how to implement the `numbers` concept exercise for the C++ track.

## Goal

The goal of this exercise is to teach the student how to deal with `numbers` in C++.

## Learning objectives

- Know of the existence of the two most basic number types, `int` and `double`, and understand that the former represents integer numbers, and the latter floating-point numbers.
- Know of basi

[2020-03-31 15:03] ErikSchierboom opened #1046 "[C#] Implement new Concept Exercise: method-overloading"
This issue describes how to implement the `method-overloading` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docum

[2020-03-31 23:05] wolf99 opened #1047 "[C# / F#] Can the Skip string be improved?"
During review of a change on the C# track we found that the string used for the Skip attribute was not ideal https://github.com/exercism/v3/pull/994#discussion_r399814943

The same will apply to the F# track I think

[code]

It could be unclear to students exactly what it is they should remove to run the test... the string? The `Skip` and the string ? The `Skip`, the string and the parenthesis? Th

[2020-04-01 00:21] verdammelt commented on #953
I think this looks good. Plenty of stuff in scope that will help the student have lots of tools in their toolbox for later use.

[2020-04-01 06:25] #948 closed

[2020-04-01 06:38] ErikSchierboom commented on #1047
I like the suggestion. Maybe be slightly more explicit and have: `"Remove this Skip property to run this test"`?

[2020-04-01 15:49] TheLostLambda commented on #497
Small update here, as the test-runners won't have access to the internet, I've come up with this. It's only ~70MB and is pretty bare-bones.

I've preselected some Quicklisp libraries that we may want available for some practice exercises or just for students to play with in a sandbox. Let me know what you think of those choices and if you think I should include any more!

[code]

[2020-04-01 18:20] iHiD commented on #690
@msomji Please don't upin this :)

[2020-04-01 21:44] dvik1950 opened #1066 "[Ruby] Extract Concepts from v2 exercise: Resistor Color Duo"
Extract the list of concepts required to solve the v2 Ruby exercise: `resistor-color-duo`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/ruby/exercises/resistor-color-duo/solutions`). The goal of this task is to help determine the total list of conce

[2020-04-01 23:00] senal commented on #690
@iHiD , Sorry for the inconvenience. I can not recall I did unpin intentionally. :(

[2020-04-01 23:55] iHiD commented on #690
That's ok! :)

[2020-04-02 00:24] efx opened #1068 "[Rust] Implement new Concept Exercise: string-use"
This issue describes how to implement the `string-use` concept exercise for the Rust track.

## Goal

The goal of this exercise is to teach the student how `String` is implemented in Rust. This is part of a few concept exercises introducing the student to Rust's 2 string types.

## Learning objectives

- Know of the existence of type `String`.
- Know of basic functions that work on `Y`.
- Know how

[2020-04-02 07:38] tehsphinx commented on #837
@oanaOM: You can add that and then we can ask for @ErikSchierboom and other peoples opinion in the PR. They might feel that we should link to e.g. list instead. We will see :)

[2020-04-02 07:40] ErikSchierboom commented on #837
I'm fairly certain a slice is different from a list (although they can be used together), and yes: creating a new document under `reference/types` would be brilliant!

[2020-04-02 08:23] ErikSchierboom commented on #880
Closed by #973.

[2020-04-02 08:23] #880 closed

[2020-04-02 09:11] ErikSchierboom opened #1070 "[C#] Implement new Concept Exercise: extension-methods"
This issue describes how to implement the `extension-methods` concept exercise for the C# track.

## Goal

The goal of this exercise is to teach the student the Concept of Extension Methods in C#.

## Learning objectives

- Know what extension methods are.
- Know how to define extension methods.
- Know what namespaces are.
- Know how to import namespaces.

## Out of scope

- Assemblies.

## Concep

[2020-04-02 09:41] ErikSchierboom opened #1072 "[F#] Implement new Concept Exercise: sets"
This issue describes how to implement the `sets` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Sets in F#.

## Learning objectives

- Know of the existence of the `Set` type.
- Know how to define a set.
- Know that sets have structural equality.
- Know that sets are immutable.
- Know how to add and remove elements in a s

[2020-04-02 09:50] ErikSchierboom opened #1073 "[F#] Implement new Concept Exercise: modules"
This issue describes how to implement the `modules` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Modules in F#.

## Learning objectives

- Know what modules are.
- Know how to define a module.
- Know about nested modules.
- Know about recursive modules.
- Know what namespaces are.
- Know how to import namespaces.

## Ou

[2020-04-02 10:48] #1041 closed

[2020-04-02 11:11] ErikSchierboom opened #1075 "[F#] Implement new Concept Exercise: mutation"
This issue describes how to implement the `mutation` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Mutation in F#.

## Learning objectives

- Know how mutation works in F#.
- Know how to define a variable (mutable binding).
- Know how to work with reference cells.
- Know how to update mutable values.
- Know when to use m

[2020-04-02 21:39] oanaOM commented on #837
Sure thing. I've just added the slice.md under `reference/types ` in my PR.

[2020-04-02 23:27] verdammelt commented on #497
This looks nice. That dockerfile is or will be over the test runners repo?

I'm still in the camp of not having the students use external libraries myself - fiveam is the only one there I know will be required.

[2020-04-03 01:18] BethanyG opened #1086 "[Python] Implement new Concept Exercise: sets-basic"
This issue describes how to implement the `sets-basic` concept exercise for the Python track.

## Goal

The goal of this exercise is to teach the basics of the [set](https://github.com/exercism/v3/blob/master/languages/python/reference/concepts/builtin_types/set.md) (set type) in Python.

## Learning objectives

*  understand that a set is an unordered collection of distinct hashable objects
*  cr

[2020-04-03 07:19] #1020 closed

[2020-04-03 08:16] mikedamay opened #1087 "[C#] Proposal for Implementors' Guide"
While we are waiting for the call for action and the rush of volunteers to implement the roughly 150 exercises, should we think about producing a C# implementors’ user guide (a one stop shop)  or are there other more pressing issues?

Examples are invaluable but fleshing them out with some precepts (you can’t say concepts, these days) might help some people.  A guide could combine workflow and fil

[2020-04-03 08:58] TheLostLambda commented on #497
It's not up just yet, but I'll look into getting it there :)

And I think I agree for the actual exercise solutions. I suppose I just haven't decided if I want to enforce that yet. It sounds like these test runners might only be used to test code (no sandbox coding or anything) so we can probably get away with just FiveAM (and maybe CL-JSON because the test runner needs to handle JSON).

I'll comm

[2020-04-03 10:17] ErikSchierboom opened #1088 "[F#] Implement new Concept Exercise: pattern-matching"
This issue describes how to implement the `pattern-matching` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Pattern Matching in F#.

## Learning objectives

- Know what pattern matching is.
- Know how to use `match` to use pattern matching.
- Know about constant and wildcard patterns.
- Know how to apply guards to pattern

[2020-04-03 10:17] ErikSchierboom commented on #1088
I'm working on this.

[2020-04-03 11:15] #900 closed

[2020-04-03 14:20] #1088 closed

[2020-04-03 18:06] efx opened #1094 "[Rust] Implement new Concept Exercise: str-use"
This issue describes how to implement the `str-use` concept exercise for the rust track.

## Goal

Introduce the student to the basics of working wih the `&str` type: string slices.

## Learning objectives

- Know how to work with `&str` and through the available methods
- Know that `&str` are a shared reference to a `String`
- Know that `&str` is immutable

## Out of scope

- the differences betw

[2020-04-03 18:23] efx opened #1095 "[Rust] Implement new Concept Exercise: string-vs-str"
This issue describes how to implement the `string-vs-str` concept exercise for the rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2020-04-03 20:53] BethanyG opened #1097 "[Python] Implement new Concept Exercise: tuples"
This issue describes how to implement the `tuples` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-03 21:58] efx commented on #863
I tested it in Vim using the [editorconfig plugin](https://github.com/editorconfig/editorconfig-vim). it does not touch the whitespace of code blocks.
![editorconfig-vim](https://user-images.githubusercontent.com/472721/78407943-f0663200-75d3-11ea-812e-d116969e4052.png)

[2020-04-03 22:07] efx commented on #863
Another alternative is we introduce `markdown-lint` with a very small configuration: https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md#md009.
That said, I've mostly experience with editorconfig but I like the non-modifying behavior of a linter,

[2020-04-04 05:41] workingjubilee opened #1098 "[Rust] Implement new Concept Exercise: loops"
This issue describes how to implement the loops concept exercise for the Rust track.

## Goal

This concept exercise should convey a basic understanding of loops in Rust. A complete review of all possible loops in a single exercise is infeasible. The primary goal is to introduce the student to the usage of `for` loops with the `x..y` pattern, which are the most common type of loop in Rust.

## Lea

[2020-04-04 17:00] robkeim commented on #1047
Thanks for taking care of this @wolf99!

[2020-04-04 17:00] #1047 closed

[2020-04-05 08:34] #1029 closed

[2020-04-05 11:22] #497 closed

[2020-04-05 13:03] DavidGerva opened #1103 "[Python] Implement new Concept Exercise: conditionals"
This issue describes how to implement the `conditionals` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-04-05 23:14] SleeplessByte opened #1105 "[Ruby] Forking datetime from C#"

[2020-04-05 23:22] dvik1950 opened #1106 "[Ruby] Forking floating-point-numbers from C#"
https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/floating-point-numbers

[2020-04-06 06:56] workingjubilee opened #1108 "[Rust] Implement new Concept Exercise: vec"
This issue describes how to implement the vec concept exercise for the Rust track.

## Goal

The vec collection is the most common data container in Rust, and as such has many miscellaneous functions. This should serve as an introduction to common usage of Vecs, and is not intended to cover its usage exhaustively. It should mention that Vec is not an array, but it is not required to treat arrays i

[2020-04-06 11:55] marvelou-s opened #1110 "[C++] Implement new Concept Exercise: enums"
This issue describes how to implement the `enums` concept exercise for the C++ track.

## Goal

The goal of this exercise is to teach the student how to deal with `enum class` in C++.

## Learning objectives

- Know of the existence of the `enum` keyword.
- Know of the existence of the `enum class` keyword.
- Know how to define `enum` members.
- Know how to define `enum class` members.
- Know the

[2020-04-06 12:53] SaschaMann opened #1111 "[Julia] [CI] Add doctest-like checks for examples in exercise documentation files"
Many documentation files for the exercises contain example code. To make sure the examples are valid, they should be tested, similar to doctests.

[2020-04-06 18:11] seanchen1991 opened #1112 "[Rust] Implement new Concept Exercise: hashmap"
This issue describes how to implement the hashmap concept exercise for the Rust track.

## Goal

The hashmap collection is a commonly-used collection in Rust that has many miscellaneous methods associated with it. This concept exercise should serve as an introduction to the common-case usage of `HashMap`s, though it is not intended to cover its usage exhaustively.

## Learning objectives

Student

[2020-04-07 06:29] tehsphinx commented on #837
@oanaOM: Can this issue be closed or is there still something open?

[2020-04-07 10:24] ErikSchierboom commented on #1087
So for C#, that would be [this document](https://github.com/exercism/v3/blob/master/languages/csharp/reference/implementing-a-concept-exercise.md), which is the basis for any GitHub issues created (and for [this example issue](https://github.com/exercism/v3/blob/master/languages/csharp/reference/examples/new-concept-exercise-arrays.md)).

Agreed.

Thanks so much for keeping track of these things!

[2020-04-07 10:33] TheLostLambda opened #1121 "[Common Lisp] Implement new Concept Exercise: variables"
This document describes how to implement the `variables` concept exercise for
the Common Lisp track.

## Goal

The goal of this exercise is to familiarize students with the definition and
scoping of variables in Common Lisp. Students should be able to create local,
global, and constant variables and understand dynamic vs lexical scoping.

The use of earmuffs (`*var*`) and the equivalent convention

[2020-04-07 12:25] ErikSchierboom opened #1123 "[F#] Implement new Concept Exercise: function-composition"
This issue describes how to implement the `function-composition` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student more advanced aspects of the Concept of Composition in F#.

## Learning objectives

- Know what function associativity is.
- Know how to compose functions.
- Know what partial application is and how to use it.
- Know what currying is and ho

[2020-04-07 13:04] ErikSchierboom opened #1125 "[F#] Implement new Concept Exercise: error-handling"
This issue describes how to implement the `error-handling` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Error Handling in F#.

## Learning objectives

- Know when to use exceptions vs results vs options.
- Know what railway oriented programming is.
- Know how to use railway oriented programming, including custom operato

[2020-04-07 13:26] ErikSchierboom opened #1126 "[JavaScript] Security warnings"
The [GitHub security alerts page](https://github.com/exercism/v3/network/alerts) shows that there are several exercises that have a security risk. These should be fixed.

[2020-04-07 14:36] ErikSchierboom opened #1127 "[C#] Implement new Concept Exercise: namespaces"
This issue describes how to implement the `namespaces` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-07 14:48] ErikSchierboom opened #1128 "[C#] Implement new Concept Exercise: parameters"
This issue describes how to implement the `parameters` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-07 18:33] workingjubilee commented on #863
That adds a dependency on Node, which is reasonable on the server but unreasonable to expect of all maintainers. I think the `.editorconfig` is ironically less invasive.

[2020-04-07 20:59] efx opened #1130 "[Rust] Implement new Concept Exercise: structs"
This issue describes how to implement the `structs` concept exercise for the rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-08 03:14] neenjaw commented on #839
Updated for basics, booleans, conditionals

[2020-04-08 06:23] batibot323 commented on #1046
The assignee is the one that has to come up with the problem, right? The problem that will serve as opportunity to teach and apply this Concept?

[2020-04-08 07:33] ErikSchierboom commented on #1046
@batibot323 Well, usually: yes. Unless you find someone else to come up with a story. Regarding this issue: I'm currently restructuring them, so could you perhaps hold off on this issue for a bit?

If you'd like to jump into an issue, the [booleans exercise](https://github.com/exercism/v3/issues/1004) is perfect, as it has already been implemented in F#: https://github.com/exercism/v3/tree/master/

[2020-04-08 08:22] mikedamay commented on #1087
Indeed, an expression is code.  My thrust was that sometimes multiple statements were required as in the case of properties and sometimes a single expression was appropriate as for strings.  On reflection, they are both demonstrations of usage so this would require some rewording.

I suppose I favour more "hand holding".  For example to give links to specific examples.  I know there is a general s

[2020-04-08 08:28] ErikSchierboom commented on #1087
Thanks for the responses. We'd be more than happy to take PR's for improvements if you are interested in doing that :)

[2020-04-08 08:39] batibot323 commented on #1004
I'm interested in doing this after reading the [F# implementation](https://github.com/exercism/v3/tree/master/languages/fsharp/exercises/concept/booleans). Can I assign to myself?

[2020-04-08 08:48] ErikSchierboom opened #1133 "[Ruby] Use new naming rules for config.json concepts"
We've recently introducing rules regarding the [naming of concepts](https://github.com/exercism/v3/blob/master/docs/maintainers/determining-concepts.md#naming-concepts) in `config.json` files.

The Ruby track's [config.json](https://github.com/exercism/v3/blob/master/languages/ruby/config.json) file should be updated to conform to the new naming rules.

[2020-04-08 08:49] ErikSchierboom opened #1134 "[Python] Use new naming rules for config.json concepts"
We've recently introducing rules regarding the [naming of concepts](https://github.com/exercism/v3/blob/master/docs/maintainers/determining-concepts.md#naming-concepts) in `config.json` files.

The Python track's [config.json](https://github.com/exercism/v3/blob/master/languages/python/config.json) file should be updated to conform to the new naming rules.

[2020-04-08 08:50] ErikSchierboom opened #1135 "[JavaScript] Use new naming rules for config.json concepts"
We've recently introducing rules regarding the [naming of concepts](https://github.com/exercism/v3/blob/master/docs/maintainers/determining-concepts.md#naming-concepts) in `config.json` files.

The JavaScript track's [config.json](https://github.com/exercism/v3/blob/master/languages/javascript/config.json) file should be updated to conform to the new naming rules.

[2020-04-08 08:51] ErikSchierboom opened #1136 "[Dart] Use new naming rules for config.json concepts"
We've recently introducing rules regarding the [naming of concepts](https://github.com/exercism/v3/blob/master/docs/maintainers/determining-concepts.md#naming-concepts) in `config.json` files.

The Dart track's [config.json](https://github.com/exercism/v3/blob/master/languages/dart/config.json) file should be updated to conform to the new naming rules.

[2020-04-08 08:51] ErikSchierboom opened #1137 "[C++] Use new naming rules for config.json concepts"
We've recently introducing rules regarding the [naming of concepts](https://github.com/exercism/v3/blob/master/docs/maintainers/determining-concepts.md#naming-concepts) in `config.json` files.

The C++ track's [config.json](https://github.com/exercism/v3/blob/master/languages/cpp/config.json) file should be updated to conform to the new naming rules.

[2020-04-08 09:35] ErikSchierboom commented on #1004
Sure!

[2020-04-08 09:44] ErikSchierboom commented on #33
There is an [open PR](https://github.com/exercism/v3/pull/1033/files) that creates an array exercise for JavaScript. It might be convenient to port that exercise instead of having to come up with everything ourselves, as much of the groundwork in that exercise can be re-used for a C# exercise (the theme/context), instructions, etc. For an example on how to do a port of an existing exercise, see [t

[2020-04-08 10:21] ErikSchierboom opened #1138 "[C#] Implement new Concept Exercise: overflows"
This issue describes how to implement the `overflows` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-08 10:28] ErikSchierboom commented on #780
@EarthlingRich I've updated this issue to conform to the latest in Concept naming and issue contents. Progressive insight has suggested that also introducing overflows might be a bit much, so I've created [a separate exercise](https://github.com/exercism/v3/issues/1138) to cover that Concept.

Let me know if you have any questions and if you are still interested in working on this.

[2020-04-08 11:44] ErikSchierboom opened #1141 "[C#] Implement new Concept Exercise: user-defined-exceptions"
This issue describes how to implement the `user-defined-exceptions` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2020-04-08 11:48] ErikSchierboom commented on #966
@archrisV I've updated this issue, as we're re-assessing the scope of the various exercises. Practically, what this means for this exercise is:

- User-defined (custom) exceptions are out of scope.
- Exception filtering is out of scope.

[2020-04-08 12:07] ErikSchierboom opened #1142 "[C#] Implement new Concept Exercise: casting"
This issue describes how to implement the `casting` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-04-08 12:16] ErikSchierboom commented on #546
@MarkusReynolds1989 We're refining the various Concept exercise issues. Would you mind me updating this issue to conform to the latest version?

[2020-04-08 12:20] MarkusReynolds1989 commented on #546
Sorry, I've been trying to catch up with work since I've been back. Please feel free to make any changes. I'll continue to work on this when I have more time.

[2020-04-08 12:29] ErikSchierboom commented on #642
Closed by #714

[2020-04-08 12:29] #642 closed

[2020-04-08 12:30] ErikSchierboom commented on #34
@Kavignon Just checking up on your progress. Do you need any help?

[2020-04-08 12:31] ErikSchierboom commented on #546
No worries, thanks for the quick reply! I'll update the issue.

[2020-04-08 12:55] ErikSchierboom commented on #546
@MarkusReynolds1989 The issue has been updated. The main changes are:

- You can expect students to know about using a `switch` statement to pattern match on constant values (basic, old-school `switch`).
- You can expect students to know about casting using `is`, `as` and explicit casts.
- The exercise aims to teach three things now:
  - Pattern matching on types using a `switch` statement.
  - Pa

[2020-04-08 13:21] ErikSchierboom opened #1145 "[C#] Implement new Concept Exercise: expression-bodied-members"
This issue describes how to implement the `expression-bodied-members` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the followin

[2020-04-08 13:35] ErikSchierboom opened #1146 "[C#] Implement new Concept Exercise: memory-pooling"
This issue describes how to implement the `memory-pooling` concept exercise for the C# track.

## Goal

The goal of this exercise is to teach the student advanced aspects of the Concept of Memory Pooling in C#.

## Learning objectives

- Know what memory pooling is and why it should be used.
- Know how to use the `ArrayPool<T>` and `MemoryPool<T>` classes.

## Out of scope

- Discussion of profili

[2020-04-08 13:42] ErikSchierboom opened #1147 "[C#] Implement new Concept Exercise: pointers"
This issue describes how to implement the `pointers` concept exercise for the C# track.

## Goal

The goal of this exercise is to teach the student advanced aspects of the Concept of Pointers in C#.

## Learning objectives

- Know what pointers are.
- Know how to define and use pointer types.
- Know how to use the `unsafe` keyword and pointer operators.
- Know how to use the `fixed` keyword.

## O

[2020-04-08 16:40] imanc commented on #243
Hi. I've got a fist iteration. Can I push somewhere so you can take a look?

[2020-04-08 18:14] tehsphinx commented on #243
Hi @imanc: if you can't push in this repo, create a clone and push there. Then you can create a Pull Request in this repository from your clone.

[2020-04-09 05:08] workingjubilee opened #1152 "[Rust] Implement new Concept Exercise: iterators"
This issue describes how to implement the iterator concept exercise for the Rust track.

## Goal

Iterators are one of Rust's more versatile linguistic abstractions, so it is not possible to cover in a single exercise. This exercise has only the goal of covering the foundations of Iterator so that advanced usage can be covered in detail.

## Learning objectives

Student should be able to...
- reco

[2020-04-09 08:29] ErikSchierboom opened #1153 "[F#] Implement new Concept Exercise: memory-allocation"
This issue describes how to implement the `memory-allocation` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Memory Allocation in F#.

## Learning objectives

- Know what the stack and heap are.
- Know what the garbage collector is.
- Know how the stack and heap are different.
- Know what the large object heap is.
- Know

[2020-04-09 08:36] ErikSchierboom opened #1154 "[F#] Implement new Concept Exercise: overflows"
This issue describes how to implement the `overflows` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Memory Allocation in F#.

## Learning objectives

- Explain integral number overflows.
- Explain floating-point number overflows.
- Know how to use the `Checked` module to deal with overflows.

## Out of scope

- BigIntege

[2020-04-09 09:13] ErikSchierboom opened #1155 "[F#] Implement new Concept Exercise: operator-overloading"
This issue describes how to implement the `operator-overloading` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Operator Overloading in F#.

## Learning objectives

- Know how to add custom operators for built-in types.
- Know how to add custom operators for user-defined types.
- Know how to overload existing operators fo

[2020-04-09 12:44] ErikSchierboom opened #1159 "[F#] Implement new Concept Exercise: type-inference"
This issue describes how to implement the `type-inference` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Type Inference in F#.

## Learning objectives

- Know what type-inference is
- Know how type-inference works.
- Know on what values type inference works (including records, tuples and discriminated unions).
- Know abo

[2020-04-09 13:01] ErikSchierboom opened #1160 "[F#] Implement new Concept Exercise: expressions"
This issue describes how to implement the `expressions` concept exercise for the F# track.

## Goal

The goal of this exercise is to teach the student the basics of the Concept of Expressions in F#.

## Learning objectives

- Know what expressions are.
- Know how expressions are different from statements.
- Know what pure functions are.
- Know what the `unit` type is.
- Know about the `ignore` fun

[2020-04-09 14:49] efx commented on #695
Summarizing salient points of the thread to reinforce my understanding of this discussion.
- A student can start at any point within a track. By keeping Exercism Concept exercises succinct, the annoyance caused by 5min * n exercises should be minimal.
- We can use the term DAG to describe Exercism Concepts. It is a tool for maintainers and students and contributors need not worry about it.
- Using

[2020-04-09 14:57] efx opened #1162 "[ALL] can we use prettier to enforce consistent markdown formatting?"
# the problem

The flexible nature of Markdown means each contributor will write it slightly differently. This creates a cognitive load on maintainers reviewing pull requests. I originally wanted to nudge users using editorconfig but discussing with @ErikSchierboom he mentioned prettier. [Prettier](https://prettier.io/) is a JavaScript tool that automatically applies "opinionated formatting".

# p

[2020-04-09 22:00] gwaerondor opened #1169 "[Erlang] Implement new Concept Exercise: atoms"
This issue describes how to implement the `atoms` concept exercise for the Erlang track.

## Goal
The goal of this exercise is to teach the student how atoms work in Erlang. We will teach this through the use of pattern matching on different atoms, and ensuring that conventional tuples with result and data is returned.

## Learning objectives
- Know of the existence of atoms.
- Understand that ato

[2020-04-09 23:47] workingjubilee commented on #1162
Discussion of #863 should continue in a single issue rather than being split amongst multiple issues.

[2020-04-10 06:34] ErikSchierboom commented on #1162
Agreed. I missed the other issue.

[2020-04-10 06:34] #1162 closed

[2020-04-10 06:54] ErikSchierboom commented on #863
Well, we _can_ do both. What if we set the editorconfig settings such that they conform to prettier's markdown setting?

There are a couple of things that I really like about prettier:

- Great editor integration (includes Vim, Atom, VS Code, and more). Works great with VS Code's "Format on Save" feature.
- Can easily be setup in a CI environment to verify the markdown
- Is easy to run as a script

[2020-04-10 12:31] ErikSchierboom opened #1175 "[F#] Implement new Concept Exercise: attributes"
This issue describes how to implement the `attributes` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-10 12:54] ErikSchierboom opened #1176 "[C#] Implement new Concept Exercise: attribute"
This issue describes how to implement the `attributes` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-10 13:17] ErikSchierboom opened #1178 "[F#] Implement new Concept Exercise: integral-numbers"
This issue describes how to implement the `integral-numbers` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-04-10 13:23] SleeplessByte commented on #1126
I don't have access to that page, so I can't fix them either.

Note that security risk is _not_ security vulnerability.

[2020-04-10 13:54] ErikSchierboom opened #1185 "[F#] Implement new Concept Exercise: string-formatting"
This issue describes how to implement the `string-formatting` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-04-10 14:04] ErikSchierboom commented on #1126
![image](https://user-images.githubusercontent.com/135246/78996431-e2209480-7b44-11ea-8ec9-90d7e2e9e007.png)

True, but there are high risk entries.

[2020-04-10 14:14] ErikSchierboom opened #1187 "[JavaScript] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:15] ErikSchierboom opened #1188 "[C++] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:15] ErikSchierboom opened #1189 "[Dart] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:16] ErikSchierboom opened #1190 "[Ruby] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:16] ErikSchierboom opened #1191 "[Julia] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:17] ErikSchierboom opened #1192 "[Python] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:17] ErikSchierboom opened #1193 "[Common Lisp] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:18] ErikSchierboom opened #1194 "[Go] Update .meta/config.json files"
We've recently introduced a change to the exercise's `.meta/config.json` format. See [the specification](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#metaconfigjson) for the new format. Please update your exercises's to the new format.

Concretely, this will mean putting moving the author(s) (the people that did the initial PR to add the exercise to your track) should be mo

[2020-04-10 14:22] ErikSchierboom opened #1195 "[Go] Add exercises to config.json"
I've just noticed that the Go track has implemented Concept Exercises, but that they are not yet defined in the Go track's [`config.json` file](https://github.com/exercism/v3/blob/master/languages/go/config.json):

[code]

Please add entries for the created Concept Exercises. For an example what each entry should look like, see [this document](https://github.com/exercism/v3/blob/master/docs/mainta

[2020-04-10 14:47] ErikSchierboom commented on #1195
CC @exercism/go

[2020-04-10 14:48] ErikSchierboom commented on #1194
CC @exercism/go

[2020-04-10 14:48] ErikSchierboom commented on #1187
CC @exercism/javascript

[2020-04-10 14:48] ErikSchierboom commented on #1189
CC @exercism/dart

[2020-04-10 14:48] ErikSchierboom commented on #1190
CC @exercism/ruby

[2020-04-10 14:48] ErikSchierboom commented on #1192
CC @exercism/python

[2020-04-10 14:49] ErikSchierboom commented on #1193
CC @exercism/common-lisp

[2020-04-10 15:07] #1188 closed

[2020-04-10 15:20] TheLostLambda commented on #1193
I can get that sorted later today! If something isn't a fork, should we have an empty array or a null value?

[2020-04-10 15:55] iHiD commented on #1087
I've turned Mike's original post into a list of checkboxes. We should tick each off as we get them onto master somewhere.

[2020-04-10 16:03] ErikSchierboom commented on #1087
Excellent! Thanks @iHiD

[2020-04-10 16:03] ErikSchierboom commented on #1193
Just leave out the key.

[2020-04-10 16:22] #1193 closed

[2020-04-10 18:48] TheLostLambda opened #1199 "[Common Lisp] Implement new Concept Exercise: strings"
This document describes how to implement the `strings` concept exercise for the
Common Lisp track.

## Goal

The goal of this exercise is to familiarise students with strings in Common Lisp
and some of the functions for creating and manipulating them (including the
relevant sequence functions).

Additionally, the student should be taught how to print values to both strings
and the standard output.

[2020-04-11 00:28] workingjubilee commented on #863
That sounds good, actually. I just prefer being able to verify a PR is good before I submit it and, having wrangled some packaging hells before, I am conscious that "just install Node!" is... not that for many people, so the compatibility can sometimes be more theoretical than actual.

[2020-04-11 00:40] workingjubilee commented on #1162
Thank you!

[2020-04-12 15:26] workingjubilee commented on #863
I would like to hear more about @NobbZ's speculation that whitespace may be relevant given that the Prettier markdown formatter, judging by my experimentation, [does trim trailing whitespace](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEBaABAFTgDxgOnQB0oNs9D10BDEqsuAZxgEsoBzfEgA14CtGJAGYBXKGFbR0AdwAWLeIwAO1MHAAUASnTAqddACc4MEQajoAJhAD6zEUKFaA3FXQB6N1iYESAXx68IAA0IBBKklCMyKDUBgYQ0gAKsQhRKNQANt

[2020-04-13 07:33] NobbZ commented on #863
As I said, in a *codeblock* it is significant, depending on the language, I even gave an example, the [Whitespace](https://en.wikipedia.org/wiki/Whitespace_(programming_language)) language.

And on the other hand side, I explicitely said, that outside of a codeblock I prefer to *not* have trailing whitespace, but use `<br>` instead.

So

[code]

Is to be prefered over

[code]

[2020-04-13 07:48] workingjubilee commented on #863
...oh, a PL actually named Whitespace. OK.
Well, the Prettier formatter does not respect that within inline code blocks. It seems to ignore whitespace, however, if it is formatting ``` code blocks for a a language it does not recognize (it formats js, for instance, but not other things).

[2020-04-13 10:50] wolf99 opened #1208 "[CI] Spell-check for documentation?"
Would it be possible to add spell checking to CI for documentation (both student-facing and reference)?
Possibly extending to all markdown files (or other doc file types) throughout.
Depending on the method used there could be potential to extend to code samples and stubs also.

### Justification:

There are people from all over the world contributing to Exercism. We cannot expect everyone to know

[2020-04-13 11:11] Calamari commented on #944
Why is looping a prerequisite if looping over an array is out of scope?

[2020-04-13 13:53] efx commented on #863
Prettier respects a [subset](https://prettier.io/docs/en/api.html) of editorconfig's options. From a quick read, they do not apply to trailing whitespace. The issue Jubilee linked above do give me pause on wholesale usage with Markdown.
So I'll keep considering how we can integrate the two approaches to Markdown consistency.

[2020-04-13 17:36] mindit-ovidiumiu commented on #944
Well, one task of the exercise is building an array of cards (see #1033), so the student will probably use a `for/while` loop, but this is not really looping over an existing array (by using `forEach` or using `for` along with `length` and accessing an element by its index). At least this is how I see it.

[2020-04-13 17:37] ovidiu141 commented on #944
Well, one task of the exercise is building an array of cards (see #1033), so the student will probably use a for/while loop, but this is not really looping over an existing array (by using forEach or using for along with length and accessing an element by its index). At least this is how I see it.

[2020-04-13 22:05] coriolinus commented on #991
In [Slack discussion](https://exercism-team.slack.com/archives/CC48Y3H1B/p1586735931005700), we're talking about potentially adding a rust concept for procedural macros. In the course of that discussion, we noted in passing that having a single `example.rs` file wouldn't work: due to language requirement, procecural macros need to be in their own crate, which needs to live in its own folder.

It's

[2020-04-14 00:56] aimorris commented on #1187
Working on this now.

[2020-04-14 01:08] SleeplessByte commented on #1187
@aimorris I'm the original author of all JS exercises, except for the single one that we ported (fork).

[2020-04-14 01:14] aimorris commented on #1187
@SleeplessByte Was it the booleans exercise that was ported?

[2020-04-14 03:56] aimorris commented on #376
Can this be closed due to #521?

[2020-04-14 03:57] aimorris commented on #634
@Calamari Is this still in-progress?

[2020-04-14 03:57] aimorris commented on #635
@Calamari is this still in-progress/are you still working on it?

[2020-04-14 03:57] aimorris commented on #653
@hayashi-ay is this still in-progress/are you still working on it?

[2020-04-14 03:57] aimorris commented on #654
@hayashi-ay is this still in-progress/are you still working on it?

[2020-04-14 04:05] aimorris opened #1215 "[CI] Remove status/in-progress label from closed issues"
The `status/in-progress` label should automatically be removed from issues when they are closed, as they are no longer in progress.

[2020-04-14 04:15] aimorris commented on #1215
https://github.com/marketplace/actions/simple-issue-labeler

[2020-04-14 04:15] aimorris opened #1216 "[JavaScript] TEST"
TEST

[2020-04-14 04:16] #1216 closed

[2020-04-14 04:20] aimorris commented on #544
@zuzia-kru Hello! Are you still working on a PR for this issue?

[2020-04-14 05:36] hayashi-ay commented on #653
@aimorris No. I created PR(#1048) and it was merged.

[2020-04-14 05:36] hayashi-ay commented on #654
@aimorris Yes, I'm still working on.

[2020-04-14 05:58] aimorris commented on #653
#1048

[2020-04-14 05:58] #653 closed

[2020-04-14 06:47] zuzia-kru commented on #544
Hello @aimorris , yes I am, is that okay?

[2020-04-14 07:10] ErikSchierboom commented on #863
I does indeed turn out that prettier does not respect trailing whitespace in code blocks. That said, I do think this is very much an edge case (we don't have a whitespace track at the moment). And even if we did, there is one way to have prettier not format the code block, and that is to prefix it with ``. So yes, prettier is not optimal, but I still think it is an excellent tool for 99.9% of our

[2020-04-14 07:10] aimorris commented on #544
@zuzia-kru That's great. Keep up the good work :)

[2020-04-14 07:53] ErikSchierboom commented on #1187
I'm fairly certain that the booleans exercise was not ported and was created by @ovidiu141.

[2020-04-14 07:59] aimorris commented on #1187
@ErikSchierboom That's what I thought from looking through the PR's for other languages. I've moved my PR from draft now.

[2020-04-14 08:13] #1187 closed

[2020-04-14 08:25] ErikSchierboom commented on #991
Right. So if I understand correctly, there are technical limitations to having a single `example.rs` file. Would having a `.meta/example` folder help with those?

[2020-04-14 09:35] ErikSchierboom opened #1220 "[F#] Implement new Concept Exercise: static-members"
This issue describes how to implement the `static-members` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2020-04-14 09:50] ErikSchierboom opened #1221 "[F#] Implement new Concept Exercise: properties"
This issue describes how to implement the `properties` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-14 10:16] ErikSchierboom opened #1222 "[F#] Implement new Concept Exercise: fields"
This issue describes how to implement the `fields` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [Th

[2020-04-14 10:28] SleeplessByte commented on #1126
Making them high risk still doesn't mean they're applicable to us, at all.

For example, `minimist`: https://github.com/advisories/GHSA-vh95-rmgr-6w4m

This one _requires_ you to be able to craft a special payload and send that to `minimist` which is only used in `mkdirp`. Nowhere in the code do we currently allow "user payloads" to be sent to `mkdirp`.

So should it be fixed? Sure. Is it importan

[2020-04-14 10:29] ErikSchierboom opened #1223 "[F#] Implement new Concept Exercise: constructors"
This issue describes how to implement the `constructors` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-04-14 10:36] ErikSchierboom commented on #1126
Okay, thanks for explaining. Someone can fix these when they have time then.

[2020-04-14 11:13] ErikSchierboom commented on #991
Or is that you need multiple stubs files to work with?

[2020-04-14 11:26] ovidiu141 commented on #376
I think so.

[2020-04-14 11:27] ErikSchierboom opened #1224 "[F#] Implement new Concept Exercise: method-overloading"
This issue describes how to implement the `method-overloading` concept exercise for the F# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docum

[2020-04-14 11:38] ErikSchierboom opened #1225 "[C#] Implement new Concept Exercise: interfaces"
This issue describes how to implement the `interfaces` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-14 11:46] coriolinus commented on #991
Yes, you understand correctly. In the specific case of procecural macros, a `.meta/example` folder would work very well, so long as for testing purposes, we can pretend that the contents of that folder are actually the project root; they can't all (for example) get copied into the `src/` directory.

That said, we're not entirely sure that we want to create a procedural macros exercise yet. It woul

[2020-04-14 11:56] ErikSchierboom opened #1226 "[C#] Implement new Concept Exercise: constructors"
This issue describes how to implement the `constructors` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-04-14 12:00] ErikSchierboom commented on #991
This sounds like a good idea! Thanks for explaining.

[2020-04-14 12:43] efx opened #1228 "[Rust] Implement new Concept Exercise: methods"
This issue describes how to implement the `methods` concept exercise for the rust track.

## Goal

The goal of this exercise is to teach the student how to use methods in Rust.

## Learning objectives

- know what the `impl` keyword means
- know how to define methods on structs
- know how to read properties on an instance of a struct using `&self`
- know how to mutate properties on an instance of

[2020-04-14 13:46] #1192 closed

[2020-04-14 13:57] ErikSchierboom commented on #1228
@efx I've added the "Getting started" section (see [this example](https://github.com/exercism/v3/issues/1226)) to the issue.

In a few minutes, I'll also be automatically adding the video reference (see #1227).

[2020-04-14 14:24] SleeplessByte commented on #863
My two cents:

1. Please add _both_ .editorconfig ánd `prettier`: the first for users and IDE integration, the second for automatic git-hook and/or CLI check.

2. Use `` in front of codeblocks with white-space significant content. The amount of languages where we _require_ trailing whitespace is so little that it's not worth NOT using this at all. If `whitespace` becomes a supported language, we c

[2020-04-14 14:26] ErikSchierboom commented on #863
So the best approach seems to be a combination of prettier and .editorconfig. I'll try and create a PR for this.

[2020-04-14 14:51] MarkusReynolds1989 commented on #33
Hey Erik,
I'll go ahead and just work on porting that exercise then, if there's a great example no reason to reinvent the wheel. I'll watch the video and work on that some time today.

[2020-04-14 15:24] efx commented on #1228
thanks @ErikSchierboom . I will make those updates to this issue later today.

[2020-04-14 15:35] ErikSchierboom commented on #33
Awesome! [This video](https://www.youtube.com/watch?v=gkbBqd7hPrA&) is also a great one to watch.

[2020-04-14 19:39] SleeplessByte commented on #944
That's interesting. I think it will work fine, for now. We can change the prereqs later if need be :)

[2020-04-14 19:53] dvik1950 opened #1234 "[Ruby] Implement new Concept Exercise: conditionals"
This issue describes how to implement the `conditionals` concept exercise for the Ruby track.

## Goal
The goal of this exercise is to teach the student how conditionals are implemented in Ruby

## Learning objectives

`conditionals

Will edit with more details, just creating this so no double efforts are made.

[2020-04-14 19:56] dvik1950 commented on #1066
Solved https://github.com/exercism/v3/pull/1167

[2020-04-14 19:56] #1066 closed

[2020-04-14 20:07] #1135 closed

[2020-04-14 21:05] #376 closed

[2020-04-15 08:07] aimorris opened #1238 "[PureScript] Extract Concepts from v2 exercise: diamond"
Extract the list of concepts required to solve the v2 PureScript exercise: `diamond`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/PureScript/exercises/diamond/solutions`). The goal of this task is to help determine the total list of concepts that m

[2020-04-15 08:09] aimorris opened #1239 "[PureScript] Extract Concepts from v2 exercise: acronym"
Extract the list of concepts required to solve the v2 purescript exercise: `acronym`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/acronym/solutions`). The goal of this task is to help determine the total list of concepts that m

[2020-04-15 08:09] aimorris opened #1240 "[PureScript] Extract Concepts from v2 exercise: allergies"
Extract the list of concepts required to solve the v2 purescript exercise: `allergies`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/allergies/solutions`). The goal of this task is to help determine the total list of concepts th

[2020-04-15 08:10] aimorris opened #1241 "[PureScript] Extract Concepts from v2 exercise: atbash-cipher"
Extract the list of concepts required to solve the v2 purescript exercise: `atbash-cipher`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/atbash-cipher/solutions`). The goal of this task is to help determine the total list of con

[2020-04-15 08:10] aimorris opened #1242 "[PureScript] Extract Concepts from v2 exercise: binary-search"
Extract the list of concepts required to solve the v2 purescript exercise: `binary-search`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/binary-search/solutions`). The goal of this task is to help determine the total list of con

[2020-04-15 08:12] aimorris opened #1243 "[PureScript] Extract Concepts from v2 exercise: bob"
Extract the list of concepts required to solve the v2 purescript exercise: `bob`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/bob/solutions`). The goal of this task is to help determine the total list of concepts that make up `

[2020-04-15 08:12] #1243 closed

[2020-04-15 08:12] aimorris commented on #1243
duplicate of #467

[2020-04-15 08:12] aimorris opened #1244 "[PureScript] Extract Concepts from v2 exercise: bracket-push"
Extract the list of concepts required to solve the v2 purescript exercise: `bracket-push`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/bracket-push/solutions`). The goal of this task is to help determine the total list of conce

[2020-04-15 08:13] aimorris opened #1245 "[PureScript] Extract Concepts from v2 exercise: crypto-square"
Extract the list of concepts required to solve the v2 purescript exercise: `crypto-square`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/crypto-square/solutions`). The goal of this task is to help determine the total list of con

[2020-04-15 08:14] aimorris opened #1246 "[PureScript] Extract Concepts from v2 exercise: etl"
Extract the list of concepts required to solve the v2 purescript exercise: `etl`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/etl/solutions`). The goal of this task is to help determine the total list of concepts that make up `

[2020-04-15 08:15] aimorris opened #1247 "[PureScript] Extract Concepts from v2 exercise: largest-series-product"
Extract the list of concepts required to solve the v2 purescript exercise: `largest-series-product`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/largest-series-product/solutions`). The goal of this task is to help determine the

[2020-04-15 08:15] aimorris opened #1248 "[PureScript] Extract Concepts from v2 exercise: meetup"
Extract the list of concepts required to solve the v2 purescript exercise: `meetup`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/meetup/solutions`). The goal of this task is to help determine the total list of concepts that mak

[2020-04-15 08:16] aimorris opened #1249 "[PureScript] Extract Concepts from v2 exercise: pascals-triangle"
Extract the list of concepts required to solve the v2 purescript exercise: `pascals-triangle`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/pascals-triangle/solutions`). The goal of this task is to help determine the total list

[2020-04-15 08:16] aimorris opened #1250 "[PureScript] Extract Concepts from v2 exercise: phone-number"
Extract the list of concepts required to solve the v2 purescript exercise: `phone-number`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/phone-number/solutions`). The goal of this task is to help determine the total list of conce

[2020-04-15 08:17] aimorris opened #1251 "[PureScript] Extract Concepts from v2 exercise: word-count"
Extract the list of concepts required to solve the v2 purescript exercise: `word-count`. For each concept, describe why it is required to solve the exercise. Keep in mind that an exercise can have multiple approaches (you can find community solutions here: `https://exercism.io/tracks/purescript/exercises/word-count/solutions`). The goal of this task is to help determine the total list of concepts

[2020-04-15 08:31] ErikSchierboom commented on #863
I've just created PR #1252 that adds a `.editorconfig` file, a `.prettierignore` file and to scripts to batch update all the markdown files using prettier. In #1253 you can see what that would look like.

[2020-04-15 09:59] ErikSchierboom commented on #33
Having looked at the JavaScript exercise, I'm thinking that might actually be a better exercise to port to the C# lists exercise, as it will remove and add items.

[2020-04-15 11:46] ErikSchierboom commented on #863
I've also add #1256 that will add CI checks to verify the format. It depends on #1252 and #1253 being merged.

[2020-04-15 14:21] #863 closed

[2020-04-15 14:56] ErikSchierboom opened #1258 "[Docs] Add documentation explaining prettier"

[2020-04-15 14:57] ErikSchierboom opened #1259 "[CI] Allow prettier formatting using comment"
Support formatting code in a PR using a comment such as `prettify` or `make-pretty` or something like that.

[2020-04-16 00:13] Cohen-Carlisle commented on #180
It's probably good to check other JSON files for validity as well. For instance, CI was passing before this commit: https://github.com/exercism/v3/pull/1206/commits/578459cd3078e6ce2dfabfd311444f2e950be6c0

[2020-04-16 04:48] neenjaw commented on #839
added lists and tuples

[2020-04-16 08:36] #464 closed

[2020-04-16 12:36] #944 closed

[2020-04-17 07:42] #1191 closed

[2020-04-17 11:59] ErikSchierboom opened #1282 "[CI] Simplify workflows checking for modifications"
Some of the existing workflows (such as the valid-links workflows) use `git diff` to see what files have been changed. In [this PR](https://github.com/exercism/v3/pull/1278/files#diff-2dcaf572306716b16aff8280a08b3a62R31) we're using the GH API to detect that, which makes for much simpler code. We should consider using the GH API for those other workflows too.

[2020-04-17 17:59] fireproofsocks opened #1286 "[Elixir] Implement new Concept Exercise: pattern-matching"
[Use this issue template to describe how to implement a new concept exercises. Please fill in the issue template, and remove any sections wrapped in square brackets (such as this section!).]

This issue describes how to implement the `pattern-matching` concept exercise for the Elixir track.

## Goal

The goal of this exercise is to introduce the fundamentals of pattern matching in Elixir, focusing

[2020-04-17 18:09] neenjaw commented on #1286
A couple thoughts:
- probably  `lists` and `tuples` and `maps` would be your prerequisites for this
- I like the edge cases for matching on lists, this is an important concept in elixir/erlang/prolog
- including maps in this could make it too big, but feel it out
    - whatever coding exercise you use for this, could be extended for a second pattern matching lesson on maps

[2020-04-17 18:44] fireproofsocks commented on #1286
Yeah, it might make sense to break maps out separately...
Also, it would make sense to break out any binary matching into its own exercise (I'm thinking anything beyond simple string prefix matching.

I'm finding it's tricky to think of creative ways to test this...

[2020-04-17 19:18] neenjaw commented on #1286
You could build it on top of something as simple as `["two", "parts"] = String.split("two:parts", ":")`

[2020-04-17 19:21] neenjaw commented on #1286
It might even be most simple to teach basic pattern matching as part of a `case` statement

[2020-04-18 14:22] #1259 closed

[2020-04-18 16:49] dvik1950 commented on #1106
Solved by https://github.com/exercism/v3/pull/1168

[2020-04-18 16:49] #1106 closed

[2020-04-18 17:03] dvik1950 opened #1290 "[Ruby] Forking numbers from C#"
https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/numbers

[2020-04-19 23:28] verdammelt commented on #953
Taking a moment to re-review this. I'm assuming that the `supplied-p-parameter` for `&optional` and `&key` are in scope? How about `&allow-other-keys`? (I'm thinking the former is in scope by the later is out of scope).

As for the in-scope 'taking function parameters' - any ideas of how we'd do that in an exericse? I'm thinking `apply` and `funcall` might be not for this exercise. So perhaps the

[2020-04-19 23:36] verdammelt commented on #1012
Re-reviewing this and have some questions: is the idea of a `sameness` concept still on the table?(and characters could be safe to use in `case` as well...).

I can't think of how to get a student to use `when` and `unless` however. That is how to write a test that will cause a student to use `when` rather than `if` or for that matter `cond`. It seems that the differences are stylistic rather than

[2020-04-20 08:23] TheLostLambda commented on #953
Thanks for taking another look at this! Yes, I think the supplied predicates would be good to include, I'll add that to in scope. As for the `&allow-other-keys`, maybe it's not a focus of the exercise, but is something to mention in `after.md`?

And "taking function parameters" was poorly worded on my part, I just meant accepting parameters in a function. I think that higher-order functions are pr

[2020-04-20 08:36] TheLostLambda commented on #1012
I'm thinking that `sameness` could still be it's own concept, as that seems like a sizeable chunk of information. And we could use characters if that's easier, I just hadn't added it to avoid adding `characters` as a prerequisite.

I think that the analysers will be active for concept exercises and, as you point out, this is probably to perfect place to apply one. I'll add a note in the issue unde

[2020-04-20 17:42] filalex77 commented on #300
@neenjaw Just pushed a PR #1296.

[2020-04-20 18:10] #300 closed

[2020-04-20 20:33] oanaOM commented on #837
@tehsphinx sorry for the delay response. All done for now, this can be closed.

[2020-04-20 20:54] #442 closed

[2020-04-20 21:01] oanaOM commented on #1195
I can help with this. Just one question. Where do I find the uuid?

[2020-04-20 21:02] oanaOM commented on #1194
I can help with this.

[2020-04-20 21:24] SleeplessByte opened #1298 "[JavaScript] Improve exercise: concept/strings"
## `concept/strings`

### The current state

The `strings` exercise currently relies on using a few more advanced features:

- "destructuring" it into an `array`.
- reversing said `array`.
- joining that `array` back into a string.

Additionally, there is no `after.md`

### The improved version

We need to find a way to get rid of the `reverse` task, and replace it with something more `string`-lik

[2020-04-20 21:34] SleeplessByte opened #1299 "[JavaScript] Improve exercise: concept/booleans"
## `concept/booleans`

### The current state

The `booleans` exercise currently has a decently chaotic `instructions.md` and lacks commentary in the code file (which prevents autocompletion in many IDEs):

- Each task duplicates what a variable means to both text and code example
- Each task duplicates what it should return based on the function name and text
- The "character state" higher up coul

[2020-04-20 21:45] SleeplessByte opened #1300 "[JavaScript] Improve exercise: concept/arrays"
## `concept/arrays`

### The current state

The `arrays` exercise is great, and has a few items that can be improved:

- The "fill array" task requires looping. It's meant to teach `.push`, but [_searching_](https://www.google.com/search?hl=en&q=fill%20array%20with%20value%20javascript) will lead to `Array.fill` and its cousins.
- Removing from top as a task (`.pop`) exists, but removing from bott

[2020-04-20 21:47] SleeplessByte commented on #1195
@oanaOM generate a new unique one for each exercise. For example:

https://duckduckgo.com/?q=uuid&atb=v184-1&ia=answer

[2020-04-21 00:07] efx opened #1302 "[Rust] Implement new Concept Exercise: tuples"
This issue describes how to implement the `tuples` concept exercise for the rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-04-21 00:30] efx opened #1303 "[Rust] Implement new Concept Exercise: tuple-structs"
This issue describes how to implement the `tuple-structs` concept exercise for the Rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2020-04-21 00:47] efx commented on #858
@ErikSchierboom could you weigh here? I am definitely nitpicking but would love explanation of how to use the stock GH labels or removing those. Thanks!

[2020-04-21 06:29] ErikSchierboom commented on #1195
@oanaOM The default UUID generator that we usually use is https://www.uuidgenerator.net/version4, but any unique UUID would do.

[2020-04-21 06:34] ErikSchierboom commented on #858
@efx I like the idea of either explaining or removing the stock labels. I'll assign this to myself.

[2020-04-21 07:07] hayashi-ay commented on #1298
@SleeplessByte Can I work on it?

[2020-04-21 12:50] SleeplessByte commented on #1298
Of course! @hayashi-ay . Feel free to post here any questions or ideas you have, or submit a PR.

[2020-04-21 14:18] ErikSchierboom commented on #858
@efx A [PR has been opened](#1313) to fix this.

[2020-04-21 17:55] #858 closed

[2020-04-21 23:13] sshine commented on #544
Closing this issue as all items have been addressed in this issue and in #1235.

Thanks, @zuzia-kru!

This issue was my point of reference for the progress of Haskell track v3, so closing it means that current visible work is only a bunch of draft PRs I've made that I haven't gotten back to in a while.

If you're interested in doing more Haskell v3 stuff, @zuzia-kru, it'd probably relate to either

[2020-04-21 23:13] #544 closed

[2020-04-22 00:41] efx opened #1316 "[Rust] Implement new Concept Exercise: unit-structs"
This issue describes how to implement the `unit-structs` concept exercise for the rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2020-04-22 07:56] tehsphinx commented on #1194
thx, @oanaOM!

[2020-04-22 07:57] #837 closed

[2020-04-22 12:41] #33 closed

[2020-04-22 12:58] ErikSchierboom commented on #1014
I'm working on this.

[2020-04-22 18:34] verdammelt commented on #1034
I suggest for "floating point" that perhaps the differences between the different types of floating point numbers be left unsaid here or only mentioned in the `after.md`. Seems like we might want to have a whole concept about the type system... And I think for this exercise which appears intended to be relatively 'easy' we could just leave those details out. Thoughts?

[2020-04-22 18:40] verdammelt commented on #1121
I think `defconstant` will need to be handled carefully in this exercise. If we have the student define it they would easily get into a state where they reload their solution file and get dropped into the debugger because the value is not `eql`. I think we could explain the situation in `instruction.md` - but perhaps we should call this out in "implementing" as something that needs handling.

[2020-04-22 18:41] verdammelt commented on #1121
Also there is mention that `*standard-output*` is out of scope but is mentioned in "Implementing" as something to use as an example... can we clarify this potential contradiction?

[2020-04-22 18:43] verdammelt commented on #1199
This looks good. There are a lot of functions to talk about here - but I think it will give the student a good foundation of strings.

[2020-04-22 18:48] rishiosaur commented on #1300
Is anyone doing this issue right now? I'd love to take a crack at it.

[2020-04-22 19:17] rishiosaur commented on #1299
Can I take a go at it?

[2020-04-22 19:31] verdammelt opened #1322 "[Common Lisp] Implement new Concept Exercise: sameness"
This issue describes how to implement the `sameness` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-04-22 20:04] rishiosaur commented on #1299
I'm going to try to find some MDN articles about the instructions given in the hints.

[2020-04-22 20:33] rishiosaur commented on #1299
I've added in the highlights and simplified the text a little bit, @SleeplessByte. Can you take a look at #1323 and let me know what you think?

[2020-04-22 20:37] SleeplessByte commented on #1299
@rishiosaur Already reviewed!

[2020-04-22 22:56] rishiosaur opened #1325 "[JavaScript] Implement new Concept Exercise: concept/classes-intro"
This issue describes how to implement the `class` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-04-22 22:57] rishiosaur commented on #1325
I'll be creating a new branch on my fork for this.

[2020-04-22 23:44] SleeplessByte commented on #1325
Nice!  I'm excited about this.

I'm guessing you'll initialize classes in the tests, but not in the user code, so that they don't need to learn about `new` etc?

- Will you teach constructors?
- Inheritance / `super`?
- `extends`?

[2020-04-23 07:13] #961 closed

[2020-04-23 10:28] SaschaMann commented on #831
Apparently this is a feature one should never really use, outside of bootstrapping Julia. Most people on the Julia Slack strongly recommended against teaching this. We might pick this up later as an optional exercise with a huge warning sign, but for now primitive-types are out of scope.

[2020-04-23 10:28] #831 closed

[2020-04-23 12:36] TheLostLambda commented on #1199
It is a bit big. I agrees they are good to include, but we can always look into splitting things up if implementing the exercise becomes difficult!

[2020-04-23 12:45] verdammelt commented on #1199
There are a few possible seams to split along, perhaps splitting off searching, splitting off printing...

But I think we should leave that to implementation - like you said - we can split it up if it is too hard.

[2020-04-23 12:46] TheLostLambda commented on #1121
I've added a note about `defconstant` thanks for pointing that out! Additionally, I've tweaked the wording a bit.  I think it would be okay to show off in the `after.md` but we should probably not teach streams in this exercise or expect the student to know them already. Let me know if that helps clarify any!

[2020-04-23 12:52] TheLostLambda commented on #1034
I think that's a good point! I've added `"The different types of floating-point number"` to Out of Scope for now.

As for an exercise regarding the type system, that might be a good idea, but we may need to see how a couple more exercises fit together before we are able to narrow down the scope of that one. Maybe would could have and exercise with things like `typep`, `typecase`, and `deftype`? Th

[2020-04-23 13:06] verdammelt commented on #1121
That is definitely clearer to me thanks.

[2020-04-23 15:10] workingjubilee opened #1333 "[Rust] Implement new Concept Exercise: threads"
This issue describes how to implement the `threads` concept exercise for the rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2020-04-23 15:11] peterchu999 commented on #1300
Hey can i take a go at it ?

[2020-04-23 16:17] rishiosaur commented on #1325
All of those will be in the lessons to follow :) Lemme add them to the issue

[2020-04-24 09:32] J08K commented on #877
### **Hey there**
My name is Job and I'd love to be assigned to this concept exercise. I already put a short, not-fleshed out version of this concept on the #maintaining-python channel on Slack.

### **_Here is my idea:_**
The exercise is called _Inventory management_ it will teach the student how to add items, remove items, iterate through a dictionary.
### **_What does the exercise look like?_**

[2020-04-24 11:01] #1134 closed

[2020-04-24 11:23] yawpitch commented on #877
Thanks for this. An inventory management story is interesting, however I've got some concerns about this as described. Or perhaps not so much concerns as details to hammer out and address before you start working on the actual code and copy.

1. What are the prerequisite concepts of this concept?  From the example code it would appear the student needs to have been introduced to the `zip` builtin,

[2020-04-24 12:05] oanaOM commented on #1195
Thanks everyone!
I've just submitted a PR with the new config.json file.

[2020-04-24 12:06] oanaOM commented on #1194
Thanks everyone!
I've just submitted a PR with the updated config.json file for each exercise

[2020-04-24 14:03] TheLostLambda opened #1345 "[Common Lisp] Standardising the test file stub"
Just putting this together to see is anyone has suggestions for how we lay out test files. After we settle on something, we can put together some tools for auto-generating these sort of files. This is what I have so far:

[code]

If we wanted, we could add this tweak to allow the test-file to be compiled:

[code]

What do you think? Anything else we should add or tweak?

[2020-04-24 14:13] hayashi-ay commented on #1298
I'm not sure why we need to implement `reverse`. A backdoor password is made up of the last letter of each sentences plus ', please', so I think `reverse` function is not needed.
Am I misunderstood something?

Also, a telestich is reversed  at [L95] and then it wan reversed again at L96.

[L95]:https://github.com/exercism/v3/blob/master/languages/javascript/exercises/concept/strings/strings.spec.j

[2020-04-24 14:20] J08K commented on #877
Hey @yawpitch , thank you for your feedback! Exactly the type of stuff I needed.

You are definitely right about the amount and difficulty of the prerequisites I chose to use in my concept solution. I completely missed the `len` builtin in the out of scope part, I'm sorry. Although I do wonder why it's in the out of scope part, as I use it quite often myself and it's very handy to know and not be

[2020-04-24 14:22] TheLostLambda commented on #1322
Looks pretty good overall!

I'd suggest adding `sameness` as the concept (I think that's probably the only one being taught here) and adding the following concepts as prerequisites:

- `expressions`
- `integers` (so the student knows about `=`, but maybe not the type-trickery)
- `symbols` (so they know about quoting)

Maybe we could mention here that most standard functions in CL use `eql` for equ

[2020-04-24 14:37] verdammelt opened #1346 "[Common Lisp] Implement new Concept Exercise: enumeration"
This issue describes how to implement the `enumeration` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-04-24 14:38] verdammelt commented on #1322
Excellent points! I will fold those into the issue text.

[2020-04-24 14:50] verdammelt commented on #1345
I think this would be a good idea and good for us to do early before we do too many exercises.

A (semi-)random thought: could/should we add some small comments to let the student know what these mysterious things are doing? we are not *teaching* them but it could start to give them some idea of what is going on? Do you think that would be beneificial.

[2020-04-24 19:27] verdammelt opened #1347 "[Common Lisp] Implement new Concept Exercise: packages"
This issue describes how to implement the `packages` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docume

[2020-04-24 21:32] J08K commented on #877
### Concept exercise iteration 2
From the feedback, I got from user @yawpitch I have rethought the new exercise. Mine was a bit too advanced for beginning students. This new concept exercise should be much more applicable to most students beginning with the Python programming language.

### _What is the new idea?_
The exercise will be called _Inventory_. The goal is to create a dictionary with pro

[2020-04-25 00:15] workingjubilee opened #1348 "[Rust] Implement new Concept Exercise: generic-types"
This issue describes how to implement the `generic-types` concept exercise for the rust track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2020-04-25 00:35] SleeplessByte commented on #1298
This is _why_ we needed to reverse it per the instructions. However, I don't want array functions in there, so if we just _remove_ `generateReversal` we can remove the need to `reverse`.

This is also _why_ it was reversing the value to test on L95 and then testing against the original on L96.

[2020-04-25 01:35] hayashi-ay commented on #1298
Thanks. I missed the phrase, "but in reverse".
 I'll think about an alternative of `reverse`  a bit more.

[2020-04-25 05:18] workingjubilee opened #1349 "[Rust] Document deferral decisions"
Some languages are harder to learn than others.   Arabic, Cantonese, Japanese, Korean, and Mandarin require 2200 hours to learn (over a year!) for an English speaker, according to the estimation of the Foreign Service Institute. Mostly these involve novel (to an English speaker) ways of writing and speaking, and are not "small" either. Rust as a *programming language* faces a similar challenge as

[2020-04-25 07:05] mikedamay commented on #959
I will create this exercise

[2020-04-25 07:52] ErikSchierboom commented on #959
Great!

[2020-04-25 07:56] ErikSchierboom commented on #959
@mikedamay We've also been updating the documentation lots. E.g. the [C# implementing docs](https://github.com/exercism/v3/blob/master/languages/csharp/reference/implementing-a-concept-exercise.md) and the [general implementing docs](https://github.com/exercism/v3/blob/master/docs/maintainers/generic-how-to-implement-a-concept-exercise.md) have both been updated and now both refer to file descript

[2020-04-25 10:53] hayashi-ay commented on #1298
@SleeplessByte How about changing the story like:
[code]

So, a sentence would be like "Stands so high&nbsp;&nbsp;&nbsp;" and it need to be trimmed by String#trim.

[2020-04-25 11:29] TheLostLambda commented on #1345
Yeah actually, I think that would be a good idea! It will probably help us maintainers keep it straight too (or at least my forgetful self).

Do you feel strongly about the `eval-when` addition?

[2020-04-25 12:55] verdammelt commented on #1345
re: `eval-when`: I wish we could not have it - I think it adds extra complexity that would be nice to keep out of the student's face until later... but as we found out - it is necessary. So I vote for its inclusion.

[2020-04-25 12:59] TheLostLambda commented on #1346
I think this looks pretty good overall. Will we teach `do` in some other exercise? Additionally, I had concepts listed for `loop.basic`, `loop.collecting`, `loop.traversal`, and `loop.ranges` (and a couple of others not covered directly in this exercise). Should we:

1. Replace these `loop.` concepts with the single `enumeration` concept
2. Break up this concept into smaller ones
3 Or have this ex

[2020-04-25 13:03] TheLostLambda commented on #1345
Alright, I think that's fair. I'll look into putting a model test file up on the repo with some comments and `eval-when`. I'll set up a PR soon!

[2020-04-25 14:21] verdammelt commented on #1346
`do` vs. `loop`. When I sat down to write this issue I thought it was going to say use `do` not `loop`  - but I thought that `do` would be harder for early students. And especially with `dotimes` and `dolist` which evaluate to `nil` so we'd need to have side-effects (printing or assignment) so it just seemed to me that `loop` would be easier.

Also I think/hope that by introducing only a few claus

[2020-04-25 14:25] SleeplessByte commented on #1298
Instead, let's just add _ocasional_ whitespace to the original text, so that you need to trim it when determining the last letter. I like the idea of having to add trim, on top of .length - 1.

[2020-04-25 14:41] TheLostLambda commented on #1346
No, I definitely agree. I suppose that's the point of the analyser... I do think that concepts should have singular "ideal" solutions though. I think we've been abiding by that so far. Your `loop` vs `do` example in the implementation section is a good example of that I think.

That sounds good to me! And that "breakdown" of `loop` is also very WIP, so feel free to change it as you see fit. Maybe

[2020-04-25 15:02] verdammelt commented on #1346
I'll fold these comments into the issue text. I had meant to put `do` in the `after` but it looks like I failed...

[2020-04-25 19:18] Tbhesswebber opened #1352 "[JavaScript] Implement new Concept Exercise: concept/classes-intermediate"
This issue describes how to implement the `class` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-04-25 19:19] Tbhesswebber commented on #1352
@rishiosaur - Tagging you for continuity

[2020-04-25 20:09] rishiosaur commented on #1352
@Tbhesswebber I think we should include static properties and methods in this exercise.

[2020-04-25 20:18] Tbhesswebber commented on #1352
Just to clarify, @rishiosaur, did you mean "should" or "shouldn't"?

[2020-04-26 16:28] SleeplessByte commented on #1352
Until static properties have landed (https://github.com/tc39/proposal-class-fields#class-field-declarations-for-javascript), I rather **not** have them as exercises until then, because we will need to handle the syntax, which is "fragile".

[2020-04-26 17:46] Tbhesswebber commented on #1352
@SleeplessByte - I totally forgot that you can't do static properties with class syntax in JS yet (I'm one of those weirdos who actually prefers pseudoclassical syntax).  I removed static properties from the concepts and learning objectives.

[2020-04-26 17:53] TheLostLambda commented on #1347
Overall, this looks really good! It looks like a bit of formatting might have gotten lost in the after section though.

Additionally, `functions` seems to be a somewhat broad prerequisite, would `function-definition` be along the lines of what you had in mind? I think that's what it's been called in other exercises (unless I've forgotten to update some).

Overall looks great!

[2020-04-26 18:12] verdammelt commented on #1347
Fixed - thanks.

[2020-04-27 03:28] fireproofsocks commented on #423
Yep, closing.

[2020-04-27 03:28] #423 closed

[2020-04-27 03:29] #422 closed

[2020-04-27 04:11] fireproofsocks opened #1359 "[Elixir] Implement new Concept Exercise: tail-recursion"
This issue describes how to implement the `tail-recursion` concept exercise for the Elixir track.

## Goal

This exercise will teach how recursive functions are written in Elixir, specifically those implementing "tail-recursion".

## Learning objectives

For example:

- Understand how and when to write multi-clause functions.
- Understand how an accumulator works.

## Out of scope

- guard clauses

[2020-04-27 14:18] efx commented on #1349
A grand way to express something that has drawn me to the language!

This is a great idea to capture the loose ends and meta out of scope things we encounter. I feel it may begin to address some concerns  raised the discussion in #695.

[2020-04-27 15:22] yawpitch commented on #877
@J08K this is indeed simpler, it's basically treating a dict as a generalized _Bag_ data collection. However I'd make a few suggestions.

First, both functions should have the same signature ... they should take a **dict** (the current inventory state) as the first argument and a **list** of **str** (the items to add / remove) as the second. This will allow us to create whatever inventory and item