[2020-07-14 10:41] RoelofWobben commented on #1909
Thanks, Luckily my co-maintainer is some-one who knows more about smalltalk so I think we can solve it together.
Not a lot of fun when you must work with code some-one else wrote which is not active working on it. But we get there im sure of it..

[2020-07-14 12:50] iHiD commented on #1909
@RoelofWobben Could you explain this a little more pls? When you say "output" what exactly do you mean?

[2020-07-14 12:50] mikedamay commented on #1643
closed by PR #1908

[2020-07-14 12:50] #1643 closed

[2020-07-14 12:51] mikedamay commented on #1640
closed by PR #1866

[2020-07-14 12:51] #1640 closed

[2020-07-14 12:52] mikedamay commented on #1138
closed by PR #1867

[2020-07-14 12:52] #1138 closed

[2020-07-14 13:24] #1976 closed

[2020-07-14 13:26] mikedamay commented on #958
Hi @neiesc.  I’m not sure if you’ve kept up with the v3 progress on the C# track but we’re in the process of finishing off a bunch of introductory exercises and it would great if we could include the `lists` exercise to which you are currently assigned.

If you think you will be in a position to work on this in the next couple of weeks then please let us know and we will set our expectations accor

[2020-07-14 13:31] mikedamay commented on #780
Hi @NextNebula.  I’m not sure if you’ve kept up with the v3 progress on the C# track but we’re in the process of finishing off a bunch of introductory exercises and it would great if we could include the `lists` exercise to which you are currently assigned.

If you think you will be in a position to work on this in the next couple of weeks then please let us know and we will set our expectations a

[2020-07-14 14:15] RoelofWobben commented on #1909
with output I mean the structure
So I folder named .meta with the right output
a folder named .docs with the right output
and then a mockup and a test file in the root

[2020-07-14 15:06] neiesc commented on #958
Hi @mikedamay , I even started to make a structure, but I was unable to progress, in these next weeks I will be busy I am also sorry I should have signaled before.

[2020-07-14 15:44] mirkoperillo opened #1994 "[Java] Implement new Concept Exercise: lists"
This issue describes how to implement the `lists` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-07-14 15:49] mirkoperillo commented on #411
This issue can be closed.

The list of concepts has been extracted taking the C# one as reference.

[2020-07-14 15:49] #411 closed

[2020-07-14 15:49] mirkoperillo commented on #412
This issue can be closed.

The list of concepts has been extracted taking the C# one as reference.

[2020-07-14 15:49] #412 closed

[2020-07-14 15:49] mirkoperillo commented on #446
This issue can be closed.

The list of concepts has been extracted taking the C# one as reference.

[2020-07-14 15:49] #446 closed

[2020-07-14 16:18] #1977 closed

[2020-07-14 16:39] mikedamay commented on #958
No problem, @neiesc.  We will take it over.

[2020-07-14 17:23] InfiniteVerma commented on #1963
I'll like to work on this.

[2020-07-14 19:47] mirkoperillo commented on #1963
Hi @InfiniteVerma your contribution is very appreciated, the issue is assigned to you

[2020-07-14 20:00] mirkoperillo opened #1997 "[Java] Implement new Concept Exercise: inheritance"
This issue describes how to implement the `inheritance` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-07-14 20:15] #1849 closed

[2020-07-14 20:56] iHiD commented on #1909
Ah, you mean the moving around of things in [this file](https://github.com/exercism/pharo-smalltalk/blob/master/dev/src/ExercismDev/ExercismGenerator.class.st#L63-L68)?

[2020-07-15 04:58] RoelofWobben commented on #1909
Could be, or around this file : https://github.com/exercism/pharo-smalltalk/blob/master/dev/src/ExercismDev/ExercismGenerator.class.st#L99-L136

[2020-07-15 06:10] BethanyG opened #1999 "[Python] Implement new Concept Exercise: basics"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md)

[2020-07-15 11:35] mikedamay opened #2003 "[C#] operator-overloading add tests"
Tests need to be implemented using reflection as the API for the operators will not be available out of the box.

[2020-07-16 05:28] mikedamay opened #2006 "[C#] documentation"
I thought we should consider cleaning up the concepts and their relationships.

I don't know what freedom of action we have or what technology is required so these ideas are a little unfocused.

Some issues to address:

- Concept descriptions are replicated. They occur in 3 places: _design.md_ under _Concept_, _design.md_ as _Learning Objectives_ and _csharp/references/README.md_.
- It is not clea

[2020-07-16 07:58] ErikSchierboom opened #2010 "[Go] Use consistent formatting for output in examples"
Looking at the existing Go exercises, there is some inconsistency regarding the format used to show the result of calling a function in examples found in `instructions.md` files. I've found the following variants:

- `// Output: X`
- `// => X`
- `// Returns: X`

It would be good to standardize on one format. I have no preference, while noting that there are a couple of tracks that use `=>`. But it

[2020-07-16 08:24] mikedamay commented on #958
closed with PR  #2000

[2020-07-16 08:24] #958 closed

[2020-07-16 08:45] ErikSchierboom commented on #2006
I think the object model as specified is correct. The current setup does indeed have issues, so some sort of automation could really be useful.

[2020-07-16 08:45] ErikSchierboom commented on #2006
Scraping does have some inherent disadvantages, but it could also help us point to mistakes.

[2020-07-16 10:03] ErikSchierboom opened #2013 "[C#] Improve Concept Exercise: numbers (add cast syntax example)"
The `numbers` exercise's `introduction.md` document

[2020-07-16 13:28] ErikSchierboom opened #2014 "[Swift] Improve Concept Exercise: arrays"
- The example implementation uses an `if`, but its only prerequisite is the `basics` concept. I think the `conditionals` concept should also be added as a prerequisite.
- Typo in `after.md` and `introduction.md`: "thee" should be "the".
- The `after.md` file uses the `guard` in its example, but this syntax is not introduced in any of the prerequisite exercises. It looks like the `conditionals` con

[2020-07-16 13:29] ErikSchierboom opened #2015 "[Swift] Improve Concept Exercise: conditionals"
- The stub file requires the student to define the functions themselves. However, only the `basics` exercise should have the student define the functions from scratch. The other exercises should create stubs for the functions such that the student only has to worry about implementing the functions. The reason the `basics` exercise did not use stubs is that one of the goals of the `basics` exercise

[2020-07-16 13:30] ErikSchierboom opened #2016 "[Swift] Improve Concept Exercise: dictionaries"
- There is no `config.json` entry for the exercise
- The stub file use `inout` parameters. Will this be covered in the `functions` prerequisite the `design.md` document mentions?
- The exercise uses default values. Will this be covered in the `functions` prerequisite the `design.md` document mentions?
- The exercise uses arrays, so the `arrays` concept should be a prerequisite (not mentioned in th

[2020-07-16 13:32] ErikSchierboom opened #2017 "[Swift] Improve Concept Exercise: numbers"
- The stub file requires the student to define the functions themselves. However, only the `basics` exercise should have the student define the functions from scratch. The other exercises should create stubs for the functions such that the student only has to worry about implementing the functions. The reason the `basics` exercise did not use stubs is that one of the goals of the `basics` exercise

[2020-07-16 13:32] ErikSchierboom opened #2018 "[Swift] Improve Concept Exercise: optionals"
- The exercise uses strings, but `strings` is not listed as a prerequisite for the exercise.
- The example implementation uses tuples (I think) which is not listed as a prerequisite for the exercise.
- The `hints.md` file should use non-numeric lists (`-`) instead of numeric ones.
- The "Read about" text in the `hints.md` file in the "## General" section is missing the leading `-`
- Typos in the `

[2020-07-16 13:33] ErikSchierboom opened #2019 "[Swift] Improve Concept Exercise: strings"
- The `introduction.md` contains quite a bit of information. Some of it is not needed for the student to solve the exercise, and as such should be removed from the `introduction.md` document (see [the docs](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#docsintroductionmd)). The `after.md` document can be used for any information that is good to know, but not needed to solve

[2020-07-16 13:34] ErikSchierboom opened #2020 "[Swift] General improvement suggestions"
- All the exercises have a `README.md` file in their directory. I was wondering what the goal of these files are? Their contents seem to suggest a description of the exercise/package, but for that we already have the `.meta/design.md` file. Having a `README.md` file in the root of the directory will also conflict with the CLI-based approach, where the documents from the `.docs` folder will be merg

[2020-07-16 17:34] wneumann commented on #2020
These files are created by the Swift Package Manager when you set up a new project. I believe they are inspired by the standard README.md files found on GitHub and are supposed to be used as is usually seen on GitHub. In the V2 Swift track, they contain the instructions for each exercise ([for example](https://github.com/exercism/swift/tree/master/exercises/beer-song)), so I copied that practice o

[2020-07-16 18:13] wneumann commented on #2020
Regarding this, I've seen and tried out the "key takeaways" after.md format that I had seen in some elixir exercises ([for example](https://github.com/exercism/v3/blob/master/languages/elixir/exercises/concept/maps/.docs/after.md)). Here's [one example](https://github.com/exercism/v3/blob/master/languages/swift/exercises/concept/dictionaries/.docs/after.md) I've tried with Swift.

It's more compac

[2020-07-16 18:27] wneumann commented on #2014
Yes. I believe the best option is to move `conditionals` up in front of `arrays`. That addresses both this if and the guard.

PR created to address these comments (https://github.com/exercism/v3/pull/2021).

[2020-07-16 19:33] wneumann commented on #2015
Comments addressed in PR https://github.com/exercism/v3/pull/2022

[2020-07-16 20:07] wneumann commented on #2016
With this I've been wanting to draw a distinction between operations that return a non-void value versus operations that return void and are executed for their side effects as I don't want to confuse the students into thinking some other value is returned.  Using a notation like you listed might work, I just want there to be a clear, if not obvious difference between the two cases.

Also, regardin

[2020-07-16 20:45] oanaOM commented on #2010
I can look into this and make it consistent across all exercises.

[2020-07-17 00:39] wneumann commented on #2017
I guess this depends on how hair-splitty you want to get about what constitutes new syntax. `Int(3.14)` is sugar for `Int.init(3.14)` which is an initializer for an instance of an `Int` struct. So it's not really a function call, it's a sugared method call (and a special method call at that). Of course methods (in Swift) are essentially just functions that live inside a structure, so… And of cours

[2020-07-17 02:37] wneumann commented on #2017
Added PR https://github.com/exercism/v3/pull/2024 to address these comments.

[2020-07-17 05:06] mikedamay opened #2026 "[C#] namespaces - enable this to build out-of-the-box"
Currently, the project will not build until a `Combined` namespace has been created. This is not satisfactory.

Perhaps we have to use reflection to find the namespaces.

[2020-07-18 02:58] jamessouth commented on #1919
I can take this one if available.

[2020-07-18 12:41] dvik1950 commented on #1904
I opened a similar Issue a while ago but haven't been able to complete it: #1624  . I haven't done much work regarding the exercise so no double effort has been made but I think it makes sense to look at the existing issues to see if a similar one already exists. I also see that @neenjaw has implemented this and made a pull request yesterday #2025. I might be completely wrong here because I'm a bi

[2020-07-18 12:48] dvik1950 commented on #1882
This has been covered in the [numbers exercise](https://github.com/exercism/v3/blob/master/languages/ruby/exercises/concept/numbers/.meta/design.md#concepts). The idea was that because it's a fairly simple concept it does not require a separate exercise (I think ?).

[2020-07-18 13:00] dvik1950 commented on #1903
I think it's a bit of an overkill to create a whole exercise just for the ternary operator. It makes more sense to add this to another exercise. I can't think of an exercise that would cover this. Would the student be required to write a few methods just using the ternary operator? How would those methods differ from each other?

[2020-07-18 13:33] tehsphinx commented on #1919
@jamessouth: go head :)

[2020-07-18 14:37] neenjaw commented on #1904
Ya it's been a bit of a ride to go through several nil exercises to what there is now in #2023 followed by #2025. I've been meaning to tag this issue with those events.

[2020-07-18 15:09] tehsphinx commented on #1925
@jamessouth: thx a lot! I merged the new exercise.

I think we should have a second exercise that introduces `time.Duration`. @oanaOM: Do you want to create another issue for that?

Some things I think it should cover:
- relation between time.Time and time.Duration
- time measuring (e.g. execution time of a function -- no `defer`!) (time.Since)
- diff between 2 times
- time units like 4 * time.Sec

[2020-07-18 15:10] #380 closed

[2020-07-18 15:11] #231 closed

[2020-07-18 15:12] tehsphinx commented on #1626
Can we close this? @oanaOM?

[2020-07-18 15:36] tehsphinx opened #2029 "[Go] Implement new Concept Exercise: structs"
This issue describes how to implement the `structs` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-07-18 16:35] neenjaw commented on #1904
Also the already committed `numbers` exercise touches on booleans a little, so there is need for some reconfiguration of the track. as [iHiD pointed out](https://github.com/exercism/v3/pull/2025#pullrequestreview-451011486)

[2020-07-18 18:13] tehsphinx opened #2031 "[ALL] Improve tree to check which exercises are actually implemented"
![image](https://user-images.githubusercontent.com/6624571/87859033-98f59300-c932-11ea-8ec1-3b61cf2649cf.png)

In Go we use the tree above to (https://v3.exercism.io/go/maintaining/tree) to build a reasonable tree of exercises. As a work in progress and discussion basis. But most of the grey exercises are not implemented yet.

It would be cool if the tool to generate the tree was able to check the

[2020-07-19 03:51] mikedamay commented on #1847
Done

[2020-07-19 03:51] #1847 closed

[2020-07-19 09:39] tehsphinx opened #2034 "[Go] Complete Concept Exercise: strings"
This issue describes how to improve the `strings` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features of

[2020-07-19 09:42] tehsphinx commented on #2034
#2033 needs to be merged first.

[2020-07-19 09:44] tehsphinx commented on #2034
#2033 should be merged first...

[2020-07-19 11:20] oanaOM commented on #1626
Sure thing! closing now.

[2020-07-19 11:20] #1626 closed

[2020-07-19 12:45] TheLostLambda commented on #2031
I think I recall at some point discussing that unimplemented exercises could have a `null` UUID? I think that would be a reasonable approach. I do I like the idea of sketching out a tree like this for planning purposes. That's something I've been wanting to do as well.

[2020-07-19 13:03] tehsphinx commented on #2031
Testing this in #2035

[2020-07-19 13:08] tehsphinx opened #2037 "[Go] Complete Concept Exercise: structs"
This issue describes how to complete the `structs` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features o

[2020-07-19 13:08] tehsphinx commented on #2037
@oanaOM: in case you are interested in picking this up. 😃

[2020-07-19 13:22] oanaOM commented on #2037
Yes! 😁

This will be follow-up on https://github.com/exercism/v3/pull/2030

[2020-07-19 15:43] DavidGerva opened #2039 "[Python] Implement new Concept Exercise: comparison"
This issue describes how to implement the concept exercise, for the Python track, which should explain how comparisons works in python.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation,

[2020-07-19 15:44] DavidGerva commented on #2039
@BethanyG would like to have a review to this issue. Not sure about:
- the rich comparison inside this exercise
- the english form and use of the word "comparison"

[2020-07-19 16:06] DavidGerva opened #2040 "[Python] Implement new Concept Exercise: pass"
This issue describes how to implement the concept exercise, for the Python track, which should explain how to use the `pass` statement in python, and what it means.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before di

[2020-07-19 16:06] DavidGerva commented on #2040
Do we really need an exercise on 'pass'?

[2020-07-19 18:50] neenjaw opened #2046 "[Ruby] Improve Concept Exercise: `booleans`, `numbers`"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md).
- [Rationa

[2020-07-19 18:52] neenjaw commented on #2046
pinging: @iHiD (have I summarized this correctly), @biancapower (working on a separate booleans exercise), @pvcarrera (created the numbers exercise), @kotp (contributed with reviews for my PRs on #2023, #2025)

[2020-07-19 20:04] tehsphinx opened #2049 "[Go] Complete Concept Exercise: methods"
This issue describes how to complete the `methods` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features o

[2020-07-19 20:06] tehsphinx commented on #2049
Should wait for #2048 to be agreed on and merged.

[2020-07-19 21:02] neenjaw commented on #1918
See #2046, as it is the follow-up issue.

[2020-07-19 21:02] #1918 closed

[2020-07-20 01:23] neenjaw commented on #2046
Also, since this affects #1904, I will mention that here.

[2020-07-20 23:21] wneumann commented on #2018
It uses strings only in that they are converted to optional numbers, which is covered in `optionals`. And optionals is included in the prerequisites. Hopefully that is enough, as currently `strings` has `optionals` as a prerequisite.

While I did cut out some of the other text, this portion and the newly added text re: comparing optionals are needed for the exercise as written, as the student will

[2020-07-20 23:21] wneumann commented on #2018
Added PR https://github.com/exercism/v3/pull/2050 to address these comments.

[2020-07-20 23:38] #1322 closed

[2020-07-21 03:00] BethanyG commented on #859
This was closed by #1583 and  #1932

[2020-07-21 03:00] #859 closed

[2020-07-21 03:38] BethanyG commented on #2040
Good question.  @DavidGerva  -- My hot take is **no**, but then I don't know where we'd include it.  It would clutter the `basics` exercise, and it doesn't make a whole lot of sense to chuck it into an exercise say on higher-order functions or some other function related exercise.  I suppose we could shoehorn it into something on classes or a more complex exercise where we force several passes ...

[2020-07-21 03:43] mikedamay commented on #962
closed with PR #1871

[2020-07-21 03:43] #962 closed

[2020-07-21 03:57] cmccandless commented on #2040
I don't think it fits as a dedicated exercise. Don't the stubs use pass? Can we just include a brief note on what that keyword means in the basics exercise?

[2020-07-21 07:58] ErikSchierboom commented on #2020
Yes, I assumed this was the reason. For v3 the README will be automatically generated based on the contents of the files in the `.docs` directory.

The last option, deleting the README, is the correct one.

[2020-07-21 08:02] ErikSchierboom commented on #2020
To be honest, I'm also not crazy about the look and feel (tracks currently have some freedom in how to structure this file). I liked your existing `after.md` better actually. In some cases, you could try to merge some of the examples, but if you find this does not work, just ignore this comment for now.

[2020-07-21 08:15] ErikSchierboom commented on #2014
Excellent. I've left two small comments on the PR.

[2020-07-21 08:30] DavidGerva commented on #2040
I have to admit (I hold some courses within the company I work for) sometimes people struggle to understand the usefulness and meaning of `pass`. But I agree, I really cannot find an idea of exercise with the "only" use of `pass`.
So, if you agree I'll close this issue.

[2020-07-21 08:56] dvik1950 commented on #2046
I'll remove the part about conditionals from the `numbers` exercise if no one else started working on that yet.

[2020-07-21 09:41] ErikSchierboom commented on #2031
This now works in the latest release:

![image](https://user-images.githubusercontent.com/135246/88038856-12fe6580-cb47-11ea-933d-a91c8d136a16.png)

[2020-07-21 10:02] ErikSchierboom commented on #2016
Excellent question. There are two schools of though here, either being very complete or using transitive prerequisites. I'm okay with whatever you prefer.

[2020-07-21 10:25] ErikSchierboom commented on #2017
Yeah, this is a bit of a finicky point. That said, your argument that "Int(3.14) is sugar for Int.init(3.14)" does strike me as a valid one, so in this case you _could_ argue that it is new syntax, so I now vote to leave it in.

The subscript access example is a great one. I'd argue that while the syntax here is the same, it is a different syntactical construct, although I'm hard pressed to see th

[2020-07-21 11:40] ErikSchierboom commented on #2018
Hmmm, this is slightly problematic. @iHiD what do you think?

The latest version looks good to me!

[2020-07-21 12:12] mikedamay commented on #1127
Closed with PR  #1987

[2020-07-21 12:12] #1127 closed

[2020-07-21 13:45] ErikSchierboom opened #2055 "[Ruby] Use consistent naming for method references"
Looking at the existing Ruby exercises, there are a couple of different ways methods are referred to. I've seen:

- `'Please implement the pass? method'`
- 'Please implement the LogLineParser.log_level method'
- 'Please implement the Lasagna#remaining_minutes_in_oven method'

There are several places where methods are being referred to, but most notably they are referred to in the `instructions.md

[2020-07-21 13:49] iHiD commented on #2055
Correct. Thanks, @ErikSchierboom!

[2020-07-21 13:56] iHiD commented on #2018
Any reason not to add strings as a prereq?

[2020-07-21 13:56] iHiD commented on #2018
Oh. I see.

[2020-07-21 13:59] iHiD commented on #2018
I think you're going to need to add something to the top of https://github.com/exercism/v3/blob/master/languages/swift/exercises/concept/optionals/.docs/introduction.md which explains in general terms what a String is. Something simple like "Strings in Swift are a series of characters". I think that'll be enough.

[2020-07-21 14:00] iHiD commented on #2031
Wahoo!

[2020-07-21 14:02] iHiD commented on #2046
@dvik1950 Thanks. I think it's just the boolean content that needs to be removed. The stuff that explains `if/else` should stay, as I understand it.

[2020-07-21 14:08] dvik1950 commented on #2046
@iHiD Uh right, sorry about that, I misread the issue. I'll remove the `booleans` part.

[2020-07-21 14:17] dvik1950 commented on #1902
Assigning this to myself, if anyone else has already started this or wants to work together perhaps feel free to comment or dm me on slack. I'll probably work on this during this weekend :)

[2020-07-21 14:31] cmccandless commented on #2040
Closing as "will not implement"

[2020-07-21 14:31] #2040 closed

[2020-07-21 14:39] ynfle commented on #2040
I'm not sure if these were being covered, but Abstract Base Classes use them. See https://docs.python.org/3/library/abc.html#abc.ABC
[code]

[2020-07-21 16:39] #1896 closed

[2020-07-21 19:47] kotp commented on #2055
/format

[2020-07-21 19:49] #1030 closed

[2020-07-21 19:52] #1779 closed

[2020-07-22 00:21] verdammelt opened #2063 "[Common Lisp] Samness Concept Exercise should have examples in tasks"
One thing the tasks should also have is an example.

_Originally posted by @ErikSchierboom in https://github.com/exercism/v3/pull/1823_

[2020-07-22 00:23] verdammelt opened #2064 "[Common Lisp] Sameness Concept Exercise - duplication in design.md"
I this this is an unintentional duplicate :)

_Originally posted by @ErikSchierboom in https://github.com/exercism/v3/pull/1823_

[2020-07-22 00:24] verdammelt opened #2065 "[Common Lisp] Sameness Concept Exercise: consider target functions matching tasks more"
I like having these functions instead of the `case`. I was wondering if it would be possible to have the functions match the tasks even more, so something like:

[code]

I don't know if this makes sense in any way.

_Originally posted by @ErikSchierboom in https://github.com/exercism/v3/pull/1823_

[2020-07-22 00:25] verdammelt opened #2066 "[Common Lisp] Sameness Concept Exercise - hints should start with "-""
The individual hints should be prefixed with `- `:

[code]

This also applies to the other hints in this file.

_Originally posted by @ErikSchierboom in https://github.com/exercism/v3/pull/1823_

[2020-07-22 00:28] verdammelt opened #2067 "[Common Lisp] Sameness Concept Exercise: can we link to exertal resources for the hints?"
We often link to external resources in the hints file, to directly point students towards the right method/function to use (but without spoiling the solution in this file). Is there a document you could link to that contains information on the equality predicate that should be used?

This comment also applies to the other hints in this file.

_Originally posted by @ErikSchierboom in https://github

[2020-07-22 03:32] mikedamay commented on #780
Hi @NextNebula.  I’m proposing to reassign this issue (following the above comment).  If you come across this in the next few days and want to take ownership again then please leave a comment.  In any case, I hope you have the opportunity to work on the project sometime soon.  It is very worth while.

[2020-07-22 06:35] dector opened #2068 "[Kotlin] Improve `after` documentation for `basics` exercise"
See review comment:
https://github.com/exercism/v3/pull/1831#discussion_r458084500

[2020-07-22 06:36] dector opened #2069 "[Kotlin] Add CLI documentation"
See
https://github.com/exercism/v3/pull/1831#discussion_r458085563

[2020-07-22 07:22] ErikSchierboom commented on #2067
Just as an addendum: it is fine to give the student a link to a page that gives the answer. The idea for hints is that they provide enough information for a student to become unblocked. So they should point to resources that will give the student a clear idea what to do. In this case I can see why just linking to the Hyperspec would be too specific, so if there is another document to use, that is

[2020-07-22 12:07] BethanyG commented on #1377
Propose that we close this in favor of folding comments into the `basics` exercise (see issue #1999 and related PR).  @cmccandless @aldraco -- and thoughts/objections here?

[2020-07-22 12:13] BethanyG commented on #1386
We've added basic doctstrings to the `basics` exercise (see issue #1999 and related PR).  Propose we change this into a concept exercise around docstring and doctest best practices, and formatting for documentation generator tools such as Sphinx.  @cmccandless  - thoughts?

[2020-07-22 13:48] BethanyG commented on #2039
@DavidGerva  - apologies for taking so long to give you feedback.  Thank you so much for filing this issue and for raising questions about it.

 I really struggled to zero in on what felt like the "right" collection of functionality here.  I am still not sure I got it correct, and we may need to discuss this further with others.  As for language -- I changed the title to `comparisons` on the logic

[2020-07-22 17:29] oanaOM opened #2072 "[Go] Implement new Concept Exercise: time-duration"
This issue describes how to implement the `time-duration` concept exercise for the Go track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-07-22 17:33] oanaOM commented on #1925
@tehsphinx sure! I've open #2072
I'll close this one since it's done.

[2020-07-22 17:34] #1925 closed

[2020-07-22 19:22] BethanyG commented on #1431
Ooof.  @DavidGerva -- After going back over this twice, I have to agree with @aimorris - we should do membership checking alongside each data structure, and not try to making it it's own exercise.  Having checked `tuples` and `lists` -- we're already doing that, so I am going to close this as `no longer relevant`.  Apologies for having you do extra work.  😦 .

[2020-07-22 19:23] BethanyG commented on #1431
If there is a strong disagreement, please re-open.

[2020-07-22 19:23] #1431 closed

[2020-07-22 19:26] BethanyG commented on #391
@cmccandless  - do we still need this to be open?

[2020-07-22 19:26] BethanyG commented on #382
@cmccandless  - can we close this as done or no longer relevant?

[2020-07-22 19:27] BethanyG commented on #381
@cmccandless  - can we close this, or do you still need to do additional work on it?

[2020-07-22 19:28] BethanyG commented on #393
Closing this.  I think we've covered most of the concepts for luhn, and the maintainer connected to this is no longer active.

[2020-07-22 19:28] #393 closed

[2020-07-22 19:44] wneumann commented on #2018
As I noted in https://github.com/exercism/v3/pull/2022, I think the best option may be to create a more basic `strings-and-characters` concept exercise which would be a prerequisite of both this and `conditionals` and redo the current `strings` exercise as a follow-on concept that goes deeper into strings.

[2020-07-23 02:10] mikedamay commented on #1225
See PR #1472 for more history on this issue.

[2020-07-23 07:33] ErikSchierboom commented on #2018
That sounds like a good plan! Maybe create GH issues to have this documented?

[2020-07-23 09:52] ErikSchierboom commented on #2039
Some overlap is fine here I feel.

Without having any Python knowledge, it _sounds_ like a sensible thing to do.

[2020-07-23 17:08] TheLostLambda opened #2078 "[Common Lisp] Improve Concept Exercise: arithmetic"
his issue describes how to improve the `arithmetic` concept exercise for the Common Lisp track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The

[2020-07-23 17:12] #1034 closed

[2020-07-23 17:38] wneumann opened #2080 "[Swift] Improve Concept Exercise: strings"
The current `strings` exercise presents problems because the current story/exercise relies on fetching the first and last characters of the string, which requires that it has `optionals` as a prerequisite. But this moves `strings` deeper in the hierarchy than it should be as we would like to use more basic features of them in exercises like `optionals` and `conditionals`, and we cannot create cycl

[2020-07-23 17:49] SourangshuGhosh commented on #1110
Can I take up this issue, I have read the required docs and want to do my first contribution in excercism

[2020-07-23 17:57] wneumann opened #2081 "[Swift Implement new Concept Exercise: strings-and-characters"
This issue describes how to implement the `strings-and-characters` concept exercise for the Swift track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the followin

[2020-07-23 17:58] wneumann commented on #2081
Note that this is going to be the first 2/3 or so of the existing `strings` exercise with extra added in to cover `Characters`.

[2020-07-23 17:59] SourangshuGhosh commented on #2072
@oanaOM can I take this issue. I want to do my first contribution to get started with doing mentorship in exercism website

[2020-07-23 18:00] wneumann commented on #1670
Closed with PR https://github.com/exercism/v3/pull/2005

[2020-07-23 18:00] #1670 closed

[2020-07-23 18:01] wneumann commented on #1668
Closed with PR https://github.com/exercism/v3/pull/1961

[2020-07-23 18:01] #1668 closed

[2020-07-23 18:17] cmccandless commented on #1386
Agreed

I think perhaps doctest and Sphinx are worth a mention in the after.md of such an exercise.

[2020-07-23 18:17] cmccandless commented on #1377
Agreed.

[2020-07-23 18:18] cmccandless commented on #2039
Sounds good to me!

[2020-07-23 18:20] cmccandless commented on #381
Technically, yes, but...

yes, unless there's a v3 requirement that _every_ v2 exercise needs Concept extraction. My understanding was that the Concept extraction was only to generate a list of Concepts. That list seems sufficient to me now, without extraction of the remaining exercises.

[2020-07-23 18:21] cmccandless commented on #391
See https://github.com/exercism/v3/issues/381#issuecomment-663159575

[2020-07-23 18:21] cmccandless commented on #382
See https://github.com/exercism/v3/issues/381#issuecomment-663159575

[2020-07-23 19:17] oanaOM commented on #2072
Great! It's yours @SourangshuGhosh !

[2020-07-24 08:59] mikedamay commented on #2006
My proposed replacement format for _csharp/reference/README.md_ is [here](https://github.com/mikedamay/v3/blob/csharp/interfaces/languages/csharp/reference/README.md).  Please have a look and let me know what you think.

cc: @ErikSchierboom

[2020-07-24 15:58] ErikSchierboom commented on #2006
I really like it! It is really helpful and informative. Some minor suggestions:

- Maybe list the Learning Objectives as a list?
- Maybe link to the exercise in which the Concept was implemented?

[2020-07-24 16:35] BethanyG commented on #2039
Oh for &^!#% sake.  None of the edits I made to this issue were actually saved.  **I am so annoyed right now**.  Apologies everyone for the spam with no purpose.  Will re-edit.

[2020-07-24 17:30] #1377 closed

[2020-07-24 17:33] #382 closed

[2020-07-24 17:33] #381 closed

[2020-07-24 17:34] #391 closed

[2020-07-24 17:40] SleeplessByte commented on #1895
@rishiosaur How's it going with this? Need help?

[2020-07-24 17:40] SleeplessByte commented on #1894
@rishiosaur How's it going with this? Need help?

[2020-07-24 18:35] #2031 closed

[2020-07-24 18:36] tehsphinx commented on #2031
Thx a lot, @neenjaw!

[2020-07-24 18:55] BethanyG commented on #2039
Re-edited with details described above.  Chime in if this looks strange..

[2020-07-24 18:56] haunshila commented on #2081
I want to help, could you please assign this issue to me.

[2020-07-24 19:06] #1999 closed

[2020-07-24 19:31] wneumann commented on #2081
Hello.

First of all, thank you for offering you time to help out with the project. I really appreciate it.

Regarding this particular exercise, I've already got it about 90% done and ready to submit. So if you want to help on this one (and the following `strings` exercise which is also mostly done) I can definitely tag you to help with the review. And if you are looking to start writing a concept

[2020-07-25 04:14] haunshila commented on #2081
Sure , I joined both the channel.
Please assign bit-manipulation as a starting point.

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: William D. Neumann <notifications@github.com>
Sent: Saturday, July 25, 2020 1:01 AM
To: exercism/v3
Cc: Haunshilaprasad Yadav; Comment
Subject: Re: [exercism/v3] [Swift Implement new Concept Exercise: strings-and-characters

[2020-07-25 20:27] wneumann commented on #2081
OK, I went to add you and you aren't yet in the list of contributors to choose from. If you haven't yet, you may want to email contribute@exercism.io, let them know you would like to contribute, and they will help you get set up to contribute. In the meantime, you can start working on the the exercise. Be sure to read through the [Exercism contribution documents](https://github.com/exercism/v3/blo

[2020-07-26 12:00] marvelou-s commented on #1110
@SourangshuGhosh welcome! Don't be shy to make your first PR ;)

[2020-07-26 19:32] #2063 closed

[2020-07-26 19:32] #2064 closed

[2020-07-26 19:32] #2065 closed

[2020-07-26 19:32] #2066 closed

[2020-07-26 19:32] #2067 closed

[2020-07-27 06:08] SleeplessByte commented on #1431
(I agree with the decision of adding `in` to each data structure's exercise.)

[2020-07-27 13:11] DavidGerva commented on #2039
Really nice. I'm glad it was useful to raise the doubts.

[2020-07-27 21:11] sachsom95 commented on #1103
Can I take up the issue?

[2020-07-27 21:36] BethanyG commented on #1103
_Most certainly!_

[2020-07-28 06:53] mikedamay commented on #2003
The PR for the new exercise has not been approved so I will close this until there is something to work on.

[2020-07-28 06:53] #2003 closed

[2020-07-29 06:46] mikedamay opened #2110 "[C#] casting - add reference to BitConverter class"
Although the `casting` exercise dwells more on type conversion and reference types we do enumerate all the various ways in which way one type can be converted to another.  The BitConverter should be mentioned in _after.md_ (with a reference to the `integral-numbers` exercise) as it is closely related.

[2020-07-29 08:58] ErikSchierboom opened #2111 "[C#] arrays - introduce ++ syntax"
The `arrays` exercise introduces `for` loops, and within that `for` loop the `++` operator is used. However, we haven't introduced the student to the `++` operator. I think it makes sense here to introduce that operator in `introduction.md` file of the `arrays` exercise. The `after.md` document can then mention the different between `x++` and `++x` and introduce the decrement operator (`x--` and `

[2020-07-29 09:08] ErikSchierboom opened #2112 "[C#] introduce compound assignments for mathematical operators"
The `flag-enums` exercise introduces the concepts of _compound assignments_ and has the following in its `after.md` file:

We should probably expand on this to also mention that the default mathematical operators like `+`, `-`, etc. can also be used as compound assignments.

An alternative would be to explain the compound assignments in the `arrays` exercise (which uses it in its stub) or possibly

[2020-07-29 11:59] mikedamay commented on #2111
`arrays` / `for-loops` sounds like a good place for `++` and `--`.

[2020-07-29 12:18] mikedamay commented on #2112
I think `flag-enums` is a bit too niche to use for compound operators.

What about `numbers`?  `arrays` is a bit crowded and we don't want too much in `basics`.

Alternatively, I don't see numeric literals covered anywhere (incl. hex format).  Perhaps we have enough for an arithmetic exercise.

[2020-07-29 14:10] ErikSchierboom commented on #2111
👍

[2020-07-29 14:12] ErikSchierboom commented on #2112
I like `numbers` best too! I've updated the issue.

[2020-07-30 04:05] SleeplessByte commented on #1574
@ynfle we actually had a discussion about how we'd do this for v3, and I told him a fork would be best so that they can actually diverge 💯

[2020-07-31 10:21] mikedamay commented on #780
closed by PR #2105

[2020-07-31 10:21] #780 closed

[2020-07-31 11:53] ErikSchierboom commented on #780
Thanks for working on this @mikedamay!

[2020-07-31 12:48] mikedamay commented on #1225
closed by PR  #2076

[2020-07-31 12:48] #1225 closed

[2020-08-01 10:41] tehsphinx commented on #2034
`introduction.md` should contain a very small hint on floats, since `floats` are not a prerequisite, but one `float64` needs formatting in this exercise.

[2020-08-01 17:48] heshamfm opened #2119 "[<Pharo>] Is Pharo not part of V3?"
I originally came to ask a question about importing Pharo example files of two-fer into Pharo image. But, I noticed that Pharo was not listed as a language in v3.

Is it true that Pharo Smalltalk will not be part of exercism v3?

If the issue is not finding enough contributors, then we could probably get help from the community. If it is a market demand issue, I could only claim that Pharo is very

[2020-08-02 14:01] oanaOM commented on #2034
I can take this one :)

[2020-08-03 08:20] tehsphinx commented on #2034
@oanaOM: feel free!

[2020-08-03 15:21] mirkoperillo commented on #1783
fix by PR #2075

[2020-08-03 15:21] #1783 closed

[2020-08-03 18:15] #877 closed

[2020-08-03 23:07] TalesDias commented on #1786
Hey, I would like to do this one

[2020-08-04 06:54] mirkoperillo commented on #1786
Hi @TalesDias thank you for helping the Java track.
At the moment we are using C# as reference. This is their [exercise](https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/numbers), the alternative is to follow the [freelance rate story](https://github.com/exercism/v3/blob/master/reference/stories/numbers.freelancer-rates.md) implemented by [Javascript](https://github.co

[2020-08-04 06:56] mirkoperillo commented on #1963
Hi @InfiniteVerma feel free to ask if you have some problem or doubt with the exercise

[2020-08-04 15:23] InfiniteVerma commented on #1963
Sure! I apologize for the inactivity.

[2020-08-04 16:21] rishiosaur commented on #1891
I'll take a shot at this.

[2020-08-05 12:16] iHiD commented on #2119
I don't believe anyone has started that process yet. There was discussion [here](https://github.com/exercism/pharo-smalltalk/issues/411) but I'm not sure it came to anything. The other person in that discussion has since deleted their GH account.

So there are two options:
1. Become a proper v3 track with concept exercises etc
2. Become a sort of legacy track in v3, with just practice exercises.

[2020-08-05 23:40] joshgoebel opened #2132 "[Roadmap] Docker compose configuration"
**This is a rough outline of how the new "build stack" Docker Compose functionality might work. Your thoughts would be very appreciated :)**

---

To get a whole Exercism stack up and running (from binary Docker images):

[code]

`build_stack` is just a tiny utility to avoid having to maintain (and deal with merge conflicts) with a huge highly-customized/commented `docker-compose.yml` since most m

[2020-08-06 13:05] #1712 closed

[2020-08-06 13:40] mikedamay commented on #1145
closed by PR #1880 Expression-bodied-memebers

[2020-08-06 13:40] mikedamay commented on #1635
closed by PR #1880 Expression-bodied-memebers

[2020-08-06 13:41] #1635 closed

[2020-08-06 13:41] #1145 closed

[2020-08-06 13:42] mikedamay commented on #1044
Closed by PR #1877

[2020-08-06 13:42] #1044 closed

[2020-08-06 15:08] #966 closed

[2020-08-06 16:46] SleeplessByte commented on #2132
As long as this is _really_ just editing `stack.yml`, I am 💯 for this.

[2020-08-06 16:51] SleeplessByte opened #2138 "[Roadmap] add port check to docker compose / up"
I've lost 2 days last weekend because of a doubly bound port. The problem is that if one service binds on "0:0:0:0" + port and one service on localhost / local ip + port, the OS will **not** error and get into a broken state. This is also because docker injects itself into routing files, on ipv4.

Either way.

We should have an extra script that check if ports are occupied/bound before starting th

[2020-08-06 17:21] iHiD commented on #2138
So my understanding is that the network is self-contained within Docker except for any ports that are exposed. I feel like the only port that should be exposed is the 3020 one. At the moment, [two other ports](https://github.com/exercism/v3-docker-compose/blob/master/docker-compose.yml#L34-L35) are exposed, which I believe is what hurt you.

So if those understandings/assumptions are correct, then

[2020-08-06 17:24] SleeplessByte commented on #2138
Correct. And if _possible_, when running in interactive mode (not CI=1) ask the user to change, or give an _actionable error_.

`      - 3035:3035`
This was death for me

[2020-08-06 19:45] iHiD commented on #2138
@joshgoebel We ok just to expose 3020?

[2020-08-06 20:23] joshgoebel commented on #2138
Wait, what am I missing.  3035 is the webpack hosting... and 3334 is the websocket... both these things need to go all the way thru to the client so they are accessible in the browser... so it seems we need all 3 ports, no?

I'm more curious how I could reproduce/detect the problem?  @SleeplessByte Which OS are you on again?

[2020-08-06 20:23] joshgoebel commented on #2138
@SleeplessByte How did you get yourself in that situation?  Multiple instances of the dev stack? Or is it simpler than that?

[2020-08-06 20:46] iHiD commented on #2138
@joshgoebel Working on a different (non-exercism) product. The port silently clashes, so assets hit Exercism for compilation.

You're right about us probably needing the ports. I'll leave @SleeplessByte to help solve this! :)

[2020-08-06 20:49] SleeplessByte commented on #2138
Webpack runs on port 3035 by _default_. That means by _default_ this project will clash with any project using webpacker (such as any modern rails project). Because docker doesn't bind on my local IP, but 0:0:0:0, it won't actually error. That will cause the webpacker from exercism to work _alongside_ a local isntance, making the local instance report the correct manifest, but the exercism files b

[2020-08-07 07:47] samWson commented on #2119
Hi @heshamfm. I've been trying to keep the Pharo Smalltalk track going but I just don't have the time to dedicate to it. Making Pharo a v3 track just isn't on my road map since I can barely maintain what's already there. Getting new contributors would be great but there is a lot of custom code written to make working with exercism from the Pharo image possible and I don't have a good understanding

[2020-08-07 11:20] ystromm commented on #1964
Hiya!
I made an attempt at porting the C# chars exercise. Should I create a PR?

[2020-08-07 16:23] mirkoperillo commented on #1964
Hi @ystromm thank you for helping the Java track.

Feel free to provide a PR, we will try to start the review ASAP

[2020-08-07 16:42] RoelofWobben commented on #2119
and I  wait till SamWson and I figured out how to make the new format and what to change in the V3

[2020-08-07 16:51] wneumann commented on #2081
Exercise added in PR https://github.com/exercism/v3/pull/2141

[2020-08-07 22:00] wneumann commented on #2080
PR https://github.com/exercism/v3/pull/2145 added to modify this exercise and move to `string-components`.  Currently fails a dead link check in the auto-generated v3/reference/README.md for a file from the old `strings` exercise that was removed by that PR.

[2020-08-07 22:21] wneumann commented on #2018
This PR has been merged and the discussed changes to `strings` have been submitted as PRs, so I am closing this issue.

[2020-08-07 22:21] #2018 closed

[2020-08-07 22:25] wneumann commented on #2019
The `strings` exercise has been refactored into a basic `strings-and-characters` exercise and a follow-on `string-components` exercise which addresses these issues and fixes the prerequisite cycles that existed previously.

[2020-08-07 22:25] #2019 closed

[2020-08-07 22:26] #2015 closed

[2020-08-09 11:38] joshgoebel commented on #2138
I wasn't aware that Rails itself seems to proxy requests itself thru to the dev server rather than expose it's port... so if this is indeed the case (the URL of the dev server is never handed out)... does it need to be exposed to the outside world at all - or can we just map the outside web port and web socket port?

[2020-08-10 19:56] gauthierwala commented on #1994
Hi, I would like to try to do this!

[2020-08-10 20:11] mirkoperillo commented on #1994
Hi @gauthierwala thank you for the help.
I assign it to you.

Feel free to ask for every doubt

[2020-08-10 23:25] jamessouth commented on #340
Does this one need to wait for #2034 for the story to be continued or is it independent?

[2020-08-11 19:39] #2010 closed

[2020-08-11 19:39] oanaOM commented on #2010
I made the changes and it should be consistent across all exercises.

[2020-08-11 19:41] oanaOM commented on #1703
@tehsphinx I think we are in a good state with the config now. I hope you are ok with closing this for now.

[2020-08-11 19:41] #1703 closed

[2020-08-12 11:46] DavidGerva opened #2170 "[Python] Implement new Concept Exercise: list methods"
This issue describes how to implement the list methods concept exercise for the Python track, which should familiarize the student  with the core `list` methods.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before divin

[2020-08-12 12:20] DavidGerva opened #2171 "[Python] Implement new Concept Exercise: rich comparisons"
This issue describes what are and how to use rich comparisons methods in python.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The fea

[2020-08-12 18:23] BethanyG commented on #2171
Nicely written!  Thank you so much for logging this, @DavidGerva!

[2020-08-12 18:25] BethanyG commented on #2170
🔥 🔥 🔥   -- @DavidGerva  you are on a roll!  Many thanks for this.

[2020-08-12 22:55] BethanyG commented on #1026
Propose we close this and #1025 in favor of a `numbers basics` exercise where we cover the basic & built in numeric types `float`, `int`, and `complex`.  Then follow up with a numbers advanced that goes over things like `decimal`, `fraction`, and other considerations/methods.  @cmccandless @DavidGerva -- thoughts?

[2020-08-13 00:56] cmccandless commented on #1026
Sounds good to me!

[2020-08-13 07:38] DavidGerva commented on #1026
I totally agree! I don't think you can exercise only a simple basic concept like float without some others.

[2020-08-13 08:19] mirkoperillo commented on #1964
Fixed by PR #2144

[2020-08-13 08:19] #1964 closed

[2020-08-14 06:35] DavidGerva opened #2175 "[Python] Implement new Concept Exercise: str methods"
This issue describes how to implement the `str` method concept exercise for the Python track, which should explain how basic `str` methods work for text processing in python.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So,

[2020-08-14 07:40] DavidGerva opened #2176 "[Python] Implement new Concept Exercise: range"
This issue describes how to implement the `range` type concept exercise for the Python track: should explain what `range` is and how to use it in python.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into t

[2020-08-14 17:48] heshamfm commented on #2119
Thank you @iHiD . I really wish I was good enough to contribute, but I am still a beginner in Pharo. However, I love it so much that I am so keep to see it in V3. Let me ask a question to you gentlemen @samWson and @RoelofWobben what will happen if V3 goes live without Pharo. Can it be migrated later. And will the old version of Exercism continue to exist for people to practice Pharo?

[2020-08-14 17:51] RoelofWobben commented on #2119
as far as I know and understand  pharo will be in v3 but then not with the full experience of v3.
@iHiD  maybe you can tell more about this

[2020-08-14 18:28] oanaOM commented on #340
@jamessouth  It's independent.

[2020-08-14 18:36] oanaOM commented on #340
@jamessouth This one is waiting after #2034

[2020-08-16 17:33] iHiD commented on #2119
The Pharo track will still be available. The level of the experience will be determinate on whether the Pharo maintainers can create a Test Runner and Concept Exercises.

[2020-08-16 17:33] #2119 closed

[2020-08-16 22:52] wneumann commented on #1671
Addressed in PR https://github.com/exercism/v3/pull/2181/.

[2020-08-17 15:54] wneumann commented on #1704
This was closed with PR https://github.com/exercism/v3/pull/1724

[2020-08-17 15:54] #1704 closed

[2020-08-17 15:55] wneumann commented on #2017
This was closed with PR 2024.

[2020-08-17 15:55] #2017 closed

[2020-08-17 15:57] wneumann commented on #2016
This was closed with PR https://github.com/exercism/v3/pull/1961.

[2020-08-17 15:57] #2016 closed

[2020-08-17 15:58] wneumann commented on #2014
Closed with merging of PR https://github.com/exercism/v3/pull/2021.

[2020-08-17 15:58] #2014 closed

[2020-08-17 15:59] wneumann commented on #2020
This was addressed in the four referenced PRs.

[2020-08-17 15:59] #2020 closed

[2020-08-18 10:29] ErikSchierboom commented on #2010
Great!

[2020-08-18 10:30] ErikSchierboom commented on #1703
Yeah sure 👍

[2020-08-20 08:12] mikedamay commented on #2006
closed by #2162

[2020-08-20 08:12] #2006 closed

[2020-08-20 08:15] mikedamay commented on #1645
This is superseded by the exercise-report action introduced by PR #2162

See https://github.com/exercism/v3/blob/master/languages/csharp/reference/README.md

[2020-08-20 08:15] #1645 closed

[2020-08-20 08:48] ErikSchierboom commented on #1645
Awesome!

[2020-08-24 04:12] BethanyG opened #2208 "[Python] Implement new Concept Exercise: numbers"
This issue describes how to implement the `numbers` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-08-24 14:19] efx commented on #1302
The current rust track does not [explicitly](https://github.com/exercism/rust/blob/master/config.json) introduce this concept.

Thus, we should keep the tuples concept exercise as simple as possible. Riffing of of RBE, I think [the following](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=87170cd31e74974738243cfb54041b79) will work.

[2020-08-24 16:12] wneumann commented on #1680
Combining `map` and `flatMap` into one exercise. Hopefully they don't need to be split.

[2020-08-24 16:12] wneumann commented on #1683
Merging this exercise with `map`, closing this issue.

[2020-08-24 16:12] #1683 closed

[2020-08-24 16:22] wneumann commented on #1681
Adding compactMap to this exercise.

[2020-08-25 16:17] #1012 closed

[2020-08-25 20:14] efx commented on #1349
We should put any of this documentation in the languages/rust/reference [folder](https://github.com/exercism/v3/tree/25fc5bf48cc02ef7ccdd5d3663be4e45636839b0/reference).

[2020-08-25 20:55] #1023 closed

[2020-08-25 22:33] wneumann commented on #1674
Added in PR https://github.com/exercism/v3/pull/2212.

[2020-08-25 22:34] wneumann commented on #1672
Addressed in PR https://github.com/exercism/v3/pull/2155.

[2020-08-25 22:35] wneumann commented on #1673
Addressed in PR https://github.com/exercism/v3/pull/2195.

[2020-08-27 12:45] wneumann commented on #2081
PR https://github.com/exercism/v3/pull/2141 merged.

[2020-08-27 12:45] #2081 closed

[2020-08-29 12:52] SaschaMann opened #2226 "[Julia] Implement new Concept Exercise: errors"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md)

[2020-08-30 10:50] tehsphinx commented on #340
Note: we'll need to rename this exercise as we have agreed not to have names that imply a specific order like `basic` / `advanced`. Not sure what to call it though... maybe `string-internals`?

[2020-08-30 10:55] tehsphinx commented on #1703
Thanks a lot, @oanaOM!

[2020-08-30 11:28] #2037 closed

[2020-09-01 07:30] mirkoperillo commented on #1868
Hi @TalesDias, sorry for the late answer.
It would be great if you work on it.
I assign it to you.

Feel free to ask for every doubt

[2020-09-01 17:04] wneumann commented on #1665
Closed with pr https://github.com/exercism/v3/pull/1820. May need additional work on the polar coordinates section in future PR.

[2020-09-01 17:04] #1665 closed

[2020-09-02 15:31] wneumann commented on #1674
Merged PR https://github.com/exercism/v3/pull/2212#. Closing.

[2020-09-02 15:31] #1674 closed

[2020-09-02 15:32] wneumann commented on #1672
Merged PR https://github.com/exercism/v3/pull/2155. Closing.

[2020-09-02 15:32] #1672 closed

[2020-09-03 06:58] mikedamay opened #2232 "[C#] ensure config.json is aligned with design.md docs"
concepts have recently been added to _csharp/**/design.md_ docs based on the original concept list.  These need to be reflected in _csharp/config.json_.

The easiest way to achieve this is by comparing _csharp/reference/exercises.json_ with _csharp/config.json_ as this is fully aligned with the _design.md_ files.

[2020-09-03 13:03] wneumann commented on #1673
Merged PR https://github.com/exercism/v3/pull/2195. Closing.

[2020-09-03 13:03] #1673 closed

[2020-09-04 22:40] #1890 closed

[2020-09-06 07:28] samWson opened #2241 "[v3] Update maintainers"
@RoelofWobben, @macta, @bencoman, you are all listed as maintainers of the pharo-smalltalk track for v2. If you would like to still be [listed as maintainers](https://github.com/exercism/v3/blob/master/languages/pharo-smalltalk/maintainers.md) for v3 and continue contributing please let me know. Let me know if you want to be listed as a senior maintainer or a contributing maintainer.

[2020-09-06 07:34] samWson opened #2242 "[Pharo Smalltalk] Write concept exercise implementation guide"
Check the [references](https://github.com/exercism/v3/blob/master/docs/maintainers/writing-a-concept-exercise-github-issue.md) provided for guidance.

[2020-09-06 08:02] samWson opened #2243 "[v3] List concepts for Pharo Smalltalk"
I'll freely admit I'm not an expert in Pharo or Smatlltalk. I have however spent a lot of my spare time using the language and studying its history and origins.

It's worth looking at the [Ruby track concepts](https://github.com/exercism/v3/tree/master/languages/ruby/exercises/concept) for inspiration as it is the language that is most closely related to Smalltalk in terms of OOP semantics.

Other

[2020-09-06 08:48] RoelofWobben commented on #2243
maybe start simpler :

numbers
if then
classes

[2020-09-06 09:44] macta commented on #2241
Hi Sam - at the moment, life has taken a turn where I need to spend a bit more time with family, so my contributions/time are greatly reduced and it doesn’t feel like I should be listed as a contributor at the moment.

I will of course try to help where I can, and offer advice - and am pleased to see you keep the momentum going!

Tim

[2020-09-06 18:23] RoelofWobben commented on #2241
Hello Sam,

What is the difference between a senior or contributing maintainer ?

[2020-09-07 07:44] samWson commented on #2241
@macta Thanks for the update and all the work you've done so far.

@RoelofWobben I haven't seen anything to describe the difference. At a guess senior maintainers decide the overall direction of work on the repo or are the most frequent contributors. Contributing maintainers would be less frequent and have less say in the direction of development.

[2020-09-07 08:46] samWson commented on #2243
- Object and message syntax
  - unary messages
  - binary messages
  - keyword messages
  - message precedence
  - keywords
- Pharo Object Model
  - Everything is an object
  - Every object is an instance of a class
  - Every class has a superclass
  - Everything happens by sending messages
  - Method lookup follows the inheritance chain (crossover with polymorphism)
- IDE
  - Browser
  - Spotter

[2020-09-07 11:07] RoelofWobben commented on #2243
oke, I do not know if for everything you have mentioned a concept exercise is or can be made easily
As f ar as I know you have to build up with  subject.

Like the rruby track is busy.
1) strings and basics are the begining.
2) instance variables . you learn to use instance variables with no knowlegde you have to have only the 1) exercises.
3) booleans , you learned booleans  but you have to learn

[2020-09-08 09:30] samWson commented on #2243
@RoelofWobben I'm just putting concepts that I think should be covered in this issue. Pharos object and message syntax is pretty unique among programming languages so it needs to be an early concept.

[2020-09-08 11:13] RoelofWobben commented on #2243
oke, then I hope we can find challenges for it and a way to build up knowlegde because the user learned more and more concepts

[2020-09-08 13:01] mirkoperillo commented on #1963
I think it is time to remove the assignment of this issue to permit others to try it.

@InfiniteVerma feel free to ask for re-assignment if you are working on it

[2020-09-09 05:45] ErikSchierboom commented on #2243
Great work! Of the concepts that are listed, my only comments would be on the `IDE` category. The goal of the concepts list is to list the concepts that make up the language. The IDE category seems more like it is linked to the platform than the language. It would also be very tough to create exercises for those concepts. I would suggest not including them in the concepts list, but if you feel tha

[2020-09-09 09:31] #2242 closed

[2020-09-10 22:06] verdammelt opened #2247 "[Common Lisp] Improve Concept Exercises & Scaffold Generator - Concept package definitions"
Currently packages (both test & production code) are defined like:

`(defpackage foo ...) (in-package :foo)`

Notice that symbol that is used as the package desingator when defining it is a "plain" symbol - not a keyword, not a string. But whe we use it is a keyword.

While this does *work* I feel we should be consistent and also inline with general "good style" (http://www.gigamonkeys.com/book/pr

[2020-09-10 22:09] verdammelt commented on #2247
(Becausing I cannot properly link to the section of the book I wanted I have quoted it here

(ref: chapter 21, Practical Common Lisp, Seibel, 2003, <http://www.gigamonkeys.com/book/programming-in-the-large-packages-and-symbols.html>)

[2020-09-13 04:54] samWson opened #2249 "[<Pharo-Smalltalk>] Implement new Concept Exercise: basics"
This issue describes how to implement the `basics` concept exercise for the Pharo-Smalltalk track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following docu

[2020-09-13 13:49] ystromm commented on #1864
Looks reasonable to port the c# version. What do you think?

[2020-09-14 09:23] mikedamay opened #2250 "[C#] add explanation of concepts to various design.md documents"
There is a mismatch (see tables, below) between the concepts attributed to an exercise in [csharp/reference/README.md](https://github.com/exercism/v3/blob/master/languages/csharp/reference/README.md) which reflects the original concept-scraping task performed by the track's maintainers and what is shown for each exercise in [csharp/config.json](https://github.com/exercism/v3/blob/master/languages/

[2020-09-14 09:31] mirkoperillo opened #2252 "[Java] Improve Concept Exercise: classes"
This issue describes how to improve the `classes` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features

[2020-09-14 10:19] #1868 closed

[2020-09-14 10:26] mirkoperillo commented on #1864
@ystromm absolutely yes.
 Let me know if you can be interested in implement this

[2020-09-14 11:29] ystromm commented on #1864
Sure I can give it a try!

[2020-09-14 16:46] TalesDias commented on #1869
I think i will work on this one next   (:

[2020-09-15 06:17] mirkoperillo commented on #1869
assigned @TalesDias

[2020-09-15 09:25] mikedamay commented on #1785
Closed with PR #2179

[2020-09-15 09:25] #1785 closed

[2020-09-15 09:27] mikedamay commented on #2232
superseded by issue #2250

[2020-09-15 09:27] #2232 closed

[2020-09-15 20:43] neenjaw commented on #1458
@rishiosaur are you working on this exercise?

[2020-09-15 20:44] rishiosaur commented on #1458
@neenjaw go for it!

[2020-09-17 09:56] mikedamay opened #2262 "[C#] Improve numbers Exercise"
Add an example of `cast` syntax to _introduction.md_ and _after.md_ to illustrate explicit numeric conversion.

[2020-09-18 12:29] mikedamay commented on #2250
Concepts in csharp/config.json not in csharp/reference/exercises.json addressed in PR #2260.

[2020-09-19 09:49] samWson opened #2264 "[Pharo-Smalltalk] Export Pharo objects to source code text files."
Source code is not written in text files in Pharo. Instead it is all in an image file which is essentially a snapshot of object memory.

To write exercises for the website we need to serialize Pharo objects as human readable text files. This is something we already do for [v2](https://github.com/exercism/pharo-smalltalk). I'm going to rewrite just the code I need and add it to the `pharo-smalltalk

[2020-09-21 05:55] neenjaw commented on #1458
In regard to this concept.  Asynchronous callbacks are often in the context of browser events (`addEventListener`) and in nodejs api calls like `fs` and `fs.read`.

Which context is the student working in, DOM or node?

Then in trying to think about the exercise, writing a function for a synchronous call back should be easy, but any suggestions for scope or focus for an async callback? Is is async

[2020-09-22 10:13] Azumix commented on #1963
Hello !
I would like to work on this issue, is it possible ?
I prefer being honest by saying it would be my first contribution to an Open Source project.

[2020-09-22 15:29] mirkoperillo commented on #1963
Hi @Azumix  thank you for your interest.
I assign the issue to you.

If you need some initial notes about how to manage a Pull Request you can look [here](https://github.com/firstcontributions/first-contributions).

Feel free to ask for every doubt, me ( in these days I'm a little busy) or other java maintainer will answer ASAP

[2020-09-22 15:36] #2252 closed

[2020-09-22 15:37] mirkoperillo opened #2267 "[Java] Improve Concept Exercise: interfaces"
This issue describes how to improve the `interfaces` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The featur

[2020-09-22 15:58] Azumix commented on #1963
Thanks for your trust!
I already read the differents notes available and I have knowledge of git so it should be okay.
I'll try to set up my computer for work today and start working on the project tomorrow.

[2020-09-22 16:02] Azumix commented on #1963
Already got one question.
The initial note say "It may be forked from C#". Would you prefer me to design the same exercise that exist in C# in Java or do you prefer I made a brand new exercise ? Both are good option to me.

[2020-09-22 16:16] mirkoperillo commented on #1963
@Azumix I think the easy way is to translate C# exercise in Java

[2020-09-22 16:17] Azumix commented on #1963
Thanks for your answer!
If it's what you want, it's what I will do!

[2020-09-22 17:29] Azumix commented on #1963
I ran into a blocking point during the csharp translation.
In C# it exists the case-when statement that is very usefull in the exercise (as it was first describe). However in Java we don't have that.
I can make a workaround using an enumeration and make the switch on that enumeration but I'm not sure that for someone trying to learn programming that this workaround will be something "obvious" / th

[2020-09-23 19:32] mirkoperillo commented on #1963
@Azumix thank you, now I got it.
What you think about remove the part not possible in Java ?

[2020-09-23 21:52] iHiD opened #2268 "Choosing a JS graphing library"
We're going to be rendering the concepts using a dependency graph.

Fundamentally it will be the same as what @neenjaw [did for the v3 dashboard](https://v3.exercism.io/elixir/maintaining/tree).

The main differences will be:
- The nodes will be richer:
  - They'll be boxes - approx 350x100px in size
  - The will contain multiple other components with a designed layout: icon, title, number of conc

[2020-09-23 21:56] edgerunner commented on #2268
Is there any design work on this feature?

[2020-09-23 22:00] iHiD commented on #2268
@edgerunner Yes, but very early. I've asked @taiyab to upload an image to give us an idea of what we're talking about.

[2020-09-23 22:00] neenjaw commented on #2268
The advantage of D3 was to work with SVG more easily. If you aren't planning on using D3, it may be easy to replicate with html (with some sort of flexbox/grid setup done with serverside pages) or react.  The one feature which is difficult to replicate outside of an HTML canvas or SVG is the bezier edges of the graph.

[2020-09-23 22:06] iHiD commented on #2268
Rather you than me!! 🙂

---

What I want to avoid is having to work out the dependency layout manually really. That might be a problem that can be solved simply serverside but it sounds scary to me 🙂

We could have canvases for each curve potentially. Just absolutely positioned at the bottom center of one box and the top center of another. Either using D3 or something like https://cubic-bezier.com

[2020-09-23 22:22] iHiD commented on #2268
@edgerunner I've updated the OP. I'll hide our comments now. Thanks 🙂

[2020-09-24 04:20] porkostomus commented on #2268
I was using good 'ol GraphViz for visualizing [the first Clojure concepts graph](https://github.com/porkostomus/concepts.graph), and was planning on using [vis.js](https://visjs.org/) to render them in the browser with additional dynamic features, but then other folks beat me to it by using [MermaidJS](http://mermaid-js.github.io/mermaid/) which we then integrated into GitHub to render on [the V3

[2020-09-24 08:29] Azumix commented on #1963
@mirkoperillo I think it's the easiest and most suitable way yes. In order to not confuse new programmer with not obvious workaround.

[2020-09-24 09:19] mikedamay commented on #1870
Closed via PR #2248

[2020-09-24 09:19] #1870 closed

[2020-09-24 09:36] ErikSchierboom opened #2269 "[C++] Improve Concept Exercise: strings"
Taking a look at the [strings exercise](https://github.com/exercism/v3/blob/master/languages/cpp/exercises/concept/strings), I've found some things that can be improved:

- The [stub file](https://github.com/exercism/v3/blob/master/languages/cpp/exercises/concept/strings/strings.cpp) does not contain stubs for the methods the student needs to implement. These should be added (see [the docs](https:

[2020-09-24 10:13] Azumix commented on #1963
@mirkoperillo  Pull Request here  : #2270
Please tell me if I have to change something. I tried to follow all the rules I saw but I may have miss something.

[2020-09-24 13:11] mikedamay opened #2272 "[Java] reorder track config file"
order concept objects in _java/config.json_ by slug for easier maintenance

[2020-09-24 14:27] iHiD commented on #2268
Would those fulfil the specs of:
- Hovering a node should show a tooltip/modal (aka Popper)
- They need to be navigable in an accessible manner (e.g. tabbing between the boxes)
- Having rich boxes?

At a glance they look like canvas nodes which I don't think will allow us to do that. But I might be totally wrong :)

[2020-09-24 14:39] #1869 closed

[2020-09-24 15:30] neenjaw commented on #2268
- `vis.js`
  - HTML5 canvas based
- `mermaid.js`
  - svg based

I think they can be styled somewhat, but generally you get what you get with them. To think more generally about canvas vs svg vs plain-old-`div`s

- HTML5 Canvas
  - afaik, only the canvas element itself (not parts of the element) are focus-able from an accessibility perspective without reinventing the wheel.
  - canvas elements cann

[2020-09-24 15:59] iHiD commented on #2268
Thanks Tim.

My hugely strong preference would be to be working with HTML (`divs`) here if possible.

So maybe we should reshape the question in our heads to start with as: How do we generate the correct layout from the dependency graph?

If we had an array looking like:
[code]

...then we could easily lay that out. We can then worry about drawing on the lines seperately.

So does anyone (Tim?) ha

[2020-09-24 16:01] neenjaw commented on #2268
I have it in the dashboard in typescript.  What language do you want it in?

[2020-09-24 16:10] iHiD commented on #2268
TS is lovely. What's the output of running that?

[2020-09-24 16:11] neenjaw commented on #2268
Or to be more clear:
- if you can provide me with an interface for receiving an array of exercise objects (or even a hash of the config),
- and the output format you want, I can write the graph traversal in ruby if you wish

[2020-09-24 16:20] neenjaw commented on #2268
So, this is a little customized for needing to calculate positions, but the parts of it you would need are (in order):

1) make all of the nodes / edges from the config [source code 🔗](https://github.com/exercism/v3-dashboard/blob/ce24d0a1be5da0b1317ba08e49a15e8e45e01846/src/components/graph/ExerciseGraph.ts#L19)
2) make adjacency matrix [source code 🔗](https://github.com/exercism/v3-dashboard/blo

[2020-09-24 19:22] neenjaw commented on #2268
Just for completeness of this thread for future record, here is the output of the above algorithm for elixir as of today:

[code]

[2020-09-24 20:32] iHiD commented on #2268
And here's a version rendering HTML boxes (so they meet all the criteria) with a canvas rendering the line per div. The canvas-per-line gives us nice control over opacity etc using CSS without having to rerender on the fly:

<img width="1334" alt="Screenshot 2020-09-24 at 21 23 27" src="https://user-images.githubusercontent.com/286476/94196536-6b861200-feac-11ea-9696-3cb68790b871.png">

---

I'm g

[2020-09-24 20:32] #2268 closed

[2020-09-26 09:08] himanshugoyal1065 commented on #1997
Hi @mirkoperillo,

I'll like to take up this exercise. :)

[2020-09-26 12:46] mirkoperillo commented on #1997
Sorry a typo, now it has been fixed.

@himanshugoyal1065 thank you, I assign it to you.

Feel free to ask for every doubt

[2020-09-26 13:11] mirkoperillo commented on #1864
Fixed by #2255

[2020-09-26 13:11] #1864 closed

[2020-09-26 13:13] mirkoperillo commented on #1786
Fixed by #2189

[2020-09-26 13:13] #1786 closed

[2020-09-26 20:21] Azumix commented on #1963
Should the folder be named case-statement as this issue mentionned it or should it base switch statement as the official Java-doc mention it?

[2020-09-27 07:15] mirkoperillo commented on #1963
I think the best thing is to rename it.
Thank you to work on it

Il sab 26 set 2020, 22:21 Emilyen Laffineur <notifications@github.com> ha
scritto:

[2020-09-29 14:14] himanshugoyal1065 commented on #1997
Hi @mirkoperillo,

I was wondering if I can follow the same exercise as it is done by C#. (link: https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/inheritance/.docs/instructions.md)

I think it will be good to have this consistency.

What are your thoughts?
TIA

[2020-09-29 14:32] mirkoperillo commented on #1997
Yes @himanshugoyal1065 absolutely

[2020-10-01 11:51] mohancool001 commented on #1031
Hey @DavidGerva : I would like to take this as my first PR. I also wanted to do it as a part of Hacktoberfest. I just went through all the contributing docs. I will try to bring up a PR exactly like it was mentioned. Is it okay?

[2020-10-01 11:54] DavidGerva commented on #1031
Sure! Also thank you very much. I am on vacation right now and without my pc so I will be more present the next week (if I can say I was present in the last weeks 😔). BTW again thank you and feel free to reach us for any doubt or comment! 🙏

[2020-10-01 17:37] himanshugoyal1065 commented on #1997
Hi @mirkoperillo,

How to run Prettier on the instructions pages? I wasn't able to find much about it. Can you please point me to some page where it is described?

Also, as @iHiD has added hacktober tag, can we have that for this issue as well?

TIA.

[2020-10-01 17:48] ynfle commented on #1997
To run prettier from the command line/terminal, there are 2 scripts in the `bin` folder of the repo, `format.cmd` & `format.sh` for windows and posix respectively. From the root of the repo run `bin/format.cmd` or `bin\format.cmd` depending on you OS.

It can also be run from the PR directly by commenting with the text "/format".

[2020-10-01 18:50] iHiD commented on #1997
@himanshugoyal1065 You don't actually need the hacktober tag for it to count against your hacktober count 🙂

[2020-10-01 18:52] himanshugoyal1065 commented on #1997
@iHiD, now you know that I'm participating for the first time :D

[2020-10-02 11:20] valentin-p commented on #2272
I did that for 11 languages including Java, is that what was required ?
I changed Julia slightly as well based on the C# config.json, I checked https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#configjson

[2020-10-02 13:08] kristinaborn commented on #1893
I'd like to work on this, assuming @joshgoebel hasn't taken it?

[2020-10-02 13:09] joshgoebel commented on #1893
@kristinaborn Go for it.

[2020-10-02 13:09] SleeplessByte commented on #1893
@kristinaborn you can take it!

[2020-10-02 14:59] jonathanyeong commented on #2055
Hey @ErikSchierboom could I take this issue?

[2020-10-02 17:04] ErikSchierboom commented on #2055
Yeah sure!

[2020-10-02 20:10] #2034 closed

[2020-10-02 20:10] oanaOM commented on #2034
all done here so it can be closed.

[2020-10-02 20:30] oanaOM commented on #340
@tehsphinx sure thing. atm it's string-package. do you think this is good enough?

[2020-10-02 20:35] oanaOM commented on #2049
#2048 has been merge but I'll take it to add the missing files to this exercise.

[2020-10-02 23:26] jonathanyeong commented on #2055
Quick question on the Log Line Parser exercise. The instructions don't seem to reference the class methods which is different to the instructions of the other exercises. E.g.

[code]

Should I make this change, or just leave it as is?

[2020-10-03 04:13] neenjaw opened #2282 "[C#] Cyclic Dependency Bug"
Hey there exercism csharper's!

While browsing through the [dashboard](v3.exercism.io) I noticed the maintenance page showing the tree is throwing an error, complaining of a cyclic concept dependency.  See picture:

![Screenshot from 2020-10-02 22-11-08](https://user-images.githubusercontent.com/8953691/94982981-402ea300-04fc-11eb-8b67-13c41cb8c9d5.png)

Seems there is some cycle occurring includi

[2020-10-03 04:34] kotp commented on #2055
I wonder if this is because the concepts being taught are different, perhaps the difference between class and instance method is assumed to be known at this point?

I have to read the documentation tomorrow of the entire structure and get up to speed with what is here.

[2020-10-03 04:41] neenjaw commented on #2046
I think points 1 and 3 are complete, but I think point two remains incomplete.

[2020-10-03 04:45] neenjaw commented on #1904
Is this complete then? Should be closed?

[2020-10-03 14:24] mohanrajanr commented on #1031
Hey @DavidGerva , when you are back, check out the PR : https://github.com/exercism/v3/pull/2283

I plan to take 3 more as a part of the fest. let me know what else you want me to take :) .

[2020-10-03 17:07] kotp opened #2285 "[Ruby] Boolean vs boolean"
exercism/v3#2281 has a discussion started about referencing "Boolean"
and "boolean" and the problems that can be associated with using
"boolean" and the formal `true` and `false` being listed when we don't
really mean that as a requirement.

The comments came about from the issue above, while the details are
found [here][here-1] and [here][here-2].

The Concept is "Boolean" and includes the less f

[2020-10-04 06:20] himanshugoyal1065 opened #2286 "[JAVA] Suggest new exercise: <exception-handling>"
In this issue, a new concept exercise for the <JAVA> track is suggested. The exercise's name is `<exception-handling>`.

## Rationale

Exception handling is a core concept of java and is used extensively in development. Someone working/ learning Java, should know the basics of Exception handling.

## Concepts

Exception handling consists of the following main concepts:
- try and catch blocks
- fin

[2020-10-04 06:22] himanshugoyal1065 commented on #2286
@mirkoperillo I guess you can consolidate it and make an actual issue for it.
Moreover, I'll like to take it up. :)

TIA

[2020-10-04 09:20] RoelofWobben commented on #2249
Looks welll to me .
As soon as we have the code to output things the right way we can implement this one

[2020-10-04 10:39] valentin-p commented on #2282
Let me know if my PR solves the issue (Note: I did not succeed to run the v3 dashboard on my local machine yet)

[2020-10-04 11:25] mohanrajanr commented on #1430
Hey @BethanyG @DavidGerva : As I've already mentioned, since I am already working on the None Concept exercise, I would like to also take a stab at this. Let me know if that is okay?

[2020-10-04 11:27] DavidGerva commented on #1430
Sure! Thank you! And I should give a look at your other pr in the next hours.

[2020-10-04 11:27] DavidGerva commented on #1430
Sure! Thank you! And I should give a look at your other pr in the next hours.

[2020-10-04 16:43] neenjaw commented on #2282
I'm not a maintainer for the csharp track, so I'll ping @ErikSchierboom and @mikedamay to be able to verify. @ErikSchierboom probably won't take a look at it before tuesday. :)

[2020-10-06 06:39] ErikSchierboom commented on #2055
Please make this change. This is a mistake in the existing exercise.

[2020-10-06 09:14] ErikSchierboom commented on #2282
I'll add my comments to the PR! Thanks for looking into this @valentin-p and for reporting it @neenjaw

[2020-10-06 13:37] tehsphinx commented on #340
I'd say so, yes. I think we can go with the strings exercise for now and not create another one.

[2020-10-06 13:42] tehsphinx commented on #340
The only thing not in there is iteration of strings... which is a bit special. So, not sure what to do about that. Put it in `strings-package` (which feels a bit wrong)... or maybe put it in the `range loop` (not sure what we called it) exercise? Or another exercise for strings after all?

[2020-10-06 13:51] mirkoperillo commented on #2286
@himanshugoyal1065  it is yours !
You can take C# version as reference https://github.com/himanshugoyal1065/v3/tree/master/languages/csharp/exercises/concept/exceptions

[2020-10-06 14:20] angelikatyborska commented on #839
Is this issue actually helpful to us? Do we want to close it, or maybe re-phrase?

The list of concept exercises here is severely out of date, and I am not sure if there is a point of updating it. If I need to know which exercises are implemented, I would just look into the repo.

[2020-10-06 14:34] neenjaw commented on #839
Ya, let's close it.

[2020-10-06 14:36] #839 closed

[2020-10-06 14:37] #737 closed

[2020-10-06 14:37] #736 closed

[2020-10-06 14:37] #735 closed

[2020-10-06 14:37] #734 closed

[2020-10-06 14:38] #733 closed

[2020-10-06 14:38] #732 closed

[2020-10-06 14:38] #617 closed

[2020-10-06 14:38] #616 closed

[2020-10-06 14:39] neenjaw commented on #1286
I'm going to close this for now, feel free to reopen if you come back to revisit this.

[2020-10-06 14:39] #1286 closed

[2020-10-06 14:57] angelikatyborska opened #2291 "[Elixir] Implement new Concept Exercise: `io`"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/features-of-v3.md).
-

[2020-10-06 19:47] ryanrobidou commented on #1070
Would love to take a look at implementing this exercise in the spirit of Hacktoberfest. Is this one I can help with?

[2020-10-07 05:49] BethanyG commented on #2170
@mohanrajanr will be taking this on.  YAY.

[2020-10-07 08:01] valentin-p commented on #2272
closed by #2279

[2020-10-07 09:49] ErikSchierboom commented on #1070
Yeah sure! I've updated the label. To start, I suggest the following:

- Read up on the Concept Exercise documentation https://github.com/exercism/v3/blob/master/docs/concept-exercises.md
- If you're not already on Slack, please use this invitation to join our Slack channel: https://join.slack.com/t/exercism-team/shared_invite/enQtNDEyMDM0OTgzNzY1LTU2ZDE2MGIzZmJmMDY3MDc1M2MxMzA0YjkwNjYyY2E1ZWJmNDR

[2020-10-07 10:48] himanshugoyal1065 opened #2292 "[Java] Adding `gradle check` to github actions"
@mirkoperillo, thank you! I have updated the PR and now it's passing the `gradle check`
Also, I suggest adding this check in the actions directly, so that you or any other maintainer don't have to tell everyone personally :)

_Originally posted by @himanshugoyal1065 in https://github.com/exercism/v3/pull/2278#issuecomment-704445876_

[2020-10-07 10:50] himanshugoyal1065 commented on #2292
@mirkoperillo, I'm working on it as suggested in #2278 by other maintainers :)

[2020-10-07 14:31] iHiD opened #2293 "Evolving the specification of this repo"
Hello @exercism/track-maintainers :wave:

As we're getting closer to launching the beta of the tracks part of v3, we've been working on unifying the UI designs and UX flows, with the data that we have within the v3 repo, and considering more about how we merge in the data from the v2 language repos.

It's become clear some areas need to evolve slightly. This issue outlines the decisions we've made

[2020-10-07 14:40] angelikatyborska commented on #2293
Some questions:

1. Given that `resources.md` will exist for a concept, can `about.md` (migrated from a concept exercise's `after.md`) also be full of links?
2. The idea for `after.md` was that it will be shown to the student right after they solve the concept exercise. Is this still going to happen, but for all the concept's `about.md`s?

[2020-10-07 14:48] iHiD commented on #2293
It can have links integrated, yes, but if we want to just provide some "more reading" list that will fit into resource. I suggest waiting until we have a design for you to see before starting changing the `about.md` or the `resources.md`, just so we have proper clarity.

Yeah. So when they complete an exercise we'll highlight the concepts they've "learnt" and link to those. Then on the Concepts pa

[2020-10-07 14:48] SaschaMann commented on #2293
I don't like this at all. `after.md` is a great way to show student's commented example solutions and other info that has nothing to do with the concept, but the exercise in question. As @cmcaine often points out, reading annotated expert solutions is a great way to improve learning as well. In v2 all (?) Julia mentoring notes already include such a section that is copy-pastable and it would be ni

[2020-10-07 14:55] iHiD commented on #2293
That's specifically not the purpose of the after.md though. The after.md is about the concept, not the exercise. To quote the [existing docs](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#docsaftermd):
`Purpose: Provide information about the concept(s) for a student to learn from.`

This is "Approaches". This is a whole different thing to the `after.md`. There will be a whol

[2020-10-07 14:59] SaschaMann commented on #2293
If you quote the whole thing:

Several of those don't fit into a concept doc.

I agree, hence most concepts in Julia would like just link to the relevant section in the Manual :)

[2020-10-07 15:02] iHiD commented on #2293
Maybe. But then those bits can go into the approaches stuff when that's ready.

In that case, you'd just copy the introduction back out, as the spec says that "at a minimum, this file should contain all information that is introduced in the .docs/introduction.md document." 🙂

[2020-10-07 20:15] BethanyG commented on #2293
I think I am struggling with the opposite of this in Python.  The docs are .... _copious_, and have been written at specific levels, and organized in different ways depending on how a programmer wants to interact with them:

-  [The Python Tutorial](https://docs.python.org/3.7/tutorial/index.html) organizes much as we've said we want for track concept exercises -- in fact, it is very difficult for

[2020-10-07 20:46] neenjaw commented on #2293
@BethanyG

Agreed it's hard to not just copy and paste sometimes. From an outsider perspective to python, the one thing that is always quite apparent to me that information is almost always out of date as soon as its written down.  So there are a plethora of old blogs/posts/github code which are completely non-idiomatic (or worse, broken).  So even an `about` that helps a person to organize the co

[2020-10-07 21:04] iHiD commented on #2293
I think part of this is probably a lack of guidance on what Exercism is trying to achieve with this generally (as in Concepts both in this context, but also in the wider Concept Exercise situation). That's primarily because it's not easy to write down in a way that people coming from different programming language backgrounds (with very different experiences of documentation etc) all find sensical

[2020-10-08 07:11] mirkoperillo commented on #2292
@himanshugoyal1065 thank you, this PR can help the track maintenance a lot.

The java track uses checkstyle to maintain a homogeneous coding style.To validate the style we use the gradle task: `gradle check`. This task analyzes the test source code and the reference exercise implementation to validate the style rules.

I would be useful if this task could be automatically run every time a PR on a

[2020-10-08 07:28] ErikSchierboom commented on #2293
We'll have approaches to do this. Also note that concept exercises should be designed to preferrably have one idiomatic solution, which means that there are likely less different approaches to show (taking into account what the student knows at that point).

To me, where the `after.md` document really shines is in giving _context_ to the student. When should the concept be used, but also: when not

[2020-10-08 10:40] cmcaine commented on #2293
I don't really understand the bit about concepts under headings in introduction files, but other than that this sounds okay to me 👍

Eager to hear more about how "Approaches" will work and possibly feed back on that design :)

Finally, I'm not sure there will be a single idiomatic solution to many of the Julia concept exercises: we can't rely on the students only knowing what we've taught them, so

[2020-10-08 12:05] mohanrajanr commented on #2170
@DavidGerva @BethanyG : To Test this exercise, I came up with the following plan.

[code]

This looks like a more plausible way to understand whether the user used the function in the code. All the Test cases will be manipulating the list which we pass ( the list wrappered object is the one we will pass in the test ) and we can test all the list methods :) .

At first i thought whether we can monk

[2020-10-08 13:49] TheLostLambda commented on #2293
While I understand the issues that @SaschaMann has with this proposal, I think that this affects the different tracks in very different ways. To that end, I suppose I'll be explaining my support of these changes.

Personally, I've _always_ had significant gripes with the `after.md`. Ultimately, I feel that it was intended to do far too many things. As a reference, it's not great because many exerc

[2020-10-08 15:53] SleeplessByte commented on #2293
This is the key thing @iHiD should re-clarify, because I think that, if done right (and approaches != implementations), this is basically what `after.md` is WITHOUT the concept info.

[2020-10-08 15:55] SleeplessByte commented on #2293
(Trying to edit my previous post, but it's showing "Sorry something went wrong")

Same. I actually hate that part.

The rest is all 👍 from me.

[2020-10-08 15:59] iHiD commented on #2293
Yeah - Approaches is fuzzy still, which is why I've not written/discussed much on it (beyond bouncing ideas around on that call).

My current thinking is that each exercise (concept or practice) has a page, which is markdown, where maintainers can expound some high-level thoughts on the exercise - be that what Sascha/Colin were thinking for the after.md, or more like the "mentor-notes" of v2 (but

[2020-10-08 16:09] neenjaw commented on #2293
With those introduction files exploded out, do they really belong to the `lasagna` exercise any more? It seems that the idea is moving towards something like

[code]

[2020-10-08 16:13] neenjaw commented on #2293
_Github won't let me edit the last post to add on, sorry for two posts_

and then as a consequence, rather than exercise `teaches` a concept, it is almost as though concepts are `taught_by` exercises if that nuance comes across. (I think we saw this as well moving from an exercise map to a concept map)

[2020-10-08 16:13] cmcaine commented on #2293
introduction files, [...]

I don't dislike it, I just don't understand where it is used yet. Only on
the intro page? Is it ever combined with the other concept info? Or are the
slugs just there for automatic links and CI checks?

On Thu, 8 Oct 2020, 17:00 Jeremy Walker, <notifications@github.com> wrote:

[2020-10-08 16:17] iHiD commented on #2293
The introductions will be used in two places.
1. They form the first part of the README.md when a user downloads an exercise via the CLI and are the first part of what a user reads when solving the exercise in the web-editor (I'm vague on this because we've not finalised the UI for exactly how this bit looks yet). They are therefore very exercise-specific.
2. When the Concept Exercise has not been

[2020-10-08 16:17] iHiD commented on #2293
Yes! This is exactly the change we're making, and the change in language we've been using to describe it.

[2020-10-08 16:21] iHiD commented on #2293
Just to expand a little more, the reason for the headings is fundamentally because the **primary** purpose of the introduction is to be presented to the user a whole for the concepts that are being taught ((1) above). So it's **normal** state (in my mind) is being compiled with headings. The **alternative** state ((2) above) is them exploded out on pages, which is why my instinct is to explode the

[2020-10-08 16:30] TheLostLambda commented on #2293
I think my *strong* preference would be to keep them in one file with the sub headings. I think it would be slightly awful to jump between different introduction files when I'm going to write an introduction. I think it's easier to keep the intro specific to the exercise and concise when it's all in one file.

In any case, I do think that UI / UX mockups of what these heading enable would helpful

[2020-10-08 16:34] cmcaine commented on #2293
Maybe naming these fragments will help? I feel like they're not the introduction to the concept, they're the introduction within the context of that exercise.

They are introductions to the bit of the concept that we want to teach in exercise lasagna. Perhaps they're steps in a given concept's tutorial? Or concept-breadcrumbs? Or concept-factoid? I don't know.

Anyway, my slight preference is to h

[2020-10-08 20:31] SleeplessByte commented on #2170
As a _rule_ on exercism, **test** don't test _implementation_. This has three reasons, if not more:

1. Testing implementation means that it will eventually break with best practices (idiomatic-ness), because there might be a new way in the future that is _more idiomatic_, but the tests won't allow for it.
2. Most forms of testing implementation **gives away the answer**, which is what we don't wa

[2020-10-08 20:32] SleeplessByte commented on #2170
Just continue. You're doing great, and it's easy for us to "fix" / do another PR to update once that idea lands. No need to wait.

[2020-10-08 22:37] BethanyG commented on #1648
@DavidGerva @cmccandless  -- on second look, this feels like it should be part of `string methods`, and not its own exercise.  Thoughts?

[2020-10-09 02:31] mohanrajanr commented on #2170
@SleeplessByte : Thanks for your comments.

Got it!. I think this line resonates better about the thought i should give on writing test cases.

Great. I will proceed working with this.

[2020-10-09 02:53] mienaikage opened #2297 "[Perl] Implement new Concept Exercise: basics"
This issue describes how to implement the `basics` concept exercise for the Perl track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-10-09 02:59] mienaikage commented on #2297
I've excluded subroutine arguments from basics as I think having an arrays/lists exercise should probably come before introducing e.g. `my $self = shift` / `my ($self) = @_`

[2020-10-09 07:10] #2272 closed

[2020-10-09 09:15] mikedamay opened #2298 "[C#] rename dependency in user-defined-exceptions exercise as overflow"
Rename the dependency `arithmetic-overlow` in _csharp/config.json_ as `overflow`.  Similarly in _user-defined-exceptions/.meta/design.md_.

Coordinate this activity with PR #2287 re cyclic dependencies,

[2020-10-09 13:39] SaschaMann opened #2301 "[Julia] Search for TODO comments"
Various minor things that need to be verified are marked with TODO comments. Rather than creating an issue for each of them, this one issue shall suffice.

[2020-10-10 00:29] BethanyG commented on #1648
Closing this issue in favor of either folding it into `string methods` or a `text processing` concept.

[2020-10-10 00:29] #1648 closed

[2020-10-10 01:25] BethanyG commented on #2176
@DavidGerva @cmccandless -- I really really hate doing this.  But when I look at this concept exercise, it feels as though it belongs either with `iterables`, `iteration` or `loops` as a concept -- and not on its own as a stand-alone.  Thoughts?

[2020-10-10 02:39] cmccandless commented on #2176
I don't really think `range` is a separate concept. It's not a keyword or a type, it's just a builtin function (albeit a common one).

[2020-10-10 03:00] BethanyG commented on #2176
Yeah.  It is a "shortcut" sequence type for counting or iterating.  So that us lazy pythonistas don't have to always declare a loop counter.  ;-).  And the [python docs](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range) sorta treat it as such.  Ok.  Booting.  This concept thing is .... frustrating.  Apologies to the both of you for the churn and chaos.

[2020-10-10 03:00] #2176 closed

[2020-10-10 07:56] mohanrajanr commented on #2170
Created a PR for this Issue here : https://github.com/exercism/v3/pull/2303

[2020-10-10 07:57] mohanrajanr commented on #1430
Created a PR for this Exercise here: https://github.com/exercism/v3/pull/2302

[2020-10-10 09:20] angelikatyborska opened #2305 "[Elixir] Implement new Concept Exercise: `with`"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/features-of-v3.md).
-

[2020-10-10 09:47] angelikatyborska opened #2306 "[Elixir] Implement new Concept Exercise: `erlang-libraries`"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/features-of-v3.md).
-

[2020-10-10 14:26] #1904 closed

[2020-10-10 21:46] BethanyG opened #2309 "[Python] Implement new Concept Exercise: Enum"
This issue describes how to implement the `Enum` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [

[2020-10-10 21:48] BethanyG commented on #2309
@mohanrajanr - all yours!  LMK if you have questions or issues.

[2020-10-10 21:50] BethanyG commented on #2309
@cmccandless  - when you get a chance, if you could give this a quick "sniff test" as a concept/issue & LMK if we need to edit it that would be **awesome**.  _Thank you_.

[2020-10-11 03:08] #1622 closed

[2020-10-11 12:34] mohanrajanr commented on #2309
Link to the PR Here: https://github.com/exercism/v3/pull/2312

[2020-10-11 15:52] verdammelt commented on #953
In reviewing existing concepts I think that this exercise could cover the 'function', 'default_argument', 'named_parameter', and 'rest_parameter' concepts rather than 'function-definition'.

Thoughts @TheLostLambda

[2020-10-12 10:16] BethanyG opened #2313 "[Python] Improve Concept Exercise: None"
This issue describes how to improve the `None` concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features o

[2020-10-12 14:23] cmccandless commented on #2176
Not at all! The only stupid questions are the ones left un-asked :smile:

[2020-10-12 14:29] cmccandless commented on #2170
I missed this issue when it was created. Was there a discussion at some point on naming this concept "list methods" instead of just "list"?

[2020-10-12 21:15] BethanyG commented on #2170
Yeah.  That naming struggle (_and grouping of concept and terms_) is ongoing.  We already have [`lists`](https://github.com/exercism/v3/tree/master/languages/python/exercises/concept/lists), but purposely limited the coverage of specific methods there.

I am debating if we do and `iterables` or `sequences`  concept for things like bracket notation, indexing, slicing -- all the [common sequence ope

[2020-10-13 12:03] mikedamay opened #2314 "[C#] exceptions exercise improvement"
Change the story on the `exceptions` exercise as follows: We could use the NotImplementedException and come up with a story around working with another department's library that is still being implemented. The story could be to get a progress report or something like that, in which the student checks which features are "complete" (as in: implemented).

This follows the discussion on PR #2287.

[2020-10-13 13:18] #1997 closed

[2020-10-13 13:19] #2267 closed

[2020-10-13 14:51] cmccandless commented on #2309
My thoughts:
- `Learning objectives` section feels like it's too much for a single exercise. Maybe move Functional API and aliases/`@unique` to "Out of scope"?
- Perhaps a mention in after.md (or whatever document is replacing it) about how `enumerate` is not the same thing as `Enum`; someone new to Python might learn `Enum`, then see `enumerate` and get confused.

[2020-10-13 15:30] wneumann commented on #2080
Closed with the merge of https://github.com/exercism/v3/pull/2145

[2020-10-13 15:30] #2080 closed

[2020-10-14 07:25] TheLostLambda commented on #953
I think that sounds like a good idea! Are those concepts some of the ones shared between tracks?

[2020-10-14 10:39] valentin-p opened #2322 "[C#] Improve Concept Exercise: enums. Cyclic Dependency Bug"
This issue describes how to improve the `enums` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features of v

[2020-10-14 12:59] wneumann commented on #1667
Closed with the merge of https://github.com/exercism/v3/pull/1821

[2020-10-14 12:59] #1667 closed

[2020-10-14 12:59] wneumann commented on #1671
Closed with the merge of https://github.com/exercism/v3/pull/2181

[2020-10-14 12:59] #1671 closed

[2020-10-14 13:51] mikedamay commented on #2322
It is straightforward to drop the enum from the switch-statements story.  It plays only a minor part.

My only reservation is that `enum` seems to me to be a more fundamental concept than `switch` but I can live with it.

[2020-10-14 15:40] angelikatyborska opened #2328 "[Elixir] Implement new Concept Exercise: `genserver`"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/features-of-v3.md).
-

[2020-10-15 13:41] #1963 closed

[2020-10-16 02:15] cmccandless commented on #2170
Not to mention that we also have a `list-ops` practice exercise...

I do like the idea of an `iterables` concept. Frequently in Python it doesn't matter what the exact type of a variable is; its behavior (or "group") is usually more important. It feels right to integrate that  ideology to our concept exercises too.

[2020-10-16 14:55] iHiD opened #2499 "Adding links.json"
We are adding a `links.json` file to all concepts. The purpose of this file is provide helpful links that provide more reading or information about a concept. These might be official docs, a great tutorial, the PR that added it to the language, etc.

They will be rendered something like this:
<img width="780" alt="Screenshot 2020-10-16 at 15 50 43" src="https://user-images.githubusercontent.com/28

[2020-10-16 14:55] iHiD commented on #2499
No, credit to the authors of the exercise works through. a different mechanism.

[2020-10-16 14:57] SaschaMann commented on #2499
I think we're talking about different authors. The authors of those post are probably not on Exercism?

[2020-10-16 15:01] iHiD commented on #2499
Then no, I don't think we should credit those authors. The authors should be credited on the sites we link to (e.g. if we link to MS docs or Wikipedia pages, those sites should credit their own authors)

[2020-10-16 16:33] angelikatyborska commented on #2499
Will backticks in the link's description be interpreted as "please write this in a monospace font"?

[2020-10-16 18:16] iHiD commented on #2499
Yes. But you may have to remind me of this when I forget and it doesn't work 😀

[2020-10-16 18:29] neenjaw opened #2500 "[BIG BANG] 🔥 How to handle exploding out v3 to each track repo"
FYI @ErikSchierboom and @iHiD

After the call today, and a comment from @SleeplessByte noted that it is possible to transplant files with history from one repo to another.

https://gbayer.com/development/moving-files-from-one-git-repository-to-another-preserving-history/ has a reasonable description of this process here.

[2020-10-16 19:29] SleeplessByte commented on #2500
(You might still need to `git mv` it, but it will maybe allow you to save a _lot_ of work/commits *and* preserve history on the exercise itself)

[2020-10-17 11:17] BethanyG commented on #2309
Excellent feedback, @cmccandless .  Thank you.  I went ahead and merged the PR, but will be filing some improvement issues as I go back through our existing exercises and fill in concept docs, re-title, etc. etc.  Makes sense to move `@unique` out, as well as aliases.  I think the `Functional API`, being an alternative and shorter constructor should stay.

And we definitely want  the `Enum` vs `en

[2020-10-18 09:12] angelikatyborska opened #2513 "[Elixir] Improve Concept Exercise: `maps`"
This issue describes how to improve the `maps` concept exercise for the Elixir track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features o

[2020-10-18 14:21] angelikatyborska opened #2514 "[Elixir] Do string literals warrant a separate concept?"
This topic of discussion was brought up in https://github.com/exercism/v3/pull/2510

`string-literals` are introduced by the `lists` (`LanguageList`) concept exercise. It was necessary to have them there to have any kind of meaningful list exercise idea (otherwise it would have to be based on numbers only).

`strings` is a concept that has its own exercise, and it covers string interpolation, conc

[2020-10-20 07:31] valentin-p commented on #2282
Superseded by #2314

[2020-10-20 08:01] ErikSchierboom commented on #2322
I agree with the above.

[2020-10-20 08:20] ErikSchierboom commented on #2500
Interesting!

[2020-10-20 08:24] SaschaMann opened #2519 "[CI] In some PRs, the link checker verifies all files"
Example: https://github.com/exercism/v3/pull/2474/checks?check_run_id=1265404504
All of the recent mass PRs were affected it seems.

Full logs in case they disappear: https://gist.github.com/SaschaMann/efa0097faadefd23d875f66bb532ec40

[2020-10-20 15:53] angelikatyborska opened #2520 "[Elixir] Improve Concept Description: `lists`"
Extend `languages/elixir/concepts/lists/about.md` so that it explains that lists are not arrays.

Mention:
- random access vs sequential access
- appending to a list in a loop is an anti-pattern, prepend and reverse instead

It doesn't have to be a lot or very detailed, but students should understand that they can't just use lists in Elixir like they would arrays in other languages.

[2020-10-20 15:57] neenjaw commented on #2520
Agreed, I see this a lot when mentoring rna-transcription and the lists exercises

[2020-10-21 02:11] BethanyG commented on #2309
PR  #2312  Has been merged.  Closing this issue.

[2020-10-21 02:11] #2309 closed

[2020-10-21 02:13] BethanyG commented on #1031
PR  #2283 has been merged!  🎉   Closing.

[2020-10-21 02:13] #1031 closed

[2020-10-21 02:15] BethanyG commented on #1430
Since PR #2302 has been merged 🌟 , I am closing this issue.

[2020-10-21 02:15] #1430 closed

[2020-10-21 02:18] BethanyG commented on #2170
Since PR  #2303 has been merged 🎉 , I am closing this issue.

[2020-10-21 02:18] #2170 closed

[2020-10-21 07:26] samWson commented on #2264
This pull request to the V2 repo puts the existing exercise generator code under test: https://github.com/exercism/pharo-smalltalk/pull/426

With that done I can duplicate most of it's functionality for a V3 exercise generator. I'll then move common code into an abstract super class.

[2020-10-21 09:05] #2322 closed

[2020-10-21 09:28] ErikSchierboom commented on #2519
@SaschaMann I think I know why this is the case, and it is actually working as designed. If you look at https://github.com/exercism/v3/blob/master/.github/workflows/valid-links.yml#L31, it has two checks:

1. It checks if it is a push to master
1. It checks if any files were deleted or renamed

Obviously, the first clause doesn't match, however the second one does. Having one or more files deleted

[2020-10-21 10:02] SaschaMann commented on #2519
Ahh, makes sense. Thanks for looking into it :)

[2020-10-21 10:02] #2519 closed

[2020-10-21 20:30] verdammelt commented on #2293
I'm trying to understand what information should be in `about.md` and what should be `instructions.md`.

I'm currently working on transitioning my lists concept exercise to this new format. My `after.md` actually didn't have much info in it other than an interesting tid-bit about the functions available, however my `introduction.md` had lots of information about the data type. But in that discussi

[2020-10-21 20:41] verdammelt commented on #2293
Another question - Is there a way to link between concepts? For example the concept of list is built on top of the concept of cons cells in Common Lisp. I'd like to state this fact and link to the cons concept in the list concept `about.md`. Is this possible?

[2020-10-22 00:38] shubhsk88 commented on #1458
@neenjaw  Are you still working on this issue?I would  like to contribute to it

[2020-10-22 00:44] shubhsk88 commented on #1893
I'd like to work on this considering @kristinaborn  isn't working on it?

[2020-10-22 00:45] SleeplessByte commented on #1458
@shubhsk88 yeah, @neenjaw and I talked on slack about it. It's basically on hold until we solve some other thangs.

[2020-10-22 01:41] SleeplessByte commented on #1892
@shubhsk88 maybe this one is interesting for you? I can also write up _new_ exercise issues if you'd like.

[2020-10-22 01:41] #492 closed

[2020-10-22 01:42] #491 closed

[2020-10-22 01:54] shubhsk88 opened #2526 "[Javascript] Implement new Concept Exercise: Function Expression and ES6 Arrow Function"
This issue describes how to declare the function expression and declaration with the ES6 Arrow function.

This issue describes how to implement the `function`  concept exercise for the Javascript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle and exhaust Exerci

[2020-10-22 01:59] shubhsk88 commented on #1892
@SleeplessByte  yeah but I think there is too much stuff in this concept exercise, Isn't the exercise supposed to be short .I will be happy to take that. Yeah, sure I will be happy to write a new exercise especially the `new` function and how `class`  works in javascript but hope it won't be deep for the students. What do you think?

[2020-10-22 02:20] SleeplessByte commented on #1892
It's not _that_ important to understand how `class` internally works -- but it's important how `class` makes you "think differently" when writing JavaScript. There is #1390 (#1325), no clue if they are still working on it. That said, concepts may be very complex! No problem.

Not necessarily. There mostly should just be one straightforward way to do a thing; and it should be teaching you one conce

[2020-10-22 02:51] shubhsk88 commented on #1325
I would like to contribute to this issue or @SleeplessByte  maybe you open some new issue related to it

[2020-10-22 02:56] shubhsk88 commented on #1892
Well said @SleeplessByte  and this I will try to write this. Is this sounds good?

[2020-10-22 04:45] SleeplessByte commented on #1892
Yeah, of course!

[2020-10-22 06:35] ErikSchierboom commented on #2282
This has been fixed.

[2020-10-22 06:35] #2282 closed

[2020-10-22 07:40] shubhsk88 commented on #1892
Can you assign me to this issue so other won't take it lol

[2020-10-22 08:52] ErikSchierboom commented on #2293
Not yet, but this is on our radar!

[2020-10-22 08:58] ErikSchierboom commented on #2293
The general rule is that the `introduction.md` should contain _just_ enough information for the student to solve the exercise. That does not mean one has to mention all the functions the student can use. If possible, it is preferrable to mention a module/class name and have the student figure things out by themselves. If they get stuck, they can use the hints.

The `about.md` can contain many thin

[2020-10-22 13:41] ErikSchierboom opened #2527 "Cross-linking between v3 documents"
With our recent exploding of the `after.md` documents into individual concept documents (see [this issue](https://github.com/exercism/v3/issues/2293)), one question we've been asked several times is how to link between documents. An example being wanting to link to the `if-statements` document from the `switch-statements` document. As of right now, we don't have a way of doing that, but we plan on

[2020-10-22 13:41] ErikSchierboom commented on #2293
@verdammelt I've [opened an issue](https://github.com/exercism/v3/issues/2527) to discuss how to support linking between documents.

[2020-10-22 13:44] SleeplessByte commented on #2527
Can we use a special reference, and put a GitHub link in so that we can still navigate in our browsers?

[2020-10-22 14:44] SleeplessByte commented on #2526
Cool!

I don't think higher order functions are in scope.

I think it will be hard to _test_ for use of one of the variants, BUT we can write an analyzer to do that instead.

Interesting would be:

- name of the function
- binding of this (as well as other context such as arguments)

Since this is a hard concept to teach clearly, I would recommend writing up ideas in this issue first before commut

[2020-10-22 23:40] iHiD commented on #2527
To be clear, the cross-linking will be between pages on Exercism. So you could write:

[code]

And on Exercism we would render a nice "Switch Statement" widget, that can be hovered over to show the blurb of that concept, with a link to whether you've learnt that concept or not, etc.

The key question here is what format we should use for that thing (so is `[[..]]` a good or awful choice, etc).

We

[2020-10-23 00:01] SleeplessByte commented on #2527
yes fine with me

Steal mediawiki: https://www.mediawiki.org/wiki/Help:Links

[code]

[[concept:switch-statement]]
[[concept:switch-statement|about switch statements]]

_Recommend the ones below so we can still browse on Github_
[[[concept:switch-statement]]](https://example.org)
[[[concept:switch-statement|about switch statements]]](https://example.org)

[2020-10-23 06:30] mikedamay opened #2529 "[C#"
[Use this issue template to describe how to improve an existing concept exercises. Please fill in the issue template, and remove any sections wrapped in square brackets (such as this section!).]

This issue describes how to improve the `<SLUG>` concept exercise for the <LANG> track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs

[2020-10-23 16:44] tushartyagi commented on #2520
Submitted a PR: https://github.com/exercism/v3/pull/2530

[2020-10-23 18:48] SleeplessByte opened #2531 "Update docs about how to concept exercises"
https://github.com/exercism/v3/blob/master/docs/concept-exercises.md

Still references after.md

[2020-10-24 20:42] TomPradat commented on #1897
Can I work on this ?

[2020-10-24 20:46] SleeplessByte commented on #1897
Yess

[2020-10-26 00:56] kristinaborn commented on #1893
Nearly done, but I'm missing task coverage for a couple of the learning objectives because they don't totally make sense to me. @SleeplessByte perhaps you could clarify?

"Using destructuring to get the first two items of an array" -- how is this different from the "Using destructuring to get the first item of an array" objective?

"Using destructuring + rest elements to get the last item of an ar

[2020-10-26 12:26] SleeplessByte commented on #1893
[code]

You don't need to teach everything individually. And maybe something is impossible to teach.

Let met know if you have ideas!

[2020-10-26 15:06] kimolivia commented on #2175
Hi, I would like to work on this issue. Is this still okay to work on? (I noticed help-wanted was removed)

[2020-10-26 18:31] #2520 closed

[2020-10-26 21:41] TheLostLambda opened #2535 "[ALL] Extending the test-runner specification"
### Pretext

If this is dredging up some deep-seated trauma for you, you've probably [been here before](https://github.com/exercism/v3/discussions/1418); my condolences. This issue is taking the lessons learned from that discussion and turning them into a fully fleshed-out proposal.

### TL;DR

I'm proposing the addition of **two** new fields to the `tests` section of [the existing test-runner int

[2020-10-26 21:54] kristinaborn commented on #1893
Calling out the difference in the way `rest` works vs. other languages is definitely a good point. Trying to teach that via a task would be awkward, so I'll discuss it in the `after` doc instead.

[2020-10-26 23:37] aes421 commented on #1746
@ErikSchierboom I will do this as part of hacktoberfest.  I don't understand what you mean in the last sentence "The contents for this can be extracted from the after.md document."

[2020-10-26 23:40] aes421 commented on #1846
@mikedamay I would like to try my hand at this for Hacktoberfest.  Just to be clear - we are talking about adding the CreatePlot method in this file correct? https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/structs/StructsTests.cs

[2020-10-27 09:34] mikedamay commented on #1846
Yes.  I'll be around on Saturday if you want to discuss.

It's great that you are getting involved.

[2020-10-27 09:49] SaschaMann opened #2538 "[CI] Link verifier should check all files before failing"
It's annoying to have to run it over and over again.

[2020-10-27 13:04] ErikSchierboom commented on #1746
@aes421 Great! The `after.md` document has been replaced. You can now look for the concatenation text in: https://github.com/exercism/v3/blob/master/languages/csharp/concepts/strings/about.md.

Note that the links should be removed.

[2020-10-27 16:06] aes421 commented on #1846
@mikedamay Thank you.  I made a PR and it's ready for your review.  Could you add the label hacktoberfest-accepted if it meets your standards?  Thank you

[2020-10-27 19:39] coriolinus commented on #2535
The most important thing, to me, is that `tests.json` should be entirely optional. Consider the output from a [failure of a naive test](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f4616fda4e7863e1b7809da1d7f4b45e) in Rust:

[code]

It's not as perfectly explicit as the proposed extension here, but it's pretty clean already.

Now consider the output [given a simple macro

[2020-10-28 01:35] BethanyG commented on #2175
Hi @kimolivia - we're in the process of re-working these issues and concepts, so we're "on hold" for a bit, which is why the "help wanted" labels were removed.  But we would ❤️   some contribution help!  We should be up and ready for contributors by Halloween/first week of November, so please check back then.

[2020-10-28 08:05] ErikSchierboom commented on #2538
We're currently using [this library](https://github.com/tcort/markdown-link-check#command-line-tool). Looking at the install command and the logs, we are running the latest version of the tool. The docs don't mention anything in particular about being able to check multiple files, which is why we have [the following code](https://github.com/exercism/v3/blob/master/.github/workflows/valid-links.yml

[2020-10-28 08:05] angelikatyborska opened #2547 "[CI] Do not run dead links and formatting checks on autogenerated files"
TL;DR: Autogenerated files (`languages/README.md`, `reference/README.md`, `reference/stories/README.md`) are not supposed to be edited by anyone but the GHA that generated them, but editing other files (e.g. renaming concept exercises) can cause those autogenerated files to fail the dead links check because it is run on all files. If I'm not supposed to edit autogenerated files, their content shou

[2020-10-28 08:10] ErikSchierboom commented on #2547
I'm fine with skipping the link checking in those files. It looks like the Markdown link checker we use [doesn't have an ignore option](https://github.com/tcort/markdown-link-check#usage). This means that we should hard-code the exceptions in the [`valid-links.yml` workflow](https://github.com/exercism/v3/blob/master/.github/workflows/valid-links.yml#L40), which looks like this:

[code]

[2020-10-28 08:11] ErikSchierboom opened #2548 "[CI] Fix stories generator"
There is currently an issue with the stories generator:

[code]

This should be fixed.

[2020-10-28 08:46] #2548 closed

[2020-10-28 11:39] ynfle commented on #2538
For the Nim CI I did [this](https://github.com/exercism/v3/blob/master/.github/workflows/nim-ci.yml#L39-L49) which basically adds the error codes together.

[2020-10-28 12:51] #2538 closed

[2020-10-28 18:27] Jlamon commented on #1883
Hi !

Does it suit everyone if I work on this issue ?

[2020-10-28 19:57] SleeplessByte commented on #1883
Yep!

[2020-10-28 22:39] #307 closed

[2020-10-28 22:39] #308 closed

[2020-10-28 22:39] #309 closed

[2020-10-28 22:39] #311 closed

[2020-10-28 22:39] #312 closed

[2020-10-28 22:39] #313 closed

[2020-10-28 22:39] #314 closed

[2020-10-28 22:39] #25 closed

[2020-10-28 22:40] #315 closed

[2020-10-28 22:40] #316 closed

[2020-10-28 22:40] #317 closed

[2020-10-28 22:40] #318 closed

[2020-10-28 22:40] #319 closed

[2020-10-28 22:40] #320 closed

[2020-10-28 22:40] #321 closed

[2020-10-28 22:40] #322 closed

[2020-10-28 22:40] #323 closed

[2020-10-28 22:40] #324 closed

[2020-10-28 22:40] #325 closed

[2020-10-28 22:40] #326 closed

[2020-10-28 22:40] #327 closed

[2020-10-28 22:40] #328 closed

[2020-10-28 22:40] #329 closed

[2020-10-28 22:40] #330 closed

[2020-10-28 22:43] #1385 closed

[2020-10-28 22:53] #1706 closed

[2020-10-28 22:55] SaschaMann commented on #1706
Jeremy on Slack:

Probably won't have to bother fixing this anymore

[2020-10-29 11:53] #2547 closed

[2020-10-29 13:03] #1846 closed

[2020-10-29 13:05] #1746 closed

[2020-10-30 15:41] kayn1 commented on #2046
@neenjaw Could I create a PR for the 2nd point?
_Remove the if/else from the booleans intro/after, ensure the content appears in numbers_

[2020-10-31 01:13] iHiD opened #2569 "Adding editor key to exercise configs"
We need to know which files to show in the editor. For this, we're adding the same sort of keys we added for the research experiment - one array for the solution files and one for the test files, both in the `"editor"` key of an exercise's `config.json`

Right now, we only use the first file from `solution_files` and none from `test_files` (for Concept - but we will for Practice).

[code]

I'm not

[2020-10-31 04:05] neenjaw commented on #2046
Sure!

[2020-10-31 10:05] TheLostLambda commented on #2535
Hi @coriolinus ! Thanks for the comment and feedback! I certainly agree that some languages' test outputs are already quite clear. Rust in particular has some of the best error messages out of the languages I've worked with.

With that being said, I think that (and do correct me if I'm wrong, @iHiD ) the eventual addition of these keys *somewhere* was inevitable in V3? This PR is primarily just tr

[2020-10-31 13:51] mikedamay opened #2589 "[C#] rename exercises with interesting names"
- [arrays](https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/arrays/.docs/instructions.md) bird-watcher
- [basics](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/basics/.docs/instructions.md) lasagna
- [booleans](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/booleans/.docs/instructions.md) annalyn’s-infiltra

[2020-10-31 13:54] jwarwick commented on #2514
I like the idea of rolling string literals into the `Basics` exercise. I think expanding the complexity of `string-literals` would be more confusing this early in tree.

[2020-10-31 13:55] jwarwick commented on #2514
I'll take a shot at working it into the `Lasagna` exercise.

[2020-10-31 14:29] SleeplessByte opened #2592 "[ALL] concept-exercises.md still references to after.md"
[concept-exercises.md](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md#docsaftermd) references to `after.md`. This must be removed and updated with `<concept>.md` and the placeholder `approaches.md`.

[2020-10-31 14:29] SleeplessByte opened #2593 "[JavaScript] Update implementing-a-concept-exercise.md"
[javascript/reference/implementing-a-concept-exercise.md](https://github.com/exercism/v3/blob/master/languages/javascript/reference/implementing-a-concept-exercise.md) is outdated. It still has the `after.md` file, and lacking the details on `<concept>.md` and `approaches.md`.

Follow https://github.com/exercism/v3/issues/2592 once it's done/documented.

[2020-10-31 15:00] SleeplessByte opened #2597 "[JavaScript] Write stub issues for new concept exercises"
Here is a list of concepts modified from the C# one. I marked a few that I know exist already, but we should add design document to ALL our current exercises too.

**How can you help?**:

1. For many of these we don't have exercises or exercise ideas yet, for example `chars` + `codepoints` doesn't exist yet. These need a `implement new exercise` issue with all the relevant information (see current

[2020-10-31 15:22] coriolinus commented on #2535
My preference would be for the web interface to capture and display the
native output to the greatest extent possible. If people learn a language
via exercism, then eventually they will need to interact with its tooling
without exercism as a mediating layer. That transition will be smoothest if
its output clearly resembles the native output.

If the problem is that students can't see the test file

[2020-10-31 15:26] SaschaMann opened #2606 "[CI] Add check that all forks have the same name"
See [Slack](https://exercism-team.slack.com/archives/C016Q9KEQ91/p1604157782076000?thread_ts=1604157274.075400&cid=C016Q9KEQ91)

[2020-10-31 15:39] taiyab commented on #2589
Other than `annalyn’s-infiltration` probably needing to be `annalyns-infiltration`, this is good as a first pass.

I'll spend some time reviewing and coming up with potentially more interesting names.

[2020-10-31 16:17] taiyab commented on #2589
**WIP**

* [arrays](https://github.com/exercism/v3/tree/master/languages/csharp/exercises/concept/arrays/.docs/instructions.md) bird-watcher
* [basics](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/basics/.docs/instructions.md) lasagna
* [booleans](https://github.com/exercism/v3/blob/master/languages/csharp/exercises/concept/booleans/.docs/instructions.md) annalyns-

[2020-10-31 16:27] ErikSchierboom opened #2618 "[F#] rename exercises with interesting names"
The existing exercise slugs are:

- `arrays`
- `basics`
- `booleans`
- `datetimes`
- `discriminated-unions`
- `floating-point-numbers`
- `lists`
- `numbers`
- `pattern-matching`
- `records`
- `recursion`
- `strings`

[2020-10-31 18:01] SleeplessByte commented on #2589
This is the best

[2020-10-31 18:38] taiyab commented on #2589
Bird Watcher
Lucian's Luscious Lasagna
Annalyn's Infiltration
Secure Munchester United
Squeaky Clean
Elon's Tiny Toys
Authentication System
Need for Speed
Booking up for Beauty
International Calling Connoisseur
Log, logs, logs!
Face ID 2.0
Calculator Conundrum
The Weather in Deather
Attack of the Trolls
Interest is Interesting
Wizards and Warriors
Hyper-optimized Telemetry
Remote Control Competiti

[2020-10-31 19:45] msomji commented on #2589
I am unclear what changes would be needed to be made here, is the idea here to update [this config.json](https://github.com/exercism/v3/blob/master/languages/fsharp/config.json) with the new slugs under `exercises["concept"]` and update the folder names to match the same in https://github.com/exercism/v3/tree/master/languages/fsharp/exercises/concept ?

[2020-10-31 19:50] ErikSchierboom commented on #2589
@msomji The changes will be done by a script of me. We'll show you the end result :)

[2020-10-31 20:03] iHiD commented on #2589
A couple of suggested changes
- Tim from Marketing (shorter)
- Why Can't I Push To Main (Master -> Main)

[2020-11-02 14:44] Jlamon commented on #1883
Hi ! I have a question concerning the instructions. I am only seeing exercises where there are multiple instructions, but "nullability" has only one.

Therefore how should I structure instructions.md then ?

I already thank you for your answer !

[2020-11-03 09:19] angelikatyborska commented on #2514
Resolved by https://github.com/exercism/v3/pull/2616

[2020-11-03 09:19] #2514 closed

[2020-11-03 14:13] ErikSchierboom commented on #2618
arrays bird-watcher
basics lasagna
booleans annalyn’s-infiltration
datetimes beauty-salon
discriminated-unions TODO
floating-point-numbers savings-account
lists TODO
numbers assembly-line
pattern-matching TODO
records TODO
recursion TODO
strings log-levels

[2020-11-03 14:26] ErikSchierboom commented on #2618
@taiyab In the [above comment](https://github.com/exercism/v3/issues/2618#issuecomment-721140542), I've listed the F# exercises. The following exercises had a matching C# exercise name (as per https://github.com/exercism/v3/issues/2589):

- [arrays](https://github.com/exercism/v3/blob/master/languages/fsharp/exercises/concept/arrays/.docs/instructions.md) bird-watcher
- [basics](https://github.com

[2020-11-03 15:35] mikedamay commented on #1610
The original discussion was as follows:

 ErikSchierboom on 11 Jun Member

Story-wise, having empty identifiers is the only thing left that might not make much sense (how would one use an empty identifier?). Was there a specific reason that you wanted to allow for empty identifiers?
@mikedamay
mikedamay on 11 Jun Author Member

I will raise a subsequent PR to tweak the wording. I want to avoid che

[2020-11-04 07:46] ErikSchierboom commented on #1610
I'm fine with that!

[2020-11-04 08:32] #2618 closed

[2020-11-04 10:21] Jlamon commented on #1883
@SleeplessByte I am having eslint error on `nullability.js` saying that the function's vars are defined but never used. Can I add an `/* eslint-disable */ ` ?

[2020-11-04 11:04] Jlamon commented on #1883
I made a Pull Request, it can be found here: #2697

[2020-11-04 13:59] mikedamay opened #2719 "[C#] remove pattern-matching-constants concept"
The pattern-matching-constants concept should be removed from everywhere including:
- any design.md
- csharp/config.json
- concepts directory
- csharp/reference/exercise.json

I don't know what this concept is.  The closest thing I can think of is the argument of a case statement which would be folded into the `switch-statement concept.

[2020-11-04 14:10] mikedamay opened #2720 "[C#] remove accessibility concept"
The accessibility concept should be removed from everywhere including:
- any design.md
- csharp/config.json
- concepts directory
- csharp/reference/exercise.json

If a concept such as encapsulation needs to be distinguished we can pick that up in a review of the track.

[2020-11-04 14:23] mikedamay opened #2721 "[C#] rename conditionals-ternary concept to ternary-operators"
The conditionals-ternary concept should be renamed as ternary-operators everywhere everywhere including:
- any design.md
- csharp/config.json
- concepts directory
- csharp/reference/exercise.json

 as the former implies a hierarchy

[2020-11-05 05:38] #654 closed

[2020-11-05 09:32] mikedamay opened #2725 "[C#] where appropriate rename classes in line with story rename"
Below is a list of C# exercises and the main class names (immediately following the story name).  The purpose of this issue is to align class names with the stories.

I recommend
- we change bird-watcher to bird-count
- we change the class name HighSchoolSweetheart to HighSchoolSweethearts (but note the variation with Elixir)
- we change the story name why-cant-i-push-to-main to be something more

[2020-11-05 09:41] #1557 closed

[2020-11-05 10:56] ErikSchierboom opened #2727 "[CI] Automatically push updated Docker images to dockerhub"
The [v3 development environment](https://github.com/exercism/development-environment/) uses Docker images from Docker Hub for all the tooling (although you can overwrite this). Each tooling repo should have a workflow to automatically push to Docker Hub whenever something is merged to master.

[2020-11-05 11:50] ErikSchierboom opened #2728 "[CI] Automatically push updated Docker images to Amazon ECR"
The v3 website uses Docker images from Amazon ECR for all the tooling. Each tooling repo should have a workflow to automatically push to Amazon ECR whenever something is merged to master.

[2020-11-05 12:43] BethanyG commented on #2175
@kimolivia  -- if you are still up for writing up a concept exercise, this one is ready for you!  Just give a shout if you are still interested, or if you have any questions or issues.

[2020-11-05 14:27] ErikSchierboom commented on #2725
Yes, this list looks good to me actually 👍 I do agree that `Authenticator` might be up for a tweak.

[2020-11-05 14:29] #1610 closed

[2020-11-06 06:45] BethanyG commented on #2313
Upon review, the tests look good on this one, so we're closing this.

[2020-11-06 06:45] #2313 closed

[2020-11-06 07:44] BethanyG commented on #1647
@J08K  -- are you still working on this?  Would you like some help or collaboration?  @mohanrajanr has some time free to help and wanted to know if there is anything he could finish up or help you with?  If so, just ping him or myself in Slack.  😄

[2020-11-06 07:46] BethanyG commented on #1647
Note:  https://github.com/exercism/v3/pull/2204 is the Draft PR for this issue.

[2020-11-06 08:16] J08K commented on #1647
I want to get back to this ASAP, I had a test week last week (A.K.A. A lot of very difficult tests in a week), but I am sure I can work on it again. When I do I'll see if @mohanrajanr can help! Thanks

[2020-11-06 08:59] BethanyG commented on #2208
@mohanrajanr  will be taking this on! 🎉    (**thank you** Mohan!), you are a 🌟

[2020-11-06 10:07] mikedamay commented on #2725
The name bird-watcher has been left unchanged as it was agreed at the Hackathon.

Class name BirdCount has been left unchanged as it is more appropriate given the method names and behaviour of the class.

[2020-11-06 11:02] OMEGA-Y commented on #2175
Hi, I would like to work on this issue. It is labeled by good first issue.
But, I couldn't find which section I can help although reading contents.
Please let me know or guide.

[2020-11-06 12:47] kimolivia commented on #2175
@BethanyG yes, I would love to take this issue! I'll reach out with any questions!

[2020-11-06 13:48] kristinaborn opened #2732 "[JavaScript] Implement new Concept Exercise: equality"
This issue describes how to implement the `equality` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-11-06 14:17] mirkoperillo commented on #1994
Hi @gauthierwala  are you still working on this ?

[2020-11-06 14:27] mirkoperillo opened #2734 "[Java] Implement new Concept Exercise: for-loops"
[Use this issue template to describe how to implement a new concept exercises. Please fill in the issue template, and remove any sections wrapped in square brackets (such as this section!).]

This issue describes how to implement the `for-loops` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs w

[2020-11-06 17:25] ystromm commented on #2734
Hi! I'd like to give this a try!

[2020-11-06 20:16] mirkoperillo commented on #2734
@ystromm thank you, assigned to you

[2020-11-07 13:03] mikedamay commented on #2721
closed via #2733

[2020-11-07 13:03] #2721 closed

[2020-11-07 13:03] mikedamay commented on #2720
closed via PR #2733

[2020-11-07 13:03] #2720 closed

[2020-11-07 13:03] mikedamay commented on #2719
closed via PR #2733

[2020-11-07 13:03] #2719 closed

[2020-11-07 13:04] #2589 closed

[2020-11-08 14:40] valentin-p commented on #2282
Reopening. Same issue.
![image](https://user-images.githubusercontent.com/3833193/98467993-bba90180-21d8-11eb-8683-300ac5370ee3.png)

[2020-11-08 14:44] valentin-p commented on #2314
Concepts overflow (hyperinflation-hits-hyperia) and exception (calculator-conundrum) are depending on each other in the config file, creating a cyclic dependency.

![image](https://user-images.githubusercontent.com/3833193/98468075-1b9fa800-21d9-11eb-9388-3ab388462869.png)

[2020-11-08 17:45] ystromm commented on #2734
Any thoughts on the pre-reqs for this exercise? I started on one that uses arrays or lists but I realized that maybe loops should come before arrays in the concepts. Then again foreach-loops require some knowledge of collections.

[2020-11-09 11:10] henricazottes commented on #1893
@SleeplessByte shouldn't this be closed?

[2020-11-09 12:08] #1893 closed

[2020-11-09 12:08] SleeplessByte commented on #1893
Yep! Thanks @henricazottes

[2020-11-09 18:52] mirkoperillo commented on #2734
@ystromm taking C# track as example I found this
[code]
I don't see problem having `arrays` as prerequisites of `for-loops`.
For the `foreach-loops` we don't have a `collections` concept currently, what do you think to use `lists`?

[2020-11-09 20:12] BethanyG commented on #2175
Hi @OMEGA-Y,

Thanks so much for stepping forward and volunteering!  ❤️  🎉

This issue has already been claimed by @kimolivia (_she expressed interest before we re-wrote the issue_) - but we're going to be putting up more today -- and in the days to come.  _We've got a lot of issues of this type we would LOVE help on!_

Most of the issues in this repo describe new _**concept exercises**_ (_program

[2020-11-09 22:51] SaschaMann opened #2752 "[Tooling] Update the bot PRs instead of opening new ones"
The Pull Request view of this repo is spammed with bot PRs. It would be nicer if the bot would look for an existing, unmerged PR and then push to that branch instead of opening a new PR.

Otherwise it's a lot harder to keep track of what's actually going on or find recent PRs, e.g. because you accidentally unsubscribed from a notification like I just did.

[2020-11-09 23:38] kristinaborn opened #2753 "[JavaScript] Implement new Concept Exercise: constructors"
This issue describes how to implement the `constructors` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-11-10 07:18] ErikSchierboom commented on #2752
Nice idea. Don't know when I have time for this though.

[2020-11-10 09:09] ystromm commented on #2734
Thanks, I'll have a look at the bird-watcher exercise.

[2020-11-10 11:26] mikedamay opened #2759 "[C#] calculator-conundrum exercise (exceptions) hints.md text is required"
Add text to _hints.md_ for calculator-conundrum

[2020-11-10 14:45] ErikSchierboom opened #2763 "Which language features should we support?"
In v3, each track page will have this lovely looking block:

![image](https://user-images.githubusercontent.com/135246/98686479-ec1fa580-2368-11eb-92fd-3904eba0ffa8.png)

The idea of this block is for each track to give students a quick feel for the language by listing six features, each having a little description, title and icon.

One of our goals with v3 is to allow students to filter/search tr

[2020-11-10 14:49] iHiD commented on #2763
(cc @exercism/track-maintainers)

[2020-11-10 14:58] coriolinus commented on #2763
Rust:

- Strongly-typed
- Borrow-checked
- Pragmatic
- Generic
- Low-level
- Compiled

Where I define

- Pragmatic: supports both imperative and functional paradigms
- Borrow-checked: has no garbage collection, instead using RAII and strong ownership semantics to deterministically determine when to clean up memory

[2020-11-10 15:03] lpil commented on #2763
Gleam could possibly have these, though I'm curious as to see what other features might be suggested:

- Functional
- Strongly typed
- Generic
- Immutable
- Concurrent
- Fault tolerant

@coriolinus

I might suggest that these definitions are a little niche and the terms "GC-less" and "multi-paradigm" would be more widely understood.

The term "pragmatic" seems somewhat loaded as it implies that la

[2020-11-10 15:05] ErikSchierboom commented on #2763
I've seen people refer to this as Multi-paradigm languages. What do you think about that term?

[2020-11-10 15:10] coriolinus commented on #2763
I'm fine with "multi-paradigm". I feel pretty strongly that "gc-less" is an insufficient description: it implies manual memory management in the vein of C, and a big part of the point of Rust is to avoid that. The borrow checker is the language's most unique feature.

[2020-11-10 15:24] cmcaine commented on #2763
Against "GC-less". That doesn't explain what the borrow checker is for.

You might or might not want to include:

- system programming language (instead of low-level, for languages that you can use without an OS (i.e. for programming microcontrollers and writing new OSs) or for writing other low-level [system software](https://en.wikipedia.org/wiki/System_software))
- multiple dispatch (this is th

[2020-11-10 15:27] lpil commented on #2763
Aye, it is for sure important to make that distinction between GC-less languages with and without memory safety. As a professional Rust programmer I feel that the name "borrow checked" is also insufficient as it described only one part of Rust's memory management strategy. The properties of the language here are "GC-less", "memory safe", and "real time" rather than "RIIA", "borrow checking", and "

[2020-11-10 15:30] coriolinus commented on #2763
👍 Agree, that's a better general term.

Yes, but for now at least, we're limited to 6 descriptors, and I didn't want to use half of them on the memory properties.

[2020-11-10 15:36] cmcaine commented on #2763
"GC-less" is jargony. "Garbage collected" as the positive term is fine (accompanied by an explanation), but the alternative should be spelt out positively as well.

I suggest:

- Garbage collected (Java, JavaScript, Julia, Go, etc)
- Manual memory management (C, C++, Zig, etc)
- Borrowing and lifetimes (Rust)

Borrowing there is the least clear one. Perhaps "Compiler-enforced memory safety" or som

[2020-11-10 15:39] coriolinus commented on #2763
That was the thought which led me to "borrow-checked". It looks from the description as though all the terms get some amount of description attached, which should be sufficient to clarify it.

[2020-11-10 15:40] lpil commented on #2763
It would be nice to find a term for this as there are multiple languages that have this property and they don't all use the term "borrow checker".

Steve Kablink suggested "static garbage collection.
Carp uses "Automatic deterministic memory management"
Wikipedia uses "Deterministic management of [memory]"

rust-lang.org opts not to talk about this and instead boasts "memory efficiency" and "memor

[2020-11-10 15:53] cmcaine commented on #2763
The Julia website currently offers 6 features of Julia :) https://julialang.org/

They say:

- Fast
- Dynamic
- Reproducible
- Composable
- General
- Open source

I might pick these for the Julia exercism track:

- Fast
- Interactive (or Dynamic, saying that you can use it in interactive notebooks and REPLs)
- Scientific (talking about reproducibility, distributed computing, and package environmen

[2020-11-10 15:54] coriolinus commented on #2763
Instead of "Interactive" or "Dynamic", maybe "Interpreted"?

[2020-11-10 15:57] lpil commented on #2763
They're not necessarily the same thing, there are interactive languages that are not interpreted and interpreted languages that are not interactive.

[2020-11-10 15:58] cmcaine commented on #2763
I don't want to say that because Julia is compiled, it's just compiled very late (the "JIT" compiler is sometimes called very late ahead of time compilation, because there is no interpreter).

Besides, the result for the user is interactivity or dynamism rather than interpretation.

[2020-11-10 16:07] tehsphinx commented on #2763
Some suggestions for Go:
- strongly typed
- compiled
- concurrent
- simple / readable (opinionated, minimal feature set)
- reliable (memory safe, GC)
- efficient (compiled, very fast but not super-optimised, very fast compiling)
- object-oriented
- functional

Feel free to pick.

[2020-11-10 16:17] ynfle commented on #2763
- Compiled
- Metaprogramming
- Compile time code execution
- dependency-free executable
- `async`able
- Platform independent
- Compile to other langs (ie. js)
- Customizable GC
- Operator overloading/user-defined

I like @tehsphinx, open-source option too

[2020-11-10 16:24] cmccandless commented on #2763
For Python:
- Interpreted
- Object-oriented
- Declarative
- Friendly docs
- Duck-typing
- Open source
- Procedural

@BethanyG any others you'd like to add?

[2020-11-10 17:17] tehsphinx commented on #2763
@ynfle: which language is your list for?  (maybe edit your post)

[2020-11-10 17:25] ynfle commented on #2763
Nim. But they arent langauge spepcifc. More just potential options

[2020-11-10 18:46] bitfield commented on #2763
I had to do something similar while writing my recent comparison of [Rust and Go](https://bitfieldconsulting.com/golang/rust-vs-go), and it wasn't easy! Ten or fifteen people reviewed the draft and very few of them agreed on what they thought were the salient characteristics that distinguish Rust from Go, or even what they have in common!

For the record, this is roughly what we came up with:

Rus

[2020-11-10 19:24] OMEGA-Y commented on #2175
@BethanyG Thanks for answering! I don't know if I can ask more here...
Is it possible to add a new exercise to the problem-specification repository now? Or is it better to make a new concept exercise in this repo now?
And can you tell me the Slack channel url?

[2020-11-10 20:05] BethanyG commented on #2763
Sometimes, it feels like it is easier to describe Python by what it's _not_, since it is a grab-bag of ideas.

Heres my short list, but it does leave off quite a few things:
-  Pragmatic / Multi-Paradigm (_supports functional, declarative, OOP, procedural & more_)
-  Dynamic (_changes can be made at runtime_) but Strongly Typed (_types matter_)
-  Duck and Progressive Typing (_type hints when you

[2020-11-10 20:27] neenjaw commented on #2763
Elixir:

- Functional
- Dynamically typed
- Immutable
- Concurrent
- Fault tolerant

[2020-11-10 23:19] mienaikage commented on #2763
Terms that come to mind for Raku are:

* Gradually typed
* Multi-paradigm
* Concurrent
* General purpose
* Open source

[2020-11-10 23:23] workingjubilee commented on #2763
I don't think we should annotate "popular" on a language since that's subjective and also hard to define... is "popular" defined by LoC written in actual usage? If so, I think only C, Fortran, and Lisp count (but only thanks to a multi-decade head start!). Enthusiasm and uptake amongst new users? Well Rust would count then, in spite of having infamously difficult uptake. Overall user count? All pa

[2020-11-11 00:30] SaschaMann commented on #2763
That is not at all what the original post in this issue asks for. It asks for "six features you'd like to use to highlight your track". Further, if every track choose solely features that distinguish the language from the majority of other languages, this won't work:

Being a functional language or supporting functional programming is nothing rare or distinguishing, yet it is probably something on

[2020-11-11 00:30] SaschaMann commented on #2763
@cmcaine I like your suggestions for the Julia track. I'd prefer composable over multiple dispatch as the heading since multiple dispatch likely doesn't mean much to most people unfamiliar with Julia, if I had to guess. The description could then mention that the composability is achieved through multiple dispatch.

I can't really think of a nice word to summarize it but perhaps the "intuitive"/fa

[2020-11-11 00:43] iHiD commented on #2763
This is great so far. Thanks everyone.

---

💯

These are two points I've been thinking while reading this too.

As a student trying to choose a language, I think I want to know things like:
- Functional
- Memory-safe
- Strongly-typed
- Compiled
- Low-level
- Immutable
- Concurrent
- Platform independent

Those quickly enable me to get a feel for what the language is. There will be space (above th

[2020-11-11 01:02] verdammelt commented on #2763
I think Homoiconic and Extensible (or maybe specific Extensible Syntax) may be good additions to possible descriptors.

Perhaps it is too granual for OO languages but might it be good to have multi-inheritance vs enforced single inheritance as descriptiors? Or multi-dispatch vs. single-dispatch polymorphism?

[2020-11-11 01:09] iHiD commented on #2763
You're just showing off because Lisp 😛

But yes. Both that and Extensible are good ideas.

I think too granular for this bit. But it would be a good thing for the description bit above.

[2020-11-11 01:45] SleeplessByte commented on #2763
I know this is a serious topic, and I am being serious.

JavaScript:

- Cries JavaScript
- in
- JavaScript
- it's
- not
- Java

TypeScript:

- Cries JavaScript
- in
- JavaScript
- but
- with
- Types

But in all seriousness, I have long lists of what maketh JS and TS, however, I'd like to hear _from you_. I'm in the same boat as @BethanyG . I can either defined super generic terms, or go into speci

[2020-11-11 02:30] iHiD commented on #2763
It might be that for things like "Multi-paradigm" we want to have a box in the 6 that is "Multi-paradigm" and in the text a track can explain what that is for them. But that in the "filters" they tick "Object Oriented" and "Functional". That's going to involve a little more fiddliness at some part of the stack (be that the json that y'all add for this, or some "magic" in the website).

But I do th

[2020-11-11 03:13] verdammelt commented on #2763
Common Lisp Multi-Paradigm = OO, FP, Structured, Unstructured, Procedural, Imperative, or big-ball-of-mud. It allows all types of coding.

[2020-11-11 10:11] coriolinus commented on #2763
Generic: supports [generics](https://en.wikipedia.org/wiki/Generic_programming) via monomorphization. Like C or Java, which also have generics; unlike go, which doesn't; unlike Python, which uses duck-typing instead.

Agree that low-level sounds like a limitation, particularly as Rust also has a bunch of very high-level tools available. Systems programming, though, I'm comfortable with, because it

[2020-11-11 13:32] iHiD commented on #2763
We also approached the filtering question from a different angle [here](https://github.com/exercism/v3/discussions/2277), in case that stimulates any thoughts/ideas.

[2020-11-11 14:00] ErikSchierboom opened #2767 "Update concept introductions spec"
In the [evolving spec issue](https://github.com/exercism/v3/issues/2293), we proposed a change to the exercise's `introduction.md` files, namely that each concept that an exercise unlocks should have a section in the exercise's `introduction.md` file, with its heading matching the concept slug. The goal of this is to display this introductory text when a student views the concept's page without ha

[2020-11-11 14:03] #2592 closed

[2020-11-11 14:08] ErikSchierboom opened #2768 "Update documentation to latest spec"
A while ago, some [changes to the spec were proposed](https://github.com/exercism/v3/issues/2293). While we've been trying to implement these changes, we've fine-tuned some things (largely based on feedback). What we didn't yet do was update the documentation (also because we wanted to wait a bit for the issues to be weeded out). We've now updated the documentation in the following three PRs:

- h

[2020-11-11 14:27] SaschaMann commented on #2767
Will you also provide tooling to make sure that the introduction.md is always in sync with the source files?

[2020-11-11 14:45] ErikSchierboom commented on #2767
Do you mean checking if regenerating the `introduction.md` would result in changes (if so, it is not in sync)?

[2020-11-11 14:46] wneumann commented on #2763
Swift's Six:

* Protocol-Oriented
* Generic
* Strongly, statically typed
* Biased towards memory safety
* Open-source
* Multi-Paradigm

The top three are the only ones that I think are particularly meaningful.

[2020-11-11 15:42] ErikSchierboom commented on #2531
Done!

[2020-11-11 15:42] #2531 closed

[2020-11-11 15:56] SaschaMann commented on #2767
Yes

[2020-11-11 15:58] ErikSchierboom commented on #2767
I think that's a totally reasonable feature!

[2020-11-11 18:21] BethanyG commented on #2175
Hi @OMEGA-Y  - apologies for the delay.  I've sent an invite to Slack to the email listed on your GitHub profile.  Let me know if there is a different email you'd like me to use.  It might be better to ask additional questions there or in a new issue, so that we don't spam kimolivia with our discussions.  😄

The problem-specification repository is for exercises we've made/are making for the _curre

[2020-11-11 18:21] BethanyG commented on #2175
@kimolivia - do you need an invite to our Slack channel?  Just let me know if you do need one.  😄

[2020-11-12 13:18] iHiD commented on #2767
(cc @exercism/track-maintainers)

[2020-11-12 13:55] jonmcalder commented on #2763
For R:

- Interpreted
- Dynamic
- Multi-Paradigm (Functional / Procedural / Object-Oriented)
- Memory-safe (Garbage Collected)
- Open Source
- Platform Independent

[2020-11-12 14:20] jaccarmac commented on #2763
Shen is:

- Functional.
- Optionally typed.
- Optionally lazy.
- Homoiconic (**has great macro support, not sure how to phrase this better**).
- Hosted on multiple runtimes.
- Open source.

[2020-11-12 14:30] ErikSchierboom opened #2771 "[Configlet] Define linting rules"
This issue defines the linting rules that we want the `configlet` tool to have for v3 tracks:

### Lint check: required files being present

The linter should check if all the required files are present. The non-exercise specific files that must be present are:

- `config.json`
- `config/maintainers.json`

The Concept Exercise specific files that must be present are:

- `exercises/concept/<slug>/.

[2020-11-12 14:30] ErikSchierboom commented on #2771
Note: many of the above linting rules could be defined in a JSON schema, but not all (e.g. the cross-track uniqueness of the UUIDs).

[2020-11-12 14:35] iHiD commented on #2771
(cc @exercism/track-maintainers)

[2020-11-12 14:54] ErikSchierboom opened #2772 "[Configlet] Define required functionality"
`configlet` is a tool to help track maintainers with the maintenance of their track. It is mostly focused on the track's `config.json` file, but it also works on the `config/maintainers.json` file.

As v3 tracks will be different from v2 track in quite some ways, it is important to consider how `configlet` _should_ work for v3 tracks. In this issue, we'll list the features we want from configlet f

[2020-11-12 14:55] iHiD commented on #2772
(cc @exercism/track-maintainers)

[2020-11-12 15:08] SaschaMann commented on #2771
If there's only one allowed value, why bother with the field at all?

---

Should this also be required if it's set to use tabs?

---

Would it be useful to check if it's a valid username?

---

What would an invalid Markdown file look like?

[2020-11-12 15:13] lpil commented on #2771
The version key is so that they version used can be detected when there's a later version 4

[2020-11-12 15:16] ErikSchierboom commented on #2771
The "version" key is required

As @lpil said, it is to help with possible future updates to the schema. It can also be used to relatively easily detect if one is working with a v2 config.json file.

Question for @iHiD!

This could definitely be useful.

Being parseable by a Markdown parser?

[2020-11-12 16:40] SaschaMann commented on #2771
In that case, shouldn't `2` also be an allowed value?

By which Markdown parser? I don't think I've ever encountered an invalid Markdown file. Formatting that is "wrong" in context, sure, but I don't know what an actually invalid file would contain. That's why I'm curious about an example.

[2020-11-12 17:18] lpil commented on #2771
The markdown spec says a parser should not reject any document, however it is possible to have incorrect syntax and it'll just render what was typed verbatim. A common one is to get the link syntax wrong.

[2020-11-12 20:43] workingjubilee commented on #2763
@SaschaMann Yes, I am aware of everything you are saying, and my point is that when a language is not strongly characterized by a given paradigm but has some incidental features thereof that it is not necessarily very useful to filter by that parameter and see very wildly different languages appear if I have an expectation of what that paradigm means. If "has support for" is qualifying, then that

[2020-11-12 22:14] SleeplessByte commented on #2763
Sooo. I guess instead of trying to figure which 6 to show as featured (which is kinda what the OP @ErikSchierboom is asking), I think we're all in agreement that the _track filters_ shouldn't exclude tracks if a property applies to a filter.

In other words, I think @iHiD that you sorta hinted on this. What we shows as the 6 featured ones should make sense with _why_ you might choose/_what_ makes

[2020-11-13 01:27] iHiD commented on #2763
Sounds like the six things in the boxes won't necessarily map nicely to the different filters. That's useful information in itself.

---

I'm going to "close" this issue here, take all that info and work with the product team on firming up the specification for exactly how this is going to work. Then we'll write up an issue and y'all can PR your track-specific stuff to the relevant places.

If any

[2020-11-13 07:05] ErikSchierboom commented on #2771
Ah okay, I thought that _maybe_ there was some way to check a Markdown document.

@SaschaMann do you think we should check the links in Markdown documents?

[2020-11-13 07:46] coriolinus commented on #2772
- `upgrade` and `version` aren't necessary for CI actions, but they're convenient for people working on the tracks locally. Given that the features are already implemented, I would prefer to retain them.

I like the idea of stripping out the `README` generation and making that the responsibility of the website. However, there's an important, if subtle, feature which should be retained: an exercise

[2020-11-13 08:12] coriolinus commented on #2767
I like this idea in principle, but I hope that we can resolve one long-standing wart of existing tooling: when markdown files get included, they're copied as-is. This means that the concept exercise introductions would have to use `###` as their top-level header, which sort of thing makes my markdown linter very unhappy.

Instead, when including a markdown file, it should be edited in passing to a

[2020-11-13 08:38] coriolinus commented on #2771
Suggest adding:

- `exercises.concept.slug` must be unique in `exercises.concept.slug` and may not exist in `exercises.practice.slug`.
- `exercises.practice.slug` must be unique in `exercises.practice.slug` and may not exist in `exercises.concept.slug`.

It would surprise me if modifying `true` => `false` ever broke a build, but that's the property we get with this. Suggest that we change "must" t

[2020-11-13 08:46] coriolinus opened #2773 "feature request: allow mentors to see diffs between students' various iterations"
I have a student who's submitted three different solutions to an exercise. At first glance, the solutions are all very similar. Right now, the only thing I can easily say about the difference is that they have gotten consistently shorter: the first solution is 317 lines, then second 301, the third 295.

I can't easily view the diffs offline: `exercism download` doesn't offer an `iteration` flag I

[2020-11-13 11:36] ErikSchierboom commented on #2772
True. I'll try and clarify this a bit.

[2020-11-13 11:40] ErikSchierboom commented on #2771
Good idea!

I'll rephrase :)

It isn't. This is a mistake on my part.

Something for @iHiD to consider.

Hmmm, I didn't consider this. It depends a bit on how easy the transformation is for @iHiD.

[2020-11-13 11:52] SaschaMann commented on #2771
Having _warnings_ instead of errors for syntax that _may_ be wrong, like a reversed link or unmatched asterisks, would be useful. But since there doesn't seem to be anything like an invalid markdown document, perhaps the spec should be rephrased. I don't think this should cause errors, only warnings.

[2020-11-13 12:11] coriolinus commented on #2771
It's pretty easy:

[code]

[2020-11-13 12:34] ErikSchierboom commented on #2771
I've removed it from the spec.

With this I meant should we use something like the markdown link checker that we use for v3? To verify that external resources can actually be reached?

[2020-11-13 12:47] SaschaMann commented on #2771
Ah okay. It's something that would have to be run periodically, otherwise you'll get failures for unrelated changes in PRs. Might make more sense to keep it separate for that reason. But I'm not sure.

[2020-11-13 12:52] ErikSchierboom commented on #2771
Yeay. Maybe this should be a GitHub workflow that tracks can integrate and run periodically?

[2020-11-13 13:34] verdammelt commented on #2772
I use the lint & fmt features and think they would be very good to keep. I rarely used uuid as i never remembered it existed in configlet and I just used other sources for uuids.

So 👍 for keeping configlet useful in v3.

[2020-11-13 19:08] angelikatyborska commented on #2291
An exercise for an IO concept was implemented, so I'll close this. But we still need to figure out what to do about the requirements for https://github.com/exercism/v3/blob/master/languages/elixir/exercises/concept/rpn-calculator-output/.meta/example.ex

[2020-11-13 19:08] #2291 closed

[2020-11-14 10:57] oanaOM commented on #1919
Since the merge has been done, I'll close this issue now.

[2020-11-14 10:57] #1919 closed

[2020-11-15 09:03] dector commented on #2763
Kotlin is:

  - Pragmatic
  - Statically Typed
  - Multi-Paradigm
  - Platform Independent
  - Garbage collected
  - Open-Source

[2020-11-15 09:05] angelikatyborska opened #2789 "[Elixir] The `try-rescue` vs `try-rescue-else-after` problem in the concept tree"
We currently have 3 different concept exercises that touch on errors and `raise`:
1. `rpn-calculator` (teaches `errors`, `try-raise`) https://github.com/exercism/v3/tree/88eb1dd9f43c62e6cac3c5d35ae10ad818514238/languages/elixir/exercises/concept/rpn-calculator

	It teaches that some operations might raise an error, how to rescue from an error, and mentions the ok/error tuple vs bang! function conv

[2020-11-15 12:08] SaschaMann commented on #2499
Will additional fields be accepted but ignored? I'd like to add a comment of why I think the link belongs to a concept for other maintainers since it's not obvious without following and reading it.

[2020-11-15 14:54] nunocf commented on #2789
I agree with your proposed solution.

It is rare for me to reach for the `else/after` part of a `try-rescue` block, but I think if it is there, we should at least provide the users (students?) with the option to read more about it, so perhaps we can also change `rpn-calculator` exercise to guide students to a bit of documentation about it, if we decide it's not worth being part of the exercise its

[2020-11-15 17:00] SaschaMann opened #2791 "Add check for forked_form values & update existing configs"
Due to the mass-renaming of exercises, the forked_from values are likely not up-to-date anymore for many exercises, since these are not checked by any CI check.

May be helpful to have a CI check that checks if these exist, too.

[2020-11-15 21:05] neenjaw commented on #2789
##### Re: try-rescue

I guess I don't see this as a problem at this point as we haven't been told we can't do this yet.  I don't see a problem with having a large concept broken up into two concepts, if there is some way in them to link to their complement concept (which we have been told that there will be a way to do this). Perhaps the `about` for each need to be massaged for each to recognise t

[2020-11-16 08:02] mirkoperillo commented on #1994
I consider this issue free

[2020-11-16 10:07] #2314 closed

[2020-11-16 13:22] ee7 commented on #2771
I suggest adding the rule of "each JSON object must contain only the specified keys".

I think the main benefit is for the case of somebody making a typo while trying to add a non-required key. For example:
[code]

For typoing a required key (e.g. `URL` instead of `url`), there'd already be an error of e.g.
[code]

But the error message is better if we print e.g.
[code]

Somewhat related: we could

[2020-11-16 13:43] iHiD commented on #2499
Yep. That's fine. Maybe start the key with `__` to imply that it shoudn't ever be read by the system.

[2020-11-17 02:19] stavoxnetworks commented on #1994
I will take it on

[2020-11-17 07:00] #1979 closed

[2020-11-17 07:38] ErikSchierboom commented on #2771
This sounds good in principle, but some tracks do use custom properties: https://github.com/exercism/ruby/blob/master/config.json#L5 I don't know how common that is, or if we want to support that, but it is worth considering. What do others think of this?

One thing we could consider is to implement something like what the Git CLI does, where it tries to detect what string the user intended to wri

[2020-11-17 08:34] angelikatyborska commented on #2789
In general I would agree if the concept was an important one. Here however, we're talking about an advanced part (after/else) of a concept that even in its basic form (try/rescue/end) is discouraged by the official docs ("In practice, however, Elixir developers rarely use the try/rescue construct." https://elixir-lang.org/getting-started/try-catch-and-rescue.html).

@neenjaw Even if you don't see

[2020-11-17 08:35] #2026 closed

[2020-11-17 08:38] mirkoperillo commented on #1994
@stavoxnetworks It's your.

Feel free to ask for every doubt

[2020-11-17 09:03] mikedamay commented on #2298
As of now _csharp/config.sys_ shows:
- `overflow` concept
- `arithmetic-overflow` concept
- `hyperinflation-hits-hyperia exercise` introduces `overflow` concept (_design.md_ is consistent)
- `instruments-of-texas` exercise introduces `user-defined-exceptions` concept and takes `arithmetic-overflow` as a prerequisite (_design.md_ is consistent)
- concept docs exist for both `arithmetic-overflow` (e

[2020-11-17 09:38] mikedamay commented on #2298
closed via #2800

[2020-11-17 09:38] #2298 closed

[2020-11-17 13:09] neenjaw commented on #2789
My impression from this part of the docs is that it was intended to prevent naming hierarchies (e.g. `strings1 -> strings2` or `strings_basic -> strings_advanced`) rather than about breaking up concepts into multiple parts.

I would rather that we focus on content generation rather than content pruning unless it directly interferes with the design.

But maybe we just need another dynamic dispatch

[2020-11-17 13:56] mikedamay commented on #2529
I have raised the question of _Exercise files need to be changed or new exercises need to be added where concepts appear to be introduced in an unconventional context (e.g. bitwise operations introduced in flag-enums)_

at https://exercism-team.slack.com/archives/CC3E85VCZ/p1605621173045600

I think that `flag-enums` / `attack-of-the-trolls` is the only exercise that falls into this category.

[2020-11-17 14:18] mikedamay commented on #2250
The missing concepts related to `classes` are discussed [here](https://exercism-team.slack.com/archives/CC3E85VCZ/p1605622635046100)

[2020-11-17 14:31] angelikatyborska commented on #2789
I meant the Elixir docs telling people not to use try/rescue.

I don't see the need for a second dynamic dispatch concept exercise unless it's a replacement for this one. Creating a second one wouldn't address any of my concerns with `rpn-calculator-output` but rather add a second exercise that would bother me in the same way (by splitting a concept into two parts...).

We're at 29 exercises alrea

[2020-11-17 15:39] iHiD commented on #2789
My reading of this is:
- Tim has made an exercise teaching two things he sees as valuable (`after/else` and `dynamic-dispatch`).
- Angelika doesn't think `after/else` is great to teach in general, and would like a meatier `dynamic-dispatch` exercise.
- In addition there's a question of whether files can/should be taught.

Hopefully I've understood that correctly. Please tell me if I'm wrong.

---

[2020-11-17 15:39] neenjaw commented on #2789
So then rather than deleting it, let's migrate it to a practice exercise.

Agreed, so why don't we set aside a time to do this when we have what we think is a MVP-complete track. (35 exercises? 40? or when the concepts that you've outlined in issues are implemented)

[2020-11-17 15:45] angelikatyborska commented on #2789
@neenjaw I would be happy with what Jeremy proposes:
- Create a new concept exercise that teaches `dynamic-dispatch` and make `rpn-calculator-output` depend on it instead of teaching `dynamic-dispatch`
- Create a new concept exercise that teaches `file`, including both the easy to use `read/write`, but also `open/close`. This would depend on `processes` and `pids`, and should prepare the student w

[2020-11-17 15:46] neenjaw commented on #2789
I see your thumbs up and raise you a tada!

[2020-11-17 16:44] angelikatyborska opened #2802 "[Elixir] Implement new Concept Exercise: `file`"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/features-of-v3.md).
-

[2020-11-17 17:00] angelikatyborska opened #2803 "[Elixir] Implement new Concept Exercise: `dynamic-dispatch`"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/features-of-v3.md).
-

[2020-11-17 17:01] angelikatyborska commented on #2803
Does `apply` (https://hexdocs.pm/elixir/Kernel.html#apply/3) qualify as dynamic dispatch?

[2020-11-17 17:01] angelikatyborska commented on #2789
Closing in favor of:
https://github.com/exercism/v3/issues/2802
https://github.com/exercism/v3/issues/2803

[2020-11-17 17:01] #2789 closed

[2020-11-18 07:22] #1811 closed

[2020-11-18 09:32] mikedamay opened #2805 "[C#] meta-issue: update issues as appropriate with exercise name changes"
exercise improvement issues currently reflect the concept names of the principal concept introduced by the exercise.  This will be very confusing to casual / first-time maintainers.  We should ensure all issues make sense in this regard to help ensure newbies have a warm welcome.

meta-issues: who knew bureaucracy could be such fun!

[2020-11-18 09:39] mikedamay opened #2806 "[C#] improve bit-manipulation concept"
Currently, `bit-manipulation` concept is focused on `flag-enums`.  The concept should be rewritten to introduce the student to `bits`, `bitwise operations` and anything else  that would typically occur in an introductory text on the subject.

Obviously, much of it can be links to external documentation and I suspect that there is a generic concept somewhere.

[2020-11-18 10:22] mikedamay opened #2807 "[C#] implement bit-manipulation concept exercise"
This issue describes how to implement the `bit-manipulation` concept exercise for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-11-18 17:10] mikedamay opened #2813 "[C#] attack-of-the-trolls - improve exercise"
1) Remove `compound-assignments` and `bitwise-operations` from concepts for this exercise and make them prerequisites.  This involves changes to _design.md_, _csharp/config.json_, _csharp/reference/exercises.json and any other non-auto-generated file where they are referenced, if any.

Note that `bitwise-operations` is suffering a  name change to `bit-manipulation`.  And the exact concept in which

[2020-11-18 17:38] mikedamay commented on #2725
class `HighSchoolSweetheart` has been renamed to `HighSchoolSweethearts` in PR #2731.

[2020-11-18 18:09] mikedamay commented on #2725
Created PR rename exercise to developer-privileges #2815

[2020-11-18 18:10] mikedamay commented on #2725
No other changes were required

[2020-11-18 18:42] #2725 closed

[2020-11-18 18:49] mikedamay commented on #2112
assigned to myself while we try an `operators` exercise.

[2020-11-19 09:19] mikedamay commented on #2250
The missing concepts related to `classes` are addressed with PR #2822.

[2020-11-19 11:47] #1693 closed

[2020-11-19 13:10] mirkoperillo commented on #2286
Hi @himanshugoyal1065, are you still working on this ?

[2020-11-19 20:53] porkostomus commented on #1701
Fixed by #2775

[2020-11-19 20:53] #1701 closed

[2020-11-19 21:04] porkostomus commented on #724
Finished, see #1835

[2020-11-19 21:04] #724 closed

[2020-11-19 21:06] porkostomus commented on #457
Finished, see #1807

[2020-11-19 21:06] #457 closed

[2020-11-19 23:39] porkostomus commented on #1508
Done (see #1509)

[2020-11-19 23:39] #1508 closed

[2020-11-19 23:42] porkostomus commented on #400
This is now covered by `reference/progression.md`

[2020-11-19 23:42] #400 closed

[2020-11-20 12:11] valentin-p commented on #1656
Superseded by #2813

[2020-11-24 12:39] oanaOM commented on #2029
This concept has been implemented so I'll close this.

[2020-11-24 12:39] #2029 closed

[2020-11-24 12:53] oanaOM commented on #340
@tehsphinx We could expend the range-iteration concept exercise to include iteration of strings as well.

[2020-11-24 12:55] #2734 closed

[2020-11-24 12:56] mirkoperillo commented on #1994
@stavoxnetworks  do you need some suggestion about the exercise ?

[2020-11-24 13:13] oanaOM commented on #427
concept exercise merged. Closing this.

[2020-11-24 13:13] #427 closed

[2020-11-24 13:21] oanaOM commented on #844
I'll take this one and try to implement the secrets story

[2020-11-24 16:47] tehsphinx commented on #340
Not sure if that wouldn't become too much and / or too confusing for one exercise. We could try.

Note that we are also not doing ranging over channels in the `range-iteration` exercise. Mostly because it would be too much and it would set the `range-iteration` exercise after the `channels` exercise.

[2020-11-25 15:34] #2247 closed

[2020-11-25 21:14] verdammelt opened #2855 "[Common Lisp] Improve Concept Exercises pronoun usage."
I have noticed that some exercises use gendered pronouns when referring to the Lisp Alien characters. Due to our lack of knowledge of Lisp Alien biology  and society it seems better to use the singlular `they` instead than to presume 'she' or 'he' based upon our English versions of their names.

To correct this issue the existing exercises should be reviewed and have their pronoun usage corrected.

[2020-11-25 21:16] verdammelt opened #2856 "[Common Lisp] Improve Concept Exercise Generator: remove after.md template and generation"
The generator for the common lisp track still produces an after.md which is no longer valid given recent changes to the specification of concept exercises.

[2020-11-25 21:18] verdammelt opened #2857 "[Common Lisp] Improve Concept Exercise Generator: add generation of concept files"
The common lisp concept exercise generator generates files for the exercise but not for the concepts that exercise may include.

The generator should be expanded to include a way to generate concept files.

Further it might be good if, when generating an exercise, a list of concepts can be provided which would in turn, cause those concepts to be generated if needed.

[2020-11-26 07:58] ErikSchierboom commented on #546
This can be closed as it has been implemented in the `football-match-reports` exercise.

[2020-11-26 10:48] #1302 closed

[2020-11-26 11:02] coriolinus opened #2861 "All Markdown in track definitions should lint properly"
In particular, fragments such as `introdcution.md`, `instructions.md`, and the like, should have no issues reported by [`markdownlint`](https://github.com/markdownlint/markdownlint) or a comparable linter. In particular, that implies these properties:

- All files begin with a level-1 title
- No title has a level more than 1 greater than the previous title

## Why?

- It's easier for file authors

[2020-11-26 11:06] coriolinus opened #2862 "CI should run only on files affected by a PR"
Right now, there are four non-required CI checks which reliably fail for every PR, because they are global checks and some files, not touched by the PR, are consistently wrong. This is bad practice: it trains everyone to just ignore those checks.

Filtering the checks to files touched by a given PR isn't particularly hard; [here's how it's done in the Rust track](https://github.com/exercism/rust/b

[2020-11-26 17:18] #2856 closed

[2020-11-26 18:43] Stargator commented on #2763
Just my thoughts as part of @exercism/dart, if anyone has other thoughts, please share

Dart:
* General Purpose Language
* Object-Oriented
* Strongly-typed and Type Sound
* Open Source
* Platform independent

I would add Null Safe, but that is still in experimental phase

[2020-11-27 07:56] #546 closed

[2020-11-27 15:04] #2855 closed

[2020-11-28 00:17] BethanyG opened #2868 "[Python] Improve Concept Exercise In-Text Code Examples"
This issue describes how to improve the **`in-text code examples`** across concept exercises for the Python track.

## Goal

We've added multiple concepts from multiple contributors while re-working our concept exercise documentation.  These different exercises have diverged in the way they describe and display different Python code examples in-text.  Now that things have settled a bit organizatio

[2020-11-28 02:37] saurabh896 commented on #2727
@ErikSchierboom Can we use the GH action with the manual trigger?

[2020-11-28 18:04] Limm-jk opened #2874 "[Python] Update Exercises Table on `../python/exercises/README.md`"
- The language this question applies to Python / Exercise Readme

Readme file for exercises was not updated while various python issues were added to V3.
If you don't mind, I would like to update including the current problems.

Thanx!

![image](https://user-images.githubusercontent.com/57378834/100522754-95cab780-31ee-11eb-9d49-8bfffd60a32d.png)

[2020-11-29 09:36] angelikatyborska commented on #2306
I think I finally have an idea for a story. I'll take a stab at this exercise.

[2020-11-29 18:26] Stargator commented on #15
Linking a conversion that was ongoing in the Dart track here. As many other concepts were brought up.
https://github.com/exercism/dart/issues/174

[2020-11-30 09:17] valentin-p opened #2880 "[Python] Improve Concept Exercise: lists"
This issue describes how to improve the `lists` concept exercise ([`elyses-enchantments`](https://github.com/exercism/v3/tree/master/languages/python/exercises/concept/elyses-enchantments))for the Python track .

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exha

[2020-11-30 10:49] mirkoperillo commented on #2286
I consider this issue unussigned

[2020-11-30 16:02] ErikSchierboom commented on #2727
@saurabh896 I don't think you can at the moment. You'd have to create a PR to add that feature.

[2020-11-30 21:29] BethanyG commented on #2874
@Limm-jk  - Sure!  ⭐   We'd love to have you submit a PR to update the exercise table with the concept exercises we've completed thus far.  Thank you for logging this issue and pointing that out!  🎉

[2020-11-30 21:30] BethanyG commented on #2874
Just let us know if you have any questions or issues with it.

[2020-12-01 13:05] mikedamay opened #2884 "[C#] improve properties concept - add notes on modifiers"
It would be good to say something about polymorphism and properties and perhaps something about other modifiers (static, abstract, etc) and if the consensus is strong enough add an example to the `weighing-machine` exercise.

[2020-12-01 14:17] mikedamay commented on #2250
Included `polymorphism` as part of the `inheritance` concept - PR #2887

[2020-12-01 21:30] BethanyG commented on #2175
Closing as this exercise has been merged successfully.  Thank you @kimolivia and @valentin-p !  🎉

[2020-12-01 21:30] #2175 closed

[2020-12-02 13:03] ErikSchierboom opened #2890 "[Elixir] Add missing "name" field to config.json"
Elixir's [config.json file](https://github.com/exercism/v3/blob/master/languages/elixir/config.json#L14) has some concept exercises for which the `name` property is not set. This prevents the `config.json` from being imported in the v3 sync script I'm building.

[2020-12-02 13:04] ErikSchierboom commented on #2890
FYI @exercism/elixir

[2020-12-02 14:05] angelikatyborska commented on #2890
@ErikSchierboom I thought the `name` field is optional and only needs to be set if a nice name cannot be generated from the `slug`.

[2020-12-02 15:18] ErikSchierboom commented on #2890
Hmmm, I can't remember. I'll check

[2020-12-02 15:31] ErikSchierboom commented on #2890
Having discussed this, we do want to make the name compulsary, but we'll auto-generate them all from the slug at the Big Bang if it they're not specified. So let's close this.

[2020-12-02 15:31] #2890 closed

[2020-12-04 20:58] #1656 closed

[2020-12-04 20:58] #2813 closed

[2020-12-04 21:40] BethanyG commented on #2874
@Limm-jk   I was in this repo to add an exercise prerequisite tree, so updated the table while I was doing that.

[2020-12-05 05:04] Limm-jk commented on #2874
Thank you.
I'll try to make other better contributions!

[2020-12-05 17:59] angelikatyborska opened #2894 "[Elixir] Improve concept exercises by ensuring that single tests are self-contained"
The PR https://github.com/exercism/elixir-test-runner/pull/23 introduces extracting the content of a test block (anything inside `test do ... end`) as part of the test metadata that will be presented to the student using the web editor when the test fails. For the student to be able to understand why the test failed, the test block needs to provide all information that makes up the test. This is b

[2020-12-05 18:53] neenjaw commented on #2894
In the case of [`rpn_calculator/output_test.exs`](https://github.com/exercism/v3/blob/master/languages/elixir/exercises/concept/rpn-calculator-output/test/rpn_calculator/output_test.exs) this should also just be the module attributes to reuse values, not the `open/1` or `close/1` function.

[2020-12-05 19:09] neenjaw commented on #2894
- [`basketball_website_test.exs`](https://github.com/exercism/v3/blob/master/languages/elixir/exercises/concept/basketball-website/test/basketball_website_test.exs)
- [`boutique_suggestions_test.exs`](https://github.com/exercism/v3/blob/master/languages/elixir/exercises/concept/boutique-suggestions/test/boutique_suggestions_test.exs)
- [`high_score_test.exs`](https://github.com/exercism/v3/blob/ma

[2020-12-06 14:16] serenalucca commented on #2880
Hello, if it is possible, I would like to work on this feature.

[2020-12-06 21:30] serenalucca commented on #2880
I have a few questions for this issue.
- For the hints, should I be precise and put an example when possible or should I rather put the link to a ressource and let them - look by themselves?
- For the introduction file I just copied the whole about doc, should I do something else?
- In the design file should I put the ressources?

Thanks in advance.

[2020-12-07 17:08] proose commented on #923
I would like to do this.

[2020-12-07 19:31] BethanyG commented on #2880
Hi @serenalucca,

Apologies - I didn't see your comments here, or I would have replied earlier.  First, thank you *so much* for taking on this issue.  We really appreciate it.  ⭐

To answer your questions:

_As I commented in your PR, this is a balance.  On one hand, we want the hints to "unstick" the student.  On the other, we don't want to give away exact answers.  I am on the fence with the way

[2020-12-07 21:13] serenalucca commented on #2880
Thank you very much for your precise answer and for your kindness, I really appreciate it! I'm going to check the PR for the modifications.

[2020-12-07 21:31] #2874 closed

[2020-12-08 18:45] BethanyG commented on #2208
Note:  I linked [#2875](https://github.com/exercism/v3/pull/2875) as a PR that can close this issue.  We can re-open or re-work this issue for a follow-on `complex numbers` focused exercise when the time comes.  😄

[2020-12-08 22:50] #2880 closed

[2020-12-09 20:11] efx opened #2908 "[Rust] Improve Concept Exercise: numbers"
Rewrite the introduction to abide by the formatting requirements: https://github.com/exercism/v3/pull/2715#discussion_r517342940

[2020-12-09 20:12] proose commented on #923
I've seen that existing "exercise-concepts" sometimes reference gnu.org for some concepts that are also explained (with less information) in v3/reference: would it be preferable to point to gnu.org or to the corresponding reference in this repo ?

[2020-12-10 10:43] BethanyG commented on #2880
@valentin-p  - Thoughts?  Are we OK to close this?

[2020-12-11 09:49] Limm-jk commented on #2039
Hello!
Is this issue in progress?
If not, can I take up the issue?

[2020-12-11 10:00] valentin-p opened #2915 "[C#] Improve Concept Exercise: attack-of-the-trolls/flag-enums"
This issue describes how to improve the `attack-of-the-trolls` concept exercise for the concept `flag-enums` for the C# track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on th

[2020-12-11 10:00] valentin-p commented on #2915
Closes #663

[2020-12-11 10:01] #663 closed

[2020-12-11 16:05] efx commented on #2862
I agree and have found this confusing as I start contributing to the v3 effort again.
I would like to know if the markdown I introduce for Rust documents has issues. Instead I see that multiple other tracks have linting issues and it distracts me focusing on what the Rust track needs.

[2020-12-11 16:17] SaschaMann commented on #2862
As a general note, I think global checks are to be preferred unless they take too long. If master is green, a failure must've been introduced in the PR anyway. It's more robust. Some checks that only ran on changed files before ended up failing on master despite being green in the PR.

Those checks were expected to fail as a temporary annoyance until all tracks created those files (that plan didn'

[2020-12-11 16:19] efx commented on #2862
My practical need has been addressed. I had not realized the master branch had fixes. I do not have a strong opinion here so will defer to @SaschaMann since he maintains the CI.

[2020-12-11 17:59] BethanyG commented on #2039
Hi @Limm-jk !  We'd be delighted if you wanted to take up this issue 🌟   **Thank you.**  🌈

I don't yet have a concept description (_apologies for that_), but can work on one today/this weekend & post it here when I'm done.  LMK here or in Slack if you have any questions or problems.

Looking at the list of items to cover, it does look long - so we can have a discussion if it looks like the exerci

[2020-12-11 19:49] #2908 closed

[2020-12-12 02:20] Limm-jk commented on #2039
Thank you!
I'll get started as soon as you tell me.
Where can I get information about exercism's slacks?
I would appreciate it if you could tell me how to work in Slack.

[2020-12-12 03:15] BethanyG commented on #2039
Hi @Limm-jk!  For Slack, I just need an email and I can send you an invite directly.  Is the one on your GitHub profile OK to use?

[2020-12-12 03:23] BethanyG commented on #2039
@Limm-jk  - also - it is ok to start writing now if you are eager to get started.  I may not have the concept description written until tomorrow my time (I'm in Pacific time, so I am 17 hours behind you.  😆 ).

[2020-12-12 03:54] Limm-jk commented on #2039
Good!

[2020-12-12 06:45] #2208 closed

[2020-12-13 12:39] #2306 closed

[2020-12-14 08:59] mirkoperillo commented on #1994
I consider this issue unassigned

[2020-12-15 18:17] wolf99 commented on #923
Hi @proose
I haven't had time to look at the C v3 track in ever so long. I think the structure of the tracks and the expected workflow has changed a number of times since there was last work done on this language track.

IIRC, the concept extraction was considered complete enough already as-is.
Next steps would have been to start getting some concept exercises implemented I think, but there is als

[2020-12-18 01:46] kristinaborn opened #2942 "[JS] Implement new Concept Exercise: sets"
This issue describes how to implement the `sets` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-12-22 21:24] kristinaborn commented on #2942
@SleeplessByte I'd like to tackle this one :)

[2020-12-22 22:06] SleeplessByte commented on #2942
@kristinaborn sounds like a plan! Do you thing :)

[2020-12-23 16:37] shubhsk88 commented on #2732
Can I take this issue @SleeplessByte

[2020-12-23 16:54] SleeplessByte commented on #2732
Of course! Make sure it's _different_ than #2127 . This is really for all the forms of equality checking :)

[2020-12-23 17:09] shubhsk88 commented on #2732
Yeah I will make sure that it will be clear and concise but you might need to take care of the stories 😅

[2020-12-23 17:25] SleeplessByte commented on #2732
Story cabbve similar!

[2020-12-26 11:54] angelikatyborska commented on #2894
Done!

[2020-12-26 11:54] #2894 closed

[2020-12-30 16:31] #1895 closed

[2020-12-31 08:38] evelynstender commented on #1894
@rishiosaur are you still working on this? I'd like to help!

[2020-12-31 08:41] tejasbubane commented on #2803
I think it does. If needed we can mention the fact that `apply` cannot be invoked with macros.

[2020-12-31 08:50] tejasbubane opened #2960 "[reasonml] Rename the language to ReScript?"
[Reason is now ReScript](https://rescript-lang.org/bucklescript-rebranding). Although there is a split in the community with [reason](https://reasonml.github.io/en/) still existing, looks like the [future will be rescript](https://rescript-lang.org/blog/a-note-on-bucklescripts-future-commitments) with all the community efforts.

The v3 reason track does not have any exercises as of now and I am pl

[2020-12-31 17:26] SleeplessByte commented on #2960
Renaming makes sense.

Only requires renaming the slugs in `config.json`, updating the blurb, and renaming the `languages` etc. folders. Later the repos might need to be renamed too.

[2020-12-31 17:36] SleeplessByte commented on #1458
Closed by #2266

[2020-12-31 17:36] #1458 closed

[2021-01-04 21:52] DWalz commented on #2171
I'd like to work in this one.